/*! GitHub: Ambiance */
:root {
  --ghd-code-background: #202020;
  --ghd-code-color: #E6E1DC;
}
.pl-c, .pl-c span { color: #555 !important; font-style: italic !important; } /* comment */
.pl-c1 { color: #CF7EA9 !important; } /* constant */
.pl-e { color: #aac6e3 !important; } /* entity */
.pl-en { color: #aac6e3 !important; } /* entity.name */
.pl-ent { color: #aac6e3 !important; } /* entity.name.tag */
.pl-k { color: #fa8d6a !important; } /* keyword */
.pl-mb { color: #CF7EA9 !important; font-weight: bold !important; } /* markup.bold */
.pl-mdh { color: #cda869 !important; } /* meta.diff.header */
.pl-mdr { color: #cda869 !important; } /* meta.diff.range */
.pl-mh { color: #9B859D !important; } /* markup.heading */
.pl-mh .pl-en { color: #9B859D !important; font-weight: bold !important; } /* markup.heading entity.name */
.pl-mi { color: #cda869 !important; font-style: italic !important; } /* markup.italic */
.pl-ml { color: #cda869 !important; } /* markup.list */
.pl-mm { color: #cda869 !important; } /* meta.module-reference */
.pl-mo { color: #cda869 !important; } /* meta.output */
.pl-mp { color: #cda869 !important; } /* meta.property-name */
.pl-mq { color: #555 !important; } /* markup.quote */
.pl-mr { color: #cda869 !important; } /* meta.require */
.pl-ms { color: #cda869 !important; } /* meta.selector */
.pl-pds { color: #8f9d6a !important; } /* punctuation.definition.string */
.pl-s { color: #aac6e3 !important; } /* storage */
.pl-s1 { color: #8f9d6a !important; } /* string */
.pl-s1 .pl-pse .pl-s2 { color: #8f9d6a !important; } /* string punctuation.section.embedded source */
.pl-s1 .pl-s2 { color: #99c !important; } /* string source */
.pl-s1 .pl-v { color: #cda869 !important; } /* string variable */
.pl-s3 { color: #cda869 !important; } /* support */
.pl-sc { color: #9B859D !important; } /* support.class */
.pl-smi, /* storage.modifier.import */
.pl-smp { color: #99c !important; } /* storage.modifier.package */
.pl-sr .pl-cce { color: #9B859D !important; } /* constant.character.escape */
.pl-sr, /* string.regexp */
.pl-sr .pl-sra, /* string.regexp string.regexp.arbitrary-repetition */
.pl-sr .pl-sre, /* string.regexp source.ruby.embedded */
.pl-src { color: #DAD085 !important; } /* string.regexp.character-class */
.pl-st { color: #aac6e3 !important; } /* support.type */
.pl-stj { color: #99c !important; } /* storage.type.java */
.pl-sv { color: #cf7ea9 !important; } /* support.variable */
.pl-v { color: #aac6e3 !important; } /* variable */
.pl-vo, /* variable.other */
.pl-vpf { color: #99c !important; } /* variable.parameter.function */
/* Diff - Example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
.pl-mi1,  /* markup.inserted */
.pl-mdht { color: #F8F8F8 !important; background: rgba(0,64,0,.5) !important; } /* meta.diff.header.to-file */
.pl-md, /* markup.deleted */
.pl-mdhf { color: #F8F8F8 !important; background: rgba(86,45,86,.75) !important; } /* meta.diff.header.from-file */
.pl-bu, /* invalid.broken, invalid.deprecated, invalid.unimplemented, message.error, brackethighlighter.unmatched, sublimelinter.mark.error */
.pl-ii { color: #F8F8F8 !important; background: rgba(86,45,86,.75) !important; } /* invalid.illegal */
.pl-corl, .highlight .pl-corl span.x { color: #aac6e3 !important; text-decoration: underline !important; } /* links */
.pl-token.active, .pl-token:hover { background: #fa8d6a !important; color: #e6e1dc !important; }
