/*! GitHub: Material */
/* https://github.com/codemirror/CodeMirror/blob/master/theme/material.css */
/* Name: material, Author: Michael Kaminsky (http://github.com/mkaminsky11)
  Original material color scheme by Mattia Astorino (https://github.com/equinusocio/material-theme) */
/* adapted by https://github.com/sparcut */

.highlight, .CodeMirror { background: #263238 !important; color: rgba(233, 237, 237, 1) !important; }
.blob-code, .blob-code-inner { color: rgba(233, 237, 237, 1) !important; }
.blame .blob-num, .blame-blob-num, .blob-num, .blob-num.js-line-number  {
  color: rgba(238, 255, 255, 0.2) !important;
  background-color: #263238 !important;
}


/* comment, punctuation.definition.comment, string.comment */
.pl-c, .pl-c span { color: #546E7A !important; font-style: italic !important; }
/* constant, entity.name.constant, variable.other.constant, variable.language,
support, meta.property-name, support.constant, support.variable,
 meta.module-reference, markup.raw, meta.diff.header */
.pl-c1 { color: rgba(233, 237, 237, 1) !important; }
/* string.regexp constant.character.escape */
.pl-sr .pl-cce { color: #89DDF3 !important; }
.pl-cn { color: rgba(233, 237, 237, 1) !important; }
.pl-e { color: rgba(233, 237, 237, 1) !important; } /* entity */
.pl-ef { color: #82AAFF !important; } /* entity.function */
.pl-en { color: #82AAFF !important; } /* entity.name */
.pl-enc { color: #FFCB6B !important; } /* entity.name.class */
.pl-enf { color: #82AAFF !important; } /* entity.name.function */
.pl-enm { color: rgba(233, 237, 237, 1) !important; } /* entity.name.method-name */
.pl-ens { color: #F77669 !important; } /* entity.name.section */
.pl-ent { color: #FFCB6B !important; } /* entity.name.tag */
.pl-entc { color: #FFCB6B !important; } /* entity.name.type.class */
.pl-enti { color: #82AAFF !important; } /* entity.name.type.instance */
.pl-entm { color: rgba(233, 237, 237, 1) !important; } /* entity.name.type.module */
.pl-eoa { color: #80CBC4 !important; } /* entity.other.attribute-name */
.pl-eoac { color: #80CBC4 !important; } /* entity.other.attribute-name.class */
.pl-eoac .pl-pde { color: #80CBC4 !important; } /* punctuation.definition.entity */
.pl-eoai { color: #DECB6B !important; } /* entity.other.attribute-name.id */
.pl-eoi { color: #FFCB6B !important; } /* entity.other.inherited-class */
.pl-k { color: rgba(199, 146, 234, 1) !important; } /* keyword, storage, storage.type */
.pl-ko { color: rgba(233, 237, 237, 1) !important; } /* keyword.operator */
.pl-kolp { color: rgba(199, 146, 234, 1) !important; } /* keyword.operator.logical.python */
.pl-kos { color: #DECB6B !important; } /* keyword.other.special-method */
.pl-kou { color: rgba(233, 237, 237, 1) !important; } /* keyword.other.unit */
.pl-mai .pl-sf { color: #82AAFF !important; } /* support.function */
.pl-mb { color: rgba(233, 237, 237, 1) !important; font-weight: bold !important; } /* markup.bold */
.pl-mc { color: rgba(199, 146, 234, 1) !important; } /* markup.changed, punctuation.definition.changed */
/* markup.heading punctuation.definition.heading */
.pl-mh .pl-pdh { color: #DECB6B !important; }
.pl-mi { color: rgba(199, 146, 234, 1) !important; font-style: italic !important; } /* markup.italic */
.pl-ml { color: #82AAFF !important; } /* markup.list */
.pl-mm { color: rgba(233, 237, 237, 1) !important; } /* meta.module-reference */
.pl-mp { color: #80CBAE !important; } /* meta.property-name */
.pl-mp1 .pl-sf { color: rgba(233, 237, 237, 1) !important; } /* meta.property-value support.function */
.pl-mq { color: rgba(233, 237, 237, 1) !important; } /* markup.quote */
.pl-mr { color: #82AAFF !important; } /* meta.require */
.pl-ms { color: rgba(233, 237, 237, 1) !important; } /* meta.separator */
/* punctuation.definition.comment */
.pl-pdc { color: #546E7A !important; }
.pl-pdc1 { color: rgba(233, 237, 237, 1) !important; } /* punctuation.definition.constant */
.pl-pde { color: rgba(199, 146, 234, 1) !important; } /* punctuation.definition.entity */
 /* punctuation.definition.italic */
.pl-pdi { color: rgba(199, 146, 234, 1) !important; font-style: italic !important; }
/* punctuation.definition.string, source.regexp, string.regexp.character-class */
.pl-pds { color: #89DDF3 !important; }
.pl-pdv { color: rgba(233, 237, 237, 1) !important; } /* punctuation.definition.variable */
/* string punctuation.section.embedded source */
.pl-pse .pl-s1 { color: #C3E88D !important; }
.pl-pse .pl-s2 { color: #80CBC4 !important; } /* punctuation.section.embedded source */
.pl-s { color: #C3E88D !important; } /* string */
.pl-s1 { color: #C3E88D !important; } /* string */
.pl-s2 { color: #80CBC4  !important; } /* source */
.pl-mp .pl-s3 { color: rgba(233, 237, 237, 1) !important; } /* support */
.pl-s3 { color: rgba(233, 237, 237, 1) !important; } /* support */
.pl-sc { color: #DECB6B !important; } /* support.class */
.pl-scp { color: rgba(233, 237, 237, 1) !important; } /* support.constant.property-value */
.pl-sf { color: #82AAFF !important; } /* support.function */
.pl-smc { color: rgba(233, 237, 237, 1) !important; } /* storage.modifier.c */
/* variable.parameter.function, storage.modifier.package,
 storage.modifier.import, storage.type.java, variable.other */
.pl-smi { color: rgba(233, 237, 237, 1) !important; }
.pl-smp { color: #FFCB6B !important; } /* storage.modifier.package */
.pl-sok { color: rgba(233, 237, 237, 1) !important; } /* support.other.keyword */
.pl-sol { color: rgba(233, 237, 237, 1) !important; } /* string.other.link */
.pl-som { color: rgba(233, 237, 237, 1) !important; } /* support.other.module */
.pl-sr { color: #89DDF3 !important; } /* string.regexp */
/* string.regexp string.regexp.arbitrary-repitition */
.pl-sr .pl-sra { color: #89DDF3 !important; }
.pl-src { color: #89DDF3 !important; } /* string.regexp.character-class */
.pl-sr .pl-sre { color: #FFCB6B !important; } /* string.regexp source.ruby.embedded */
.pl-st { color: #89DDF3!important; } /* support.type */
.pl-stj { color: #FFCB6B !important; } /* storage.type.java */
.pl-stp { color: #80CBAE !important; } /* support.type.property-name */
.pl-sv { color: #DECB6B !important; } /* support.variable */
.pl-v { color: rgba(233, 237, 237, 1) !important; } /* variable */
.pl-vi { color: #80CBC4 !important; } /* variable.interpolation */
.pl-vo { color: #89DDF3 !important; } /* variable.other */
.pl-vpf { color: rgba(233, 237, 237, 1) !important; } /* variable.parameter.function */
/* markup.inserted, meta.diff.header.to-file, punctuation.definition.inserted */
.pl-mi1 { color: rgba(255, 255, 255, 1) !important; background: #C3E88D !important; }
/* meta.diff.header.to-file */
.pl-mdht { color: rgba(255, 255, 255, 1) !important; background: #C3E88D !important; }
/* markup.deleted, meta.diff.header.from-file, punctuation.definition.deleted */
.pl-md { color: rgba(255, 255, 255, 1) !important; background-color: #EC5F67 !important; }
/* meta.diff.header.from-file */
.pl-mdhf { color: rgba(255, 255, 255, 1)  !important; background: #EC5F67 !important; }
/* meta.diff.range */
.pl-mdr { color: rgba(233, 237, 237, 1) !important; font-weight: normal !important; }
.pl-mdh { color: rgba(255, 83, 112, 1)  !important; font-weight: normal !important; } /* meta.diff.header */
.pl-mdi { color: rgba(255, 83, 112, 1)  !important; font-weight: normal !important; } /* meta.diff.index */
/* constant.other.reference.link, string.other.link */
.pl-corl { color: rgba(255, 83, 112, 1)  !important; text-decoration: underline !important; }
.pl-ib { background-color: rgba(255, 83, 112, 1)  !important; } /* invalid.broken */
/* invalid.deprecated */
.pl-id { background-color: #DECB6B !important; color: #373b41 !important; }
.pl-ii { background-color: #EC5F67 !important; color: #373b41 !important; } /* invalid.illegal */
.pl-iu { background-color: #EC5F67!important; } /* invalid.unimplemented */
.pl-mo { color: rgba(233, 237, 237, 1) !important; } /* meta.output */
.pl-va { color: rgba(233, 237, 237, 1) !important; } /* variable.assignment */
.pl-vpu { color: rgba(233, 237, 237, 1)!important; } /* variable.parameter.url */
.pl-entl { color: rgba(255, 83, 112, 1) !important; } /* entity.name.tag.label */
