/*! GitHub: One Dark */
/* adapted from: https://github.com/atom/one-dark-syntax & https://github.com/Aerobird98/codemirror-one-dark-theme */
/* by https://github.com/sparcut */
.highlight, .CodeMirror {
  background: #141414 !important;
  color: hsl(220,14%,71%) !important;
}
.blob-code, .blob-code-inner {
  color: hsl(220,14%,71%) !important;
}
/* comment, punctuation.definition.comment, string.comment */
.pl-c, .pl-c span { color: hsl(220,10%,40%) !important; font-style: italic !important; }
/* constant, entity.name.constant, variable.other.constant, variable.language,
support, meta.property-name, support.constant, support.variable,
 meta.module-reference, markup.raw, meta.diff.header */
.pl-c1 { color: hsl(29,54%,61%) !important; }
/* string.regexp constant.character.escape */
.pl-sr .pl-cce { color: hsl(187,47%,55%) !important; font-weight: normal !important; }
.pl-cn { color: hsl(29,54%,61%) !important; }
.pl-e { color: hsl(29,54%,61%) !important; } /* entity */
.pl-ef { color: hsl(207,82%,66%) !important; } /* entity.function */
.pl-en { color: hsl(207,82%,66%) !important; } /* entity.name */
.pl-enc { color: hsl(39,67%,69%) !important; } /* entity.name.class */
.pl-enf { color: hsl(207,82%,66%) !important; } /* entity.name.function */
.pl-enm { color: hsl(220,14%,71%) !important; } /* entity.name.method-name */
.pl-ens { color: hsl(5,48%,51%) !important; } /* entity.name.section */
.pl-ent { color: hsl(355,65%,65%) !important; } /* entity.name.tag */
.pl-entc { color: hsl(39,67%,69%) !important; } /* entity.name.type.class */
.pl-enti { color: hsl(187,47%,55%) !important; } /* entity.name.type.instance */
.pl-entm { color: hsl(355,65%,65%) !important; } /* entity.name.type.module */
.pl-eoa { color: hsl(29,54%,61%) !important; } /* entity.other.attribute-name */
.pl-eoac { color: hsl(29,54%,61%) !important; } /* entity.other.attribute-name.class */
.pl-eoac .pl-pde { color: hsl(29,54%,61%) !important; } /* punctuation.definition.entity */
.pl-eoai { color: hsl(207,82%,66%) !important; } /* entity.other.attribute-name.id */
.pl-eoi { color: hsl(95,38%,62%) !important; } /* entity.other.inherited-class */
.pl-k { color: hsl(286,60%,67%) !important; } /* keyword, storage, storage.type */
.pl-ko { color: hsl(220,14%,71%) !important; } /* keyword.operator */
.pl-kolp { color: hsl(286,60%,67%) !important; } /* keyword.operator.logical.python */
.pl-kos { color: hsl(207,82%,66%) !important; } /* keyword.other.special-method */
.pl-kou { color: hsl(29,54%,61%) !important; } /* keyword.other.unit */
.pl-mai .pl-sf { color: hsl(187,47%,55%) !important; } /* support.function */
.pl-mb { color: hsl(29,54%,61%) !important; font-weight: bold !important; } /* markup.bold */
.pl-mc { color: hsl(286,60%,67%) !important; } /* markup.changed, punctuation.definition.changed */
.pl-mh { color: hsl(355,65%,65%) !important; } /* markup.heading */
/* markup.heading punctuation.definition.heading */
.pl-mh .pl-pdh { color: hsl(207,82%,66%) !important; }
.pl-mi { color: hsl(286,60%,67%) !important; font-style: italic !important; } /* markup.italic */
.pl-ml { color: hsl(187,47%,55%) !important; } /* markup.list */
.pl-mm { color: hsl(29,54%,61%) !important; } /* meta.module-reference */
.pl-mp { color: hsl(220,9%,55%) !important; } /* meta.property-name */
.pl-mp1 .pl-sf { color: hsl(220,14%,71%) !important; } /* meta.property-value support.function */
.pl-mq { color: hsl(29,54%,61%) !important; } /* markup.quote */
.pl-mr { color: hsl(207,82%,66%) !important; } /* meta.require */
.pl-ms { color: hsl(220,14%,71%) !important; } /* meta.separator */
/* punctuation.definition.bold */
.pl-pdb { color: hsl(39,67%,69%) !important; font-weight: bold !important; }
/* punctuation.definition.comment */
.pl-pdc { color: hsl(220,10%,40%) !important; font-style: italic !important; }
.pl-pdc1 { color: hsl(220,14%,71%) !important; } /* punctuation.definition.constant */
.pl-pde { color: hsl(286,60%,67%) !important; } /* punctuation.definition.entity */
 /* punctuation.definition.italic */
.pl-pdi { color: hsl(286,60%,67%) !important; font-style: italic !important; }
/* punctuation.definition.string, source.regexp, string.regexp.character-class */
.pl-pds { color: hsl(95,38%,62%) !important; }
.pl-pdv { color: hsl(355,65%,65%) !important; } /* punctuation.definition.variable */
/* string punctuation.section.embedded source */
.pl-pse .pl-s1 { color: hsl(95,38%,62%) !important; }
.pl-pse .pl-s2 { color: hsl(39,67%,69%) !important; } /* punctuation.section.embedded source */
.pl-s { color: hsl(95,38%,62%) !important; } /* string */
.pl-s1 { color: hsl(95,38%,62%) !important; } /* string */
.pl-s2 { color: hsl(39,67%,69%)  !important; } /* source */
.pl-mp .pl-s3 { color: hsl(29,54%,61%) !important; } /* support */
.pl-s3 { color: hsl(29,54%,61%) !important; } /* support */
.pl-sc { color: hsl(39,67%,69%) !important; } /* support.class */
.pl-scp { color: hsl(220,14%,71%) !important; } /* support.constant.property-value */
.pl-sf { color: hsl(187,47%,55%) !important; } /* support.function */
.pl-smc { color: hsl(220,14%,71%) !important; } /* storage.modifier.c */
/* variable.parameter.function, storage.modifier.package,
 storage.modifier.import, storage.type.java, variable.other */
.pl-smi { color: hsl(355,65%,65%) !important; }
.pl-smp { color: hsl(39,67%,69%) !important; } /* storage.modifier.package */
.pl-sok { color: hsl(29,54%,61%) !important; } /* support.other.keyword */
.pl-sol { color: hsl(355,65%,65%) !important; } /* string.other.link */
.pl-som { color: hsl(220,14%,71%) !important; } /* support.other.module */
.pl-sr { color: hsl(187,47%,55%) !important; } /* string.regexp */
/* string.regexp string.regexp.arbitrary-repitition */
.pl-sr .pl-sra { color: hsl(187,47%,55%) !important; }
.pl-src { color: hsl(187,47%,55%) !important; } /* string.regexp.character-class */
.pl-sr .pl-sre { color: hsl(39,67%,69%) !important; } /* string.regexp source.ruby.embedded */
.pl-st { color: hsl(187,47%,55%) !important; } /* support.type */
.pl-stj { color: hsl(39,67%,69%) !important; } /* storage.type.java */
.pl-stp { color: hsl(220,9%,55%) !important; } /* support.type.property-name */
.pl-sv { color: hsl(29,54%,61%) !important; } /* support.variable */
.pl-v { color: hsl(39,67%,69%) !important; } /* variable */
.pl-vi { color: hsl(5,48%,51%) !important; } /* variable.interpolation */
.pl-vo { color: hsl(187,47%,55%) !important; } /* variable.other */
.pl-vpf { color: hsl(220,14%,71%) !important; } /* variable.parameter.function */
/* markup.inserted, meta.diff.header.to-file, punctuation.definition.inserted */
.pl-mi1 { color: hsl(95,38%,62%) !important; background: #020 !important; }
/* meta.diff.header.to-file */
.pl-mdht { color: hsl(95,38%,62%) !important; background: #020 !important; }
/* markup.deleted, meta.diff.header.from-file, punctuation.definition.deleted */
.pl-md { color: hsl(355,65%,65%) !important; background: #200 !important; }
/* meta.diff.header.from-file */
.pl-mdhf { color: hsl(355,65%,65%) !important; background: #200 !important; }
/* meta.diff.range */
.pl-mdr { color: hsl(220,14%,71%) !important; font-weight: normal !important; }
.pl-mdh { color: hsl(355,65%,65%) !important; font-weight: normal !important; } /* meta.diff.header */
.pl-mdi { color: hsl(355,65%,65%) !important; font-weight: normal !important; } /* meta.diff.index */
/* constant.other.reference.link, string.other.link */
.pl-corl { color: hsl(355,65%,65%) !important; text-decoration: underline !important; }
.pl-ib { background-color: hsl(355,65%,65%) !important; } /* invalid.broken */
/* invalid.deprecated */
.pl-id { background-color: hsl(40,60%,20%) !important; color: hsl(40,60%,70%) !important; }
.pl-ii { background-color: hsl(40,60%,70%) !important; color: #fff !important; } /* invalid.illegal */
.pl-iu { background-color: hsl(0,70%,60%) !important; } /* invalid.unimplemented */
.pl-mo { color: hsl(220,14%,71%) !important; } /* meta.output */
.pl-mri { color: hsl(95,38%,62%) !important; } /* markup.raw.inline */
.pl-ms1 { color: hsl(220,14%,71%) !important; background-color: #373b41 !important; } /* meta.separator */
.pl-va { color: hsl(220,14%,71%) !important; } /* variable.assignment */
.pl-vpu { color: hsl(220,14%,71%) !important; } /* variable.parameter.url */
.pl-entl { color: hsl(355,65%,65%) !important; } /* entity.name.tag.label */
