/*! GitHub: Solarized Dark */
.highlight, .CodeMirror {
  background: #002b36 !important;
  color: #839496 !important;
}
.blob-code, .blob-code-inner {
  color: #839496 !important;
}
.pl-c, .pl-c span { color: #586e75 !important; font-style: italic !important; } /* comment */
.pl-c1 { color: #2aa198 !important; } /* constant */
.pl-e { color: #268bd2 !important; } /* entity */
.pl-en { color: #268bd2 !important; } /* entity.name */
.pl-ent { color: #268bd2 !important; } /* entity.name.tag */
.pl-k { color: #859900 !important; } /* keyword */
.pl-mb { color: #2aa198 !important; font-weight: bold !important; } /* markup.bold */
.pl-mdh { color: #859900 !important; } /* meta.diff.header */
.pl-mdr { color: #859900 !important; } /* meta.diff.range */
.pl-mh { color: #cb4b16 !important; } /* markup.heading */
.pl-mh .pl-en { color: #cb4b16 !important; font-weight: bold !important; } /* markup.heading entity.name */
.pl-mi { color: #859900 !important; font-style: italic !important; } /* markup.italic */
.pl-ml { color: #859900 !important; } /* markup.list */
.pl-mm { color: #859900 !important; } /* meta.module-reference */
.pl-mo { color: #859900 !important; } /* meta.output */
.pl-mp { color: #859900 !important; } /* meta.property-name */
.pl-mq { color: #586e75 !important; } /* markup.quote */
.pl-mr { color: #859900 !important; } /* meta.require */
.pl-ms { color: #859900 !important; } /* meta.selector */
.pl-pds { color: #2aa198 !important; } /* punctuation.definition.string */
.pl-s { color: #268bd2 !important; } /* storage */
.pl-s1 { color: #2aa198 !important; } /* string */
.pl-s1 .pl-pse .pl-s2 { color: #2aa198 !important; } /* string punctuation.section.embedded source */
.pl-s1 .pl-s2 { color: #839496 !important; } /* string source */
.pl-s1 .pl-v { color: #859900 !important; } /* string variable */
.pl-s3 { color: #859900 !important; } /* support */
.pl-sc { color: #cb4b16 !important; } /* support.class */
.pl-smi { color: #839496 !important; } /* storage.modifier.import */
.pl-smp { color: #839496 !important; } /* storage.modifier.package */
.pl-sr { color: #d30102 !important; } /* string.regexp */
.pl-sr .pl-cce { color: #cb4b16 !important; } /* constant.character.escape */
.pl-sr .pl-sra { color: #d30102 !important; } /* string.regexp string.regexp.arbitrary-repetition */
.pl-sr .pl-sre { color: #d30102 !important; } /* string.regexp source.ruby.embedded */
.pl-src { color: #d30102 !important; } /* string.regexp.character-class */
.pl-st { color: #dc322f !important; } /* support.type */
.pl-stj { color: #839496 !important; } /* storage.type.java */
.pl-sv { color: #2aa198 !important; } /* support.variable */
.pl-v { color: #268bd2 !important; } /* variable */
.pl-vo { color: #839496 !important; } /* variable.other */
.pl-vpf { color: #839496 !important; } /* variable.parameter.function */
.pl-mi1 { color: #839496 !important; background: rgba(0,64,0,.5) !important; } /* markup.inserted */
.pl-mdht { color: #839496 !important; background: rgba(0,64,0,.5) !important; } /* meta.diff.header.to-file */
.pl-md { color: #839496 !important; background: rgba(64,0,0,.5) !important; } /* markup.deleted */
.pl-mdhf { color: #839496 !important; background: rgba(64,0,0,.5) !important; } /* meta.diff.header.from-file */
.pl-id { color: #839496 !important; background: rgba(64,0,0,.5) !important; } /* invalid.deprecated */
.pl-ii { color: #839496 !important; background: rgba(64,0,0,.5) !important; } /* invalid.illegal */
/* language tweaks */
.highlight-source-css .pl-k { color: #586e75 !important; } /* keyword */
.highlight-source-c\+\+ .pl-s { color: #dc322f !important; } /* storage in c++ */
