# https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties
root = true

[*]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
insert_final_newline = true

[*.css]
block_comment_start = /*
block_comment = *
block_comment_end = */

[*.svg]
insert_final_newline = false

[index.html]
indent_size = none
