# Follow the guidelines.  Use 2 spaces. Not tabs.
# See https://github.com/StylishThemes/GitHub-Dark/blob/master/CONTRIBUTING.md for more information.
root = true

[**.css]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8
insert_final_newline = false