extends: stylelint-config-silverwind

rules:
  at-rule-empty-line-before: null
  block-closing-brace-newline-after: null
  block-closing-brace-newline-before: null
  block-no-empty: null
  block-opening-brace-newline-after: null
  block-opening-brace-space-before: null
  comment-empty-line-before: null
  comment-whitespace-inside: null
  declaration-bang-space-before: null
  declaration-block-no-duplicate-properties: null
  declaration-block-no-shorthand-property-overrides: null
  declaration-block-semicolon-newline-after: null
  declaration-block-single-line-max-declarations: null
  declaration-empty-line-before: null
  function-comma-space-after: null
  function-url-quotes: null
  indentation: null
  max-empty-lines: 0
  no-descending-specificity: null
  no-duplicate-selectors: null
  number-leading-zero: null
  rule-empty-line-before: null
  selector-combinator-space-after: null
  selector-combinator-space-before: null
  selector-descendant-combinator-no-non-space: null
  selector-list-comma-newline-after: null
  selector-no-vendor-prefix: null
  custom-property-pattern: null
  selector-attribute-quotes: null
  selector-type-no-unknown: null
  shorthand-property-no-redundant-values: null
  value-keyword-case: null
