# https://github.com/stylelint/stylelint/blob/master/docs/user-guide/rules.md
# https://github.com/stylelint/stylelint-config-standard/blob/master/index.js

extends: stylelint-config-standard
ignoreFiles: "**/*.min.css"

rules:
  at-rule-empty-line-before: null
  block-no-empty: null
  block-opening-brace-space-before: null
  color-hex-case: null
  color-named: null
  comment-empty-line-before: null
  comment-no-empty: null
  comment-whitespace-inside: null
  declaration-bang-space-before: null
  declaration-block-no-duplicate-properties: null
  declaration-block-single-line-max-declarations: null
  declaration-colon-newline-after: null
  font-family-name-quotes: always-where-recommended
  font-family-no-duplicate-names: true
  function-url-quotes: always
  function-comma-space-after: null
  indentation: null
  max-empty-lines: 0
  no-descending-specificity: null
  no-duplicate-selectors: null
  number-leading-zero: never
  number-max-precision: 3
  number-no-trailing-zeros: true
  rule-empty-line-before: null
  selector-combinator-space-after: null
  selector-combinator-space-before: null
  selector-list-comma-newline-after: null
  selector-pseudo-element-colon-notation: null
  selector-type-no-unknown: null
  string-quotes: double
  value-list-comma-newline-after: null
  property-no-unknown: null
