extends: stylelint-config-silverwind

rules:
  block-no-empty: null
  csstree/validator: null
  declaration-block-no-duplicate-properties: null
  indentation: null
  max-empty-lines: 0
  selector-type-no-unknown: null
  selector-pseudo-element-colon-notation: null
