/*! GitHub light (default) Syntax Theme */
/* Use this as a template to create a custom theme */
.highlight, .ace_editor {
  background: #002b36 !important;
  color: #93a1a1 !important;
}

.pl-c                 { color: #969896 !important; } /* comment */
.pl-c1                { color: #0086b3 !important; } /* constant */
.pl-e                 { color: #795da3 !important; } /* entity */
.pl-en                { color: #795da3 !important; } /* entity.name */
.pl-ent               { color: #63a35c !important; } /* entity.name.tag */
.pl-id                { color: #b52a1d !important; } /* invalid.deprecated */
.pl-ii                { background-color: #b52a1d !important; color: #f8f8f8 !important; } /* invalid.illegal */
.pl-k                 { color: #a71d5d !important; } /* keyword */
.pl-mb                { color: #333333 !important; font-weight: bold !important; } /* markup.bold */
.pl-mdh               { color: #0086b3 !important; } /* meta.diff.header */
.pl-mdr               { color: #795da3 !important; font-weight: bold !important; } /* meta.diff.range */
.pl-mh                { color: #1d3e81 !important; font-weight: bold !important; } /* markup.heading */
.pl-mh .pl-en         { color: #1d3e81 !important; font-weight: bold !important; } /* markup.heading entity.name */
.pl-mi                { color: #333333 !important; font-style: italic !important; } /* markup.italic */
.pl-ml                { color: #693a17 !important; } /* markup.list */
.pl-mm                { color: #0086b3 !important; } /* meta.module-reference */
.pl-mo                { color: #1d3e81 !important; } /* meta.output */
.pl-mp                { color: #0086b3 !important; } /* meta.property-name */
.pl-mq                { color: #008080 !important; } /* markup.quote */
.pl-mr                { color: #0086b3 !important; } /* markup.raw */
.pl-ms                { color: #1d3e81 !important; font-weight: bold !important; } /* meta.separator */
.pl-pds               { color: #df5000 !important; } /* punctuation.definition.string */
.pl-s                 { color: #a71d5d !important; } /* storage */
.pl-s1                { color: #df5000 !important; } /* string */
.pl-s1 .pl-pse .pl-s2 { color: #df5000 !important; } /* string punctuation.section.embedded source */
.pl-s1 .pl-s2         { color: #333333 !important; } /* string source */
.pl-s1 .pl-v          { color: #0086b3 !important; } /* string variable */
.pl-s3                { color: #0086b3 !important; } /* support */
.pl-sc                { color: #0086b3 !important; } /* support.constant */
.pl-smi               { color: #333333 !important; } /* storage.modifier.import */
.pl-smp               { color: #333333 !important; } /* storage.modifier.package */
.pl-sr                { color: #df5000 !important; } /* string.regexp */
.pl-sr .pl-cce        { color: #df5000 !important; } /* string.regexp constant.character.escape */
.pl-sr .pl-sra        { color: #df5000 !important; } /* string.regexp string.regexp.arbitrary-repitition */
.pl-sr .pl-sre        { color: #df5000 !important; } /* string.regexp source.ruby.embedded */
.pl-src               { color: #df5000 !important; } /* string.regexp.character-class */
.pl-st                { color: #a71d5d !important; } /* storage.type */
.pl-stj               { color: #333333 !important; } /* storage.type.java */
.pl-sv                { color: #0086b3 !important; } /* support.variable */
.pl-v                 { color: #df5000 !important; } /* variable */
.pl-vo                { color: #333333 !important; } /* variable.other */
.pl-vpf               { color: #333333 !important; } /* variable.parameter.function */

/* diff colors */
.pl-mi1               { background-color: #eaffea !important; color: #55a532 !important; } /* markup.inserted */
.pl-mdht              { background-color: #eaffea !important; color: #55a532 !important; } /* meta.diff.header.to-file */
.pl-md                { background-color: #ffecec !important; color: #bd2c00 !important; } /* markup.deleted */
.pl-mdhf              { background-color: #ffecec !important; color: #bd2c00 !important; } /* meta.diff.header.from-file */

/* Ace editor styling */
.ace_comment { color: #969896 !important; }
.ace_constant { color: #0086b3 !important; }
.ace_cursor { color: #000 !important; }
.ace_editor .ace_multiselect .ace_selection.ace_start { box-shadow: 0 0 3px 0 #fff !important; }
.ace_entity.ace_name { color: #795da3 !important; }
.ace_entity.ace_name.ace_tag { color: #63a35c !important; }
.ace_gutter { border-right: 1px solid #eee !important; background: #fff !important; color: #999999 !important; }
.ace_gutter-active-line { background-color: #f5f5f5 !important; }
.ace_indent-guide { box-shadow: inset -1px 0 0 rgba(0,0,0,0.1) !important; }
.ace_invalid.ace_deprecated { text-decoration: underline !important; font-style: italic !important; color: #b52a1d !important; }
.ace_invalid.ace_illegal { text-decoration: underline !important; font-style: italic !important; color: #f8f8f8 !important; background-color: #b52a1d !important; }
.ace_keyword { color: #a71d5d !important; }
.ace_keyword.ace_operator { color: #795da3 !important; }
.ace_marker-layer .ace_active-line { background-color: #f5f5f5 !important; }
.ace_marker-layer .ace_bracket { border: 1px solid silver !important; }
.ace_marker-layer .ace_selected-word { background-color: #fafaff !important; border:1px solid #c8c8fa !important; }
.ace_marker-layer .ace_selection { background-color: #b5d5ff !important; }
.ace_marker-layer .ace_stack { background-color: #a4e565 !important; }
.ace_marker-layer .ace_step { background-color: #fcff00 !important; }
.ace_markup.ace_heading { color: #1d3e81 !important; }
.ace_markup.ace_list { color: #693a17 !important; }
.ace_multiselect .ace_selection.ace_start { box-shadow: 0 0 3px 0 #fff !important; }
.ace_print-margin { background: #e8e8e8 !important; }
.ace_storage { color: #a71d5d !important;}
.ace_storage.ace_type { color:#a71d5d !important;}
.ace_string { color: #df5000 !important; }
.ace_string.ace_regexp { color: #df5000 !important; }
.ace_support { color: #0086b3 !important; }
.ace_support.ace_class { color: #795da3 !important;}
.ace_support.ace_function { color: #a71d5d !important;}
.ace_support.ace_type,
.ace_support.ace_constant { color: #0086b3 !important; }
.ace_variable { color: #df5000 !important; }
