
.highlight                  { background: # !important; color: # !important; }
.highlight .pl-c            { color: # !important; } /* comment */
.highlight .pl-c1           { color: # !important; } /* constant */
.highlight .pl-cce          { color: # !important; } /* constant.character.escape */
.highlight .pl-cn           { color: # !important; } /* constant.numeric */
.highlight .pl-coc          { color: # !important; } /* constant.other.color */
.highlight .pl-cos          { color: # !important; } /* constant.other.symbol */
.highlight .pl-ef           { color: # !important; } /* entity.function */
.highlight .pl-enc          { color: # !important; } /* entity.name.class */
.highlight .pl-enf          { color: # !important; } /* entity.name.function */
.highlight .pl-enm          { color: # !important; } /* entity.name.method-name */
.highlight .pl-ens          { color: # !important; } /* entity.name.section */
.highlight .pl-ent          { color: # !important; } /* entity.name.tag */
.highlight .pl-entc         { color: # !important; } /* entity.name.type.class */
.highlight .pl-enti         { color: # !important; } /* entity.name.type.instance */
.highlight .pl-entl         { color: # !important; } /* entity.name.tag.label */
.highlight .pl-entm         { color: # !important; } /* entity.name.type.module */
.highlight .pl-eoa          { color: # !important; } /* entity.other.attribute-name */
.highlight .pl-eoac         { color: # !important; } /* entity.other.attribute-name.class */
.highlight .pl-eoai         { color: # !important; } /* entity.other.attribute-name.id */
.highlight .pl-eoi          { color: # !important; } /* entity.other.inherited-class */
.highlight .pl-ib           { color: # !important; } /* invalid.broken */
.highlight .pl-id           { color: # !important; } /* invalid.deprecated */
.highlight .pl-ii           { color: # !important; } /* invalid.illegal */
.highlight .pl-iu           { color: # !important; } /* invalid.unimplemented */
.highlight .pl-k            { color: # !important; } /* keyword */
.highlight .pl-ko           { color: # !important; } /* keyword.operator */
.highlight .pl-kolp         { color: # !important; } /* keyword.operator.logical.python */
.highlight .pl-kos          { color: # !important; } /* keyword.other.special-method */
.highlight .pl-kou          { color: # !important; } /* keyword.other.unit */
.highlight .pl-mai .pl-sf   { color: # !important; } /* meta.at-rule.include support.function */
.highlight .pl-mb           { color: # !important; font-weight: bold !important; } /* markup.bold */
.highlight .pl-mc           { color: # !important; } /* markup.changed */
.highlight .pl-md           { color: # !important; } /* markup.deleted */
.highlight .pl-mdh          { color: # !important; } /* meta.diff.header */
.highlight .pl-mdhf         { color: # !important; } /* meta.diff.header.from-file */
.highlight .pl-mdht         { color: # !important; } /* meta.diff.header.to-file */
.highlight .pl-mdi          { color: # !important; } /* meta.diff.index */
.highlight .pl-mdr          { color: # !important; } /* meta.diff.range */
.highlight .pl-mh .pl-pdh   { color: # !important; } /* markup.heading punctuation.definition.heading */
.highlight .pl-mi           { color: # !important; font-style: italic !important; } /* markup.italic */
.highlight .pl-mi1          { color: # !important; } /* markup.inserted */
.highlight .pl-ml           { color: # !important; } /* markup.list */
.highlight .pl-mm           { color: # !important; } /* meta.module-reference */
.highlight .pl-mo           { color: # !important; } /* meta.output */
.highlight .pl-mp           { color: # !important; } /* meta.property-name */
.highlight .pl-mp1 .pl-sf   { color: # !important; } /* meta.property-value support.function */
.highlight .pl-mq           { color: # !important; } /* markup.quote */
.highlight .pl-mr           { color: # !important; } /* meta.require */
.highlight .pl-mri          { color: # !important; } /* markup.raw.inline */
.highlight .pl-ms           { color: # !important; } /* meta.selector */
.highlight .pl-ms1          { color: # !important; } /* meta.separator */
.highlight .pl-pdb          { color: # !important; font-weight: bold !important; } /* punctuation.definition.bold */
.highlight .pl-pdc          { color: # !important; } /* punctuation.definition.comment */
.highlight .pl-pdc1         { color: # !important; } /* punctuation.definition.constant */
.highlight .pl-pde          { color: # !important; } /* punctuation.definition.entity */
.highlight .pl-pdi          { color: # !important; font-style: italic !important; } /* punctuation.definition.italic */
.highlight .pl-pds          { color: # !important; } /* punctuation.definition.string */
.highlight .pl-pdv          { color: # !important; } /* punctuation.definition.variable */
.highlight .pl-pse          { color: # !important; } /* punctuation.section.embedded */
.highlight .pl-pse .pl-s2   { color: # !important; } /* punctuation.section.embedded source */
.highlight .pl-s            { color: # !important; } /* storage */
.highlight .pl-s1           { color: # !important; } /* string */
.highlight .pl-s2           { color: # !important; } /* source */
.highlight .pl-sc           { color: # !important; } /* support.class */
.highlight .pl-scp          { color: # !important; } /* support.constant.property-value */
.highlight .pl-sf           { color: # !important; } /* support.function */
.highlight .pl-smc          { color: # !important; } /* storage.modifier.c */
.highlight .pl-sok          { color: # !important; } /* support.other.keyword */
.highlight .pl-sol          { color: # !important; } /* string.other.link */
.highlight .pl-som          { color: # !important; } /* support.other.module */
.highlight .pl-sr           { color: # !important; } /* string.regexp */
.highlight .pl-st           { color: # !important; } /* support.type */
.highlight .pl-stp          { color: # !important; } /* support.type.property-name */
.highlight .pl-v            { color: # !important; } /* variable */
.highlight .pl-va           { color: # !important; } /* variable.assignment */
.highlight .pl-vi           { color: # !important; } /* variable.interpolation */
.highlight .pl-vpf          { color: # !important; } /* variable.parameter.function */
.highlight .pl-vpu          { color: # !important; } /* variable.parameter.url */
