/* ZenHub styling */
.zh-button {
  background-color: /*[[base-color]]*/ #008080 !important;
  border-color: /*[[base-color]]*/ #008080 !important;
  color: #fff !important;
}
.zh-pipeline-issue-toggler:hover {
  color: /*[[base-color]]*/ #008080 !important;
}
/* background */
.zh-overlay {
  background-color: rgba(0,0,0,0.9) !important;
}
li.zh-pipeline, li.new-pipeline-column, .zh-schema-pipelines {
  background-color: #181818 !important;
  border-color: #555 !important;
}
li.zh-pipeline-issue, .zh-pipeline-issue-content, .zh-issue-meta, .zh-pipeline-issue-action,
.zh-pipeline-heading-container, .zh-button-grey, .zh-board-menu, .zh-schema-title {
  background-color: #222 !important;
  border-color: #555 !important;
}
.zh-uploader-drop, .zh-button-grey.selected, .zh-button-grey:hover {
  background: #333 !important;
}
/* border */
.zh-paw-btn-inner, .zh-schema, .zh-schema-pipeline-name, .popover {
  border-color: #555 !important;
}
.popover.right .arrow {
  border-right-color: #555 !important;
}
/* text */
.zh-uploader-container *, .zh-overlay-body, .zh-pipeline-issue-action {
  color: #fff !important;
}
.zh-paw-btn-count, .zh-schema-pipeline-name {
  color: #888 !important;
}
/* tooltip */
.popover {
  box-shadow: rgb(85,85,85) 0px 1px 1px !important;
}
/* webkit scrollbars */
.zh-pipeline-issues-wrapper::-webkit-scrollbar-track {
  background: #181818 !important;
}
.zh-board-wrapper.horizontal-scrollbar::-webkit-scrollbar-track {
  background: #181818 !important;
}
.zh-board-wrapper.horizontal-scrollbar::-webkit-scrollbar-thumb {
  background: #444 !important;
}
.zh-pipeline-issues-wrapper::-webkit-scrollbar-thumb {
  background: #444 !important;
}
