@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp("^http(s)?://((www|gist|help|status).)?github.*") {

/* Github Dark Theme v1.2.31 (3/18/2012)
 * https://github.com/Mottie/Github-Dark
 * http://userstyles.org/styles/37035
 * License: http://sam.zoy.org/wtfpl/
 */

 body,#main,.unread_count,.pagehead,#browser table th,.main,.news .alert .body,.profilecols ul.stats li strong,
 table.upgrades tr.current td,.definitions,#files .file .data {
  background:#222 url() !important;
  color:#ddd !important;
  margin-bottom:0 !important;
 }

 /* === Prevent overflow issues === */
 #dashboard,.highlight {
  width:99% !important;
 }

 /* === logo === */
 #header,#header .site {
  background: #111 !important;
  border:0 !important;
  padding-bottom:1px !important;
 }
 #header a:hover {
  color: #4183C4 !important;
 }
 #header .site-logo:hover img {
  border-bottom: #4183C4 1px solid !important;
 }
 #header .github-logo-4x {
  display: none !important;
 }
 #header .github-logo-4x-hover {
  opacity: 1 !important;
 }
 /* gist.github.com */
 body.windows div.logo a[href="https://gist.github.com"] {
  display: block !important;
  width: 164px !important;
  height: 45px !important;
  background: url(http://mottie.github.com/Github-Dark/images/logo_gist.png) no-repeat !important;
 }
 /* help.github.com */
 body.documentation div#header a.logo img, body.windows div.logo a[href="https://gist.github.com"] img {
  display: none !important;
 }
 body.documentation div#header a.logo {
  display: block !important;
  width: 179px !important;
  height: 45px !important;
  background: url(http://mottie.github.com/Github-Dark/images/logo.png) no-repeat !important;
 }
 /* status.github.com */
 body.noproblems h2#logo a {
  background-image: url(http://mottie.github.com/Github-Dark/images/logo_status_noproblems.png) !important;
 }
 body.minorproblem h2#logo a {
  background-image: url(http://mottie.github.com/Github-Dark/images/logo_status_minorproblems.png) !important;
 }
 body.majorproblem h2#logo a {
  background-image: url(http://mottie.github.com/Github-Dark/images/logo_status_majorproblems.png) !important;
 }

 /* === Add/remove visual cue === */
 #header a.logo:hover, #header div.logo a:hover {
  border-bottom:1px solid #666 !important;
  padding-bottom:1px !important;
 }
 #issues_next .sidebar .labels-editable .label-target .color a {
  text-decoration: none !important;
 }

 /* === needs padding === */
 .content,.wikistyle,#header,.topsearch ul.nav {
  padding: 10px !important;
 }
 ul.actions {
  padding:2px 10px 2px 35px !important;
 }

 /* === needs margin === */
 /* Repo panel adjustments */
 .repo-stats {
  margin-right:5px !important;
 }
 /* === no margin === */
 .markdown-body pre {
  margin: 0 !important;
 }

 /* === Remove shadow === */
 h1,h2,h3,h4,pre,code,strong,.news,#footer ul.sosueme li.main,.metabox em.placeholder,.fieldgroup p.explain.planusage strong,
 table.notifications,ul.features,.highlight .nt,.highlight .nf,#download_button,.comment-count,em.date,#header,#user-links,
 input.search,.section-nav a,.section a.section-head {
  color:#999 !important;
  text-shadow:0 0 0 transparent !important;
  box-shadow:0 0 0 transparent !important;
 }
 a,button,div,span,p,ul,li,#gollum-editor-submit {
  color:#ddd !important;
  text-shadow:0 0 0 transparent !important;
 }
 /* add shadow to make labels readable */
 tr.issue span.label,ul.labels span.name {
  text-shadow: 0 0 5px #000 !important;
 }

 /* === transparent background only === */
 .textographic a.repo,#network .repo span,.commit-group-item .browse-button,.topsearch span.search-input {
  background:transparent !important;
 }

 /* === Remove background gradient === */
 #directory .repo,#dashboard .repo,#categories li,.sosueme li.main,#commit .separator,.big-notice,.clean td,.legend .clean,
 .avatar .overlay.size-48,.listing .repo,.listing.closed {
  background-color:transparent !important;
  background-image:url() !important;
 }

 /* === Just rounded corners === */
 #wrapper,#your-repos-filter,.topsearch ul.nav {
  -moz-border-radius:5px !important;
  -webkit-border-radius:5px !important;
 }

 /* === No huge text === */
 pre {
  font-size: 14px !important;
 }

 /* === Darken border === */
 pre,code,#browser table,#browser table th,#issues .menu ul li,.counter,.issues td,ul.main_nav li.selected,.browser_header,.issue-head,
 .bootcamp-help .image,ul.clone-urls li > a,#wiki-wrapper h2,#wiki-wrapper hr,.pagination a,table.branches td,.list-tip li,
 .boxed-group-list > li,.section-nav a,.repo_list li a {
  border-color:#555 !important;
 }
 .listings div.listing {
  border-left:#333 2px solid !important;
  border-right:#333 2px solid !important;
 }
 /* code */
 .linkable-line-number {
  border-right:#555 1px solid !important;
 }

 /* === tooltip === */
 .octotip {
  background-color:#003 !important;
  border-color:#006 !important;
 }
 .list-tip:before {
  color:#222 !important; /* tip pointer */
 }

 /* === Inputs === */
 input,textarea {
  -moz-appearance: none !important;
  background:#111 !important;
  border-color:#444 !important;
  color:#ddd !important;
 }
 .topsearch {
  border-left: 1px solid #666 !important;
  box-shadow:none !important;
 }
 .topsearch input.search,.chzn-search input {
  background: #222 url(http://mottie.github.com/Github-Dark/images/search-icon.png) no-repeat !important;
  padding-left: 20px !important;
  width: 150px !important;
  font-size: 14px !important;
 }
 #your-repos-filter {
  width:95% !important;
 }
 #your_repos #your-repos-filter,#dashboard .filter-bar .filter_input {
  width:90% !important;
 }
 /* gist search, only one with relative position?  */
 #top_search_form input {
  top: 10px !important;
  left: 2px !important;
 }

 /* === #111 === */
 pre,code,.highlight,.wikistyle pre,.wikistyle pre code,#facebox pre,.plain pre,.commit-preview .message pre,
 #wiki-wrapper pre,pre.prettyprint,pre.headers,pre.headers code {
  background:#111 url() !important;
  font-size: 13px !important;
 }

 /* === #222 === */
 /* Darkest background color (#222), no image, with border & radius */
 #browser,.minibutton,.repo-stats,.pagehead ul.tabs li a.selected,a.button,.subnav-bar,.repos,.options-content,.options-group,
 .browsered,.browsered .inner,.subnav-bar > ul > li > ul,.comment-form ul.tabs a.selected,.issue.open.read .summary,.unselected_month,
 .public .graph,.participation-graph,.commits th,#MathJax_Message,.user-commits,.user-commits th,.pagehead ul.actions,.metabox,
 .ranked-repositories > li,.gollum-minibutton,#issues_next ul.filters li,#issues_search .comment,#header-wrapper,.fieldgroup .fields,
 ul.feature-tabs li.highlight,.commit-group-heading,.commit-group,.pagehead-actions,.filterbar .filters li, .starting-comment .body,
 .site, #readme article,.starting-comment .infobar,.chzn-single,.expandable h3 a:last-child,.commit_oneline,.list-tip,.markdown-body,
 .markdown-body code,.markdown-body tt,.autocomplete-results {
  background:#222 url() !important;
  border-color:#444 !important;
  -moz-border-radius:5px !important;
  -webkit-border-radius:5px !important;
 }

 /* Darkest background (#222), leave image, no border */
 .locales,.keyboard-shortcuts,li.contextswitch ul,.file,.add-bubble,#network .repo,
 #files > .description,.commit-group-item:nth-child(2n) .authorship,.context-menu-container.js-menu-container {
  background-color:#222 !important;
  color:#eee !important;
  border:0 !important;
 }

 /* Darkest background (#222), leave image, with border */
 ul.repo_list li, #watchers li,.tree-browser .alt td,.line-data,.browser .listing,ul.repositories > li,.item,.context-pane,.tip-body,
 .news .alert .body,.rule,.avatared img,.main h2,.issue.even,.listing.even,#issues_next .infobar,#assignee,.sidebar .module,
 .sidebar-module > ul,.commit_oneline td,.commits td,.commits code,.counter {
  background-color:#222 !important;
  color:#eee !important;
  border-color:#555 !important;
 }

 /* Darkest background (#222), leave image, add border */
 .image,.fieldgroup .fields,.commit-group-item:nth-child(2n) {
  background-color:#222 !important;
  color:#eee !important;
  border:#555 1px solid !important;
 }

 /* === #333 === */
 /* Panel background (#333), leave image, no border, with radius */
 .pagehead ul.actions a.feed,.notification-settings,.explore h2 .feed,#code_search_instructions h2,td.inst,.metabox-loader,
 .context-loader,.browser-content,.comment,.wikistyle p,.filterbar ul.filters li,.pagehead ul.tabs li.contextswitch,ul.fieldpills li,
 .pagehead ul.tabs li.contextswitch:hover,#new_message,.header,.bigbutton a,.fieldswrap,#gollum-editor,#issues_next ul.sorts li,
 ul.sorts li.asc,ul.sorts li.desc,.authorship,#files .file,.listings-layout .columns.main .content,.filterbar li.selected,.boxed-group,
 .boxed-group-inner,.accordion-container,.file-box {
  background-color:#333 !important;
  -moz-border-radius:5px !important;
  -webkit-border-radius:5px !important;
  border:0 !important;
 }

 /* Panel background (#333), leave image, with border, no radius */
 .metabox .rule,.comment-form,#issues .labels,#gollum-editor select,.gravatar,.listings .odd,.feed,.pagination a:hover,
 #message .envelope .header .info .title.unread,.wikistyle code,li.contextswitch ul li.current,ul.main_nav li.selected a,
 .watcher-widget,ul.states li,.add_file,.commit,.tree-browser,.line-comments,.inset,.new-comments .body,li.label,.filterbar,
 .user-commits td,tr.inline-comments {
  background-color:#333 !important;
  color:#eee !important;
  border-color:#555 !important;
 }

 /* Panel background (#333), no image, no border */
 .pagehead ul.tabs li a:hover,.repos .top-bar,.repos .bottom-bar,#footer .upper_footer,#languages .popular,
 .issue,a.selected,table.upgrades td,.commit-preview .message,.tip-box h4,.button-group,.wikistyle,
 .commit-preview p.error,.pagehead ul.tabs li.contextswitch,#browser tr th,.status-box h4,
 .new_issue,.line_numbers,.date_selector,.date_selector table th, #files span.icon,#header ul.nav {
  background:#333 url() !important;
  color:#eee !important;
  border:0 !important;
 }

 /* Panel background (#333), no image, with border */
 .filter-bar,#files .file .meta,#files .file .data .line_numbers,.highlight .gc,.editbox,.editbox .body,.commentstyle,
 #issues .display,#issues .display .admin,button.classy,a.button.classy,#issues .labels .list li,.issue .summary,.plain,
 #ng canvas,.public .body,.public .body p,.standard_form,#reply_body,#commit div,#commit td,#commit tr,
 #commit .envelope,.file-minibutton,.gollum-minibutton a,#wiki-history table td,.tree-browser th,.context-pane .title,
 .line-number,.flash,.browser .listing:hover,#dashboard .repos,#issues_list .actions,.date_selector .button,.selectable_day,
 .sidebar-module > ul li,.sidebar-module .spacer,#wrapper,.list-module .list-body,.list-module a,.bootcamp-body,.module .inner,
 .browser .listing.closed, .starting-comment,.chzn-drop,#issues_next .labels .label a,.section-nav a:hover {
  background:#333 url() !important;
  color:#eee !important;
  border-color:#555 !important;
 }

 #issues_next > .browser_header ul.actions li.selected {
  background:#333 !important;
  border-color:#333 !important;
  -moz-border-radius:5px 5px 0 0 !important;
  -webkit-border-radius:5px 5px 0 0 !important;
  margin-top:3px !important;
  padding:5px 5px 2px 5px !important;
 }

 /* === #444 === */
 /* Light Panel background (#444), no image, no border, with radius */
 #header .userbox,.tabs,a.button:hover,ul.sidetabs li a:hover,.editbox h1,#issues .labels .admin,p.breadcrumb,
 #issues .display .sortbar,.actor,.repo,.cmeta,#facebox,#facebox .content,#facebox .close,#issues_search .wrapper,
 .featured-callout,.ranked-repositories .meta a,.range-editor h3,.range-editor .chooser,ul.nav.logged_out,.tip-box a.next,
 #inbox .list .unread,#preview_bucket,.main .filterbar,.browser-content .footerbar,.filterbox,ul.smalltabs,.participation,
 .snippet,.supportstaffer,.discussion-form,.chooser-box,.chooser-box h3,#forkqueue .instructions,.input,.ac_results,
 .addon:hover,a.function-button,.bubble,.pull-head,.selector-item.clear:hover,#issues_search .comment-body,.meta,
 .sidebar-module,.sidebar-module > ul h3,ul.js-guides,.list-module h2,.sidebar-module > p,.documentation ul.nav,
 .bootcamp-help h1,#footer .lower_footer,.commit-meta,.gobutton,.browse-button,#user-links, #readme,.context-title,
 .boxed-group > h3,.accordion,.section a.section-head {
  background:#444 url() !important;
  border:0 !important;
  -moz-border-radius:5px !important;
  -webkit-border-radius:5px !important;
 }

 /* Light Panel background (#444), no image, with border, no radius */
 #browser td,.tree-browser td,#issues_list .actions,#issues_next li.selected,.selectable_day.selected,.avatarname img,
 #wiki-history .author img,.options-content h3,.pagehead ul.tabs li a,#issues-dashboard .actions,#readme .name,.js-menu-container,
 table.branches tr:hover td,.list-tip a:hover,.boxed-group-list > li:hover {
  background:#444 url() !important;
  border-color:#555 !important;
  color:#eee !important;
 }

 /* Light Panel background (#444), leave image and border */
 ul.bignav li a:hover,ul.smallnav li a:hover,.browser .meta,.comments-wrapper,.repo.public h3,.rackspace,
 .subnav-bar > ul > li > ul > li > a:hover,ol.download-list li:nth-child(2n),#wiki-history table tr:nth-child(2n) td,
 .issue.active,pre div[style="background-color: rgb(255, 255, 204);"],
 pre div[style="background-color: rgb(255, 255, 204); "] { /* <- space after "; " needed for Chrome */
  background-color:#444 !important;
 }

 /* === #555 === */
 /* Highlight Panel background (#555), leave image, no border, with radius */
 .paging,.button-pager,#integration-branch,.add-pill-form,#network .repo:hover,.selectable_day.hover,
 .list-module a:hover,.js-guides a:hover,.section-nav .active a,#dashboard .filter-bar li a.filter_selected:after {
  background: #555 !important;
  border:0 !important;
  -moz-border-radius:5px !important;
  -webkit-border-radius:5px !important;
 }

 /* === Text Color === */
 /* White text */
 ul.repo-stats li a:hover,.subnav li a:hover,.filters li.selected a,.filters li a:hover {
  color:#fff !important;
 }
 /* News (slightly darker text) */
 .news blockquote,.url-box p strong,#languages a.bar,dl.form dt,.avatarexplain p strong,.lineoption p,
 .fieldgroup p.explain.planusage,table.notifications th,.explore h2,.usagestats dl dt.numbers,
 .featured-callout h2,.commit-preview p.name .date,.feature-overview strong,.download-list h4 {
  color:#ccc !important;
 }
 /* darkest text; Context pane highlight item */
 .context-pane .selector-item:hover a{
  color: #444 !important;
 }

 /* === gold === */
 /* Alerts and activity, remove background gradient */
 .news .alert .title span,.metabox .editable-text:hover,#inbox .list .item .title span {
  color:#8c8000 !important;
  background-color:transparent !important;
  border:0 !important;
 }

 /* === blue  === */
 /* Blue text */
 .site a,.profilecols ul.stats li a:hover strong,.plans-row .plan,.filters li.selected,#gollum-editor-submit {
  color:#4183C4 !important;
 }
 /* Blue background (hover buttons) */
 .minibutton:hover,.minibutton:hover > span,.file-minibutton:hover,.add_file:hover,.gollum-minibutton:hover,
 .gollum-minibutton a:hover,#gollum-editor-submit:hover,pre div:hover,.tip-box a.next:hover,.sidebar-module h3:hover a,
 a.feed:hover, a.feed:hover span {
  background-color:#4183C4 !important;
  color:#ddd !important;
  -moz-border-radius:5px !important;
  -webkit-border-radius:5px !important;
}
 ul.clone-urls li:hover,ul.clone-urls li:hover > a,table.upgrades tr:hover td {
  background:#4183C4 !important;
 }
 /* Blue panel */
 #posts #rss,.github-jobs-promotion p,.signup-button,.hero h1,.plan.personal,.caption,.centered-graphic {
  background:#003 !important;
  background:-webkit-gradient(linear, left top, left bottom, from(#005), to(#003));
  background:-moz-linear-gradient(center top , #005, #003) repeat scroll 0 0 transparent !important;
  border-color:#006 !important;
 }

 /* === red === */
 /* Red panel */
 #forkqueue .legend .unclean,.unclean td,.state-closed,.chzn-results .no-results,.majorproblem .pageheader_wrap,.btn-close-issue,
 button.classy[name="comment_and_close"] {
  background:#300 !important;
  background:-webkit-gradient(linear, left top, left bottom, from(#500), to(#300));
  background:-moz-linear-gradient(center top , #500, #300) repeat scroll 0 0 transparent !important;
  border-color: #600 !important;
  color: #ccc !important;
 }
 .highlight .gd {
  background:#300 !important;
  border-color: #600 !important;
  color: #ccc !important;
 }
 /* Deletions */
 .highlight .gd .x {
  background:#700 !important;
  color:#ddd !important;
 }

 /* === Yellow panel === */
 .infotip,.form-actions .tip,.mini-callout,.snippet em,#network .repo span,#message .sent,.notification,.plan.free,
 .ejector,#issues_search .results em,.bootcamp-help ul li,.page-notice,.feature-tabs .tab-button,.chzn-results li em,
 #missing-readme,.callout {
  background:#440 !important;
  background:-webkit-gradient(linear, left top, left bottom, from(#660), to(#440));
  background:-moz-linear-gradient(center top , #660, #440) repeat scroll 0 0 transparent !important;
  border-color:#660 !important;
  color:#ddd !important;
 }

 /* === Green panel === */
 #forkqueue .legend .clean,#revisions ul li.current,.excerpt,.selectable_day.today,.big-notice,.plan.business,.popout,
 #statusbar,.clean,.clean td,.mergeable.clean,.state-open,.octofication .message,#download_button,.status-box.good a,
 button.classy.primary {
  background:#305530 !important;
  background:-webkit-gradient(linear, left top, left bottom, from(#373), to(#242));
  background:-moz-linear-gradient(center top , #373, #242) !important;
  border-color:#080 !important;
 }
 .highlight .gi {
  background:#305530 !important;
  border-color:#080 !important;
 }
 .octofication { position:relative !important; }
 .octofication .message:before {
  content:url("https://a248.e.akamai.net/assets.github.com/images/modules/dashboard/octofication.png") !important;
  position: absolute !important;
  top: 15% !important;
  left: 0 !important;
 }
 /* New additions */
 .highlight .gi .x,.repo-owner-tag .tag,.gist-owner-tag .tag {
  background:#070 !important;
  color:#ddd !important;
 }
 /* Green hovered */
 #download_button:hover,.noproblems .pageheader_wrap {
  background:#305530 !important;
  background:-webkit-gradient(linear, left top, left bottom, from(#383), to(#242));
  background:-moz-linear-gradient(center top , #383, #242) !important;
  border-color:#080 !important;
 }

 /* === silver panel/button === */
 .kbd,.signup-button:hover,.hero .textographic,.hero .screenographic {
  background:#404040 !important;
  background:-webkit-gradient(linear, left top, left bottom, from(#444), to(#333));
  background:-moz-linear-gradient(center top , #444, #333) !important;
  border-color:#606060 !important;
 }

 /* === Syntax Highlighting (SH) - probably missing a lot === */
 .highlight .na {
  color:#eee !important;
 }
 /* Red */
 .highlight .m,.mi,.dangerzone-module h4 {
  color:#f00 !important;
 }
 /* Green */
 .highlight .s,.highlight .s1 {
  color:#5CE638 !important;
 }
 /* Blue */
 .highlight .c,.highlight .c1,.highlight .cm,#forkqueue .instructions,.addon h4,#wiki-wrapper h1,#wiki-wrapper h2,
 #wiki-wrapper h3,#wiki-wrapper h2 strong,#wiki-wrapper h3 strong,.wikistyle h1,.wikistyle h2 {
  color:#5BA1CF !important;
 }
 /* Yellow */
 .highlight .kc,.sx {
  color:#F6B26B !important;
 }
 /* light grey (darker than default) */
 .highlight .nc {
  color:#aaa !important;
 }
 /* Cyan */
 .highlight .nn {
  color:#cc4 !important;
 }
 /* Red - error */
 .highlight .err {
  background-color: #A61717 !important;
 }

 /* === orange notification === */
 #user-links .unread_count,.minorproblem .pageheader_wrap {
  background: rgba(203, 108, 0, 0.8) !important;
 }
 /* orange border left */
 .pagehead ul.tabs li a.selected,.pagehead > ul.tabs li a:hover,div.listing.navigation-focus,div.issues.navigation-focus {
  -moz-border-radius:0 !important;
  -webkit-border-radius:0 !important;
  border-bottom: #f80 2px solid !important;
 }
 .section-nav .active a {
  border-left: #f80 2px solid !important;
 }
 /* === Wiki editor === */
 #gollum-editor-function-bar a span {
  background-image:url(http://mottie.github.com/Github-Dark/images/icon-sprite.png) !important;
 }

 /* === Repository Network Tree === */
  #network .repo img[alt="T"],#network .repo img[alt="I"], #network .repo img[alt="L"] {
  width:26px !important;
  height:0 !important;
  padding-top: 22px !important;
 }
 #network .repo img[alt="T"] {
  background:url(http://mottie.github.com/Github-Dark/images/t.png) no-repeat !important;
 }
 #network .repo img[alt="I"] {
  background:url(http://mottie.github.com/Github-Dark/images/i.png) no-repeat !important;
 }
 #network .repo img[alt="L"] {
  background:url(http://mottie.github.com/Github-Dark/images/l.png) no-repeat !important;
 }

 /* === Images === */
 /* Restore user avatar */
 #header .userbox img {
  visibility:visible !important;
 }
 #userbox .mini-icon {
  background-image: url(http://mottie.github.com/Github-Dark/images/icons.png) !important;
 }
 /* Footer cat */
 #footer #blacktocat {
  background: url("http://mottie.github.com/Github-Dark/images/blacktocat.svg") no-repeat scroll 0 0 transparent !important;
 }
 /* Control button icons */
 #download_button .icon {
  background-position: center right !important;
 }
 .btn-admin .icon {
  background-position: 0 -25px !important;
 }
 .btn-watch .icon {
  background-position: -20px -25px !important;
 }
 .btn-fork .icon {
  background-position: -80px -25px !important;
 }
 .btn-pull-request .icon {
  background-position: -60px -25px !important;
 }
 .manage-orgs {
  background-position: 95% -20px !important;
 }
 li.watchers a {
  background-position: 5px -27px !important;
 }
 li.watchers.watching a {
  background-position: 5px -102px !important;
 }
 li.forks a {
  background-position: 5px -77px !important;
 }
 li.forks a[title="Forks - You have a fork"],li.forks a[original-title="Forks - You have a fork"] {
  background-position: 5px -152px !important;
 }
 #notifications .icon {
  background-position: -32px -38px !important;
 }
 #settings .icon {
  background-position: -92px -40px !important;
 }
 #logout .icon {
  background-position: -66px -38px !important;
 }
 .context-button .icon {
  background: url("https://github.com/images/modules/issues/context-button.png") no-repeat scroll center -19px #333 !important;
 }
 .context-button:hover .icon {
  background: url("https://github.com/images/modules/issues/context-button.png") no-repeat scroll center -19px transparent !important;
 }
 .closed-banner {
  background-image:url(http://mottie.github.com/Github-Dark/images/closed_pattern.gif) !important;
 }
 .commit-group-item .gobutton > .sha, .commit-group-item.navigation-focus .gobutton:hover > .sha {
  background-image:url(http://mottie.github.com/Github-Dark/images/gobutton-arrow.png) !important
 }
 .search .minibutton span {
  background-position: center -95px !important;
 }
 
 /* SSH HTTP Git Read-Only button background */
 ul.clone-urls li,ul.clone-urls li > a {
  background:url(http://github.com/images/modules/buttons/black.gif) -23px 0 !important;
  color:#ddd !important;
 }
 /* issue labels manager */
 #issues_next .sidebar .labels-editable .label-target .delete a {
  background-image:url(http://mottie.github.com/Github-Dark/images/delete.png) !important;
 }
 /* history expand buttons */
 .commit .minibutton.expander-minibutton span {
  background-position: 50% -45px !important;
 }
 .commit.open .minibutton.expander-minibutton span {
  background-position: 50% -145px !important;
 }
 /* pull request avatar bubble */
 .avatar-bubble {
  background-image:url(http://mottie.github.com/Github-Dark/images/bubble-arrow.png) !important;
 }
 .mini-avatar-bubble {
  background-image:url(http://mottie.github.com/Github-Dark/images/bubble-arrow-up.png) !important;
 }
 /* pull request avatar bubble */
 #issues_search .comment {
  background:url(http://mottie.github.com/Github-Dark/images/bubble-arrow.png) 2px 21px no-repeat !important;
 }
 /* To replace the Github show repo issues user script - https://github.com/Mottie/Github-show-repo-issues */
 ul.repositories ul.repo-stats li.bugs a {
  background: url("https://github.com/Mottie/Github-show-repo-issues/raw/master/images/bug.png") no-repeat scroll 5px 1px transparent !important;
 }

 /* Fix chrome line numbering */
 #files .file .data pre,#files .file .line-data,#files .file .line-number,.file-box .data pre,.file-box .line-data,
 .file-box .line-number {
  line-height:1.4em !important;
 }

}