/*! Base16 3024 Dark by Jan T. Sott; https://github.com/idleberg */
.highlight, .highlight pre, .highlight table { background: #090300; color: #f7f7f7 }
.highlight .hll { background-color: #4a4543 }
.highlight .c { color: #5c5855 } /* Comment */
.highlight .err { color: #db2d20 } /* Error */
.highlight .k { color: #a16a94 } /* Keyword */
.highlight .l { color: #e8bbd0 } /* Literal */
.highlight .n, .highlight .h { color: #f7f7f7 } /* Name */
.highlight .o { color: #b5e4f4 } /* Operator */
.highlight .p { color: #f7f7f7 } /* Punctuation */
.highlight .cm { color: #5c5855 } /* Comment.Multiline */
.highlight .cp { color: #5c5855 } /* Comment.Preproc */
.highlight .c1 { color: #5c5855 } /* Comment.Single */
.highlight .cs { color: #5c5855 } /* Comment.Special */
.highlight .gd { color: #db2d20 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #f7f7f7; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #01a252 } /* Generic.Inserted */
.highlight .gp { color: #5c5855; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #b5e4f4; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #a16a94 } /* Keyword.Constant */
.highlight .kd { color: #a16a94 } /* Keyword.Declaration */
.highlight .kn { color: #b5e4f4 } /* Keyword.Namespace */
.highlight .kp { color: #a16a94 } /* Keyword.Pseudo */
.highlight .kr { color: #a16a94 } /* Keyword.Reserved */
.highlight .kt { color: #fded02 } /* Keyword.Type */
.highlight .ld { color: #01a252 } /* Literal.Date */
.highlight .m { color: #e8bbd0 } /* Literal.Number */
.highlight .s { color: #01a252 } /* Literal.String */
.highlight .na { color: #01a0e4 } /* Name.Attribute */
.highlight .nb { color: #f7f7f7 } /* Name.Builtin */
.highlight .nc { color: #fded02 } /* Name.Class */
.highlight .no { color: #db2d20 } /* Name.Constant */
.highlight .nd { color: #b5e4f4 } /* Name.Decorator */
.highlight .ni { color: #f7f7f7 } /* Name.Entity */
.highlight .ne { color: #db2d20 } /* Name.Exception */
.highlight .nf { color: #01a0e4 } /* Name.Function */
.highlight .nl { color: #f7f7f7 } /* Name.Label */
.highlight .nn { color: #fded02 } /* Name.Namespace */
.highlight .nx { color: #01a0e4 } /* Name.Other */
.highlight .py { color: #f7f7f7 } /* Name.Property */
.highlight .nt { color: #b5e4f4 } /* Name.Tag */
.highlight .nv { color: #db2d20 } /* Name.Variable */
.highlight .ow { color: #b5e4f4 } /* Operator.Word */
.highlight .w { color: #f7f7f7 } /* Text.Whitespace */
.highlight .mf { color: #e8bbd0 } /* Literal.Number.Float */
.highlight .mh { color: #e8bbd0 } /* Literal.Number.Hex */
.highlight .mi { color: #e8bbd0 } /* Literal.Number.Integer */
.highlight .mo { color: #e8bbd0 } /* Literal.Number.Oct */
.highlight .sb { color: #01a252 } /* Literal.String.Backtick */
.highlight .sc { color: #f7f7f7 } /* Literal.String.Char */
.highlight .sd { color: #5c5855 } /* Literal.String.Doc */
.highlight .s2 { color: #01a252 } /* Literal.String.Double */
.highlight .se { color: #e8bbd0 } /* Literal.String.Escape */
.highlight .sh { color: #01a252 } /* Literal.String.Heredoc */
.highlight .si { color: #e8bbd0 } /* Literal.String.Interpol */
.highlight .sx { color: #01a252 } /* Literal.String.Other */
.highlight .sr { color: #01a252 } /* Literal.String.Regex */
.highlight .s1 { color: #01a252 } /* Literal.String.Single */
.highlight .ss { color: #01a252 } /* Literal.String.Symbol */
.highlight .bp { color: #f7f7f7 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #db2d20 } /* Name.Variable.Class */
.highlight .vg { color: #db2d20 } /* Name.Variable.Global */
.highlight .vi { color: #db2d20 } /* Name.Variable.Instance */
.highlight .il { color: #e8bbd0 } /* Literal.Number.Integer.Long */
