/*
    Name:   Base16 Ocean Dark
    Author: Chris Kempson (http://chriskempson.com)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/
/*! CodeMirror: Base16 Ocean Dark */
.CodeMirror { background: #2b303b !important; color: #dfe1e8 !important; }
div.CodeMirror-selected { background: #343d46 !important; }
.CodeMirror-gutters { background: #2b303b !important; border-right: 0 !important; }
.CodeMirror-linenumber { color: #65737e !important; }
.CodeMirror-cursor { border-left: 1px solid #a7adba !important; }
span.cm-comment { color: #ab7967 !important; }
span.cm-atom { color: #b48ead !important; }
span.cm-number { color: #b48ead !important; }
span.cm-property, span.cm-attribute { color: #a3be8c !important; }
span.cm-keyword { color: #bf616a !important; }
span.cm-string { color: #ebcb8b !important; }
span.cm-variable { color: #a3be8c !important; }
span.cm-variable-2 { color: #8fa1b3 !important; }
span.cm-def { color: #d08770 !important; }
span.cm-error { background: #bf616a !important; color: #a7adba !important; }
span.cm-bracket { color: #dfe1e8 !important; }
span.cm-tag { color: #bf616a !important; }
span.cm-link { color: #b48ead !important; }
.CodeMirror-matchingbracket { text-decoration: underline !important; color: white !important; }
