/*! CodeMirror: Cobalt */
/* https://github.com/codemirror/CodeMirror/blob/master/theme/cobalt.css */
.CodeMirror { background: #002240 !important; color: white !important; }
div.CodeMirror-selected { background: #b36539 !important; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection { background: rgba(179,101,57,.99) !important; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection { background: rgba(179,101,57,.99) !important; }
.CodeMirror-gutters { background: #002240 !important; border-right: 1px solid #aaa !important; }
.CodeMirror-guttermarker { color: #ffee80 !important; }
.CodeMirror-guttermarker-subtle { color: #d0d0d0 !important; }
.CodeMirror-linenumber { color: #d0d0d0 !important; }
.CodeMirror-cursor { border-left: 1px solid white !important; }
.cm-comment { color: #08f !important; }
.cm-atom { color: #845dc4 !important; }
.cm-number, span.cm-attribute { color: #ff80e1 !important; }
.cm-keyword { color: #ffee80 !important; }
.cm-string { color: #3ad900 !important; }
.cm-meta { color: #ff9d00 !important; }
.cm-variable-2, span.cm-tag { color: #9effff !important; }
.cm-variable-3, span.cm-def { color: white !important; }
.cm-bracket { color: #d8d8d8 !important; }
.cm-builtin, span.cm-special { color: #ff9e59 !important; }
.cm-link { color: #845dc4 !important; }
.cm-error { color: #9d1e15 !important; }
.CodeMirror-activeline-background { background: #002D57 !important; }
.CodeMirror-matchingbracket { outline: 1px solid grey !important; color: white !important; }
