/*! CodeMirror: Dracula */
/* https://github.com/codemirror/CodeMirror/blob/master/theme/dracula.css */
.CodeMirror, .CodeMirror-gutters {
  background-color: #282a36 !important;
  color: #f8f8f2 !important;
  border: none !important;
}
.CodeMirror-gutters { color: #282a36 !important; }
.CodeMirror-cursor { border-left: solid thin #f8f8f0 !important; }
.CodeMirror-linenumber { color: #6D8A88 !important; }
.CodeMirror-focused div.CodeMirror-selected { background: rgba(255,255,255,.1) !important; }
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection { background: rgba(255,255,255,.1) !important; }
.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection { background: rgba(255,255,255,.1) !important; }
span.cm-comment { color: #6272a4 !important; }
span.cm-string, span.cm-string-2 { color: #f1fa8c !important; }
span.cm-number { color: #bd93f9 !important; }
span.cm-variable { color: #50fa7b !important; }
span.cm-variable-2 { color: white !important; }
span.cm-def { color: #ffb86c !important; }
span.cm-keyword { color: #ff79c6 !important; }
span.cm-operator { color: #ff79c6 !important; }
span.cm-keyword { color: #ff79c6 !important; }
span.cm-atom { color: #bd93f9 !important; }
span.cm-meta { color: #f8f8f2 !important; }
span.cm-tag { color: #ff79c6 !important; }
span.cm-attribute { color: #50fa7b !important; }
span.cm-qualifier { color: #50fa7b !important; }
span.cm-property { color: #66d9ef !important; }
span.cm-builtin { color: #50fa7b !important; }
span.cm-variable-3 { color: #50fa7b !important; }
.CodeMirror-activeline-background { background: rgba(255,255,255,.1) !important; }
.CodeMirror-matchingbracket { text-decoration: underline !important; color: white !important; }
