/*! CodeMirror: Material */
/* https://github.com/codemirror/CodeMirror/blob/master/theme/material.css */
/* Name: material, Author: Michael Kaminsky (http://github.com/mkaminsky11)
  Original material color scheme by Mattia Astorino (https://github.com/equinusocio/material-theme) */
.CodeMirror { background-color: #263238 !important; color: rgba(233,237,237,1) !important; }
.CodeMirror-gutters { background: #263238 !important; color: rgb(83,127,126) !important; border: none !important; }
.CodeMirror-guttermarker,
.CodeMirror-guttermarker-subtle,
.CodeMirror-linenumber { color: rgb(83,127,126) !important; }
.CodeMirror-cursor { border-left: 1px solid #f8f8f0 !important; }
div.CodeMirror-selected { background: rgba(255,255,255,.15) !important; }
.CodeMirror-focused div.CodeMirror-selected { background: rgba(255,255,255,.1) !important; }
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection { background: rgba(255,255,255,.1) !important; }
.CodeMirror-line::-moz-selection,
.CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection { background: rgba(255,255,255,.1) !important; }
.CodeMirror-activeline-background { background: rgba(0,0,0,0) !important; }
.cm-keyword { color: rgba(199,146,234,1) !important; }
.cm-operator { color: rgba(233,237,237,1) !important; }
.cm-variable-2 { color: #80CBC4 !important; }
.cm-variable-3, .cm-type { color: #82B1FF !important; }
.cm-builtin { color: #DECB6B !important; }
.cm-atom { color: #F77669 !important; }
.cm-number { color: #F77669 !important; }
.cm-def { color: rgba(233,237,237,1) !important; }
.cm-string { color: #C3E88D !important; }
.cm-string-2 { color: #80CBC4 !important; }
.cm-comment { color: #546E7A !important; }
.cm-variable { color: #82B1FF !important; }
.cm-tag { color: #80CBC4 !important; }
.cm-meta { color: #80CBC4 !important; }
.cm-attribute { color: #FFCB6B !important; }
.cm-property { color: #80CBAE !important; }
.cm-qualifier { color: #DECB6B !important; }
.cm-variable-3, .cm-type { color: #DECB6B !important; }
.cm-tag { color: rgba(255,83,112,1) !important; }
.cm-error { color: rgba(255,255,255,1) !important; background-color: #EC5F67 !important; }
.CodeMirror-matchingbracket {
  text-decoration: underline !important;
  color: white !important;
}
