/*! CodeMirror: Monokai */
/* https://github.com/codemirror/CodeMirror/blob/master/theme/monokai.css */
.CodeMirror { background: #272822 !important; color: #f8f8f2 !important; }
.CodeMirror-selected { background: #49483E !important; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection { background: rgba(73,72,62,.99) !important; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection { background: rgba(73,72,62,.99) !important; }
.CodeMirror-gutters { background: #272822 !important; border-right: 0 !important; }
.CodeMirror-guttermarker { color: white !important; }
.CodeMirror-guttermarker-subtle { color: #d0d0d0 !important; }
.CodeMirror-linenumber { color: #d0d0d0 !important; }
.CodeMirror-cursor { border-left: 1px solid #f8f8f0 !important; }
.cm-comment { color: #75715e !important; }
.cm-atom { color: #ae81ff !important; }
.cm-number { color: #ae81ff !important; }
.cm-property, span.cm-attribute { color: #a6e22e !important; }
.cm-keyword { color: #f92672 !important; }
.cm-builtin { color: #66d9ef !important; }
.cm-string { color: #e6db74 !important; }
.cm-variable { color: #f8f8f2 !important; }
.cm-variable-2 { color: #9effff !important; }
.cm-variable-3 { color: #66d9ef !important; }
.cm-def { color: #fd971f !important; }
.cm-bracket { color: #f8f8f2 !important; }
.cm-tag { color: #f92672 !important; }
.cm-header { color: #ae81ff !important; }
.cm-link { color: #ae81ff !important; }
.cm-error { background: #f92672 !important; color: #f8f8f0 !important; }
.CodeMirror-activeline-background { background: #373831 !important; }
.CodeMirror-matchingbracket {
  text-decoration: underline !important;
  color: white !important;
}
