/*! CodeMirror: Tomorrow Night Eighties */
/* https://github.com/codemirror/CodeMirror/blob/master/theme/tomorrow-night-eighties.css */
.CodeMirror-selected { background: #2D2D2D !important; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection { background: rgba(45,45,45,.99) !important; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection,
.CodeMirror-line > span > span::-moz-selection { background: rgba(45,45,45,.99) !important; }
.CodeMirror-gutters { background: #000 !important; border-right: 0 !important; }
.CodeMirror-guttermarker { color: #f2777a !important; }
.CodeMirror-guttermarker-subtle { color: #777 !important; }
.CodeMirror-linenumber { color: #515151 !important; }
.CodeMirror-cursor { border-left: 1px solid #6A6A6A !important; }
.cm-comment { color: #d27b53 !important; }
.cm-atom { color: #a16a94 !important; }
.cm-number { color: #a16a94 !important; }
.cm-property, span.cm-attribute { color: #9c9 !important; }
.cm-keyword { color: #f2777a !important; }
.cm-string { color: #fc6 !important; }
.cm-variable { color: #9c9 !important; }
.cm-variable-2 { color: #69c !important; }
.cm-def { color: #f99157 !important; }
.cm-bracket { color: #CCC !important; }
.cm-tag { color: #f2777a !important; }
.cm-link { color: #a16a94 !important; }
.cm-error { background: #f2777a !important; color: #6A6A6A !important; }
.CodeMirror-activeline-background { background: #343600 !important; }
.CodeMirror-matchingbracket { text-decoration: underline !important; color: white !important; }
