/*! GitHub: Twilight */
:root {
  --ghd-code-background: #141414;
  --ghd-code-color: #ccc;
}
.pl-c, .pl-c span { color: #5f5a60 !important; } /* comment */
.pl-c1 { color: #cf6a4c !important; } /* constant */
.pl-cce { color: #cf6a4c !important; } /* constant.character.escape */
.pl-cn { color: #cf6a4c !important; } /* constant.numeric */
.pl-coc { color: #cf6a4c !important; } /* constant.other.color */
.pl-cos { color: #8f9d6a !important; } /* constant.other.symbol */
.pl-e { color: #ac885b !important; } /* entity */
.pl-ef { color: #ac885b !important; } /* entity.function */
.pl-en { color: #ac885b !important; } /* entity.name */
.pl-enc { color: #cf6a4c !important; } /* entity.name.class */
.pl-enf { color: #ac885b !important; } /* entity.name.function */
.pl-enm { color: #ac885b !important; } /* entity.name.method-name */
.pl-ens { color: #cf6a4c !important; } /* entity.name.section */
.pl-ent { color: #cda869 !important; } /* entity.name.tag */
.pl-entc { color: #ac885b !important; } /* entity.name.type.class */
.pl-enti { color: #ac885b !important; } /* entity.name.type.instance */
.pl-entm { color: #7587a6 !important; } /* entity.name.type.module */
.pl-eoa { color: #cda869 !important; } /* entity.other.attribute-name */
.pl-eoac { color: #7587a6 !important; } /* entity.other.attribute-name.class */
.pl-eoac .pl-pde { color: #7587a6 !important; } /* punctuation.definition.entity */
.pl-eoai { color: #cda869 !important; } /* entity.other.attribute-name.id */
.pl-eoai .pl-pde { color: #cda869 !important; } /* punctuation.definition.entity */
.pl-eoi { color: #ac885b !important; } /* entity.other.inherited-class */
.pl-k { color: #cf6a4c !important; } /* keyword */
.pl-ko { color: #cda869 !important; } /* keyword.operator */
.pl-kolp { color: #cda869 !important; } /* keyword.operator.logical.python */
.pl-kos { color: #cf6a4c !important; } /* keyword.other.special-method */
.pl-kou { color: #cf6a4c !important; } /* keyword.other.unit */
.pl-mai .pl-sf { color: #7587a6 !important; } /* support.function */
.pl-mb { color: #8f9d6a !important; } /* markup.bold */
.pl-mc { color: #cda869 !important; } /* markup.changed */
.pl-mh { color: #cf6a4c !important; } /* markup.heading */
.pl-mh .pl-pdh { color: #cf6a4c !important; } /* markup.heading punctuation.definition.heading */
.pl-mi { color: #cda869 !important; } /* markup.italic */
.pl-ml { color: #8f9d6a !important; } /* markup.list */
.pl-mm { color: #7587a6 !important; } /* meta.module-reference */
.pl-mp { color: #c5af75 !important; } /* meta.property-name */
.pl-mp1 .pl-sf { color: #dad085 !important; } /* meta.property-value support.function */
.pl-mq { color: #cf6a4c !important; } /* markup.quote */
.pl-mr { color: #cda869 !important; } /* meta.require */
.pl-ms { color: #cda869 !important; } /* meta.selector */
.pl-pdb { color: #8f9d6a !important; } /* punctuation.definition.bold */
.pl-pdc { color: #5f5a60 !important; } /* punctuation.definition.comment */
.pl-pdc1 { color: #cf6a4c !important; } /* punctuation.definition.constant */
.pl-pde { color: #cf6a4c !important; } /* punctuation.definition.entity */
.pl-pdi { color: #cda869 !important; } /* punctuation.definition.italic */
.pl-pds { color: #8f9d6a !important; } /* punctuation.definition.string */
.pl-pdv { color: #7587a6 !important; } /* punctuation.definition.variable */
.pl-pse { color: #cf6a4c !important; } /* punctuation.section.embedded */
.pl-pse .pl-s2 { color: #cf6a4c !important; } /* punctuation.section.embedded source */
.pl-s { color: #f9ee98 !important; } /* storage */
.pl-s1 { color: #ccc !important; } /* string */
.pl-s2 { color: #ccc !important; } /* source */
.pl-mp .pl-s3 { color: #cda869 !important; } /* support */
.pl-s3 { color: #dad085 !important; } /* support */
.pl-sc { color: #dad085 !important; } /* support.class */
.pl-scp { color: #cf6a4c !important; } /* support.constant.property-value */
.pl-sf { color: #dad085 !important; } /* support.function */
.pl-smc { color: #ac885b !important; } /* storage.modifier.c */
.pl-smi { color: #ccc !important; } /* storage.modifier.import */
.pl-smp { color: #ccc !important; } /* storage.modifier.package */
.pl-sok { color: #cda869 !important; } /* support.other.keyword */
.pl-sol { color: #8f9d6a !important; } /* string.other.link */
.pl-som { color: #7587a6 !important; } /* support.other.module */
.pl-sr { color: #7587a6 !important; } /* string.regexp */
.pl-sra { color: #cda869 !important; } /* string.regexp string.regexp.arbitrary-repetition */
.pl-src { color: #cda869 !important; } /* string.regexp.character-class */
.pl-sre { color: #cda869 !important; } /* string.regexp source.ruby.embedded */
.pl-st { color: #cda869 !important; } /* support.type */
.pl-stj { color: #7587a6 !important; } /* storage.type.java */
.pl-stp { color: #9b859d !important; } /* support.type.property-name */
.pl-sv { color: #9b859d !important; } /* support.variable */
.pl-v { color: #9b859d !important; } /* variable */
.pl-vi { color: #cf6a4c !important; } /* variable.interpolation */
.pl-vo { color: #ac885b !important; } /* variable.other */
.pl-vpf { color: #7587a6 !important; } /* variable.parameter.function */
/* diff - example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
.pl-mi1 { color: #55a532 !important; background: #020 !important; } /* markup.inserted */
.pl-mdht { color: #55a532 !important; background: #020 !important; } /* meta.diff.header.to-file */
.pl-md { color: #bd2c00 !important; background: #200 !important; } /* markup.deleted */
.pl-mdhf { color: #bd2c00 !important; background: #200 !important; } /* meta.diff.header.from-file */
.pl-mdr { color: #cf6a4c !important; } /* meta.diff.range */
.pl-mdh { color: #7587a6 !important; } /* meta.diff.header */
.pl-mdi { color: #7587a6 !important; } /* meta.diff.index */
/* todo: fix unstyled classes below */
.pl-bu, /* invalid.broken, invalid.deprecated, invalid.unimplemented, message.error, brackethighlighter.unmatched, sublimelinter.mark.error */
.pl-ii, .pl-ii .pl-cce { background-color: #df5000 !important; color: #fff !important; } /* invalid.illegal */
.pl-mo { color: #969896 !important; } /* meta.output */
.pl-mri { color: #008080 !important; } /* markup.raw.inline */
.pl-ms1 { background-color: #f5f5f5 !important; } /* meta.separator */
.pl-va { color: #008080 !important; } /* variable.assignment */
.pl-vpu { color: #008080 !important; } /* variable.parameter.url */
.pl-entl { color: #ccc !important; } /* entity.name.tag.label */
.pl-corl, .highlight .pl-corl span.x { color: #f9ee98 !important; text-decoration: underline !important; } /* links */
.pl-token.active, .pl-token:hover { background: #ac885b !important; color: #ccc !important; }
