.ace-editor .ace_gutter {
  background: #1a1a1a;
  color: #DEDEDE
}

.ace-editor .ace_print-margin {
  width: 1px;
  background: #1a1a1a
}

.ace-editor {
  background-color: #000000;
  color: #DEDEDE
}

.ace-editor .ace_cursor {
  color: #9F9F9F
}

.ace-editor .ace_marker-layer .ace_selection {
  background: #424242
}

.ace-editor.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #000000;
  border-radius: 2px
}

.ace-editor .ace_marker-layer .ace_step {
  background: rgb(102, 82, 0)
}

.ace-editor .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #888888
}

.ace-editor .ace_marker-layer .ace_highlight {
  border: 1px solid rgb(110, 119, 0);
  border-bottom: 0;
  box-shadow: inset 0 -1px rgb(110, 119, 0);
  margin: -1px 0 0 -1px;
  background: rgba(255, 235, 0, 0.1)
}

.ace-editor .ace_marker-layer .ace_active-line {
  background: #2A2A2A
}

.ace-editor .ace_gutter-active-line {
  background-color: #2A2A2A
}

.ace-editor .ace_stack {
  background-color: rgb(66, 90, 44)
}

.ace-editor .ace_marker-layer .ace_selected-word {
  border: 1px solid #888888
}

.ace-editor .ace_invisible {
  color: #343434
}

.ace-editor .ace_keyword,
.ace-editor .ace_meta,
.ace-editor .ace_storage,
.ace-editor .ace_storage.ace_type,
.ace-editor .ace_support.ace_type {
  color: #C397D8
}

.ace-editor .ace_keyword.ace_operator {
  color: #70C0B1
}

.ace-editor .ace_constant.ace_character,
.ace-editor .ace_constant.ace_language,
.ace-editor .ace_constant.ace_numeric,
.ace-editor .ace_keyword.ace_other.ace_unit,
.ace-editor .ace_support.ace_constant,
.ace-editor .ace_variable.ace_parameter {
  color: #E78C45
}

.ace-editor .ace_constant.ace_other {
  color: #EEEEEE
}

.ace-editor .ace_invalid {
  color: #CED2CF;
  background-color: #DF5F5F
}

.ace-editor .ace_invalid.ace_deprecated {
  color: #CED2CF;
  background-color: #B798BF
}

.ace-editor .ace_fold {
  background-color: #7AA6DA;
  border-color: #DEDEDE
}

.ace-editor .ace_entity.ace_name.ace_function,
.ace-editor .ace_support.ace_function,
.ace-editor .ace_variable {
  color: #7AA6DA
}

.ace-editor .ace_support.ace_class,
.ace-editor .ace_support.ace_type {
  color: #E7C547
}

.ace-editor .ace_heading,
.ace-editor .ace_markup.ace_heading,
.ace-editor .ace_string {
  color: #B9CA4A
}

.ace-editor .ace_entity.ace_name.ace_tag,
.ace-editor .ace_entity.ace_other.ace_attribute-name,
.ace-editor .ace_meta.ace_tag,
.ace-editor .ace_string.ace_regexp,
.ace-editor .ace_variable {
  color: #D54E53
}

.ace-editor .ace_comment {
  color: #969896
}

.ace-editor .ace_c9searchresults.ace_keyword {
  color: #C2C280
}

.ace-editor .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYFBXV/8PAAJoAXX4kT2EAAAAAElFTkSuQmCC) right repeat-y
}