/*! Solarized Dark */
.highlight, .CodeMirror {
  background: #002b36 !important;
  color: #839496 !important;
}

.blob-code, .blob-code-inner {
  color: #839496 !important;
}

.pl-c, .pl-c span     { color: #586e75 !important; font-style: italic !important; } /* comment */
.pl-c1                { color: #2aa198 !important; } /* constant */
.pl-e                 { color: #268bd2 !important; } /* entity */
.pl-en                { color: #268bd2 !important; } /* entity.name */
.pl-ent               { color: #268bd2 !important; } /* entity.name.tag */
.pl-k                 { color: #859900 !important; } /* keyword */
.pl-mb                { color: #2aa198 !important; font-weight: bold !important; } /* markup.bold */
.pl-mdh               { color: #859900 !important; } /* meta.diff.header */
.pl-mdr               { color: #859900 !important; } /* meta.diff.range */
.pl-mh                { color: #cb4b16 !important; } /* markup.heading */
.pl-mh .pl-en         { color: #cb4b16 !important; font-weight: bold !important; } /* markup.heading entity.name */
.pl-mi                { color: #859900 !important; font-style: italic !important; } /* markup.italic */

.pl-ml                { color: #859900 !important; } /* markup.list */
.pl-mm                { color: #859900 !important; } /* meta.module-reference */
.pl-mo                { color: #859900 !important; } /* meta.output */
.pl-mp                { color: #859900 !important; } /* meta.property-name */
.pl-mq                { color: #586e75 !important; } /* markup.quote */
.pl-mr                { color: #859900 !important; } /* meta.require */
.pl-ms                { color: #859900 !important; } /* meta.selector */
.pl-pds               { color: #2aa198 !important; } /* punctuation.definition.string */
.pl-s                 { color: #268bd2 !important; } /* storage */
.pl-s1                { color: #2aa198 !important; } /* string */
.pl-s1 .pl-pse .pl-s2 { color: #2aa198 !important; } /* string punctuation.section.embedded source */
.pl-s1 .pl-s2         { color: #839496 !important; } /* string source */
.pl-s1 .pl-v          { color: #859900 !important; } /* string variable */
.pl-s3                { color: #859900 !important; } /* support */
.pl-sc                { color: #cb4b16 !important; } /* support.class */
.pl-smi               { color: #839496 !important; } /* storage.modifier.import */
.pl-smp               { color: #839496 !important; } /* storage.modifier.package */
.pl-sr                { color: #d30102 !important; } /* string.regexp */
.pl-sr .pl-cce        { color: #cb4b16 !important; } /* constant.character.escape */
.pl-sr .pl-sra        { color: #d30102 !important; } /* string.regexp string.regexp.arbitrary-repetition */
.pl-sr .pl-sre        { color: #d30102 !important; } /* string.regexp source.ruby.embedded */
.pl-src               { color: #d30102 !important; } /* string.regexp.character-class */
.pl-st                { color: #dc322f !important; } /* support.type */
.pl-stj               { color: #839496 !important; } /* storage.type.java */
.pl-sv                { color: #2aa198 !important; } /* support.variable */
.pl-v                 { color: #268bd2 !important; } /* variable */
.pl-vo                { color: #839496 !important; } /* variable.other */
.pl-vpf               { color: #839496 !important; } /* variable.parameter.function */

.pl-mi1               { color: #839496 !important; background: rgba(0,64,0,.5) !important; } /* markup.inserted */
.pl-mdht              { color: #839496 !important; background: rgba(0,64,0,.5) !important; } /* meta.diff.header.to-file */
.pl-md                { color: #839496 !important; background: rgba(64,0,0,.5) !important; } /* markup.deleted */
.pl-mdhf              { color: #839496 !important; background: rgba(64,0,0,.5) !important; } /* meta.diff.header.from-file */
.pl-id                { color: #839496 !important; background: rgba(64,0,0,.5) !important; } /* invalid.deprecated */
.pl-ii                { color: #839496 !important; background: rgba(64,0,0,.5) !important; } /* invalid.illegal */

.highlight-source-css .pl-k  { color: #586e75 !important; } /* keyword */
.highlight-source-c\+\+ .pl-s  { color: #dc322f !important; } /* storage in c++ */

/* solarized_dark */
/* https://github.com/codemirror/CodeMirror/blob/master/theme/solarized.css */
.CodeMirror-widget {
  text-shadow: none !important;
}
.cm-header { color: #586e75 !important; }
.cm-quote { color: #93a1a1 !important; }
.cm-keyword { color: #cb4b16 !important; }
.cm-atom { color: #d33682 !important; }
.cm-number { color: #d33682 !important; }
.cm-def { color: #2aa198 !important; }
.cm-variable { color: #839496 !important; }
.cm-variable-2 { color: #b58900 !important; }
.cm-variable-3 { color: #6c71c4 !important; }
.cm-property { color: #2aa198 !important; }
.cm-operator { color: #6c71c4 !important; }
.cm-comment { color: #586e75 !important; font-style:italic !important; }
.cm-string { color: #859900 !important; }
.cm-string-2 { color: #b58900 !important; }
.cm-meta { color: #859900 !important; }
.cm-qualifier { color: #b58900 !important; }
.cm-builtin { color: #d33682 !important; }
.cm-bracket { color: #cb4b16 !important; }
.CodeMirror-matchingbracket { color: #859900 !important; }
.CodeMirror-nonmatchingbracket { color: #dc322f !important; }
.cm-tag { color: #93a1a1 !important; }
.cm-attribute { color: #2aa198 !important; }
.cm-hr {
  color: transparent !important;
  border-top: 1px solid #586e75 !important;
  display: block !important;
}
.cm-link { color: #93a1a1 !important; cursor: pointer !important; }
.cm-special { color: #6c71c4 !important; }
.cm-em {
  color: #999 !important;
  text-decoration: underline !important;
  text-decoration-style: dotted !important;
}
.cm-strong { color: #eee !important; }
.cm-error, .cm-invalidchar {
  color: #586e75 !important;
  border-bottom: 1px dotted #dc322f !important;
}
.CodeMirror-selected { background: #073642 !important; }
.cm-s-solarized.cm-s-dark.CodeMirror ::selection { background: rgba(7, 54, 66, 0.99) !important; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: rgba(7, 54, 66, 0.99) !important; }
.cm-s-solarized.CodeMirror {
  -moz-box-shadow: inset 7px 0 12px -6px #000 !important;
  -webkit-box-shadow: inset 7px 0 12px -6px #000 !important;
  box-shadow: inset 7px 0 12px -6px #000 !important;
}
.CodeMirror-gutters {
  border-right: 0 !important;
}
.CodeMirror-gutters {
  background-color: #073642 !important;
}
.CodeMirror-linenumber {
  color: #586e75 !important;
  text-shadow: #021014 0 -1px !important;
}
.CodeMirror-linenumber {
  padding: 0 5px !important;
}
.CodeMirror-guttermarker-subtle { color: #586e75 !important; }
.CodeMirror-guttermarker { color: #ddd !important; }
.CodeMirror-gutter .CodeMirror-gutter-text {
  color: #586e75 !important;
}
.CodeMirror-cursor { border-left: 1px solid #819090 !important; }
.CodeMirror-activeline-background {
  background: rgba(255, 255, 255, 0.06) !important;
}
/* Jupyter Notebooks */
/*! Solariazed Dark from https://gist.github.com/nicolashery/5765395 */
/* Solarized Dark

For use with Jekyll and Pygments

http://ethanschoonover.com/solarized

SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base03    #002b36  background
base01    #586e75  comments / secondary content
base1     #839496  body text / default code / primary content
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/

#notebook .highlight table { background-color: #002b36 !important; color: #839496 !important; }
.highlight .c { color: #586e75 !important; } /* Comment */
.highlight .err { color: #dc322f !important; background-color: #fdf6e3 !important; } /* Error */
.highlight .g { color: #839496 !important; } /* Generic */
.highlight .k { color: #859900 !important; } /* Keyword */
.highlight .l { color: #839496 !important; } /* Literal */
.highlight .n, .highlight .h { color: #839496 !important; } /* Name */
.highlight .o { color: #859900 !important; } /* Operator */
.highlight .x { color: #cb4b16 !important; } /* Other */
.highlight .p { color: #839496 !important; } /* Punctuation */
.highlight .cm { color: #586e75 !important; } /* Comment.Multiline */
.highlight .cp { color: #859900 !important; } /* Comment.Preproc */
.highlight .c1 { color: #586e75 !important; } /* Comment.Single */
.highlight .cs { color: #859900 !important; } /* Comment.Special */
.highlight .gd { color: #2aa198 !important; } /* Generic.Deleted */
.highlight .ge { color: #839496 !important; font-style: italic !important; } /* Generic.Emph */
.highlight .gr { color: #dc322f !important; } /* Generic.Error */
.highlight .gh { color: #cb4b16 !important; } /* Generic.Heading */
.highlight .gi { color: #859900 !important; } /* Generic.Inserted */
.highlight .go { color: #839496 !important; } /* Generic.Output */
.highlight .gp { color: #839496 !important; } /* Generic.Prompt */
.highlight .gs { color: #839496 !important; font-weight: bold !important; } /* Generic.Strong */
.highlight .gu { color: #cb4b16 !important; } /* Generic.Subheading */
.highlight .gt { color: #839496 !important; } /* Generic.Traceback */
.highlight .kc { color: #cb4b16 !important; } /* Keyword.Constant */
.highlight .kd { color: #268bd2 !important; } /* Keyword.Declaration */
.highlight .kn { color: #859900 !important; } /* Keyword.Namespace */
.highlight .kp { color: #859900 !important; } /* Keyword.Pseudo */
.highlight .kr { color: #268bd2 !important; } /* Keyword.Reserved */
.highlight .kt { color: #dc322f !important; } /* Keyword.Type */
.highlight .ld { color: #839496 !important; } /* Literal.Date */
.highlight .m { color: #2aa198 !important; } /* Literal.Number */
.highlight .s { color: #2aa198 !important; } /* Literal.String */
.highlight .na { color: #839496 !important; } /* Name.Attribute */
.highlight .nb { color: #B58900 !important; } /* Name.Builtin */
.highlight .nc { color: #268bd2 !important; } /* Name.Class */
.highlight .no { color: #cb4b16 !important; } /* Name.Constant */
.highlight .nd { color: #268bd2 !important; } /* Name.Decorator */
.highlight .ni { color: #cb4b16 !important; } /* Name.Entity */
.highlight .ne { color: #cb4b16 !important; } /* Name.Exception */
.highlight .nf { color: #268bd2 !important; } /* Name.Function */
.highlight .nl { color: #839496 !important; } /* Name.Label */
.highlight .nn { color: #839496 !important; } /* Name.Namespace */
.highlight .nx { color: #839496 !important; } /* Name.Other */
.highlight .py { color: #839496 !important; } /* Name.Property */
.highlight .nt { color: #268bd2 !important; } /* Name.Tag */
.highlight .nv { color: #268bd2 !important; } /* Name.Variable */
.highlight .ow { color: #859900 !important; } /* Operator.Word */
.highlight .w { color: #839496 !important; } /* Text.Whitespace */
.highlight .mf { color: #2aa198 !important; } /* Literal.Number.Float */
.highlight .mh { color: #2aa198 !important; } /* Literal.Number.Hex */
.highlight .mi { color: #2aa198 !important; } /* Literal.Number.Integer */
.highlight .mo { color: #2aa198 !important; } /* Literal.Number.Oct */
.highlight .sb { color: #586e75 !important; } /* Literal.String.Backtick */
.highlight .sc { color: #2aa198 !important; } /* Literal.String.Char */
.highlight .sd { color: #839496 !important; } /* Literal.String.Doc */
.highlight .s2 { color: #2aa198 !important; } /* Literal.String.Double */
.highlight .se { color: #cb4b16 !important; } /* Literal.String.Escape */
.highlight .sh { color: #839496 !important; } /* Literal.String.Heredoc */
.highlight .si { color: #2aa198 !important; } /* Literal.String.Interpol */
.highlight .sx { color: #2aa198 !important; } /* Literal.String.Other */
.highlight .sr { color: #dc322f !important; } /* Literal.String.Regex */
.highlight .s1 { color: #2aa198 !important; } /* Literal.String.Single */
.highlight .ss { color: #2aa198 !important; } /* Literal.String.Symbol */
.highlight .bp { color: #268bd2 !important; } /* Name.Builtin.Pseudo */
.highlight .vc { color: #268bd2 !important; } /* Name.Variable.Class */
.highlight .vg { color: #268bd2 !important; } /* Name.Variable.Global */
.highlight .vi { color: #268bd2 !important; } /* Name.Variable.Instance */
.highlight .il { color: #2aa198 !important; } /* Literal.Number.Integer.Long */

