/*! Tomorrow Night Bright */
.highlight, .CodeMirror {
  background-color: #000000 !important;
  color: #DEDEDE !important;
}

.blob-code, .blob-code-inner {
  color: #DEDEDE !important;
}

.pl-c, .pl-c span{ color: #969896 !important; font-style: italic !important; } /* comment */
.pl-c1           { color: #DE935F !important; } /* constant */
.pl-cce          { color: #DE935F !important; } /* constant.character.escape */
.pl-cn           { color: #DE935F !important; } /* constant.numeric */
.pl-coc          { color: #DE935F !important; } /* constant.other.color */
.pl-cos          { color: #B5BD68 !important; } /* constant.other.symbol */
.pl-e            { color: #F0C674 !important; } /* entity */
.pl-ef           { color: #F0C674 !important; } /* entity.function */
.pl-en           { color: #F0C674 !important; } /* entity.name */
.pl-enc          { color: #DE935F !important; } /* entity.name.class */
.pl-enf          { color: #F0C674 !important; } /* entity.name.function */
.pl-enm          { color: #F0C674 !important; } /* entity.name.method-name */
.pl-ens          { color: #DE935F !important; } /* entity.name.section */
.pl-ent          { color: #B294BB !important; } /* entity.name.tag */
.pl-entc         { color: #F0C674 !important; } /* entity.name.type.class */
.pl-enti         { color: #F0C674 !important; font-weight: bold !important; } /* entity.name.type.instance */
.pl-entm         { color: #CC6666 !important; } /* entity.name.type.module */
.pl-eoa          { color: #B294BB !important; } /* entity.other.attribute-name */
.pl-eoac         { color: #CC6666 !important; } /* entity.other.attribute-name.class */
.pl-eoac .pl-pde { color: #CC6666 !important; } /* punctuation.definition.entity */
.pl-eoai         { color: #B294BB !important; } /* entity.other.attribute-name.id */
.pl-eoai .pl-pde { color: #B294BB !important; } /* punctuation.definition.entity */
.pl-eoi          { color: #F0C674 !important; } /* entity.other.inherited-class */
.pl-k            { color: #B294BB !important; } /* keyword */
.pl-ko           { color: #B294BB !important; } /* keyword.operator */
.pl-kolp         { color: #B294BB !important; } /* keyword.operator.logical.python */
.pl-kos          { color: #DE935F !important; } /* keyword.other.special-method */
.pl-kou          { color: #DE935F !important; } /* keyword.other.unit */
.pl-mai .pl-sf   { color: #CC6666 !important; } /* support.function */
.pl-mb           { color: #B5BD68 !important; font-weight: bold !important; } /* markup.bold */
.pl-mc           { color: #B294BB !important; } /* markup.changed */
.pl-mh .pl-pdh   { color: #DE935F !important; } /* markup.heading punctuation.definition.heading */
.pl-mi           { color: #B294BB !important; font-style: italic !important; } /* markup.italic */
.pl-ml           { color: #B5BD68 !important; } /* markup.list */
.pl-mm           { color: #CC6666 !important; } /* meta.module-reference */
.pl-mp           { color: #81A2BE !important; } /* meta.property-name */
.pl-mp1 .pl-sf   { color: #81A2BE !important; } /* meta.property-value support.function */
.pl-mq           { color: #DE935F !important; } /* markup.quote */
.pl-mr           { color: #B294BB !important; } /* meta.require */
.pl-ms           { color: #B294BB !important; } /* meta.selector */
.pl-pdb          { color: #B5BD68 !important; font-weight: bold !important; } /* punctuation.definition.bold */
.pl-pdc          { color: #969896 !important; font-style: italic !important; } /* punctuation.definition.comment */
.pl-pdc1         { color: #DE935F !important; } /* punctuation.definition.constant */
.pl-pde          { color: #DE935F !important; } /* punctuation.definition.entity */
.pl-pdi          { color: #B294BB !important; font-style: italic !important; } /* punctuation.definition.italic */
.pl-pds          { color: #B5BD68 !important; } /* punctuation.definition.string */
.pl-pdv          { color: #CC6666 !important; } /* punctuation.definition.variable */
.pl-pse          { color: #DE935F !important; } /* punctuation.section.embedded */
.pl-pse .pl-s2   { color: #DE935F !important; } /* punctuation.section.embedded source */
.pl-s            { color: #B294BB !important; } /* storage */
.pl-s1           { color: #B5BD68 !important; } /* string */
.pl-s2           { color: #c5c8c6 !important; } /* source */
.pl-mp .pl-s3    { color: #B294BB !important; } /* support */
.pl-s3           { color: #81a2be !important; } /* support */
.pl-sc           { color: #c5c8c6 !important; } /* support.class */
.pl-scp          { color: #DE935F !important; } /* support.constant.property-value */
.pl-sf           { color: #DAD085 !important; } /* support.function */
.pl-smc          { color: #F0C674 !important; } /* storage.modifier.c */
.pl-smi          { color: #c5c8c6 !important; } /* storage.modifier.import */
.pl-smp          { color: #c5c8c6 !important; } /* storage.modifier.package */
.pl-sok          { color: #B294BB !important; } /* support.other.keyword */
.pl-sol          { color: #B5BD68 !important; } /* string.other.link */
.pl-som          { color: #CC6666 !important; } /* support.other.module */
.pl-sr           { color: #CC6666 !important; } /* string.regexp */
.pl-sra          { color: #B294BB !important; } /* string.regexp string.regexp.arbitrary-repetition */
.pl-src          { color: #B294BB !important; } /* string.regexp.character-class */
.pl-sre          { color: #B294BB !important; } /* string.regexp source.ruby.embedded */
.pl-st           { color: #B294BB !important; } /* support.type */
.pl-stj          { color: #c5c8c6 !important; } /* storage.type.java */
.pl-stp          { color: #DE935F !important; } /* support.type.property-name */
.pl-sv           { color: #DE935F !important; } /* support.variable */
.pl-v            { color: #DE935F !important; } /* variable */
.pl-vi           { color: #DE935F !important; } /* variable.interpolation */
.pl-vo           { color: #CC6666 !important; } /* variable.other */
.pl-vpf          { color: #DE935F !important; } /* variable.parameter.function */
/* Diff - Example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
.pl-mi1          { color: #8F9D6A !important; background: rgba(0,64,0,.5) !important; } /* markup.inserted */
.pl-mdht         { color: #8F9D6A !important; background: rgba(0,64,0,.5) !important; } /* meta.diff.header.to-file */
.pl-md           { color: #CC6666 !important; background: rgba(64,0,0,.5) !important; } /* markup.deleted */
.pl-mdhf         { color: #CC6666 !important; background: rgba(64,0,0,.5) !important; } /* meta.diff.header.from-file */
.pl-mdr          { color: #DE935F !important; font-weight: normal !important;} /* meta.diff.range */
.pl-mdh          { color: #CC6666 !important; font-weight: normal !important;} /* meta.diff.header */
.pl-mdi          { color: #CC6666 !important; font-weight: normal !important;} /* meta.diff.index */
/* TODO: Fix unstyled classes below */
.pl-ib           { background-color: #CC6666 !important; } /* invalid.broken */
.pl-id           { background-color: #CC6666 !important; color: #fff !important; } /* invalid.deprecated */
.pl-ii           { background-color: #CC6666 !important; color: #fff !important; } /* invalid.illegal */
.pl-iu           { background-color: #CC6666 !important; } /* invalid.unimplemented */
.pl-mo           { color: #c5c8c6 !important; } /* meta.output */
.pl-mri          { color: #DE935F !important; } /* markup.raw.inline */
.pl-ms1          { background-color: #c5c8c6 !important; } /* meta.separator */
.pl-va           { color: #DE935F !important; } /* variable.assignment */
.pl-vpu          { color: #DE935F !important; } /* variable.parameter.url */
.pl-entl         { color: #c5c8c6 !important; } /* entity.name.tag.label */

/* tomorrow_night_bright */
/* https://github.com/codemirror/CodeMirror/blob/master/theme/tomorrow-night-bright.css */
.CodeMirror-selected { background: #424242 !important; }
.CodeMirror-gutters { background: #000000 !important; border-right: 0px !important; }
.CodeMirror-guttermarker { color: #e78c45 !important; }
.CodeMirror-guttermarker-subtle { color: #777 !important; }
.CodeMirror-linenumber { color: #424242 !important; }
.CodeMirror-cursor { border-left: 1px solid #6A6A6A !important; }
.cm-comment { color: #d27b53 !important; }
.cm-atom { color: #a16a94 !important; }
.cm-number { color: #a16a94 !important; }
.cm-property, span.cm-attribute { color: #99cc99 !important; }
.cm-keyword { color: #d54e53 !important; }
.cm-string { color: #e7c547 !important; }
.cm-variable { color: #b9ca4a !important; }
.cm-variable-2 { color: #7aa6da !important; }
.cm-def { color: #e78c45 !important; }
.cm-bracket { color: #eaeaea !important; }
.cm-tag { color: #d54e53 !important; }
.cm-link { color: #a16a94 !important; }
.cm-error { background: #d54e53 !important; color: #6A6A6A !important; }
.CodeMirror-activeline-background { background: #2a2a2a !important; }
.CodeMirror-matchingbracket { text-decoration: underline !important; color: white !important !important; }
/* Jupyter Notebooks */
/*! tomorrow night bright; https://github.com/MozMorris/tomorrow-pygments */
#notebook .highlight table { background: #000000 !important; color: #eaeaea !important; }
.highlight .hll { background-color: #424242 !important; }
.highlight .c { color: #969896 !important; } /* Comment */
.highlight .err { color: #d54e53 !important; } /* Error */
.highlight .k { color: #c397d8 !important; } /* Keyword */
.highlight .l { color: #e78c45 !important; } /* Literal */
.highlight .n, .highlight .h { color: #eaeaea !important; } /* Name */
.highlight .o { color: #70c0b1 !important; } /* Operator */
.highlight .p { color: #eaeaea !important; } /* Punctuation */
.highlight .cm { color: #969896 !important; } /* Comment.Multiline */
.highlight .cp { color: #969896 !important; } /* Comment.Preproc */
.highlight .c1 { color: #969896 !important; } /* Comment.Single */
.highlight .cs { color: #969896 !important; } /* Comment.Special */
.highlight .gd { color: #d54e53 !important; } /* Generic.Deleted */
.highlight .ge { font-style: italic !important; } /* Generic.Emph */
.highlight .gh { color: #eaeaea !important; font-weight: bold !important; } /* Generic.Heading */
.highlight .gi { color: #b9ca4a !important; } /* Generic.Inserted */
.highlight .gp { color: #969896 !important; font-weight: bold !important; } /* Generic.Prompt */
.highlight .gs { font-weight: bold !important; } /* Generic.Strong */
.highlight .gu { color: #70c0b1 !important; font-weight: bold !important; } /* Generic.Subheading */
.highlight .kc { color: #c397d8 !important; } /* Keyword.Constant */
.highlight .kd { color: #c397d8 !important; } /* Keyword.Declaration */
.highlight .kn { color: #70c0b1 !important; } /* Keyword.Namespace */
.highlight .kp { color: #c397d8 !important; } /* Keyword.Pseudo */
.highlight .kr { color: #c397d8 !important; } /* Keyword.Reserved */
.highlight .kt { color: #e7c547 !important; } /* Keyword.Type */
.highlight .ld { color: #b9ca4a !important; } /* Literal.Date */
.highlight .m { color: #e78c45 !important; } /* Literal.Number */
.highlight .s { color: #b9ca4a !important; } /* Literal.String */
.highlight .na { color: #7aa6da !important; } /* Name.Attribute */
.highlight .nb { color: #eaeaea !important; } /* Name.Builtin */
.highlight .nc { color: #e7c547 !important; } /* Name.Class */
.highlight .no { color: #d54e53 !important; } /* Name.Constant */
.highlight .nd { color: #70c0b1 !important; } /* Name.Decorator */
.highlight .ni { color: #eaeaea !important; } /* Name.Entity */
.highlight .ne { color: #d54e53 !important; } /* Name.Exception */
.highlight .nf { color: #7aa6da !important; } /* Name.Function */
.highlight .nl { color: #eaeaea !important; } /* Name.Label */
.highlight .nn { color: #e7c547 !important; } /* Name.Namespace */
.highlight .nx { color: #7aa6da !important; } /* Name.Other */
.highlight .py { color: #eaeaea !important; } /* Name.Property */
.highlight .nt { color: #70c0b1 !important; } /* Name.Tag */
.highlight .nv { color: #d54e53 !important; } /* Name.Variable */
.highlight .ow { color: #70c0b1 !important; } /* Operator.Word */
.highlight .w { color: #eaeaea !important; } /* Text.Whitespace */
.highlight .mf { color: #e78c45 !important; } /* Literal.Number.Float */
.highlight .mh { color: #e78c45 !important; } /* Literal.Number.Hex */
.highlight .mi { color: #e78c45 !important; } /* Literal.Number.Integer */
.highlight .mo { color: #e78c45 !important; } /* Literal.Number.Oct */
.highlight .sb { color: #b9ca4a !important; } /* Literal.String.Backtick */
.highlight .sc { color: #eaeaea !important; } /* Literal.String.Char */
.highlight .sd { color: #969896 !important; } /* Literal.String.Doc */
.highlight .s2 { color: #b9ca4a !important; } /* Literal.String.Double */
.highlight .se { color: #e78c45 !important; } /* Literal.String.Escape */
.highlight .sh { color: #b9ca4a !important; } /* Literal.String.Heredoc */
.highlight .si { color: #e78c45 !important; } /* Literal.String.Interpol */
.highlight .sx { color: #b9ca4a !important; } /* Literal.String.Other */
.highlight .sr { color: #b9ca4a !important; } /* Literal.String.Regex */
.highlight .s1 { color: #b9ca4a !important; } /* Literal.String.Single */
.highlight .ss { color: #b9ca4a !important; } /* Literal.String.Symbol */
.highlight .bp { color: #eaeaea !important; } /* Name.Builtin.Pseudo */
.highlight .vc { color: #d54e53 !important; } /* Name.Variable.Class */
.highlight .vg { color: #d54e53 !important; } /* Name.Variable.Global */
.highlight .vi { color: #d54e53 !important; } /* Name.Variable.Instance */
.highlight .il { color: #e78c45 !important; } /* Literal.Number.Integer.Long */
