/*! Vibrant Ink */
.highlight, .CodeMirror {
  background-color: #0F0F0F !important;
  color: #FFFFFF !important;
}

.blob-code, .blob-code-inner {
  color: #FFFFFF !important;
}

.pl-c, .pl-c span     { color: #9933CC !important; font-style: italic !important; } /* comment */
.pl-c1                { color: #339999 !important; } /* constant */
.pl-e                 { color: #FF6600 !important; } /* entity */
.pl-en                { color: #FFFFFF !important; } /* entity.name */
.pl-ent               { color: #FFCC00 !important; } /* entity.name.tag */
.pl-k                 { color: #FF6600 !important; } /* keyword */
.pl-mb                { color: #66FF00 !important; font-weight: bold !important; } /* markup.bold */
.pl-mdh               { color: #FF6600 !important; } /* meta.diff.header */
.pl-mdr               { color: #FF6600 !important; } /* meta.diff.range */
.pl-mh                { color: #99CC99 !important; } /* markup.heading */
.pl-mh .pl-en         { color: #99CC99 !important; font-weight: bold !important; } /* markup.heading entity.name */
.pl-mi                { color: #FF6600 !important; font-style: italic !important; } /* markup.italic */
.pl-ml                { color: #FF6600 !important; } /* markup.list */
.pl-mm                { color: #FF6600 !important; } /* meta.module-reference */
.pl-mo                { color: #FF6600 !important; } /* meta.output */
.pl-mp                { color: #FF6600 !important; } /* meta.property-name */
.pl-mq                { color: #9933CC !important; } /* markup.quote */
.pl-mr                { color: #FF6600 !important; } /* meta.require */
.pl-ms                { color: #FF6600 !important; } /* meta.selector */
.pl-pds               { color: #66FF00 !important; } /* punctuation.definition.string */
.pl-s                 { color: #FFCC00 !important; } /* storage */
.pl-s1                { color: #66FF00 !important; } /* string */
.pl-s1 .pl-pse .pl-s2 { color: #66FF00 !important; } /* string punctuation.section.embedded source */
.pl-s1 .pl-s2         { color: #339999 !important; } /* string source */
.pl-s1 .pl-v          { color: #FF6600 !important; } /* string variable */
.pl-s3                { color: #FFCC00 !important; } /* support */
.pl-sc                { color: #FFFFFF !important; } /* support.class */
.pl-smi               { color: #339999 !important; } /* storage.modifier.import */
.pl-smp               { color: #339999 !important; } /* storage.modifier.package */
.pl-sr                { color: #44B4CC !important; } /* string.regexp */
.pl-sr .pl-cce        { color: #99CC99 !important; } /* constant.character.escape */
.pl-sr .pl-sra        { color: #44B4CC !important; } /* string.regexp string.regexp.arbitrary-repetition */
.pl-sr .pl-sre        { color: #44B4CC !important; } /* string.regexp source.ruby.embedded */
.pl-src               { color: #66FF00 !important; } /* string.regexp.character-class */
.pl-st                { color: #FF6600 !important; } /* support.type */
.pl-stj               { color: #339999 !important; } /* storage.type.java */
.pl-sv                { color: #66FF00 !important; } /* support.variable */
.pl-v                 { color: #FFCC00 !important; } /* variable */
.pl-vo                { color: #339999 !important; } /* variable.other */
.pl-vpf               { color: #FFFFFF !important; } /* variable.parameter.function */

/* Diff - Example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
.pl-mi1               { color: #FFFFFF !important; background: rgba(0,64,0,.5) !important; } /* markup.inserted */
.pl-mdht              { color: #FFFFFF !important; background: rgba(0,64,0,.5) !important; } /* meta.diff.header.to-file */
.pl-md                { color: #FFFFFF !important; background: rgba(64,0,0,.5) !important; } /* markup.deleted */
.pl-mdhf              { color: #FFFFFF !important; background: rgba(64,0,0,.5) !important; } /* meta.diff.header.from-file */
.pl-id                { color: #CCFF33 !important; background: #000000 !important; } /* invalid.deprecated */
.pl-ii                { color: #CCFF33 !important; background: #000000 !important; } /* invalid.illegal */

/* language tweaks */
.highlight-source-css .pl-c1   { color: #99CC99 !important; } /* constant */
.highlight-source-css .pl-ent  { color: #339999 !important; } /* entity.name.tag */
.highlight-source-css .pl-s3   { color: #FFFFFF !important; } /* support */
.highlight-source-css .pl-sc   { color: #339999 !important; } /* support.class */
.highlight-text-html-basic .pl-ent { color: #FF6600 !important; } /* entity.name.tag */
.highlight-text-html-basic .pl-e   { color: #99CC99 !important; } /* entity */
.highlight-source-js .pl-vpf   { color: #FFCC00 !important; } /* variable.parameter.function */
.highlight-text-html-php .pl-s    { color: #FF6600 !important; } /* storage */
.highlight-text-html-php .pl-s3   { color: #FF6600 !important; } /* support */
.highlight-text-html-php .pl-vo   { color: #FFCC00 !important; } /* variable.other */
.highlight-source-c\+\+ .pl-s3   { color: #FFFFFF !important; } /* support */

/* vibrant_ink */
/* https://github.com/codemirror/CodeMirror/blob/master/theme/vibrant-ink.css */
.CodeMirror-selected { background: #35493c !important; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: rgba(53, 73, 60, 0.99) !important; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: rgba(53, 73, 60, 0.99) !important; }
.CodeMirror-gutters { background: #002240 !important; border-right: 1px solid #aaa !important; }
.CodeMirror-guttermarker { color: white !important; }
.CodeMirror-guttermarker-subtle { color: #d0d0d0 !important; }
.CodeMirror-linenumber { color: #d0d0d0 !important; }
.CodeMirror-cursor { border-left: 1px solid white !important; }
.cm-keyword { color: #CC7832 !important; }
.cm-atom { color: #FC0 !important; }
.cm-number { color:  #FFEE98 !important; }
.cm-def { color: #8DA6CE !important; }
.cm-variable-2, .cm-s-vibrant span.cm-tag { color: #FFC66D !important; }
.cm-variable-3, .cm-s-vibrant span.cm-def { color: #FFC66D !important; }
.cm-operator { color: #888 !important; }
.cm-comment { color: gray !important; font-weight: bold !important; }
.cm-string { color:  #A5C25C !important; }
.cm-string-2 { color: red !important; }
.cm-meta { color: #D8FA3C !important; }
.cm-builtin { color: #8DA6CE !important; }
.cm-tag { color: #8DA6CE !important; }
.cm-attribute { color: #8DA6CE !important; }
.cm-header { color: #FF6400 !important; }
.cm-hr { color: #AEAEAE !important; }
.cm-link { color: blue !important; }
.cm-error { border-bottom: 1px solid red !important; }
.CodeMirror-activeline-background { background: #27282E !important; }
.CodeMirror-matchingbracket { outline:1px solid grey !important; color:white !important; }
