/*! Jupyter: Pastel on Dark */
#notebook .input_area, body.api pre, body.api code, body.blog pre, body.blog code,
:matches(#notebook, body.api, body.blog) .highlight,
:matches(#notebook, body.api, body.blog) .highlight pre,
:matches(#notebook, body.api, body.blog) .highlight table { background: #2B2B2B !important; }
:matches(#notebook, body.api, body.blog) .highlight .hll { background: #ffc !important; }
:matches(#notebook, body.api, body.blog) .highlight { background: #2B2B2B !important; color: #E6E1DC !important; }
:matches(#notebook, body.api, body.blog) .highlight .c { color: #555 !important; } /* Comment */
:matches(#notebook, body.api, body.blog) .highlight .err { color: #E6E1DC !important; } /* Error */
:matches(#notebook, body.api, body.blog) .highlight .g { color: #E6E1DC !important; } /* Generic */
:matches(#notebook, body.api, body.blog) .highlight .k { color: #4D74D0 !important; } /* Keyword */
:matches(#notebook, body.api, body.blog) .highlight .l { color: #E6E1DC !important; } /* Literal */
:matches(#notebook, body.api, body.blog) .highlight .n,
:matches(#notebook, body.api, body.blog) .highlight .h { color: #E6E1DC !important; } /* Name */
:matches(#notebook, body.api, body.blog) .highlight .o { color: #E6E1DC !important; } /* Operator */
:matches(#notebook, body.api, body.blog) .highlight .x { color: #E6E1DC !important; } /* Other */
:matches(#notebook, body.api, body.blog) .highlight .p { color: #E6E1DC !important; } /* Punctuation */
:matches(#notebook, body.api, body.blog) .highlight .cm { color: #555 !important; } /* Comment.Multiline */
:matches(#notebook, body.api, body.blog) .highlight .cp { color: #E6E1DC !important; } /* Comment.Preproc */
:matches(#notebook, body.api, body.blog) .highlight .c1 { color: #555 !important; } /* Comment.Single */
:matches(#notebook, body.api, body.blog) .highlight .cs { color: #555 !important; } /* Comment.Special */
:matches(#notebook, body.api, body.blog) .highlight .gd { color: #E6E1DC !important; background: #600 !important; } /* Generic.Deleted */
:matches(#notebook, body.api, body.blog) .highlight .ge { color: #E6E1DC !important; } /* Generic.Emph */
:matches(#notebook, body.api, body.blog) .highlight .gr { color: #FFC66D !important; background: #900 !important; } /* Generic.Error */
:matches(#notebook, body.api, body.blog) .highlight .gh { color: #FFF !important; } /* Generic.Heading */
:matches(#notebook, body.api, body.blog) .highlight .gi { color: #E6E1DC !important; background: #519F50 !important; } /* Generic.Inserted */
:matches(#notebook, body.api, body.blog) .highlight .go { color: #E6E1DC !important; } /* Generic.Output */
:matches(#notebook, body.api, body.blog) .highlight .gp { color: #E6E1DC !important; } /* Generic.Prompt */
:matches(#notebook, body.api, body.blog) .highlight .gs { color: #E6E1DC !important; } /* Generic.Strong */
:matches(#notebook, body.api, body.blog) .highlight .gu { color: #FFF !important; } /* Generic.Subheading */
:matches(#notebook, body.api, body.blog) .highlight .gt { color: #E6E1DC !important; } /* Generic.Traceback */
:matches(#notebook, body.api, body.blog) .highlight .kc { color: #4D74D0 !important; } /* Keyword.Constant */
:matches(#notebook, body.api, body.blog) .highlight .kd { color: #4D74D0 !important; } /* Keyword.Declaration */
:matches(#notebook, body.api, body.blog) .highlight .kn { color: #4D74D0 !important; } /* Keyword.Namespace */
:matches(#notebook, body.api, body.blog) .highlight .kp { color: #4D74D0 !important; } /* Keyword.Pseudo */
:matches(#notebook, body.api, body.blog) .highlight .kr { color: #4D74D0 !important; } /* Keyword.Reserved */
:matches(#notebook, body.api, body.blog) .highlight .kt { color: #C1C144 !important; } /* Keyword.Type */
:matches(#notebook, body.api, body.blog) .highlight .ld { color: #E6E1DC !important; } /* Literal.Date */
:matches(#notebook, body.api, body.blog) .highlight .m { color: #A5C261 !important; } /* Literal.Number */
:matches(#notebook, body.api, body.blog) .highlight .s { color: #AD9361 !important; } /* Literal.String */
:matches(#notebook, body.api, body.blog) .highlight .na { color: #6782D3 !important; } /* Name.Attribute */
:matches(#notebook, body.api, body.blog) .highlight .nb { color: #E6E1DC !important; } /* Name.Builtin */
:matches(#notebook, body.api, body.blog) .highlight .nc { color: #E6E1DC !important; } /* Name.Class */
:matches(#notebook, body.api, body.blog) .highlight .no { color: #A1A1FF !important; } /* Name.Constant */
:matches(#notebook, body.api, body.blog) .highlight .nd { color: #E6E1DC !important; } /* Name.Decorator */
:matches(#notebook, body.api, body.blog) .highlight .ni { color: #47B8D6 !important; } /* Name.Entity */
:matches(#notebook, body.api, body.blog) .highlight .ne { color: #E6E1DC !important; } /* Name.Exception */
:matches(#notebook, body.api, body.blog) .highlight .nf { color: #6782D3 !important; } /* Name.Function */
:matches(#notebook, body.api, body.blog) .highlight .nl { color: #E6E1DC !important; } /* Name.Label */
:matches(#notebook, body.api, body.blog) .highlight .nn { color: #E6E1DC !important; } /* Name.Namespace */
:matches(#notebook, body.api, body.blog) .highlight .nx { color: #E6E1DC !important; } /* Name.Other */
:matches(#notebook, body.api, body.blog) .highlight .py { color: #E6E1DC !important; } /* Name.Property */
:matches(#notebook, body.api, body.blog) .highlight .nt { color: #4D74D0 !important; } /* Name.Tag */
:matches(#notebook, body.api, body.blog) .highlight .nv { color: #C1C144 !important; } /* Name.Variable */
:matches(#notebook, body.api, body.blog) .highlight .ow { color: #E6E1DC !important; } /* Operator.Word */
:matches(#notebook, body.api, body.blog) .highlight .w { color: #E6E1DC !important; } /* Text.Whitespace */
:matches(#notebook, body.api, body.blog) .highlight .mf { color: #A5C261 !important; } /* Literal.Number.Float */
:matches(#notebook, body.api, body.blog) .highlight .mh { color: #A5C261 !important; } /* Literal.Number.Hex */
:matches(#notebook, body.api, body.blog) .highlight .mi { color: #A5C261 !important; } /* Literal.Number.Integer */
:matches(#notebook, body.api, body.blog) .highlight .mo { color: #A5C261 !important; } /* Literal.Number.Oct */
:matches(#notebook, body.api, body.blog) .highlight .sb { color: #AD9361 !important; } /* Literal.String.Backtick */
:matches(#notebook, body.api, body.blog) .highlight .sc { color: #AD9361 !important; } /* Literal.String.Char */
:matches(#notebook, body.api, body.blog) .highlight .sd { color: #AD9361 !important; } /* Literal.String.Doc */
:matches(#notebook, body.api, body.blog) .highlight .s2 { color: #AD9361 !important; } /* Literal.String.Double */
:matches(#notebook, body.api, body.blog) .highlight .se { color: #AD9361 !important; } /* Literal.String.Escape */
:matches(#notebook, body.api, body.blog) .highlight .sh { color: #AD9361 !important; } /* Literal.String.Heredoc */
:matches(#notebook, body.api, body.blog) .highlight .si { color: #AD9361 !important; } /* Literal.String.Interpol */
:matches(#notebook, body.api, body.blog) .highlight .sx { color: #AD9361 !important; } /* Literal.String.Other */
:matches(#notebook, body.api, body.blog) .highlight .sr { color: #AD9361 !important; } /* Literal.String.Regex */
:matches(#notebook, body.api, body.blog) .highlight .s1 { color: #AD9361 !important; } /* Literal.String.Single */
:matches(#notebook, body.api, body.blog) .highlight .ss { color: #AD9361 !important; } /* Literal.String.Symbol */
:matches(#notebook, body.api, body.blog) .highlight .bp { color: #E6E1DC !important; } /* Name.Builtin.Pseudo */
:matches(#notebook, body.api, body.blog) .highlight .vc { color: #C1C144 !important; } /* Name.Variable.Class */
:matches(#notebook, body.api, body.blog) .highlight .vg { color: #C1C144 !important; } /* Name.Variable.Global */
:matches(#notebook, body.api, body.blog) .highlight .vi { color: #C1C144 !important; } /* Name.Variable.Instance */
:matches(#notebook, body.api, body.blog) .highlight .il { color: #A5C261 !important; } /* Literal.Number.Integer.Long */
