/*! GitHub: Template */
/* based on Twilight theme */
.CodeMirror, .highlight { background: #141414 !important; color: #ccc !important; }
.blob-code, .blob-code-inner { color: #ccc !important; }
/* stylelint-disable selector-list-comma-space-before */
/* comment, punctuation.definition.comment, string.comment */
.pl-c { color: #959da5; }
/* constant, entity.name.constant, variable.other.constant, variable.language,
support, meta.property-name, support.constant, support.variable,
meta.module-reference, markup.quote, markup.raw, meta.diff.header */
/* string variable */
.pl-c1, .pl-s .pl-v { color: #c8e1ff; }
/* entity */
/* entity.name */
.pl-e, .pl-en { color: #b392f0; }
/* variable.parameter.function, storage.modifier.package,
storage.modifier.import, storage.type.java, variable.other */
/* string source */
.pl-smi, .pl-s .pl-s1 { color: #f6f8fa; }
/* entity.name.tag */
.pl-ent { color: #7bcc72; }
/* keyword, storage, storage.type */
.pl-k { color: #ea4a5a; }
/* string */
/* punctuation.definition.string, source.regexp, string.regexp.character-class */
/* string punctuation.section.embedded source */
/* string.regexp */
/* string.regexp constant.character.escape */
/* string.regexp source.ruby.embedded */
/* string.regexp string.regexp.arbitrary-repitition */
.pl-s, .pl-pds, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sre,
.pl-sr .pl-sra { color: #79b8ff; }
/* variable */
/* markup.list, sublimelinter.mark.warning */
.pl-v, .pl-ml { color: #fb8532; }
/* invalid.broken, invalid.deprecated, invalid.unimplemented, message.error,
brackethighlighter.unmatched, sublimelinter.mark.error */
.pl-bu { color: #d73a49; }
/* invalid.illegal */
.pl-ii { color: #fafbfc; background-color: #d73a49; }
/* carriage-return */
.pl-c2 { color: #fafbfc; background-color: #d73a49; }
/* carriage-return */
.pl-c2::before { content: "^M"; }
/* string.regexp constant.character.escape */
.pl-sr .pl-cce { font-weight: bold; color: #7bcc72; }
/* markup.heading */
/* markup.heading entity.name */
/* meta.separator */
.pl-mh, .pl-mh .pl-en, .pl-ms { font-weight: bold; color: #0366d6; }
/* markup.italic */
.pl-mi { font-style: italic; color: #f6f8fa; }
/* markup.bold */
.pl-mb { font-weight: bold; color: #f6f8fa; }
/* markup.deleted, meta.diff.header.from-file, punctuation.definition.deleted */
.pl-md { color: #bd2c00; background-color: #200; }
/* markup.inserted, meta.diff.header.to-file, punctuation.definition.inserted */
.pl-mi1 { color: #55a532; background-color: #020; }
/* markup.changed, punctuation.definition.changed */
.pl-mc { color: #b08800; }
/* markup.ignored, markup.untracked */
.pl-mi2 { color: #2f363d; background-color: #959da5; }
/* meta.diff.range */
.pl-mdr { font-weight: bold; color: #b392f0; }
/* meta.output */
.pl-mo { color: #0366d6; }
/* brackethighlighter.tag, brackethighlighter.curly, brackethighlighter.round,
brackethighlighter.square, brackethighlighter.angle, brackethighlighter.quote */
.pl-ba { color: #ffeef0; }
/* sublimelinter.gutter-mark */
.pl-sg { color: #6a737d; }
/* constant.other.reference.link, string.other.link */
.pl-corl { text-decoration: underline; color: #79b8ff; }
