/*! Chaos */
.highlight, .ace_editor {
  background-color: #161616;
  color: #E6E1DC;
}

.pl-c                 { color: #555    !important; font-style: italic !important; } /* comment */
.pl-c1                { color: #FDC251 !important; } /* constant */
.pl-e                 { color: #997744 !important; } /* entity */
.pl-en                { color: #997744 !important; } /* entity.name */
.pl-ent               { color: #997744 !important; } /* entity.name.tag */
.pl-k                 { color: #00698F !important; } /* keyword */
.pl-mb                { color: #1EDAFB !important; font-weight: bold !important; } /* markup.bold */
.pl-mdh               { color: #00698F !important; } /* meta.diff.header */
.pl-mdr               { color: #00698F !important; } /* meta.diff.range */
.pl-mh                { color: #FDC251 !important; } /* markup.heading */
.pl-mh .pl-en         { color: #FDC251 !important; font-weight: bold !important; } /* markup.heading entity.name */
.pl-mi                { color: #00698F !important; font-style: italic !important; } /* markup.italic */
.pl-ml                { color: #00698F !important; } /* markup.list */
.pl-mm                { color: #00698F !important; } /* meta.module-reference */
.pl-mo                { color: #00698F !important; } /* meta.output */
.pl-mp                { color: #00698F !important; } /* meta.property-name */
.pl-mq                { color: #555    !important; } /* markup.quote */
.pl-mr                { color: #00698F !important; } /* meta.require */
.pl-ms                { color: #00698F !important; } /* meta.selector */
.pl-pds               { color: #58C554 !important; } /* punctuation.definition.string */
.pl-s                 { color: #997744 !important; } /* storage */
.pl-s1                { color: #58C554 !important; } /* string */
.pl-s1 .pl-pse .pl-s2 { color: #58C554 !important; } /* string punctuation.section.embedded source */
.pl-s1 .pl-s2         { color: #1EDAFB !important; } /* string source */
.pl-s1 .pl-v          { color: #00698F !important; } /* string variable */
.pl-s3                { color: #00698F !important; } /* support */
.pl-sc                { color: #999999 !important; } /* support.class */
.pl-smi               { color: #BE53E6 !important; } /* storage.modifier.import */
.pl-smp               { color: #BE53E6 !important; } /* storage.modifier.package */
.pl-sr                { color: #FF308F !important; } /* string.regexp */
.pl-sr .pl-cce        { color: #FDC251 !important; } /* constant.character.escape */
.pl-sr .pl-sra        { color: #FF308F !important; } /* string.regexp string.regexp.arbitrary-repitition */
.pl-sr .pl-sre        { color: #FF308F !important; } /* string.regexp source.ruby.embedded */
.pl-src               { color: #FF308F !important; } /* string.regexp.character-class */
.pl-st                { color: #E6E1DC !important; } /* support.type */
.pl-stj               { color: #BE53E6 !important; } /* storage.type.java */
.pl-sv                { color: #1EDAFB !important; } /* support.variable */
.pl-v                 { color: #997744 !important; } /* variable */
.pl-vo                { color: #BE53E6 !important; } /* variable.other */
.pl-vpf               { color: #997744 !important; } /* variable.parameter.function */

/* Diff - Example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
.pl-mi1               { color: #FFFFFF !important; background: rgba(0,64,0,.5) !important; } /* markup.inserted */
.pl-mdht              { color: #FFFFFF !important; background: rgba(0,64,0,.5) !important; } /* meta.diff.header.to-file */
.pl-md                { color: #FFFFFF !important; background: #990000 !important; } /* markup.deleted */
.pl-mdhf              { color: #FFFFFF !important; background: #990000 !important; } /* meta.diff.header.from-file */
.pl-id                { color: #FFFFFF !important; background: #990000 !important; } /* invalid.deprecated */
.pl-ii                { color: #FFFFFF !important; background: #990000 !important; } /* invalid.illegal */

/* chaos */
.ace_editor .ace_gutter {
  background: #141414;
  color: #595959;
  border-right: 1px solid #282828;
}
.ace_editor .ace_gutter-cell.ace_warning {
  background-image: none;
  background: #FC0;
  border-left: none;
  padding-left: 0;
  color: #000;
}
.ace_editor .ace_gutter-cell.ace_error {
  background-position: -6px center;
  background-image: none;
  background: #F10;
  border-left: none;
  padding-left: 0;
  color: #000;
}
.ace_editor .ace_print-margin {
  border-left: 1px solid #555;
  right: 0;
  background: #1D1D1D;
}

.ace_editor .ace_cursor {
  border-left: 2px solid #FFFFFF;
}
.ace_editor .ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #FFFFFF;
}
.ace_editor .ace_marker-layer .ace_selection {
  background: #494836;
}
.ace_editor .ace_marker-layer .ace_step {
  background: rgb(198, 219, 174);
}
.ace_editor .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #FCE94F;
}
.ace_editor .ace_marker-layer .ace_active-line {
  background: #333;
}
.ace_editor .ace_gutter-active-line {
  background-color: #222;
}
.ace_editor .ace_invisible {
  color: #404040;
}
.ace_editor .ace_keyword {
  color:#00698F;
}
.ace_editor .ace_keyword.ace_operator {
  color:#FF308F;
}
.ace_editor .ace_constant {
  color:#1EDAFB;
}
.ace_editor .ace_constant.ace_language {
  color:#FDC251;
}
.ace_editor .ace_constant.ace_library {
  color:#8DFF0A;
}
.ace_editor .ace_constant.ace_numeric {
  color:#58C554;
}
.ace_editor .ace_invalid {
  color:#FFFFFF;
  background-color:#990000;
}
.ace_editor .ace_invalid.ace_deprecated {
  color:#FFFFFF;
  background-color:#990000;
}
.ace_editor .ace_support {
  color: #999;
}
.ace_editor .ace_support.ace_function {
  color:#00AEEF;
}
.ace_editor .ace_function {
  color:#00AEEF;
}
.ace_editor .ace_string {
  color:#58C554;
}
.ace_editor .ace_comment {
  color:#555;
  font-style:italic;
  padding-bottom: 0px;
}
.ace_editor .ace_variable {
  color:#997744;
}
.ace_editor .ace_meta.ace_tag {
  color:#BE53E6;
}
.ace_editor .ace_entity.ace_other.ace_attribute-name {
  color:#FFFF89;
}
.ace_editor .ace_markup.ace_underline {
  text-decoration: underline;
}
.ace_editor .ace_fold-widget {
  text-align: center;
}

.ace_editor .ace_fold-widget:hover {
  color: #777;
}

.ace_editor .ace_fold-widget.ace_start,
.ace_editor .ace_fold-widget.ace_end,
.ace_editor .ace_fold-widget.ace_closed{
  background: none;
  border: none;
  box-shadow: none;
}

.ace_editor .ace_fold-widget.ace_start:after {
  content: '\25be'
}

.ace_editor .ace_fold-widget.ace_end:after {
  content: '\25b4'
}

.ace_editor .ace_fold-widget.ace_closed:after {
  content: '\2023'
}

.ace_editor .ace_indent-guide {
  border-right:1px dotted #333;
  margin-right:-1px;
}

.ace_editor .ace_fold {
  background: #222;
  border-radius: 3px;
  color: #7AF;
  border: none;
}
.ace_editor .ace_fold:hover {
  background: #CCC;
  color: #000;
}
