/*! chaos */
.ace_editor .ace_gutter {
  background: #141414;
  color: #595959;
  border-right: 1px solid #282828;
}
.ace_editor .ace_gutter-cell.ace_warning {
  background-image: none;
  background: #FC0;
  border-left: none;
  padding-left: 0;
  color: #000;
}
.ace_editor .ace_gutter-cell.ace_error {
  background-position: -6px center;
  background-image: none;
  background: #F10;
  border-left: none;
  padding-left: 0;
  color: #000;
}
.ace_editor .ace_print-margin {
  border-left: 1px solid #555;
  right: 0;
  background: #1D1D1D;
}
.ace_editor {
  background-color: #161616;
  color: #E6E1DC;
}

.ace_editor .ace_cursor {
  border-left: 2px solid #FFFFFF;
}
.ace_editor .ace_cursor.ace_overwrite {
  border-left: 0px;
  border-bottom: 1px solid #FFFFFF;
}
.ace_editor .ace_marker-layer .ace_selection {
  background: #494836;
}
.ace_editor .ace_marker-layer .ace_step {
  background: rgb(198, 219, 174);
}
.ace_editor .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #FCE94F;
}
.ace_editor .ace_marker-layer .ace_active-line {
  background: #333;
}
.ace_editor .ace_gutter-active-line {
  background-color: #222;
}
.ace_editor .ace_invisible {
  color: #404040;
}
.ace_editor .ace_keyword {
  color:#00698F;
}
.ace_editor .ace_keyword.ace_operator {
  color:#FF308F;
}
.ace_editor .ace_constant {
  color:#1EDAFB;
}
.ace_editor .ace_constant.ace_language {
  color:#FDC251;
}
.ace_editor .ace_constant.ace_library {
  color:#8DFF0A;
}
.ace_editor .ace_constant.ace_numeric {
  color:#58C554;
}
.ace_editor .ace_invalid {
  color:#FFFFFF;
  background-color:#990000;
}
.ace_editor .ace_invalid.ace_deprecated {
  color:#FFFFFF;
  background-color:#990000;
}
.ace_editor .ace_support {
  color: #999;
}
.ace_editor .ace_support.ace_function {
  color:#00AEEF;
}
.ace_editor .ace_function {
  color:#00AEEF;
}
.ace_editor .ace_string {
  color:#58C554;
}
.ace_editor .ace_comment {
  color:#555;
  font-style:italic;
  padding-bottom: 0px;
}
.ace_editor .ace_variable {
  color:#997744;
}
.ace_editor .ace_meta.ace_tag {
  color:#BE53E6;
}
.ace_editor .ace_entity.ace_other.ace_attribute-name {
  color:#FFFF89;
}
.ace_editor .ace_markup.ace_underline {
  text-decoration: underline;
}
.ace_editor .ace_fold-widget {
  text-align: center;
}

.ace_editor .ace_fold-widget:hover {
  color: #777;
}

.ace_editor .ace_fold-widget.ace_start,
.ace_editor .ace_fold-widget.ace_end,
.ace_editor .ace_fold-widget.ace_closed{
  background: none;
  border: none;
  box-shadow: none;
}

.ace_editor .ace_fold-widget.ace_start:after {
  content: '\25be'
}

.ace_editor .ace_fold-widget.ace_end:after {
  content: '\25b4'
}

.ace_editor .ace_fold-widget.ace_closed:after {
  content: '\2023'
}

.ace_editor .ace_indent-guide {
  border-right:1px dotted #333;
  margin-right:-1px;
}

.ace_editor .ace_fold {
  background: #222;
  border-radius: 3px;
  color: #7AF;
  border: none;
}
.ace_editor .ace_fold:hover {
  background: #CCC;
  color: #000;
}
