/*! Cobalt */
.highlight, .ace_editor {
  background-color: #002240 !important;
  color: #FFFFFF !important;
}

.pl-c                 { color: #0088FF !important; font-style: italic !important; } /* comment */
.pl-c1                { color: #FF628C !important; } /* constant */
.pl-e                 { color: #FF9D00 !important; } /* entity */
.pl-en                { color: #FFFFFF !important; } /* entity.name */
.pl-ent               { color: #FFDD00 !important; } /* entity.name.tag */
.pl-k                 { color: #FF9D00 !important; } /* keyword */
.pl-mb                { color: #FF628C !important; font-weight: bold !important; } /* markup.bold */
.pl-mdh               { color: #FF9D00 !important; } /* meta.diff.header */
.pl-mdr               { color: #FF9D00 !important; } /* meta.diff.range */
.pl-mh                { color: #EB939A !important; } /* markup.heading */
.pl-mh .pl-en         { color: #EB939A !important; font-weight: bold !important; } /* markup.heading entity.name */
.pl-mi                { color: #FF9D00 !important; font-style: italic !important; } /* markup.italic */
.pl-ml                { color: #FF9D00 !important; } /* markup.list */
.pl-mm                { color: #FF9D00 !important; } /* meta.module-reference */
.pl-mo                { color: #FF9D00 !important; } /* meta.output */
.pl-mp                { color: #FF9D00 !important; } /* meta.property-name */
.pl-mq                { color: #0088FF !important; } /* markup.quote */
.pl-mr                { color: #FF9D00 !important; } /* meta.require */
.pl-ms                { color: #FF9D00 !important; } /* meta.selector */
.pl-pds               { color: #3AD900 !important; } /* punctuation.definition.string */
.pl-s                 { color: #FF9D00 !important; } /* storage */
.pl-s1                { color: #3AD900 !important; } /* string */
.pl-s1 .pl-pse .pl-s2 { color: #3AD900 !important; } /* string punctuation.section.embedded source */
.pl-s1 .pl-s2         { color: #CCCCCC !important; } /* string source */
.pl-s1 .pl-v          { color: #FF9D00 !important; } /* string variable */
.pl-s3                { color: #FFB054 !important; } /* support */
.pl-sc                { color: #FFB054 !important; } /* support.class */
.pl-smi               { color: #CCCCCC !important; } /* storage.modifier.import */
.pl-smp               { color: #CCCCCC !important; } /* storage.modifier.package */
.pl-sr                { color: #80FFC2 !important; } /* string.regexp */
.pl-sr .pl-cce        { color: #EB939A !important; } /* constant.character.escape */
.pl-sr .pl-sra        { color: #80FFC2 !important; } /* string.regexp string.regexp.arbitrary-repitition */
.pl-sr .pl-sre        { color: #80FFC2 !important; } /* string.regexp source.ruby.embedded */
.pl-src               { color: #80FFC2 !important; } /* string.regexp.character-class */
.pl-st                { color: #FF9D00 !important; } /* support.type */
.pl-stj               { color: #CCCCCC !important; } /* storage.type.java */
.pl-sv                { color: #FF628C !important; } /* support.variable */
.pl-v                 { color: #FFDD00 !important; } /* variable */
.pl-vo                { color: #CCCCCC !important; } /* variable.other */
.pl-vpf               { color: #CCCCCC !important; } /* variable.parameter.function */

/* Diff - Example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
.pl-mi1               { color: #F8F8F8 !important; background: rgba(0,64,0,.5) !important; } /* markup.inserted */
.pl-mdht              { color: #F8F8F8 !important; background: rgba(0,64,0,.5) !important; } /* meta.diff.header.to-file */
.pl-md                { color: #F8F8F8 !important; background: #800F00 !important; } /* markup.deleted */
.pl-mdhf              { color: #F8F8F8 !important; background: #800F00 !important; } /* meta.diff.header.from-file */
.pl-id                { color: #F8F8F8 !important; background: #800F00 !important; } /* invalid.deprecated */
.pl-ii                { color: #F8F8F8 !important; background: #800F00 !important; } /* invalid.illegal */

/* language tweaks */
.highlight-js .pl-st  { color: #FFEE80 !important; } /* support.type */
.highlight-js .pl-s   { color: #FFDD00 !important; } /* storage */
.highlight-css .pl-s3 { color: #80FFBB !important; } /* support */
.highlight-html .pl-ent { color: #9EFFFF !important; } /* entity.name.tag */

/* cobalt */
.ace_editor .ace_gutter {
  background: #011e3a !important;
  color: rgb(128,145,160) !important;
}

.ace_editor .ace_print-margin {
  width: 1px !important;
  background: #011e3a !important;
}

.ace_editor .ace_cursor {
  color: #FFFFFF !important;
}

.ace_editor .ace_marker-layer .ace_selection {
  background: rgba(179, 101, 57, 0.75) !important;
}

.ace_editor.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #002240 !important;
  border-radius: 2px !important;
}

.ace_editor .ace_marker-layer .ace_step {
  background: rgb(127, 111, 19) !important;
}

.ace_editor .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
}

.ace_editor .ace_marker-layer .ace_active-line {
  background: rgba(0, 0, 0, 0.35) !important;
}

.ace_editor .ace_gutter-active-line {
  background-color: rgba(0, 0, 0, 0.35) !important;
}

.ace_editor .ace_marker-layer .ace_selected-word {
  border: 1px solid rgba(179, 101, 57, 0.75) !important;
}

.ace_editor .ace_invisible {
  color: rgba(255, 255, 255, 0.15) !important;
}

.ace_editor .ace_keyword,
.ace_editor .ace_meta {
  color: #FF9D00 !important;
}

.ace_editor .ace_constant,
.ace_editor .ace_constant.ace_character,
.ace_editor .ace_constant.ace_character.ace_escape,
.ace_editor .ace_constant.ace_other {
  color: #FF628C !important;
}

.ace_editor .ace_invalid {
  color: #F8F8F8 !important;
  background-color: #800F00 !important;
}

.ace_editor .ace_support {
  color: #80FFBB !important;
}

.ace_editor .ace_support.ace_constant {
  color: #EB939A !important;
}

.ace_editor .ace_fold {
  background-color: #FF9D00 !important;
  border-color: #FFFFFF !important;
}

.ace_editor .ace_support.ace_function {
  color: #FFB054 !important;
}

.ace_editor .ace_storage {
  color: #FFEE80 !important;
}

.ace_editor .ace_entity {
  color: #FFDD00 !important;
}

.ace_editor .ace_string {
  color: #3AD900 !important;
}

.ace_editor .ace_string.ace_regexp {
  color: #80FFC2 !important;
}

.ace_editor .ace_comment {
  font-style: italic !important;
  color: #0088FF !important;
}

.ace_editor .ace_heading,
.ace_editor .ace_markup.ace_heading {
  color: #C8E4FD !important;
  background-color: #001221 !important;
}

.ace_editor .ace_list,
.ace_editor .ace_markup.ace_list {
  background-color: #130D26 !important;
}

.ace_editor .ace_variable {
  color: #CCCCCC !important;
}

.ace_editor .ace_variable.ace_language {
  color: #FF80E1 !important;
}

.ace_editor .ace_meta.ace_tag {
  color: #9EFFFF !important;
}

.ace_editor .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYHCLSvkPAAP3AgSDTRd4AAAAAElFTkSuQmCC) right repeat-y !important;
}