/*! cobalt */
.ace_editor .ace_gutter {
  background: #011e3a !important;
  color: rgb(128,145,160) !important;
}

.ace_editor .ace_print-margin {
  width: 1px !important;
  background: #011e3a !important;
}

.ace_editor {
  background-color: #002240 !important;
  color: #FFFFFF !important;
}

.ace_editor .ace_cursor {
  color: #FFFFFF !important;
}

.ace_editor .ace_marker-layer .ace_selection {
  background: rgba(179, 101, 57, 0.75) !important;
}

.ace_editor.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #002240 !important;
  border-radius: 2px !important;
}

.ace_editor .ace_marker-layer .ace_step {
  background: rgb(127, 111, 19) !important;
}

.ace_editor .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
}

.ace_editor .ace_marker-layer .ace_active-line {
  background: rgba(0, 0, 0, 0.35) !important;
}

.ace_editor .ace_gutter-active-line {
  background-color: rgba(0, 0, 0, 0.35) !important;
}

.ace_editor .ace_marker-layer .ace_selected-word {
  border: 1px solid rgba(179, 101, 57, 0.75) !important;
}

.ace_editor .ace_invisible {
  color: rgba(255, 255, 255, 0.15) !important;
}

.ace_editor .ace_keyword,
.ace_editor .ace_meta {
  color: #FF9D00 !important;
}

.ace_editor .ace_constant,
.ace_editor .ace_constant.ace_character,
.ace_editor .ace_constant.ace_character.ace_escape,
.ace_editor .ace_constant.ace_other {
  color: #FF628C !important;
}

.ace_editor .ace_invalid {
  color: #F8F8F8 !important;
  background-color: #800F00 !important;
}

.ace_editor .ace_support {
  color: #80FFBB !important;
}

.ace_editor .ace_support.ace_constant {
  color: #EB939A !important;
}

.ace_editor .ace_fold {
  background-color: #FF9D00 !important;
  border-color: #FFFFFF !important;
}

.ace_editor .ace_support.ace_function {
  color: #FFB054 !important;
}

.ace_editor .ace_storage {
  color: #FFEE80 !important;
}

.ace_editor .ace_entity {
  color: #FFDD00 !important;
}

.ace_editor .ace_string {
  color: #3AD900 !important;
}

.ace_editor .ace_string.ace_regexp {
  color: #80FFC2 !important;
}

.ace_editor .ace_comment {
  font-style: italic !important;
  color: #0088FF !important;
}

.ace_editor .ace_heading,
.ace_editor .ace_markup.ace_heading {
  color: #C8E4FD !important;
  background-color: #001221 !important;
}

.ace_editor .ace_list,
.ace_editor .ace_markup.ace_list {
  background-color: #130D26 !important;
}

.ace_editor .ace_variable {
  color: #CCCCCC !important;
}

.ace_editor .ace_variable.ace_language {
  color: #FF80E1 !important;
}

.ace_editor .ace_meta.ace_tag {
  color: #9EFFFF !important;
}

.ace_editor .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYHCLSvkPAAP3AgSDTRd4AAAAAElFTkSuQmCC) right repeat-y !important;
}