/*! Idle Fingers */
.highlight, .ace_editor {
  background-color: #323232 !important;
  color: #FFFFFF !important;
}

.pl-c            { color: #BC9458 !important; font-style: italic !important; } /* comment */
.pl-c1           { color: #6C99BB !important; } /* constant */
.pl-cce          { color: #CC7833 !important; } /* constant.character.escape */
.pl-cn           { color: #CC7833 !important; } /* constant.numeric */
.pl-coc          { color: #CC7833 !important; } /* constant.other.color */
.pl-cos          { color: #A5C261 !important; } /* constant.other.symbol */
.pl-e            { color: #FFC66D !important; } /* entity */
.pl-ef           { color: #B83426 !important; } /* entity.function */
.pl-en           { color: #FFC66D !important; } /* entity.name */
.pl-enc          { color: #CC7833 !important; } /* entity.name.class */
.pl-enf          { color: #B83426 !important; } /* entity.name.function */
.pl-enm          { color: #B83426 !important; } /* entity.name.method-name */
.pl-ens          { color: #CC7833 !important; } /* entity.name.section */
.pl-ent          { color: #FFE5BB !important; } /* entity.name.tag */
.pl-entc         { color: #B83426 !important; } /* entity.name.type.class */
.pl-enti         { color: #B83426 !important; font-weight: bold !important; } /* entity.name.type.instance */
.pl-entm         { color: #B83426 !important; } /* entity.name.type.module */
.pl-eoa          { color: #FFE5BB !important; } /* entity.other.attribute-name */
.pl-eoac         { color: #B83426 !important; } /* entity.other.attribute-name.class */
.pl-eoac .pl-pde { color: #B83426 !important; } /* punctuation.definition.entity */
.pl-eoai         { color: #FFE5BB !important; } /* entity.other.attribute-name.id */
.pl-eoai .pl-pde { color: #FFE5BB !important; } /* punctuation.definition.entity */
.pl-eoi          { color: #B83426 !important; } /* entity.other.inherited-class */
.pl-k            { color: #CC7833 !important; } /* keyword */
.pl-ko           { color: #FFE5BB !important; } /* keyword.operator */
.pl-kolp         { color: #FFE5BB !important; } /* keyword.operator.logical.python */
.pl-kos          { color: #CC7833 !important; } /* keyword.other.special-method */
.pl-kou          { color: #CC7833 !important; } /* keyword.other.unit */
.pl-mai .pl-sf   { color: #B83426 !important; } /* support.function */
.pl-mb           { color: #A5C261 !important; font-weight: bold !important; } /* markup.bold */
.pl-mc           { color: #FFE5BB !important; } /* markup.changed */
.pl-mh .pl-pdh   { color: #CC7833 !important; } /* markup.heading punctuation.definition.heading */
.pl-mi           { color: #FFE5BB !important; font-style: italic !important; } /* markup.italic */
.pl-ml           { color: #A5C261 !important; } /* markup.list */
.pl-mm           { color: #B83426 !important; } /* meta.module-reference */
.pl-mp           { color: #CC7833 !important; } /* meta.property-name */
.pl-mp1 .pl-sf   { color: #CC7833 !important; } /* meta.property-value support.function */
.pl-mq           { color: #CC7833 !important; } /* markup.quote */
.pl-mr           { color: #FFE5BB !important; } /* meta.require */
.pl-ms           { color: #FFE5BB !important; } /* meta.selector */
.pl-pdb          { color: #A5C261 !important; font-weight: bold !important; } /* punctuation.definition.bold */
.pl-pdc          { color: #BC9458 !important; font-style: italic !important; } /* punctuation.definition.comment */
.pl-pdc1         { color: #6C99BB !important; } /* punctuation.definition.constant */
.pl-pde          { color: #CC7833 !important; } /* punctuation.definition.entity */
.pl-pdi          { color: #FFE5BB !important; font-style: italic !important; } /* punctuation.definition.italic */
.pl-pds          { color: #A5C261 !important; } /* punctuation.definition.string */
.pl-pdv          { color: #B83426 !important; } /* punctuation.definition.variable */
.pl-pse          { color: #CC7833 !important; } /* punctuation.section.embedded */
.pl-pse .pl-s2   { color: #CC7833 !important; } /* punctuation.section.embedded source */
.pl-s            { color: #CC7833 !important; } /* storage */
.pl-s1           { color: #A5C261 !important; } /* string */
.pl-s2           { color: #FFFFFF !important; } /* source */
.pl-mp .pl-s3    { color: #CC7833 !important; } /* support */
.pl-s3           { color: #FFE5BB !important; } /* support */
.pl-sc           { color: #FFC66D !important; } /* support.class */
.pl-scp          { color: #6C99BB !important; } /* support.constant.property-value */
.pl-sf           { color: #FFC66D !important; } /* support.function */
.pl-smc          { color: #B83426 !important; } /* storage.modifier.c */
.pl-smi          { color: #FFC66D !important; } /* storage.modifier.import */
.pl-smp          { color: #FFC66D !important; } /* storage.modifier.package */
.pl-sok          { color: #FFE5BB !important; } /* support.other.keyword */
.pl-sol          { color: #A5C261 !important; } /* string.other.link */
.pl-som          { color: #B83426 !important; } /* support.other.module */
.pl-sr           { color: #B83426 !important; } /* string.regexp */
.pl-sra          { color: #CCCC33 !important; } /* string.regexp string.regexp.arbitrary-repitition */
.pl-src          { color: #CCCC33 !important; } /* string.regexp.character-class */
.pl-sre          { color: #CCCC33 !important; } /* string.regexp source.ruby.embedded */
.pl-st           { color: #CC7833 !important; } /* support.type */
.pl-stj          { color: #FFFFFF !important; } /* storage.type.java */
.pl-stp          { color: #CC7833 !important; } /* support.type.property-name */
.pl-sv           { color: #CC7833 !important; } /* support.variable */
.pl-v            { color: #CC7833 !important; } /* variable */
.pl-vi           { color: #CC7833 !important; } /* variable.interpolation */
.pl-vo           { color: #FFFFFF !important; } /* variable.other */
.pl-vpf          { color: #CC7833 !important; } /* variable.parameter.function */
/* Diff - Example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
.pl-mi1          { color: #A5C261 !important; background: rgba(0,64,0,.5) !important; } /* markup.inserted */
.pl-mdht         { color: #A5C261 !important; background: rgba(0,64,0,.5) !important; } /* meta.diff.header.to-file */
.pl-md           { color: #B83426 !important; background: rgba(64,0,0,.5) !important; } /* markup.deleted */
.pl-mdhf         { color: #B83426 !important; background: rgba(64,0,0,.5) !important; } /* meta.diff.header.from-file */
.pl-mdr          { color: #CC7833 !important; font-weight: normal !important;} /* meta.diff.range */
.pl-mdh          { color: #FFC66D !important; font-weight: normal !important;} /* meta.diff.header */
.pl-mdi          { color: #FFC66D !important; font-weight: normal !important;} /* meta.diff.index */
/* TODO: Fix unstyled classes below */
.pl-ib           { background-color: #B83426 !important; } /* invalid.broken */
.pl-id           { background-color: #B83426 !important; color: #fff !important; } /* invalid.deprecated */
.pl-ii           { background-color: #B83426 !important; color: #fff !important; } /* invalid.illegal */
.pl-iu           { background-color: #B83426 !important; } /* invalid.unimplemented */
.pl-mo           { color: #FFC66D !important; } /* meta.output */
.pl-mri          { color: #CC7833 !important; } /* markup.raw.inline */
.pl-ms1          { background-color: #FFC66D !important; } /* meta.separator */
.pl-va           { color: #CC7833 !important; } /* variable.assignment */
.pl-vpu          { color: #CC7833 !important; } /* variable.parameter.url */
.pl-entl         { color: #FFC66D !important; } /* entity.name.tag.label */

.highlight-html .pl-ent { color: #CC7833 !important; } /* entity.name.tag */

/* idle_fingers */
.ace_editor .ace_gutter {
  background: #3b3b3b !important;
  color: rgb(153,153,153) !important;
}

.ace_editor .ace_print-margin {
  width: 1px !important;
  background: #3b3b3b !important;
}

.ace_editor .ace_cursor {
  color: #91FF00 !important;
}

.ace_editor .ace_marker-layer .ace_selection {
  background: rgba(90, 100, 126, 0.88) !important;
}

.ace_editor.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #323232 !important;
  border-radius: 2px !important;
}

.ace_editor .ace_marker-layer .ace_step {
  background: rgb(102, 82, 0) !important;
}

.ace_editor .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px !important;
  border: 1px solid #404040 !important;
}

.ace_editor .ace_marker-layer .ace_active-line {
  background: #353637 !important;
}

.ace_editor .ace_gutter-active-line {
  background-color: #353637 !important;
}

.ace_editor .ace_marker-layer .ace_selected-word {
  border: 1px solid rgba(90, 100, 126, 0.88) !important;
}

.ace_editor .ace_invisible {
  color: #404040 !important;
}

.ace_editor .ace_keyword,
.ace_editor .ace_meta {
  color: #CC7833 !important;
}

.ace_editor .ace_constant,
.ace_editor .ace_constant.ace_character,
.ace_editor .ace_constant.ace_character.ace_escape,
.ace_editor .ace_constant.ace_other,
.ace_editor .ace_support.ace_constant {
  color: #6C99BB !important;
}

.ace_editor .ace_invalid {
  color: #FFFFFF !important;
  background-color: #FF0000 !important;
}

.ace_editor .ace_fold {
  background-color: #CC7833 !important;
  border-color: #FFFFFF !important;
}

.ace_editor .ace_support.ace_function {
  color: #B83426 !important;
}

.ace_editor .ace_variable.ace_parameter {
  font-style: italic !important;
}

.ace_editor .ace_string {
  color: #A5C261 !important;
}

.ace_editor .ace_string.ace_regexp {
  color: #CCCC33 !important;
}

.ace_editor .ace_comment {
  font-style: italic !important;
  color: #BC9458 !important;
}

.ace_editor .ace_meta.ace_tag {
  color: #FFE5BB !important;
}

.ace_editor .ace_entity.ace_name {
  color: #FFC66D !important;
}

.ace_editor .ace_collab.ace_user1 {
  color: #323232 !important;
  background-color: #FFF980 !important;
}

.ace_editor .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWMwMjLyZYiPj/8PAAreAwAI1+g0AAAAAElFTkSuQmCC) right repeat-y !important;
}

/* Jupyter Notebooks */
/*! idle fingers syntax highlighting */
#notebook .highlight table { background:#323232 !important; }
#notebook .highlight .hll { background: #ffffcc !important; }
#notebook .highlight  { background: #323232 !important; color: #ffffff !important; }
#notebook .highlight .c { color: #bc9458 !important; font-style: italic !important; } /* Comment */
#notebook .highlight .err { color: #ffffff !important; } /* Error */
#notebook .highlight .g { color: #ffffff !important; } /* Generic */
#notebook .highlight .k { color: #cc7833 !important; } /* Keyword */
#notebook .highlight .l { color: #ffffff !important; } /* Literal */
#notebook .highlight .n, #notebook .highlight .h { color: #ffffff !important; } /* Name */
#notebook .highlight .o { color: #ffffff !important; } /* Operator */
#notebook .highlight .x { color: #ffffff !important; } /* Other */
#notebook .highlight .p { color: #ffffff !important; } /* Punctuation */
#notebook .highlight .cm { color: #bc9458 !important; font-style: italic !important; } /* Comment.Multiline */
#notebook .highlight .cp { color: #cc7833 !important; } /* Comment.Preproc */
#notebook .highlight .c1 { color: #bc9458 !important; font-style: italic !important; } /* Comment.Single */
#notebook .highlight .cs { color: #bc9458 !important; font-style: italic !important; } /* Comment.Special */
#notebook .highlight .gd { color: #ffffff !important; } /* Generic.Deleted */
#notebook .highlight .ge { color: #ffffff !important; text-decoration: underline !important; } /* Generic.Emph */
#notebook .highlight .gr { color: #ffffff !important; } /* Generic.Error */
#notebook .highlight .gh { color: #ffffff !important; font-weight: bold !important; } /* Generic.Heading */
#notebook .highlight .gi { color: #ffffff !important; } /* Generic.Inserted */
#notebook .highlight .go { color: #404040 !important; background: #353637 !important; } /* Generic.Output */
#notebook .highlight .gp { color: #ffffff !important; } /* Generic.Prompt */
#notebook .highlight .gs { color: #ffffff !important; } /* Generic.Strong */
#notebook .highlight .gu { color: #ffffff !important; font-weight: bold !important; } /* Generic.Subheading */
#notebook .highlight .gt { color: #ffffff !important; background: #ff0000 !important; } /* Generic.Traceback */
#notebook .highlight .kc { color: #cc7833 !important; } /* Keyword.Constant */
#notebook .highlight .kd { color: #cc7833 !important; } /* Keyword.Declaration */
#notebook .highlight .kn { color: #cc7833 !important; } /* Keyword.Namespace */
#notebook .highlight .kp { color: #cc7833 !important; } /* Keyword.Pseudo */
#notebook .highlight .kr { color: #cc7833 !important; } /* Keyword.Reserved */
#notebook .highlight .kt { color: #ffc66d !important; } /* Keyword.Type */
#notebook .highlight .ld { color: #ffffff !important; } /* Literal.Date */
#notebook .highlight .m { color: #6c99bb !important; } /* Literal.Number */
#notebook .highlight .s { color: #a5c261 !important; } /* Literal.String */
#notebook .highlight .na { color: #ffc66d !important; } /* Name.Attribute */
#notebook .highlight .nb { color: #ffffff !important; } /* Name.Builtin */
#notebook .highlight .nc { color: #ffffff !important; } /* Name.Class */
#notebook .highlight .no { color: #6c99bb !important; } /* Name.Constant */
#notebook .highlight .nd { color: #ffffff !important; } /* Name.Decorator */
#notebook .highlight .ni { color: #ffffff !important; } /* Name.Entity */
#notebook .highlight .ne { color: #ffffff !important; } /* Name.Exception */
#notebook .highlight .nf { color: #ffc66d !important; } /* Name.Function */
#notebook .highlight .nl { color: #a5c261 !important; } /* Name.Label */
#notebook .highlight .nn { color: #ffffff !important; } /* Name.Namespace */
#notebook .highlight .nx { color: #ffffff !important; } /* Name.Other */
#notebook .highlight .py { color: #ffffff !important; } /* Name.Property */
#notebook .highlight .nt { color: #cc7833 !important; } /* Name.Tag */
#notebook .highlight .nv { color: #ffffff !important; } /* Name.Variable */
#notebook .highlight .ow { color: #cc7833 !important; } /* Operator.Word */
#notebook .highlight .w { color: #ffffff !important; } /* Text.Whitespace */
#notebook .highlight .mf { color: #6c99bb !important; } /* Literal.Number.Float */
#notebook .highlight .mh { color: #6c99bb !important; } /* Literal.Number.Hex */
#notebook .highlight .mi { color: #6c99bb !important; } /* Literal.Number.Integer */
#notebook .highlight .mo { color: #6c99bb !important; } /* Literal.Number.Oct */
#notebook .highlight .sb { color: #a5c261 !important; } /* Literal.String.Backtick */
#notebook .highlight .sc { color: #a5c261 !important; } /* Literal.String.Char */
#notebook .highlight .sd { color: #a5c261 !important; } /* Literal.String.Doc */
#notebook .highlight .s2 { color: #a5c261 !important; } /* Literal.String.Double */
#notebook .highlight .se { color: #a5c261 !important; } /* Literal.String.Escape */
#notebook .highlight .sh { color: #a5c261 !important; } /* Literal.String.Heredoc */
#notebook .highlight .si { color: #a5c261 !important; } /* Literal.String.Interpol */
#notebook .highlight .sx { color: #a5c261 !important; } /* Literal.String.Other */
#notebook .highlight .sr { color: #a5c261 !important; } /* Literal.String.Regex */
#notebook .highlight .s1 { color: #a5c261 !important; } /* Literal.String.Single */
#notebook .highlight .ss { color: #a5c261 !important; } /* Literal.String.Symbol */
#notebook .highlight .bp { color: #ffffff !important; } /* Name.Builtin.Pseudo */
#notebook .highlight .vc { color: #ffffff !important; } /* Name.Variable.Class */
#notebook .highlight .vg { color: #ffffff !important; } /* Name.Variable.Global */
#notebook .highlight .vi { color: #ffffff !important; } /* Name.Variable.Instance */
#notebook .highlight .il { color: #6c99bb !important; } /* Literal.Number.Integer.Long */
