/*! kr_theme */
.ace_editor .ace_gutter {
  background: #1c1917 !important;
  color: #FCFFE0 !important;
}

.ace_editor .ace_print-margin {
  width: 1px !important;
  background: #1c1917 !important;
}

.ace_editor {
  background-color: #0B0A09 !important;
  color: #FCFFE0 !important;
}

.ace_editor .ace_cursor {
  color: #FF9900 !important;
}

.ace_editor .ace_marker-layer .ace_selection {
  background: rgba(170, 0, 255, 0.45) !important;
}

.ace_editor.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #0B0A09 !important;
  border-radius: 2px !important;
}

.ace_editor .ace_marker-layer .ace_step {
  background: rgb(102, 82, 0) !important;
}

.ace_editor .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px !important;
  border: 1px solid rgba(255, 177, 111, 0.32) !important;
}

.ace_editor .ace_marker-layer .ace_active-line {
  background: #38403D !important;
}

.ace_editor .ace_gutter-active-line {
  background-color : #38403D !important;
}

.ace_editor .ace_marker-layer .ace_selected-word {
  border: 1px solid rgba(170, 0, 255, 0.45) !important;
}

.ace_editor .ace_invisible {
  color: rgba(255, 177, 111, 0.32) !important;
}

.ace_editor .ace_keyword,
.ace_editor .ace_meta {
  color: #949C8B !important;
}

.ace_editor .ace_constant,
.ace_editor .ace_constant.ace_character,
.ace_editor .ace_constant.ace_character.ace_escape,
.ace_editor .ace_constant.ace_other {
  color: rgba(210, 117, 24, 0.76) !important;
}

.ace_editor .ace_invalid {
  color: #F8F8F8 !important;
  background-color: #A41300 !important;
}

.ace_editor .ace_support {
  color: #9FC28A !important;
}

.ace_editor .ace_support.ace_constant {
  color: #C27E66 !important;
}

.ace_editor .ace_fold {
  background-color: #949C8B !important;
  border-color: #FCFFE0 !important;
}

.ace_editor .ace_support.ace_function {
  color: #85873A !important;
}

.ace_editor .ace_storage {
  color: #FFEE80 !important;
}

.ace_editor .ace_string {
  color: rgba(164, 161, 181, 0.8) !important;
}

.ace_editor .ace_string.ace_regexp {
  color: rgba(125, 255, 192, 0.65) !important;
}

.ace_editor .ace_comment {
  font-style: italic !important;
  color: #706D5B !important;
}

.ace_editor .ace_variable {
  color: #D1A796 !important;
}

.ace_editor .ace_list,
.ace_editor .ace_markup.ace_list {
  background-color: #0F0040 !important;
}

.ace_editor .ace_variable.ace_language {
  color: #FF80E1 !important;
}

.ace_editor .ace_meta.ace_tag {
  color: #BABD9C !important;
}

.ace_editor .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYFBXV/8PAAJoAXX4kT2EAAAAAElFTkSuQmCC) right repeat-y !important;
}