/*! KR theme */
.highlight, .ace_editor {
  background-color: #0B0A09 !important;
  color: #FCFFE0 !important;
}

.pl-c                 { color: #706D5B !important; font-style: italic !important; } /* comment */
.pl-c1                { color: rgba(210, 117, 24, 0.76) !important; } /* constant */
.pl-e                 { color: #FCFFE0 !important; } /* entity */
.pl-en                { color: #FCFFE0 !important; } /* entity.name */
.pl-ent               { color: #BABD9C !important; } /* entity.name.tag */
.pl-k                 { color: #949C8B !important; } /* keyword */
.pl-mb                { color: rgba(210, 117, 24, 0.76) !important; font-weight: bold !important; } /* markup.bold */
.pl-mdh               { color: #949C8B !important; } /* meta.diff.header */
.pl-mdr               { color: #949C8B !important; } /* meta.diff.range */
.pl-mh                { color: #9FC28A !important; } /* markup.heading */
.pl-mh .pl-en         { color: #9FC28A !important; font-weight: bold !important; } /* markup.heading entity.name */
.pl-mi                { color: #949C8B !important; font-style: italic !important; } /* markup.italic */
.pl-ml                { color: #949C8B !important; } /* markup.list */
.pl-mm                { color: #949C8B !important; } /* meta.module-reference */
.pl-mo                { color: #949C8B !important; } /* meta.output */
.pl-mp                { color: #949C8B !important; } /* meta.property-name */
.pl-mq                { color: #706D5B !important; } /* markup.quote */
.pl-mr                { color: #949C8B !important; } /* meta.require */
.pl-ms                { color: #949C8B !important; } /* meta.selector */
.pl-pds               { color: rgba(164, 161, 181, 0.8) !important; } /* punctuation.definition.string */
.pl-s                 { color: #949C8B !important; } /* storage */
.pl-s1                { color: rgba(164, 161, 181, 0.8) !important; } /* string */
.pl-s1 .pl-pse .pl-s2 { color: rgba(164, 161, 181, 0.8) !important; } /* string punctuation.section.embedded source */
.pl-s1 .pl-s2         { color: #BABD9C !important; } /* string source */
.pl-s1 .pl-v          { color: #949C8B !important; } /* string variable */
.pl-s3                { color: #85873A !important; } /* support */
.pl-sc                { color: #FCFFE0 !important; } /* support.class */
.pl-smi               { color: #BABD9C !important; } /* storage.modifier.import */
.pl-smp               { color: #BABD9C !important; } /* storage.modifier.package */
.pl-sr                { color: rgba(125, 255, 192, 0.65) !important; } /* string.regexp */
.pl-sr .pl-cce        { color: #9FC28A !important; } /* constant.character.escape */
.pl-sr .pl-sra        { color: rgba(125, 255, 192, 0.65) !important; } /* string.regexp string.regexp.arbitrary-repitition */
.pl-sr .pl-sre        { color: rgba(125, 255, 192, 0.65) !important; } /* string.regexp source.ruby.embedded */
.pl-src               { color: rgba(125, 255, 192, 0.65) !important; } /* string.regexp.character-class */
.pl-st                { color: #949C8B !important; } /* support.type */
.pl-stj               { color: #BABD9C !important; } /* storage.type.java */
.pl-sv                { color: rgba(210, 117, 24, 0.76) !important; } /* support.variable */
.pl-v                 { color: #FCFFE0 !important; } /* variable */
.pl-vo                { color: #D1A796 !important; } /* variable.other */
.pl-vpf               { color: #D1A796 !important; } /* variable.parameter.function */

/* Diff - Example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
.pl-mi1               { color: #F8F8F8 !important; background: rgba(0,64,0,.5) !important; } /* markup.inserted */
.pl-mdht              { color: #F8F8F8 !important; background: rgba(0,64,0,.5) !important; } /* meta.diff.header.to-file */
.pl-md                { color: #F8F8F8 !important; background: #A41300 !important; } /* markup.deleted */
.pl-mdhf              { color: #F8F8F8 !important; background: #A41300 !important; } /* meta.diff.header.from-file */
.pl-id                { color: #F8F8F8 !important; background: #A41300 !important; } /* invalid.deprecated */
.pl-ii                { color: #F8F8F8 !important; background: #A41300 !important; } /* invalid.illegal */

/* language tweaks */
.highlight-js .pl-s3 { color: #FF80E1 !important; } /* support */
.highlight-js .pl-v  { color: #FF80E1 !important; } /* variable */
.highlight-js .pl-st { color: #FFEE80 !important; } /* support.type */

/* kr_theme */
.ace_editor .ace_gutter {
  background: #1c1917 !important;
  color: #FCFFE0 !important;
}

.ace_editor .ace_print-margin {
  width: 1px !important;
  background: #1c1917 !important;
}

.ace_editor .ace_cursor {
  color: #FF9900 !important;
}

.ace_editor .ace_marker-layer .ace_selection {
  background: rgba(170, 0, 255, 0.45) !important;
}

.ace_editor.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #0B0A09 !important;
  border-radius: 2px !important;
}

.ace_editor .ace_marker-layer .ace_step {
  background: rgb(102, 82, 0) !important;
}

.ace_editor .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px !important;
  border: 1px solid rgba(255, 177, 111, 0.32) !important;
}

.ace_editor .ace_marker-layer .ace_active-line {
  background: #38403D !important;
}

.ace_editor .ace_gutter-active-line {
  background-color : #38403D !important;
}

.ace_editor .ace_marker-layer .ace_selected-word {
  border: 1px solid rgba(170, 0, 255, 0.45) !important;
}

.ace_editor .ace_invisible {
  color: rgba(255, 177, 111, 0.32) !important;
}

.ace_editor .ace_keyword,
.ace_editor .ace_meta {
  color: #949C8B !important;
}

.ace_editor .ace_constant,
.ace_editor .ace_constant.ace_character,
.ace_editor .ace_constant.ace_character.ace_escape,
.ace_editor .ace_constant.ace_other {
  color: rgba(210, 117, 24, 0.76) !important;
}

.ace_editor .ace_invalid {
  color: #F8F8F8 !important;
  background-color: #A41300 !important;
}

.ace_editor .ace_support {
  color: #9FC28A !important;
}

.ace_editor .ace_support.ace_constant {
  color: #C27E66 !important;
}

.ace_editor .ace_fold {
  background-color: #949C8B !important;
  border-color: #FCFFE0 !important;
}

.ace_editor .ace_support.ace_function {
  color: #85873A !important;
}

.ace_editor .ace_storage {
  color: #FFEE80 !important;
}

.ace_editor .ace_string {
  color: rgba(164, 161, 181, 0.8) !important;
}

.ace_editor .ace_string.ace_regexp {
  color: rgba(125, 255, 192, 0.65) !important;
}

.ace_editor .ace_comment {
  font-style: italic !important;
  color: #706D5B !important;
}

.ace_editor .ace_variable {
  color: #D1A796 !important;
}

.ace_editor .ace_list,
.ace_editor .ace_markup.ace_list {
  background-color: #0F0040 !important;
}

.ace_editor .ace_variable.ace_language {
  color: #FF80E1 !important;
}

.ace_editor .ace_meta.ace_tag {
  color: #BABD9C !important;
}

.ace_editor .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYFBXV/8PAAJoAXX4kT2EAAAAAElFTkSuQmCC) right repeat-y !important;
}