/*! Merbivore */
.highlight, .ace_editor {
  background-color: #161616 !important;
  color: #E6E1DC !important;
}

.pl-c, .pl-c span     { color: #AD2EA4 !important; font-style: italic !important; } /* comment */
.pl-c1                { color: #519F50 !important; } /* constant */
.pl-e                 { color: #FDC251 !important; } /* entity */
.pl-en                { color: #FC6F09 !important; } /* entity.name */
.pl-ent               { color: #FC6F09 !important; } /* entity.name.tag */
.pl-k                 { color: #FC6F09 !important; } /* keyword */
.pl-mb                { color: #8DFF0A !important; font-weight: bold !important; } /* markup.bold */
.pl-mdh               { color: #FC6F09 !important; } /* meta.diff.header */
.pl-mdr               { color: #FC6F09 !important; } /* meta.diff.range */
.pl-mh                { color: #8DFF0A !important; } /* markup.heading */
.pl-mh .pl-en         { color: #8DFF0A !important; font-weight: bold !important; } /* markup.heading entity.name */
.pl-mi                { color: #FC6F09 !important; font-style: italic !important; } /* markup.italic */
.pl-ml                { color: #FC6F09 !important; } /* markup.list */
.pl-mm                { color: #FC6F09 !important; } /* meta.module-reference */
.pl-mo                { color: #FC6F09 !important; } /* meta.output */
.pl-mp                { color: #FC6F09 !important; } /* meta.property-name */
.pl-mq                { color: #AD2EA4 !important; } /* markup.quote */
.pl-mr                { color: #FC6F09 !important; } /* meta.require */
.pl-ms                { color: #FC6F09 !important; } /* meta.selector */
.pl-pds               { color: #8DFF0A !important; } /* punctuation.definition.string */
.pl-s                 { color: #FC6F09 !important; } /* storage */
.pl-s1                { color: #8DFF0A !important; } /* string */
.pl-s1 .pl-pse .pl-s2 { color: #8DFF0A !important; } /* string punctuation.section.embedded source */
.pl-s1 .pl-s2         { color: #FC6F09 !important; } /* string source */
.pl-s1 .pl-v          { color: #FC6F09 !important; } /* string variable */
.pl-s3                { color: #E6E1DC !important; } /* support */
.pl-sc                { color: #1EDAFB !important; } /* support.class */
.pl-smi               { color: #FC6F09 !important; } /* storage.modifier.import */
.pl-smp               { color: #FC6F09 !important; } /* storage.modifier.package */
.pl-sr                { color: #FC6F09 !important; } /* string.regexp */
.pl-sr .pl-cce        { color: #519F50 !important; } /* constant.character.escape */
.pl-sr .pl-sra        { color: #FDC251 !important; } /* string.regexp string.regexp.arbitrary-repetition */
.pl-sr .pl-sre        { color: #FDC251 !important; } /* string.regexp source.ruby.embedded */
.pl-src               { color: #FDC251 !important; } /* string.regexp.character-class */
.pl-st                { color: #FC6F09 !important; } /* support.type */
.pl-stj               { color: #FC6F09 !important; } /* storage.type.java */
.pl-sv                { color: #8DFF0A !important; } /* support.variable */
.pl-v                 { color: #FC6F09 !important; } /* variable */
.pl-vo                { color: #E6E1DC !important; } /* variable.other */
.pl-vpf               { color: #E6E1DC !important; } /* variable.parameter.function */

/* Diff - Example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
.pl-mi1               { color: #E6E1DC !important; background: rgba(0,64,0,.5) !important; } /* markup.inserted */
.pl-mdht              { color: #E6E1DC !important; background: rgba(0,64,0,.5) !important; } /* meta.diff.header.to-file */
.pl-md                { color: #E6E1DC !important; background: #990000 !important; } /* markup.deleted */
.pl-mdhf              { color: #E6E1DC !important; background: #990000 !important; } /* meta.diff.header.from-file */
.pl-id                { color: #E6E1DC !important; background: #990000 !important; } /* invalid.deprecated */
.pl-ii                { color: #E6E1DC !important; background: #990000 !important; } /* invalid.illegal */

/* language tweaks */
.highlight-css .pl-e  { color: #E6E1DC !important; } /* entity */
.highlight-js .pl-c1  { color: #FDC251 !important; } /* constant */
.highlight-js .pl-sc  { color: #E6E1DC !important; } /* support.class */
.highlight-php .pl-s3 { color: #FC6F09 !important; } /* support */
.highlight-css .pl-s3 { color: #1EDAFB !important; } /* support */
.highlight-python .pl-c1  { color: #FDC251 !important; } /* constant */

/* merbivore */
.ace_editor .ace_gutter {
  background: #202020 !important;
  color: #E6E1DC !important;
}

.ace_editor .ace_print-margin {
  width: 1px !important;
  background: #555651 !important;
}

.ace_editor .ace_cursor {
  color: #FFFFFF !important;
}

.ace_editor .ace_marker-layer .ace_selection {
  background: #454545 !important;
}

.ace_editor.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #161616 !important;
  border-radius: 2px !important;
}

.ace_editor .ace_marker-layer .ace_step {
  background: rgb(102, 82, 0) !important;
}

.ace_editor .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px !important;
  border: 1px solid #404040 !important;
}

.ace_editor .ace_marker-layer .ace_active-line {
  background: #333435 !important;
}

.ace_editor .ace_gutter-active-line {
  background-color: #333435 !important;
}

.ace_editor .ace_marker-layer .ace_selected-word {
  border: 1px solid #454545 !important;
}

.ace_editor .ace_invisible {
  color: #404040 !important;
}

.ace_editor .ace_entity.ace_name.ace_tag,
.ace_editor .ace_keyword,
.ace_editor .ace_meta,
.ace_editor .ace_meta.ace_tag,
.ace_editor .ace_storage,
.ace_editor .ace_support.ace_function {
  color: #FC6F09 !important;
}

.ace_editor .ace_constant,
.ace_editor .ace_constant.ace_character,
.ace_editor .ace_constant.ace_other,
.ace_editor .ace_support.ace_type {
  color: #1EDAFB !important;
}

.ace_editor .ace_constant.ace_character.ace_escape {
  color: #519F50 !important;
}

.ace_editor .ace_constant.ace_language {
  color: #FDC251 !important;
}

.ace_editor .ace_constant.ace_library,
.ace_editor .ace_string,
.ace_editor .ace_support.ace_constant {
  color: #8DFF0A !important;
}

.ace_editor .ace_constant.ace_numeric {
  color: #58C554 !important;
}

.ace_editor .ace_invalid {
  color: #FFFFFF !important;
  background-color: #990000 !important;
}

.ace_editor .ace_fold {
  background-color: #FC6F09 !important;
  border-color: #E6E1DC !important;
}

.ace_editor .ace_comment {
  font-style: italic !important;
  color: #AD2EA4 !important;
}

.ace_editor .ace_entity.ace_other.ace_attribute-name {
  color: #FFFF89 !important;
}

.ace_editor .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWMQFxf3ZXB1df0PAAdsAmERTkEHAAAAAElFTkSuQmCC) right repeat-y !important;
}