/*! Mono Industrial clear */
.highlight, .ace_editor {
  background-color: #222C28 !important;
  color: #FFFFFF !important;
}

.pl-c                 { color: #666C68 !important; background-color: #304830 !important; } /* modified comment colour from original mono-industrial */
.pl-c1                { color: #E98800 !important; } /* constant */
.pl-e                 { color: #A8B3AB !important; } /* entity */
.pl-en                { color: #FFFFFF !important; } /* entity.name */
.pl-ent               { color: #A39E64 !important; } /* entity.name.tag */
.pl-k                 { color: #A39E64 !important; } /* keyword */
.pl-mb                { color: #E98800 !important; font-weight: bold !important; } /* markup.bold */
.pl-mdh               { color: #A39E64 !important; } /* meta.diff.header */
.pl-mdr               { color: #A39E64 !important; } /* meta.diff.range */
.pl-mh                { color: #5778B6 !important; } /* markup.heading */
.pl-mh .pl-en         { color: #5778B6 !important; font-weight: bold !important; } /* markup.heading entity.name */
.pl-mi                { color: #A39E64 !important; font-style: italic !important; } /* markup.italic */

.pl-ml                { color: #A39E64 !important; } /* markup.list */
.pl-mm                { color: #A39E64 !important; } /* meta.module-reference */
.pl-mo                { color: #A39E64 !important; } /* meta.output */
.pl-mp                { color: #A39E64 !important; } /* meta.property-name */
.pl-mq                { color: #666C68 !important; } /* markup.quote */
.pl-mr                { color: #A39E64 !important; } /* meta.require */
.pl-ms                { color: #A39E64 !important; } /* meta.selector */
.pl-pds               { color: #FFFFFF !important; } /* punctuation.definition.string */
.pl-s                 { color: #C23B00 !important; } /* storage */
.pl-s1                { color: #FFFFFF !important; background-color: #151C19 !important; } /* string */
.pl-s1 .pl-pse .pl-s2 { color: #FFFFFF !important; background-color: #151C19 !important; } /* string punctuation.section.embedded source */
.pl-s1 .pl-s2         { color: #C23B00 !important; } /* string source */
.pl-s1 .pl-v          { color: #A39E64 !important; } /* string variable */
.pl-s3                { color: #5778B6 !important; } /* support */
.pl-sc                { color: #FFFFFF !important; } /* support.class */
.pl-smi               { color: #C23B00 !important; } /* storage.modifier.import */
.pl-smp               { color: #C23B00 !important; } /* storage.modifier.package */
.pl-sr                { color: #FFFFFF !important; background-color: #151C19 !important; } /* string.regexp */
.pl-sr .pl-cce        { color: #5778B6 !important; } /* constant.character.escape */
.pl-sr .pl-sra        { color: #C23B00 !important; } /* string.regexp string.regexp.arbitrary-repitition */
.pl-sr .pl-sre        { color: #C23B00 !important; } /* string.regexp source.ruby.embedded */
.pl-src               { color: #C23B00 !important; } /* string.regexp.character-class */
.pl-st                { color: #C23B00 !important; } /* support.type */
.pl-stj               { color: #C23B00 !important; } /* storage.type.java */
.pl-sv                { color: #E98800 !important; } /* support.variable */
.pl-v                 { color: #5778B6 !important; } /* variable */
.pl-vo                { color: #A8B3AB !important; } /* variable.other */
.pl-vpf               { color: #5778B6 !important; } /* variable.parameter.function */

/* Diff - Example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
.pl-mi1               { color: #FFFFFF !important; background: rgba(0, 150, 0, 0.68) !important; } /* markup.inserted colour has been edited*/
.pl-mdht              { color: #FFFFFF !important; background: rgba(0, 153, 0, 0.68) !important; } /* meta.diff.header.to-file */
.pl-md                { color: #FFFFFF !important; background: rgba(196, 0, 0, 0.68) !important; } /* markup.deleted colour has been edited*/
.pl-mdhf              { color: #FFFFFF !important; background: rgba(153, 0, 0, 0.68) !important; } /* meta.diff.header.from-file */
.pl-id                { color: #FFFFFF !important; background: rgba(153, 0, 0, 0.68) !important; } /* invalid.deprecated */
.pl-ii                { color: #FFFFFF !important; background: rgba(153, 0, 0, 0.68) !important; } /* invalid.illegal */

/* language tweaks */
.highlight-css .pl-ent { color: #E98800 !important; } /* entity.name.tag */
.highlight-php .pl-s   { color: #A39E64 !important; } /* storage */
.highlight-php .pl-st  { color: #A39E64 !important; } /* support.type */
.highlight-php .pl-s3  { color: #588E60 !important; } /* support */
.highlight-python .pl-st { color: #A39E64 !important; } /* support.type */

/* mono_industrial */
.ace_editor .ace_gutter {
  background: #1d2521 !important;
  color: #C5C9C9 !important;
}

.ace_editor .ace_print-margin {
  width: 1px !important;
  background: #555651 !important;
}

.ace_editor .ace_cursor {
  color: #FFFFFF !important;
}

.ace_editor .ace_marker-layer .ace_selection {
  background: rgba(145, 153, 148, 0.40) !important;
}

.ace_editor.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #222C28 !important;
  border-radius: 2px !important;
}

.ace_editor .ace_marker-layer .ace_step {
  background: rgb(102, 82, 0) !important;
}

.ace_editor .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px !important;
  border: 1px solid rgba(102, 108, 104, 0.50) !important;
}

.ace_editor .ace_marker-layer .ace_active-line {
  background: rgba(12, 13, 12, 0.25) !important;
}

.ace_editor .ace_gutter-active-line {
  background-color: rgba(12, 13, 12, 0.25) !important;
}

.ace_editor .ace_marker-layer .ace_selected-word {
  border: 1px solid rgba(145, 153, 148, 0.40) !important;
}

.ace_editor .ace_invisible {
  color: rgba(102, 108, 104, 0.50) !important;
}

.ace_editor .ace_string {
  background-color: #151C19 !important;
  color: #FFFFFF !important;
}

.ace_editor .ace_keyword,
.ace_editor .ace_meta {
  color: #A39E64 !important;
}

.ace_editor .ace_constant,
.ace_editor .ace_constant.ace_character,
.ace_editor .ace_constant.ace_character.ace_escape,
.ace_editor .ace_constant.ace_numeric,
.ace_editor .ace_constant.ace_other {
  color: #E98800 !important;
}

.ace_editor .ace_entity.ace_name.ace_function,
.ace_editor .ace_keyword.ace_operator,
.ace_editor .ace_variable {
  color: #A8B3AB !important;
}

.ace_editor .ace_invalid {
  color: #FFFFFF !important;
  background-color: rgba(153, 0, 0, 0.68) !important;
}

.ace_editor .ace_support.ace_constant {
  color: #C87500 !important;
}

.ace_editor .ace_fold {
  background-color: #A8B3AB !important;
  border-color: #FFFFFF !important;
}

.ace_editor .ace_support.ace_function {
  color: #588E60 !important;
}

.ace_editor .ace_entity.ace_name,
.ace_editor .ace_support.ace_class,
.ace_editor .ace_support.ace_type {
  color: #5778B6 !important;
}

.ace_editor .ace_storage {
  color: #C23B00 !important;
}

.ace_editor .ace_variable.ace_language,
.ace_editor .ace_variable.ace_parameter {
  color: #648BD2 !important;
}
/*I have modified the colour from original mono-industrial*/
.ace_editor .ace_comment {
  color: #666C68 !important;
  background-color: #304830 !important;
}

.ace_editor .ace_entity.ace_other.ace_attribute-name {
  color: #909993 !important;
}

.ace_editor .ace_entity.ace_name.ace_tag {
  color: #A65EFF !important;
}

.ace_editor .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNQ1NbwZfALD/4PAAlTArlEC4r/AAAAAElFTkSuQmCC) right repeat-y !important;
}
