/*! Monokai */
.highlight, .ace_editor {
  background-color: #272822 !important;
  color: #F8F8F2 !important;
}

.pl-c, .pl-c span{ color: #75715E !important; font-style: italic !important; } /* comment */
.pl-c1           { color: #ae81ff !important; } /* constant */
.pl-cce          { color: #66D9EF !important; } /* constant.character.escape */
.pl-cn           { color: #66D9EF !important; } /* constant.numeric */
.pl-coc          { color: #66D9EF !important; } /* constant.other.color */
.pl-cos          { color: #E6DB74 !important; } /* constant.other.symbol */
.pl-e            { color: #A6E22E !important; } /* entity */
.pl-ef           { color: #A6E22E !important; } /* entity.function */
.pl-en           { color: #A6E22E !important; } /* entity.name */
.pl-enc          { color: #66D9EF !important; } /* entity.name.class */
.pl-enf          { color: #A6E22E !important; } /* entity.name.function */
.pl-enm          { color: #A6E22E !important; } /* entity.name.method-name */
.pl-ens          { color: #66D9EF !important; } /* entity.name.section */
.pl-ent          { color: #F92672 !important; } /* entity.name.tag */
.pl-entc         { color: #A6E22E !important; } /* entity.name.type.class */
.pl-enti         { color: #A6E22E !important; font-weight: bold !important; } /* entity.name.type.instance */
.pl-entm         { color: #A6E22E !important; } /* entity.name.type.module */
.pl-eoa          { color: #F92672 !important; } /* entity.other.attribute-name */
.pl-eoac         { color: #A6E22E !important; } /* entity.other.attribute-name.class */
.pl-eoac .pl-pde { color: #A6E22E !important; } /* punctuation.definition.entity */
.pl-eoai         { color: #F92672 !important; } /* entity.other.attribute-name.id */
.pl-eoai .pl-pde { color: #F92672 !important; } /* punctuation.definition.entity */
.pl-eoi          { color: #A6E22E !important; } /* entity.other.inherited-class */
.pl-k            { color: #66d9ef !important; } /* keyword */
.pl-ko           { color: #F92672 !important; } /* keyword.operator */
.pl-kolp         { color: #F92672 !important; } /* keyword.operator.logical.python */
.pl-kos          { color: #66D9EF !important; } /* keyword.other.special-method */
.pl-kou          { color: #66D9EF !important; } /* keyword.other.unit */
.pl-mai .pl-sf   { color: #A6E22E !important; } /* support.function */
.pl-mb           { color: #E6DB74 !important; font-weight: bold !important; } /* markup.bold */
.pl-mc           { color: #F92672 !important; } /* markup.changed */
.pl-mh .pl-pdh   { color: #66D9EF !important; } /* markup.heading punctuation.definition.heading */
.pl-mi           { color: #F92672 !important; font-style: italic !important; } /* markup.italic */
.pl-ml           { color: #E6DB74 !important; } /* markup.list */
.pl-mm           { color: #A6E22E !important; } /* meta.module-reference */
.pl-mp           { color: #66D9EF !important; } /* meta.property-name */
.pl-mp1 .pl-sf   { color: #66D9EF !important; } /* meta.property-value support.function */
.pl-mq           { color: #66D9EF !important; } /* markup.quote */
.pl-mr           { color: #F92672 !important; } /* meta.require */
.pl-ms           { color: #F92672 !important; } /* meta.selector */
.pl-pdb          { color: #E6DB74 !important; font-weight: bold !important; } /* punctuation.definition.bold */
.pl-pdc          { color: #75715E !important; font-style: italic !important; } /* punctuation.definition.comment */
.pl-pdc1         { color: #AE81FF !important; } /* punctuation.definition.constant */
.pl-pde          { color: #66D9EF !important; } /* punctuation.definition.entity */
.pl-pdi          { color: #F92672 !important; font-style: italic !important; } /* punctuation.definition.italic */
.pl-pds          { color: #E6DB74 !important; } /* punctuation.definition.string */
.pl-pdv          { color: #A6E22E !important; } /* punctuation.definition.variable */
.pl-pse          { color: #66D9EF !important; } /* punctuation.section.embedded */
.pl-pse .pl-s2   { color: #66D9EF !important; } /* punctuation.section.embedded source */
.pl-s            { color: #E6DB74 !important; } /* storage */
.pl-s1           { color: #E6DB74 !important; } /* string */
.pl-s2           { color: #F8F8F2 !important; } /* source */
.pl-mp .pl-s3    { color: #66D9EF !important; } /* support */
.pl-s3           { color: #F92672 !important; } /* support */
.pl-sc           { color: #FD971F !important; } /* support.class */
.pl-scp          { color: #AE81FF !important; } /* support.constant.property-value */
.pl-sf           { color: #FD971F !important; } /* support.function */
.pl-smc          { color: #A6E22E !important; } /* storage.modifier.c */
.pl-smi          { color: #FD971F !important; } /* storage.modifier.import */
.pl-smp          { color: #FD971F !important; } /* storage.modifier.package */
.pl-sok          { color: #F92672 !important; } /* support.other.keyword */
.pl-sol          { color: #E6DB74 !important; } /* string.other.link */
.pl-som          { color: #A6E22E !important; } /* support.other.module */
.pl-sr           { color: #A6E22E !important; } /* string.regexp */
.pl-sra          { color: #F92672 !important; } /* string.regexp string.regexp.arbitrary-repetition */
.pl-src          { color: #F92672 !important; } /* string.regexp.character-class */
.pl-sre          { color: #F92672 !important; } /* string.regexp source.ruby.embedded */
.pl-st           { color: #66d9ef !important; } /* support.type */
.pl-stj          { color: #F8F8F2 !important; } /* storage.type.java */
.pl-stp          { color: #66D9EF !important; } /* support.type.property-name */
.pl-sv           { color: #66D9EF !important; } /* support.variable */
.pl-v            { color: #66D9EF !important; } /* variable */
.pl-vi           { color: #66D9EF !important; } /* variable.interpolation */
.pl-vo           { color: #A6E22E !important; } /* variable.other */
.pl-vpf          { color: #66D9EF !important; } /* variable.parameter.function */
/* Diff - Example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
.pl-mi1          { color: #A6E22E !important; background: rgba(0,64,0,.5) !important; } /* markup.inserted */
.pl-mdht         { color: #A6E22E !important; background: rgba(0,64,0,.5) !important; } /* meta.diff.header.to-file */
.pl-md           { color: #f92672 !important; background: rgba(64,0,0,.5) !important; } /* markup.deleted */
.pl-mdhf         { color: #f92672 !important; background: rgba(64,0,0,.5) !important; } /* meta.diff.header.from-file */
.pl-mdr          { color: #66D9EF !important; font-weight: normal !important;} /* meta.diff.range */
.pl-mdh          { color: #A6E22E !important; font-weight: normal !important;} /* meta.diff.header */
.pl-mdi          { color: #A6E22E !important; font-weight: normal !important;} /* meta.diff.index */
/* TODO: Fix unstyled classes below */
.pl-ib           { background-color: #A6E22E !important; color: #272822 !important; } /* invalid.broken */
.pl-id           { background-color: #A6E22E !important; color: #272822 !important; } /* invalid.deprecated */
.pl-ii           { background-color: #A6E22E !important; color: #272822 !important; } /* invalid.illegal */
.pl-iu           { background-color: #A6E22E !important; color: #272822 !important; } /* invalid.unimplemented */
.pl-mo           { color: #FD971F !important; } /* meta.output */
.pl-mri          { color: #66D9EF !important; } /* markup.raw.inline */
.pl-ms1          { background-color: #FD971F !important; } /* meta.separator */
.pl-va           { color: #66D9EF !important; } /* variable.assignment */
.pl-vpu          { color: #66D9EF !important; } /* variable.parameter.url */
.pl-entl         { color: #FD971F !important; } /* entity.name.tag.label */

/* monokai */
.ace_editor .ace_gutter {
  background: #2F3129 !important;
  color: #8F908A !important;
}

.ace_editor .ace_print-margin {
  width: 1px !important;
  background: #555651 !important;
}

.ace_editor .ace_cursor {
  color: #F8F8F0 !important;
}

.ace_editor .ace_marker-layer .ace_selection {
  background: #49483E !important;
}

.ace_editor.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #272822 !important;
  border-radius: 2px !important;
}

.ace_editor .ace_marker-layer .ace_step {
  background: rgb(102, 82, 0) !important;
}

.ace_editor .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px !important;
  border: 1px solid #49483E !important;
}

.ace_editor .ace_marker-layer .ace_active-line {
  background: #202020 !important;
}

.ace_editor .ace_gutter-active-line {
  background-color: #272727 !important;
}

.ace_editor .ace_marker-layer .ace_selected-word {
  border: 1px solid #49483E !important;
}

.ace_editor .ace_invisible {
  color: #52524d !important;
}

.ace_editor .ace_entity.ace_name.ace_tag,
.ace_editor .ace_keyword,
.ace_editor .ace_meta.ace_tag,
.ace_editor .ace_storage {
  color: #F92672 !important;
}

.ace_editor .ace_punctuation,
.ace_editor .ace_punctuation.ace_tag {
  color: #fff !important;
}

.ace_editor .ace_constant.ace_character,
.ace_editor .ace_constant.ace_language,
.ace_editor .ace_constant.ace_numeric,
.ace_editor .ace_constant.ace_other {
  color: #AE81FF !important;
}

.ace_editor .ace_invalid {
  color: #F8F8F0 !important;
  background-color: #F92672 !important;
}

.ace_editor .ace_invalid.ace_deprecated {
  color: #F8F8F0 !important;
  background-color: #AE81FF !important;
}

.ace_editor .ace_support.ace_constant,
.ace_editor .ace_support.ace_function {
  color: #66D9EF !important;
}

.ace_editor .ace_fold {
  background-color: #A6E22E !important;
  border-color: #F8F8F2 !important;
}

.ace_editor .ace_storage.ace_type,
.ace_editor .ace_support.ace_class,
.ace_editor .ace_support.ace_type {
  font-style: italic !important;
  color: #66D9EF !important;
}

.ace_editor .ace_entity.ace_name.ace_function,
.ace_editor .ace_entity.ace_other,
.ace_editor .ace_entity.ace_other.ace_attribute-name,
.ace_editor .ace_variable {
  color: #A6E22E !important;
}

.ace_editor .ace_variable.ace_parameter {
  font-style: italic !important;
  color: #FD971F !important;
}

.ace_editor .ace_string {
  color: #E6DB74 !important;
}

.ace_editor .ace_comment {
  color: #75715E !important;
}

.ace_editor .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ0FD0ZXBzd/wPAAjVAoxeSgNeAAAAAElFTkSuQmCC) right repeat-y !important;
}

/* Jupyter Notebooks */
/*! Monokai theme; http://blog.favrik.com/2011/02/22/preview-all-pygments-styles-for-your-code-highlighting-needs/#stylesheetNavigator */
#notebook .highlight table { background: #272822 !important; color: #f8f8f2 !important; }
.highlight .hll { background-color: #49483e !important; }
.highlight .c { color: #75715e !important; } /* Comment */
.highlight .err { color: #960050 !important; background-color: #1e0010 !important; } /* Error */
.highlight .k { color: #66d9ef !important; } /* Keyword */
.highlight .l { color: #ae81ff !important; } /* Literal */
.highlight .n, .highlight .h { color: #f8f8f2 !important; } /* Name */
.highlight .o { color: #f92672 !important; } /* Operator */
.highlight .p { color: #f8f8f2 !important; } /* Punctuation */
.highlight .cm { color: #75715e !important; } /* Comment.Multiline */
.highlight .cp { color: #75715e !important; } /* Comment.Preproc */
.highlight .c1 { color: #75715e !important; } /* Comment.Single */
.highlight .cs { color: #75715e !important; } /* Comment.Special */
.highlight .ge { } /* Generic.Emph */
.highlight .gs { } /* Generic.Strong */
.highlight .kc { color: #66d9ef !important; } /* Keyword.Constant */
.highlight .kd { color: #66d9ef !important; } /* Keyword.Declaration */
.highlight .kn { color: #f92672 !important; } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef !important; } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef !important; } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef !important; } /* Keyword.Type */
.highlight .ld { color: #e6db74 !important; } /* Literal.Date */
.highlight .m { color: #ae81ff !important; } /* Literal.Number */
.highlight .s { color: #e6db74 !important; } /* Literal.String */
.highlight .na { color: #a6e22e !important; } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 !important; } /* Name.Builtin */
.highlight .nc { color: #a6e22e !important; } /* Name.Class */
.highlight .no { color: #66d9ef !important; } /* Name.Constant */
.highlight .nd { color: #a6e22e !important; } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 !important; } /* Name.Entity */
.highlight .ne { color: #a6e22e !important; } /* Name.Exception */
.highlight .nf { color: #a6e22e !important; } /* Name.Function */
.highlight .nl { color: #f8f8f2 !important; } /* Name.Label */
.highlight .nn { color: #f8f8f2 !important; } /* Name.Namespace */
.highlight .nx { color: #a6e22e !important; } /* Name.Other */
.highlight .py { color: #f8f8f2 !important; } /* Name.Property */
.highlight .nt { color: #f92672 !important; } /* Name.Tag */
.highlight .nv { color: #f8f8f2 !important; } /* Name.Variable */
.highlight .ow { color: #f92672 !important; } /* Operator.Word */
.highlight .w { color: #f8f8f2 !important; } /* Text.Whitespace */
.highlight .mf { color: #ae81ff !important; } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff !important; } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff !important; } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff !important; } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 !important; } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 !important; } /* Literal.String.Char */
.highlight .sd { color: #e6db74 !important; } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 !important; } /* Literal.String.Double */
.highlight .se { color: #ae81ff !important; } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 !important; } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 !important; } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 !important; } /* Literal.String.Other */
.highlight .sr { color: #e6db74 !important; } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 !important; } /* Literal.String.Single */
.highlight .ss { color: #e6db74 !important; } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 !important; } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 !important; } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 !important; } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 !important; } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff !important; } /* Literal.Number.Integer.Long */
