/*! pastels on dark syntax highlighting */
.highlight, .highlight pre, .highlight table { background: #2B2B2B !important; }
.highlight .hll { background: #ffffcc !important; }
.highlight  { background: #2B2B2B !important; color: #E6E1DC !important; }
.highlight .c { color: #555555 !important; } /* Comment */
.highlight .err { color: #E6E1DC !important; } /* Error */
.highlight .g { color: #E6E1DC !important; } /* Generic */
.highlight .k { color: #4D74D0 !important; } /* Keyword */
.highlight .l { color: #E6E1DC !important; } /* Literal */
.highlight .n, .highlight .h { color: #E6E1DC !important; } /* Name */
.highlight .o { color: #E6E1DC !important; } /* Operator */
.highlight .x { color: #E6E1DC !important; } /* Other */
.highlight .p { color: #E6E1DC !important; } /* Punctuation */
.highlight .cm { color: #555555 !important; } /* Comment.Multiline */
.highlight .cp { color: #E6E1DC !important; } /* Comment.Preproc */
.highlight .c1 { color: #555555 !important; } /* Comment.Single */
.highlight .cs { color: #555555 !important; } /* Comment.Special */
.highlight .gd { color: #E6E1DC !important; background: #660000 !important; } /* Generic.Deleted */
.highlight .ge { color: #E6E1DC !important; } /* Generic.Emph */
.highlight .gr { color: #FFC66D !important; background: #990000 !important; } /* Generic.Error */
.highlight .gh { color: #FFFFFF !important; } /* Generic.Heading */
.highlight .gi { color: #E6E1DC !important; background: #519F50 !important; } /* Generic.Inserted */
.highlight .go { color: #E6E1DC !important; } /* Generic.Output */
.highlight .gp { color: #E6E1DC !important; } /* Generic.Prompt */
.highlight .gs { color: #E6E1DC !important; } /* Generic.Strong */
.highlight .gu { color: #FFFFFF !important; } /* Generic.Subheading */
.highlight .gt { color: #E6E1DC !important; } /* Generic.Traceback */
.highlight .kc { color: #4D74D0 !important; } /* Keyword.Constant */
.highlight .kd { color: #4D74D0 !important; } /* Keyword.Declaration */
.highlight .kn { color: #4D74D0 !important; } /* Keyword.Namespace */
.highlight .kp { color: #4D74D0 !important; } /* Keyword.Pseudo */
.highlight .kr { color: #4D74D0 !important; } /* Keyword.Reserved */
.highlight .kt { color: #C1C144 !important; } /* Keyword.Type */
.highlight .ld { color: #E6E1DC !important; } /* Literal.Date */
.highlight .m { color: #A5C261 !important; } /* Literal.Number */
.highlight .s { color: #AD9361 !important; } /* Literal.String */
.highlight .na { color: #6782D3 !important; } /* Name.Attribute */
.highlight .nb { color: #E6E1DC !important; } /* Name.Builtin */
.highlight .nc { color: #E6E1DC !important; } /* Name.Class */
.highlight .no { color: #A1A1FF !important; } /* Name.Constant */
.highlight .nd { color: #E6E1DC !important; } /* Name.Decorator */
.highlight .ni { color: #47B8D6 !important; } /* Name.Entity */
.highlight .ne { color: #E6E1DC !important; } /* Name.Exception */
.highlight .nf { color: #6782D3 !important; } /* Name.Function */
.highlight .nl { color: #E6E1DC !important; } /* Name.Label */
.highlight .nn { color: #E6E1DC !important; } /* Name.Namespace */
.highlight .nx { color: #E6E1DC !important; } /* Name.Other */
.highlight .py { color: #E6E1DC !important; } /* Name.Property */
.highlight .nt { color: #4D74D0 !important; } /* Name.Tag */
.highlight .nv { color: #C1C144 !important; } /* Name.Variable */
.highlight .ow { color: #E6E1DC !important; } /* Operator.Word */
.highlight .w { color: #E6E1DC !important; } /* Text.Whitespace */
.highlight .mf { color: #A5C261 !important; } /* Literal.Number.Float */
.highlight .mh { color: #A5C261 !important; } /* Literal.Number.Hex */
.highlight .mi { color: #A5C261 !important; } /* Literal.Number.Integer */
.highlight .mo { color: #A5C261 !important; } /* Literal.Number.Oct */
.highlight .sb { color: #AD9361 !important; } /* Literal.String.Backtick */
.highlight .sc { color: #AD9361 !important; } /* Literal.String.Char */
.highlight .sd { color: #AD9361 !important; } /* Literal.String.Doc */
.highlight .s2 { color: #AD9361 !important; } /* Literal.String.Double */
.highlight .se { color: #AD9361 !important; } /* Literal.String.Escape */
.highlight .sh { color: #AD9361 !important; } /* Literal.String.Heredoc */
.highlight .si { color: #AD9361 !important; } /* Literal.String.Interpol */
.highlight .sx { color: #AD9361 !important; } /* Literal.String.Other */
.highlight .sr { color: #AD9361 !important; } /* Literal.String.Regex */
.highlight .s1 { color: #AD9361 !important; } /* Literal.String.Single */
.highlight .ss { color: #AD9361 !important; } /* Literal.String.Symbol */
.highlight .bp { color: #E6E1DC !important; } /* Name.Builtin.Pseudo */
.highlight .vc { color: #C1C144 !important; } /* Name.Variable.Class */
.highlight .vg { color: #C1C144 !important; } /* Name.Variable.Global */
.highlight .vi { color: #C1C144 !important; } /* Name.Variable.Instance */
.highlight .il { color: #A5C261 !important; } /* Literal.Number.Integer.Long */

/*! pastel_on_dark */
.ace_editor .ace_gutter {
  background: #353030 !important;
  color: #8F938F !important;
}

.ace_editor .ace_print-margin {
  width: 1px !important;
  background: #353030 !important;
}

.ace_editor {
  background-color: #2C2828 !important;
  color: #8F938F !important;
}

.ace_editor .ace_cursor {
  color: #A7A7A7 !important;
}

.ace_editor .ace_marker-layer .ace_selection {
  background: rgba(221, 240, 255, 0.20) !important;
}

.ace_editor.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #2C2828 !important;
  border-radius: 2px !important;
}

.ace_editor .ace_marker-layer .ace_step {
  background: rgb(102, 82, 0) !important;
}

.ace_editor .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px !important;
  border: 1px solid rgba(255, 255, 255, 0.25) !important;
}

.ace_editor .ace_marker-layer .ace_active-line {
  background: rgba(255, 255, 255, 0.031) !important;
}

.ace_editor .ace_gutter-active-line {
  background-color: rgba(255, 255, 255, 0.031) !important;
}

.ace_editor .ace_marker-layer .ace_selected-word {
  border: 1px solid rgba(221, 240, 255, 0.20) !important;
}

.ace_editor .ace_invisible {
  color: rgba(255, 255, 255, 0.25) !important;
}

.ace_editor .ace_keyword,
.ace_editor .ace_meta {
  color: #757aD8 !important;
}

.ace_editor .ace_constant,
.ace_editor .ace_constant.ace_character,
.ace_editor .ace_constant.ace_character.ace_escape,
.ace_editor .ace_constant.ace_other {
  color: #4FB7C5 !important;
}

.ace_editor .ace_keyword.ace_operator {
  color: #797878 !important;
}

.ace_editor .ace_constant.ace_character {
  color: #AFA472 !important;
}

.ace_editor .ace_constant.ace_language {
  color: #DE8E30 !important;
}

.ace_editor .ace_constant.ace_numeric {
  color: #CCCCCC !important;
}

.ace_editor .ace_invalid,
.ace_editor .ace_invalid.ace_illegal {
  color: #F8F8F8 !important;
  background-color: rgba(86, 45, 86, 0.75) !important;
}

.ace_editor .ace_invalid.ace_deprecated {
  text-decoration: underline !important;
  font-style: italic !important;
  color: #D2A8A1 !important;
}

.ace_editor .ace_fold {
  background-color: #757aD8 !important;
  border-color: #8F938F !important;
}

.ace_editor .ace_support.ace_function {
  color: #AEB2F8 !important;
}

.ace_editor .ace_string {
  color: #66A968 !important;
}

.ace_editor .ace_string.ace_regexp {
  color: #E9C062 !important;
}

.ace_editor .ace_comment {
  color: #A6C6FF !important;
}

.ace_editor .ace_variable {
  color: #BEBF55 !important;
}

.ace_editor .ace_variable.ace_language {
  color: #C1C144 !important;
}

.ace_editor .ace_xml-pe {
  color: #494949 !important;
}

.ace_editor .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYIiPj/8PAARgAh2NTMh8AAAAAElFTkSuQmCC) right repeat-y !important;
}