/*! Pastel on Dark */
.highlight, .ace_editor {
  background-color: #2C2828 !important;
  color: #E6E1DC !important;
}

.pl-c            { color: #A6C6FF !important; font-style: italic !important; } /* comment */
.pl-c1           { color: #A5C261 !important; } /* constant */
.pl-cce          { color: #AFA472 !important; } /* constant.character.escape */
.pl-cn           { color: #CCCCCC !important; } /* constant.numeric */
.pl-coc          { color: #757aD8 !important; } /* constant.other.color */
.pl-cos          { color: #66A968 !important; } /* constant.other.symbol */
.pl-e            { color: #E6E1DC !important; } /* entity */
.pl-ef           { color: #AEB2F8 !important; } /* entity.function */
.pl-en           { color: #757aD8 !important; } /* entity.name */
.pl-enc          { color: #757aD8 !important; } /* entity.name.class */
.pl-enf          { color: #AEB2F8 !important; } /* entity.name.function */
.pl-enm          { color: #AEB2F8 !important; } /* entity.name.method-name */
.pl-ens          { color: #757aD8 !important; } /* entity.name.section */
.pl-ent          { color: #6782D3 !important; } /* entity.name.tag */
.pl-entc         { color: #AEB2F8 !important; } /* entity.name.type.class */
.pl-enti         { color: #AEB2F8 !important; font-weight: bold !important; } /* entity.name.type.instance */
.pl-entm         { color: #AEB2F8 !important; } /* entity.name.type.module */
.pl-eoa          { color: #E6E1DC !important; } /* entity.other.attribute-name */
.pl-eoac         { color: #AEB2F8 !important; } /* entity.other.attribute-name.class */
.pl-eoac .pl-pde { color: #AEB2F8 !important; } /* punctuation.definition.entity */
.pl-eoai         { color: #E6E1DC !important; } /* entity.other.attribute-name.id */
.pl-eoai .pl-pde { color: #E6E1DC !important; } /* punctuation.definition.entity */
.pl-eoi          { color: #AEB2F8 !important; } /* entity.other.inherited-class */
.pl-k            { color: #757aD8 !important; } /* keyword */
.pl-ko           { color: #E6E1DC !important; } /* keyword.operator */
.pl-kolp         { color: #E6E1DC !important; } /* keyword.operator.logical.python */
.pl-kos          { color: #757aD8 !important; } /* keyword.other.special-method */
.pl-kou          { color: #757aD8 !important; } /* keyword.other.unit */
.pl-mai .pl-sf   { color: #AEB2F8 !important; } /* support.function */
.pl-mb           { color: #66A968 !important; font-weight: bold !important; } /* markup.bold */
.pl-mc           { color: #E6E1DC !important; } /* markup.changed */
.pl-mh .pl-pdh   { color: #757aD8 !important; } /* markup.heading punctuation.definition.heading */
.pl-mi           { color: #E6E1DC !important; font-style: italic !important; } /* markup.italic */
.pl-ml           { color: #66A968 !important; } /* markup.list */
.pl-mm           { color: #AEB2F8 !important; } /* meta.module-reference */
.pl-mp           { color: #757aD8 !important; } /* meta.property-name */
.pl-mp1 .pl-sf   { color: #757aD8 !important; } /* meta.property-value support.function */
.pl-mq           { color: #757aD8 !important; } /* markup.quote */
.pl-mr           { color: #E6E1DC !important; } /* meta.require */
.pl-ms           { color: #E6E1DC !important; } /* meta.selector */
.pl-pdb          { color: #66A968 !important; font-weight: bold !important; } /* punctuation.definition.bold */
.pl-pdc          { color: #A6C6FF !important; font-style: italic !important; } /* punctuation.definition.comment */
.pl-pdc1         { color: #4FB7C5 !important; } /* punctuation.definition.constant */
.pl-pde          { color: #757aD8 !important; } /* punctuation.definition.entity */
.pl-pdi          { color: #E6E1DC !important; font-style: italic !important; } /* punctuation.definition.italic */
.pl-pds          { color: #AD9361 !important; } /* punctuation.definition.string */
.pl-pdv          { color: #AEB2F8 !important; } /* punctuation.definition.variable */
.pl-pse          { color: #757aD8 !important; } /* punctuation.section.embedded */
.pl-pse .pl-s2   { color: #757aD8 !important; } /* punctuation.section.embedded source */
.pl-s            { color: #757aD8 !important; } /* storage */
.pl-s1           { color: #AD9361 !important; } /* string */
.pl-s2           { color: #8F938F !important; } /* source */
.pl-mp .pl-s3    { color: #757aD8 !important; } /* support */
.pl-s3           { color: #E6E1DC !important; } /* support */
.pl-sc           { color: #757aD8 !important; } /* support.class */
.pl-scp          { color: #4FB7C5 !important; } /* support.constant.property-value */
.pl-sf           { color: #BEBF55 !important; } /* support.function */
.pl-smc          { color: #AEB2F8 !important; } /* storage.modifier.c */
.pl-smi          { color: #BEBF55 !important; } /* storage.modifier.import */
.pl-smp          { color: #BEBF55 !important; } /* storage.modifier.package */
.pl-sok          { color: #E6E1DC !important; } /* support.other.keyword */
.pl-sol          { color: #66A968 !important; } /* string.other.link */
.pl-som          { color: #AEB2F8 !important; } /* support.other.module */
.pl-sr           { color: #AEB2F8 !important; } /* string.regexp */
.pl-sra          { color: #797878 !important; } /* string.regexp string.regexp.arbitrary-repitition */
.pl-src          { color: #E9C062 !important; } /* string.regexp.character-class */
.pl-sre          { color: #E9C062 !important; } /* string.regexp source.ruby.embedded */
.pl-st           { color: #A5C261 !important; } /* support.type */
.pl-stj          { color: #8F938F !important; } /* storage.type.java */
.pl-stp          { color: #757aD8 !important; } /* support.type.property-name */
.pl-sv           { color: #757aD8 !important; } /* support.variable */
.pl-v            { color: #757aD8 !important; } /* variable */
.pl-vi           { color: #757aD8 !important; } /* variable.interpolation */
.pl-vo           { color: #A5C261 !important; } /* variable.other */
.pl-vpf          { color: #757aD8 !important; } /* variable.parameter.function */
/* Diff - Example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
.pl-mi1          { color: #66A968 !important; background: rgba(0,64,0,.5) !important; } /* markup.inserted */
.pl-mdht         { color: #66A968 !important; background: rgba(0,64,0,.5) !important; } /* meta.diff.header.to-file */
.pl-md           { color: #AEB2F8 !important; background: rgba(64,0,0,.5) !important; } /* markup.deleted */
.pl-mdhf         { color: #AEB2F8 !important; background: rgba(64,0,0,.5) !important; } /* meta.diff.header.from-file */
.pl-mdr          { color: #757aD8 !important; font-weight: normal !important;} /* meta.diff.range */
.pl-mdh          { color: #BEBF55 !important; font-weight: normal !important;} /* meta.diff.header */
.pl-mdi          { color: #BEBF55 !important; font-weight: normal !important;} /* meta.diff.index */
/* TODO: Fix unstyled classes below */
.pl-ib           { background-color: #AEB2F8 !important; } /* invalid.broken */
.pl-id           { background-color: #AEB2F8 !important; color: #fff !important; } /* invalid.deprecated */
.pl-ii           { background-color: #AEB2F8 !important; color: #fff !important; } /* invalid.illegal */
.pl-iu           { background-color: #AEB2F8 !important; } /* invalid.unimplemented */
.pl-mo           { color: #BEBF55 !important; } /* meta.output */
.pl-mri          { color: #757aD8 !important; } /* markup.raw.inline */
.pl-ms1          { background-color: #BEBF55 !important; } /* meta.separator */
.pl-va           { color: #757aD8 !important; } /* variable.assignment */
.pl-vpu          { color: #757aD8 !important; } /* variable.parameter.url */
.pl-entl         { color: #BEBF55 !important; } /* entity.name.tag.label */

.highlight-css .pl-v { color: #AD9361 !important; } /* variable */
.highlight-html .pl-e { color: #6782D3 !important; } /* entity */
.highlight-latex .pl-s3 { color: #757aD8 !important; } /* support */

/* pastel_on_dark */
.ace_editor .ace_gutter {
  background: #353030 !important;
  color: #8F938F !important;
}

.ace_editor .ace_print-margin {
  width: 1px !important;
  background: #353030 !important;
}

.ace_editor .ace_cursor {
  color: #A7A7A7 !important;
}

.ace_editor .ace_marker-layer .ace_selection {
  background: rgba(221, 240, 255, 0.20) !important;
}

.ace_editor.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #2C2828 !important;
  border-radius: 2px !important;
}

.ace_editor .ace_marker-layer .ace_step {
  background: rgb(102, 82, 0) !important;
}

.ace_editor .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px !important;
  border: 1px solid rgba(255, 255, 255, 0.25) !important;
}

.ace_editor .ace_marker-layer .ace_active-line {
  background: rgba(255, 255, 255, 0.031) !important;
}

.ace_editor .ace_gutter-active-line {
  background-color: rgba(255, 255, 255, 0.031) !important;
}

.ace_editor .ace_marker-layer .ace_selected-word {
  border: 1px solid rgba(221, 240, 255, 0.20) !important;
}

.ace_editor .ace_invisible {
  color: rgba(255, 255, 255, 0.25) !important;
}

.ace_editor .ace_keyword,
.ace_editor .ace_meta {
  color: #757aD8 !important;
}

.ace_editor .ace_constant,
.ace_editor .ace_constant.ace_character,
.ace_editor .ace_constant.ace_character.ace_escape,
.ace_editor .ace_constant.ace_other {
  color: #4FB7C5 !important;
}

.ace_editor .ace_keyword.ace_operator {
  color: #797878 !important;
}

.ace_editor .ace_constant.ace_character {
  color: #AFA472 !important;
}

.ace_editor .ace_constant.ace_language {
  color: #DE8E30 !important;
}

.ace_editor .ace_constant.ace_numeric {
  color: #CCCCCC !important;
}

.ace_editor .ace_invalid,
.ace_editor .ace_invalid.ace_illegal {
  color: #F8F8F8 !important;
  background-color: rgba(86, 45, 86, 0.75) !important;
}

.ace_editor .ace_invalid.ace_deprecated {
  text-decoration: underline !important;
  font-style: italic !important;
  color: #D2A8A1 !important;
}

.ace_editor .ace_fold {
  background-color: #757aD8 !important;
  border-color: #8F938F !important;
}

.ace_editor .ace_support.ace_function {
  color: #AEB2F8 !important;
}

.ace_editor .ace_string {
  color: #66A968 !important;
}

.ace_editor .ace_string.ace_regexp {
  color: #E9C062 !important;
}

.ace_editor .ace_comment {
  color: #A6C6FF !important;
}

.ace_editor .ace_variable {
  color: #BEBF55 !important;
}

.ace_editor .ace_variable.ace_language {
  color: #C1C144 !important;
}

.ace_editor .ace_xml-pe {
  color: #494949 !important;
}

.ace_editor .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYIiPj/8PAARgAh2NTMh8AAAAAElFTkSuQmCC) right repeat-y !important;
}

/* Jupyter Notebooks */
/*! pastels on dark syntax highlighting */
#notebook .highlight table { background: #2B2B2B !important; }
#notebook .highlight .hll { background: #ffffcc !important; }
#notebook .highlight  { background: #2B2B2B !important; color: #E6E1DC !important; }
#notebook .highlight .c { color: #555555 !important; } /* Comment */
#notebook .highlight .err { color: #E6E1DC !important; } /* Error */
#notebook .highlight .g { color: #E6E1DC !important; } /* Generic */
#notebook .highlight .k { color: #4D74D0 !important; } /* Keyword */
#notebook .highlight .l { color: #E6E1DC !important; } /* Literal */
#notebook .highlight .n, #notebook .highlight .h { color: #E6E1DC !important; } /* Name */
#notebook .highlight .o { color: #E6E1DC !important; } /* Operator */
#notebook .highlight .x { color: #E6E1DC !important; } /* Other */
#notebook .highlight .p { color: #E6E1DC !important; } /* Punctuation */
#notebook .highlight .cm { color: #555555 !important; } /* Comment.Multiline */
#notebook .highlight .cp { color: #E6E1DC !important; } /* Comment.Preproc */
#notebook .highlight .c1 { color: #555555 !important; } /* Comment.Single */
#notebook .highlight .cs { color: #555555 !important; } /* Comment.Special */
#notebook .highlight .gd { color: #E6E1DC !important; background: #660000 !important; } /* Generic.Deleted */
#notebook .highlight .ge { color: #E6E1DC !important; } /* Generic.Emph */
#notebook .highlight .gr { color: #FFC66D !important; background: #990000 !important; } /* Generic.Error */
#notebook .highlight .gh { color: #FFFFFF !important; } /* Generic.Heading */
#notebook .highlight .gi { color: #E6E1DC !important; background: #519F50 !important; } /* Generic.Inserted */
#notebook .highlight .go { color: #E6E1DC !important; } /* Generic.Output */
#notebook .highlight .gp { color: #E6E1DC !important; } /* Generic.Prompt */
#notebook .highlight .gs { color: #E6E1DC !important; } /* Generic.Strong */
#notebook .highlight .gu { color: #FFFFFF !important; } /* Generic.Subheading */
#notebook .highlight .gt { color: #E6E1DC !important; } /* Generic.Traceback */
#notebook .highlight .kc { color: #4D74D0 !important; } /* Keyword.Constant */
#notebook .highlight .kd { color: #4D74D0 !important; } /* Keyword.Declaration */
#notebook .highlight .kn { color: #4D74D0 !important; } /* Keyword.Namespace */
#notebook .highlight .kp { color: #4D74D0 !important; } /* Keyword.Pseudo */
#notebook .highlight .kr { color: #4D74D0 !important; } /* Keyword.Reserved */
#notebook .highlight .kt { color: #C1C144 !important; } /* Keyword.Type */
#notebook .highlight .ld { color: #E6E1DC !important; } /* Literal.Date */
#notebook .highlight .m { color: #A5C261 !important; } /* Literal.Number */
#notebook .highlight .s { color: #AD9361 !important; } /* Literal.String */
#notebook .highlight .na { color: #6782D3 !important; } /* Name.Attribute */
#notebook .highlight .nb { color: #E6E1DC !important; } /* Name.Builtin */
#notebook .highlight .nc { color: #E6E1DC !important; } /* Name.Class */
#notebook .highlight .no { color: #A1A1FF !important; } /* Name.Constant */
#notebook .highlight .nd { color: #E6E1DC !important; } /* Name.Decorator */
#notebook .highlight .ni { color: #47B8D6 !important; } /* Name.Entity */
#notebook .highlight .ne { color: #E6E1DC !important; } /* Name.Exception */
#notebook .highlight .nf { color: #6782D3 !important; } /* Name.Function */
#notebook .highlight .nl { color: #E6E1DC !important; } /* Name.Label */
#notebook .highlight .nn { color: #E6E1DC !important; } /* Name.Namespace */
#notebook .highlight .nx { color: #E6E1DC !important; } /* Name.Other */
#notebook .highlight .py { color: #E6E1DC !important; } /* Name.Property */
#notebook .highlight .nt { color: #4D74D0 !important; } /* Name.Tag */
#notebook .highlight .nv { color: #C1C144 !important; } /* Name.Variable */
#notebook .highlight .ow { color: #E6E1DC !important; } /* Operator.Word */
#notebook .highlight .w { color: #E6E1DC !important; } /* Text.Whitespace */
#notebook .highlight .mf { color: #A5C261 !important; } /* Literal.Number.Float */
#notebook .highlight .mh { color: #A5C261 !important; } /* Literal.Number.Hex */
#notebook .highlight .mi { color: #A5C261 !important; } /* Literal.Number.Integer */
#notebook .highlight .mo { color: #A5C261 !important; } /* Literal.Number.Oct */
#notebook .highlight .sb { color: #AD9361 !important; } /* Literal.String.Backtick */
#notebook .highlight .sc { color: #AD9361 !important; } /* Literal.String.Char */
#notebook .highlight .sd { color: #AD9361 !important; } /* Literal.String.Doc */
#notebook .highlight .s2 { color: #AD9361 !important; } /* Literal.String.Double */
#notebook .highlight .se { color: #AD9361 !important; } /* Literal.String.Escape */
#notebook .highlight .sh { color: #AD9361 !important; } /* Literal.String.Heredoc */
#notebook .highlight .si { color: #AD9361 !important; } /* Literal.String.Interpol */
#notebook .highlight .sx { color: #AD9361 !important; } /* Literal.String.Other */
#notebook .highlight .sr { color: #AD9361 !important; } /* Literal.String.Regex */
#notebook .highlight .s1 { color: #AD9361 !important; } /* Literal.String.Single */
#notebook .highlight .ss { color: #AD9361 !important; } /* Literal.String.Symbol */
#notebook .highlight .bp { color: #E6E1DC !important; } /* Name.Builtin.Pseudo */
#notebook .highlight .vc { color: #C1C144 !important; } /* Name.Variable.Class */
#notebook .highlight .vg { color: #C1C144 !important; } /* Name.Variable.Global */
#notebook .highlight .vi { color: #C1C144 !important; } /* Name.Variable.Instance */
#notebook .highlight .il { color: #A5C261 !important; } /* Literal.Number.Integer.Long */
