/*! Base16 Harper Dark by Jan T. Sott; https://github.com/idleberg */
.highlight, .highlight pre, .highlight table { background: #010101; color: #fefbea }
.highlight .hll { background-color: #5a5753 }
.highlight .c { color: #726e6a } /* Comment */
.highlight .err { color: #f8b63f } /* Error */
.highlight .k { color: #b296c6 } /* Keyword */
.highlight .l { color: #f05932 } /* Literal */
.highlight .n, .highlight .h { color: #fefbea } /* Name */
.highlight .o { color: #f5bfd7 } /* Operator */
.highlight .p { color: #fefbea } /* Punctuation */
.highlight .cm { color: #726e6a } /* Comment.Multiline */
.highlight .cp { color: #726e6a } /* Comment.Preproc */
.highlight .c1 { color: #726e6a } /* Comment.Single */
.highlight .cs { color: #726e6a } /* Comment.Special */
.highlight .gd { color: #f8b63f } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #fefbea; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #7fb5e1 } /* Generic.Inserted */
.highlight .gp { color: #726e6a; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #f5bfd7; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #b296c6 } /* Keyword.Constant */
.highlight .kd { color: #b296c6 } /* Keyword.Declaration */
.highlight .kn { color: #f5bfd7 } /* Keyword.Namespace */
.highlight .kp { color: #b296c6 } /* Keyword.Pseudo */
.highlight .kr { color: #b296c6 } /* Keyword.Reserved */
.highlight .kt { color: #d6da25 } /* Keyword.Type */
.highlight .ld { color: #7fb5e1 } /* Literal.Date */
.highlight .m { color: #f05932 } /* Literal.Number */
.highlight .s { color: #7fb5e1 } /* Literal.String */
.highlight .na { color: #489e48 } /* Name.Attribute */
.highlight .nb { color: #fefbea } /* Name.Builtin */
.highlight .nc { color: #d6da25 } /* Name.Class */
.highlight .no { color: #f8b63f } /* Name.Constant */
.highlight .nd { color: #f5bfd7 } /* Name.Decorator */
.highlight .ni { color: #fefbea } /* Name.Entity */
.highlight .ne { color: #f8b63f } /* Name.Exception */
.highlight .nf { color: #489e48 } /* Name.Function */
.highlight .nl { color: #fefbea } /* Name.Label */
.highlight .nn { color: #d6da25 } /* Name.Namespace */
.highlight .nx { color: #489e48 } /* Name.Other */
.highlight .py { color: #fefbea } /* Name.Property */
.highlight .nt { color: #f5bfd7 } /* Name.Tag */
.highlight .nv { color: #f8b63f } /* Name.Variable */
.highlight .ow { color: #f5bfd7 } /* Operator.Word */
.highlight .w { color: #fefbea } /* Text.Whitespace */
.highlight .mf { color: #f05932 } /* Literal.Number.Float */
.highlight .mh { color: #f05932 } /* Literal.Number.Hex */
.highlight .mi { color: #f05932 } /* Literal.Number.Integer */
.highlight .mo { color: #f05932 } /* Literal.Number.Oct */
.highlight .sb { color: #7fb5e1 } /* Literal.String.Backtick */
.highlight .sc { color: #fefbea } /* Literal.String.Char */
.highlight .sd { color: #726e6a } /* Literal.String.Doc */
.highlight .s2 { color: #7fb5e1 } /* Literal.String.Double */
.highlight .se { color: #f05932 } /* Literal.String.Escape */
.highlight .sh { color: #7fb5e1 } /* Literal.String.Heredoc */
.highlight .si { color: #f05932 } /* Literal.String.Interpol */
.highlight .sx { color: #7fb5e1 } /* Literal.String.Other */
.highlight .sr { color: #7fb5e1 } /* Literal.String.Regex */
.highlight .s1 { color: #7fb5e1 } /* Literal.String.Single */
.highlight .ss { color: #7fb5e1 } /* Literal.String.Symbol */
.highlight .bp { color: #fefbea } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8b63f } /* Name.Variable.Class */
.highlight .vg { color: #f8b63f } /* Name.Variable.Global */
.highlight .vi { color: #f8b63f } /* Name.Variable.Instance */
.highlight .il { color: #f05932 } /* Literal.Number.Integer.Long */
