/*! Twilight; https://gist.github.com/dansimpson/803005 */
.highlight, .highlight pre,
.highlight table { background: #181818 !important; color: #F8F8F8 !important;font-family: Consolas, Monaco,"Lucida Console" !important; }
.highlight * { font-family: Consolas, Monaco,"Lucida Console" !important; color: #F8F8F8 !important; }
.highlight .hll { background-color: #ffffcc !important; }
.highlight .c { color: #5F5A60 !important; font-style: italic !important; } /* Comment */
.highlight .err { border:#B22518 !important; } /* Error */
.highlight .k { color: #CDA869 !important; } /* Keyword */
.highlight .cm { color: #5F5A60 !important; font-style: italic !important; } /* Comment.Multiline */
.highlight .cp { color: #5F5A60 !important; } /* Comment.Preproc */
.highlight .c1 { color: #5F5A60 !important; font-style: italic !important; } /* Comment.Single */
.highlight .cs { color: #5F5A60 !important; font-style: italic !important; } /* Comment.Special */
.highlight .gd { background: #420E09 !important; } /* Generic.Deleted */
.highlight .ge { font-style: italic !important; } /* Generic.Emph */
.highlight .gr { background: #B22518 !important; } /* Generic.Error */
.highlight .gh { color: #000080 !important; font-weight: bold !important; } /* Generic.Heading */
.highlight .gi { background: #253B22 !important; } /* Generic.Inserted */
.highlight .go { } /* Generic.Output */
.highlight .gp { font-weight: bold !important; } /* Generic.Prompt */
.highlight .gs { font-weight: bold !important; } /* Generic.Strong */
.highlight .gu { color: #800080 !important; font-weight: bold !important; } /* Generic.Subheading */
.highlight .gt { } /* Generic.Traceback */
.highlight .kc { } /* Keyword.Constant */
.highlight .kd { color: #e9df8f !important;  !important; } /* Keyword.Declaration */
.highlight .kn { } /* Keyword.Namespace */
.highlight .kp { color: #9B703F !important; } /* Keyword.Pseudo */
.highlight .kr { } /* Keyword.Reserved */
.highlight .kt { } /* Keyword.Type */
.highlight .m { } /* Literal.Number */
.highlight .s { } /* Literal.String */
.highlight .na { color: #F9EE98 !important; } /* Name.Attribute */
.highlight .nb { color: #CDA869 !important; } /* Name.Builtin */
.highlight .nc { color: #9B859D !important; font-weight: bold !important; } /* Name.Class */
.highlight .no { color: #9B859D !important; } /* Name.Constant */
.highlight .nd { color: #7587A6 !important; } /* Name.Decorator */
.highlight .ni { color: #CF6A4C !important; font-weight: bold !important; } /* Name.Entity */
.highlight .nf { color: #9B703F !important; font-weight: bold !important; } /* Name.Function */
.highlight .nn { color: #9B859D !important; font-weight: bold !important; } /* Name.Namespace */
.highlight .nt { color: #CDA869 !important; font-weight: bold !important; } /* Name.Tag */
.highlight .nv { color: #7587A6 !important; } /* Name.Variable */
.highlight .ow { color: #AA22FF !important; font-weight: bold !important; } /* Operator.Word */
.highlight .w { color: #141414 !important; } /* Text.Whitespace */
.highlight .mf { color: #CF6A4C !important; } /* Literal.Number.Float */
.highlight .mh { color: #CF6A4C !important; } /* Literal.Number.Hex */
.highlight .mi { color: #CF6A4C !important; } /* Literal.Number.Integer */
.highlight .mo { color: #CF6A4C !important; } /* Literal.Number.Oct */
.highlight .sb { color: #8F9D6A !important; } /* Literal.String.Backtick */
.highlight .sc { color: #8F9D6A !important; } /* Literal.String.Char */
.highlight .sd { color: #8F9D6A !important; font-style: italic !important; } /* Literal.String.Doc */
.highlight .s2 { color: #8F9D6A !important; } /* Literal.String.Double */
.highlight .se { color: #F9EE98 !important; font-weight: bold !important; } /* Literal.String.Escape */
.highlight .sh { color: #8F9D6A !important; } /* Literal.String.Heredoc */
.highlight .si { color: #DAEFA3 !important; font-weight: bold !important; } /* Literal.String.Interpol */
.highlight .sx { color: #8F9D6A !important; } /* Literal.String.Other */
.highlight .sr { color: #E9C062 !important; } /* Literal.String.Regex */
.highlight .s1 { color: #8F9D6A !important; } /* Literal.String.Single */
.highlight .ss { color: #CF6A4C !important; } /* Literal.String.Symbol */
.highlight .bp { color: #00aaaa !important; } /* Name.Builtin.Pseudo */
.highlight .vc { color: #7587A6 !important; } /* Name.Variable.Class */
.highlight .vg { color: #7587A6 !important; } /* Name.Variable.Global */
.highlight .vi { color: #7587A6 !important; } /* Name.Variable.Instance */
.highlight .il { color: #009999 !important; } /* Literal.Number.Integer.Long */
