/*! vim syntax highlighting - from http://pygments.org/demo/134881/?style=vim */
.highlight,.highlight pre,.highlight table { background:#000 !important;color:#ccc !important; }
.highlight .hll { background-color:#222 !important; }
.highlight .err { color:#ccc !important;border:1px solid red !important; }
.highlight .o { color:#39c !important; }
.highlight .cs { color:#cd0000 !important;font-weight:700 !important; }
.highlight .ge { color:#ccc !important;font-style:italic !important; }
.highlight .gr { color:red !important; }
.highlight .go { color:#888 !important; }
.highlight .gs { color:#ccc !important;font-weight:700 !important; }
.highlight .gu { color:purple !important;font-weight:700 !important; }
.highlight .gt { color:#04D !important; }
.highlight .ne { color:#669 !important;font-weight:700 !important; }
.highlight .c,.highlight .cm,.highlight .cp,.highlight .c1 { color:#0000cd !important; }
.highlight .g,.highlight .l,.highlight .n,.highlight .x,.highlight .p,.highlight .ld,.highlight .na,.highlight .no,
.highlight .nd,.highlight .ni,.highlight .nf,.highlight .nl,.highlight .nn,.highlight .nx,.highlight .py,
.highlight .nt,.highlight .w,.highlight .h { color:#ccc !important; }
.highlight .k,.highlight .kc,.highlight .kp,.highlight .kr,.highlight .ow { color:#cdcd00 !important; }
.highlight .gd,.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .se,.highlight .sh,
.highlight .si,.highlight .sx,.highlight .sr,.highlight .s1,.highlight .ss { color:#cd0000 !important; }
.highlight .gh,.highlight .gp { color:navy !important;font-weight:700 !important; }
.highlight .gi,.highlight .kd,.highlight .kt { color:#00cd00 !important; }
.highlight .kn,.highlight .m,.highlight .nb,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,
.highlight .bp,.highlight .il { color:#cd00cd !important; }
.highlight .nc,.highlight .nv,.highlight .vc,.highlight .vg,.highlight .vi { color:#00cdcd !important; }