/*! Solarized Dark */
.highlight, .ace_editor {
  background: #002b36 !important;
  color: #93a1a1 !important;
}

.pl-c                 { color: #586e75 !important; font-style: italic !important; } /* comment */
.pl-c1                { color: #2aa198 !important; } /* constant */
.pl-e                 { color: #268bd2 !important; } /* entity */
.pl-en                { color: #268bd2 !important; } /* entity.name */
.pl-ent               { color: #268bd2 !important; } /* entity.name.tag */
.pl-k                 { color: #859900 !important; } /* keyword */
.pl-mb                { color: #2aa198 !important; font-weight: bold !important; } /* markup.bold */
.pl-mdh               { color: #859900 !important; } /* meta.diff.header */
.pl-mdr               { color: #859900 !important; } /* meta.diff.range */
.pl-mh                { color: #cb4b16 !important; } /* markup.heading */
.pl-mh .pl-en         { color: #cb4b16 !important; font-weight: bold !important; } /* markup.heading entity.name */
.pl-mi                { color: #859900 !important; font-style: italic !important; } /* markup.italic */

.pl-ml                { color: #859900 !important; } /* markup.list */
.pl-mm                { color: #859900 !important; } /* meta.module-reference */
.pl-mo                { color: #859900 !important; } /* meta.output */
.pl-mp                { color: #859900 !important; } /* meta.property-name */
.pl-mq                { color: #586e75 !important; } /* markup.quote */
.pl-mr                { color: #859900 !important; } /* meta.require */
.pl-ms                { color: #859900 !important; } /* meta.selector */
.pl-pds               { color: #2aa198 !important; } /* punctuation.definition.string */
.pl-s                 { color: #268bd2 !important; } /* storage */
.pl-s1                { color: #2aa198 !important; } /* string */
.pl-s1 .pl-pse .pl-s2 { color: #2aa198 !important; } /* string punctuation.section.embedded source */
.pl-s1 .pl-s2         { color: #93a1a1 !important; } /* string source */
.pl-s1 .pl-v          { color: #859900 !important; } /* string variable */
.pl-s3                { color: #859900 !important; } /* support */
.pl-sc                { color: #cb4b16 !important; } /* support.class */
.pl-smi               { color: #93a1a1 !important; } /* storage.modifier.import */
.pl-smp               { color: #93a1a1 !important; } /* storage.modifier.package */
.pl-sr                { color: #d30102 !important; } /* string.regexp */
.pl-sr .pl-cce        { color: #cb4b16 !important; } /* constant.character.escape */
.pl-sr .pl-sra        { color: #d30102 !important; } /* string.regexp string.regexp.arbitrary-repitition */
.pl-sr .pl-sre        { color: #d30102 !important; } /* string.regexp source.ruby.embedded */
.pl-src               { color: #d30102 !important; } /* string.regexp.character-class */
.pl-st                { color: #dc322f !important; } /* support.type */
.pl-stj               { color: #93a1a1 !important; } /* storage.type.java */
.pl-sv                { color: #2aa198 !important; } /* support.variable */
.pl-v                 { color: #268bd2 !important; } /* variable */
.pl-vo                { color: #93a1a1 !important; } /* variable.other */
.pl-vpf               { color: #93a1a1 !important; } /* variable.parameter.function */

.pl-mi1               { color: #93a1a1 !important; background: rgba(0,64,0,.5) !important; } /* markup.inserted */
.pl-mdht              { color: #93a1a1 !important; background: rgba(0,64,0,.5) !important; } /* meta.diff.header.to-file */
.pl-md                { color: #93a1a1 !important; background: rgba(64,0,0,.5) !important; } /* markup.deleted */
.pl-mdhf              { color: #93a1a1 !important; background: rgba(64,0,0,.5) !important; } /* meta.diff.header.from-file */
.pl-id                { color: #93a1a1 !important; background: rgba(64,0,0,.5) !important; } /* invalid.deprecated */
.pl-ii                { color: #93a1a1 !important; background: rgba(64,0,0,.5) !important; } /* invalid.illegal */

.highlight-css .pl-k  { color: #586e75 !important; } /* keyword */
.highlight-cpp .pl-s  { color: #dc322f !important; } /* storage in c++ */

/* solarized_dark */
.ace_editor .ace_gutter{background:#01313f!important;color:#d0edf7!important}
.ace_editor .ace_print-margin{width:1px!important;background:#33555e!important}
.ace_editor{background-color:#002b36!important;color:#93a1a1!important}
.ace_editor .ace_entity.ace_other.ace_attribute-name,.ace_editor .ace_storage{color:#93a1a1!important}
.ace_editor .ace_cursor,.ace_editor .ace_string.ace_regexp{color:#d30102!important}
.ace_editor .ace_marker-layer .ace_active-line,.ace_editor .ace_marker-layer .ace_selection{background:rgba(255,255,255,.1)!important}
.ace_editor.ace_multiselect .ace_selection.ace_start{box-shadow:0 0 3px 0 #002b36!important;border-radius:2px!important}
.ace_editor .ace_marker-layer .ace_step{background:#665200!important}
.ace_editor .ace_marker-layer .ace_bracket{margin:-1px 0 0 -1px!important;border:1px solid rgba(147,161,161,.5)!important}
.ace_editor .ace_gutter-active-line{background-color:#0d3440!important}
.ace_editor .ace_marker-layer .ace_selected-word{border:1px solid #073642!important}
.ace_editor .ace_invisible{color:rgba(147,161,161,.5)!important}
.ace_editor .ace_keyword,.ace_editor .ace_meta,.ace_editor .ace_support.ace_class,.ace_editor .ace_support.ace_type{color:#859900!important}
.ace_editor .ace_constant.ace_character,.ace_editor .ace_constant.ace_other{color:#cb4b16!important}
.ace_editor .ace_constant.ace_language{color:#b58900!important}
.ace_editor .ace_constant.ace_numeric{color:#d33682!important}
.ace_editor .ace_fold{background-color:#268bd2!important;border-color:#93a1a1!important}
.ace_editor .ace_entity.ace_name.ace_function,.ace_editor .ace_entity.ace_name.ace_tag,.ace_editor .ace_support.ace_function,
.ace_editor .ace_variable,.ace_editor .ace_variable.ace_language{color:#268bd2!important}
.ace_editor .ace_string{color:#2aa198!important}
.ace_editor .ace_comment{font-style:italic!important;color:#586e75!important}
.ace_editor .ace_indent-guide{background:url(data:image/png;base64,ivborw0kggoaaaansuheugaaaaeaaaaccayaaaczgbynaaaaekleqvqimwng0db1zvcxc/spaad4aluhllenaaaaaelftksuqmcc) right repeat-y!important}

/* Jupyter Notebooks */
/*! Solariazed Dark from https://gist.github.com/nicolashery/5765395 */
/* Solarized Dark

For use with Jekyll and Pygments

http://ethanschoonover.com/solarized

SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base03    #002b36  background
base01    #586e75  comments / secondary content
base1     #93a1a1  body text / default code / primary content
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/

#notebook .highlight table { background-color: #002b36 !important; color: #93a1a1 !important; }
#notebook .highlight .c { color: #586e75 !important; } /* Comment */
#notebook .highlight .err { color: #dc322f !important; background-color: #fdf6e3 !important; } /* Error */
#notebook .highlight .g { color: #93a1a1 !important; } /* Generic */
#notebook .highlight .k { color: #859900 !important; } /* Keyword */
#notebook .highlight .l { color: #93a1a1 !important; } /* Literal */
#notebook .highlight .n, #notebook .highlight .h { color: #93a1a1 !important; } /* Name */
#notebook .highlight .o { color: #859900 !important; } /* Operator */
#notebook .highlight .x { color: #cb4b16 !important; } /* Other */
#notebook .highlight .p { color: #93a1a1 !important; } /* Punctuation */
#notebook .highlight .cm { color: #586e75 !important; } /* Comment.Multiline */
#notebook .highlight .cp { color: #859900 !important; } /* Comment.Preproc */
#notebook .highlight .c1 { color: #586e75 !important; } /* Comment.Single */
#notebook .highlight .cs { color: #859900 !important; } /* Comment.Special */
#notebook .highlight .gd { color: #2aa198 !important; } /* Generic.Deleted */
#notebook .highlight .ge { color: #93a1a1 !important; font-style: italic !important; } /* Generic.Emph */
#notebook .highlight .gr { color: #dc322f !important; } /* Generic.Error */
#notebook .highlight .gh { color: #cb4b16 !important; } /* Generic.Heading */
#notebook .highlight .gi { color: #859900 !important; } /* Generic.Inserted */
#notebook .highlight .go { color: #93a1a1 !important; } /* Generic.Output */
#notebook .highlight .gp { color: #93a1a1 !important; } /* Generic.Prompt */
#notebook .highlight .gs { color: #93a1a1 !important; font-weight: bold !important; } /* Generic.Strong */
#notebook .highlight .gu { color: #cb4b16 !important; } /* Generic.Subheading */
#notebook .highlight .gt { color: #93a1a1 !important; } /* Generic.Traceback */
#notebook .highlight .kc { color: #cb4b16 !important; } /* Keyword.Constant */
#notebook .highlight .kd { color: #268bd2 !important; } /* Keyword.Declaration */
#notebook .highlight .kn { color: #859900 !important; } /* Keyword.Namespace */
#notebook .highlight .kp { color: #859900 !important; } /* Keyword.Pseudo */
#notebook .highlight .kr { color: #268bd2 !important; } /* Keyword.Reserved */
#notebook .highlight .kt { color: #dc322f !important; } /* Keyword.Type */
#notebook .highlight .ld { color: #93a1a1 !important; } /* Literal.Date */
#notebook .highlight .m { color: #2aa198 !important; } /* Literal.Number */
#notebook .highlight .s { color: #2aa198 !important; } /* Literal.String */
#notebook .highlight .na { color: #93a1a1 !important; } /* Name.Attribute */
#notebook .highlight .nb { color: #B58900 !important; } /* Name.Builtin */
#notebook .highlight .nc { color: #268bd2 !important; } /* Name.Class */
#notebook .highlight .no { color: #cb4b16 !important; } /* Name.Constant */
#notebook .highlight .nd { color: #268bd2 !important; } /* Name.Decorator */
#notebook .highlight .ni { color: #cb4b16 !important; } /* Name.Entity */
#notebook .highlight .ne { color: #cb4b16 !important; } /* Name.Exception */
#notebook .highlight .nf { color: #268bd2 !important; } /* Name.Function */
#notebook .highlight .nl { color: #93a1a1 !important; } /* Name.Label */
#notebook .highlight .nn { color: #93a1a1 !important; } /* Name.Namespace */
#notebook .highlight .nx { color: #93a1a1 !important; } /* Name.Other */
#notebook .highlight .py { color: #93a1a1 !important; } /* Name.Property */
#notebook .highlight .nt { color: #268bd2 !important; } /* Name.Tag */
#notebook .highlight .nv { color: #268bd2 !important; } /* Name.Variable */
#notebook .highlight .ow { color: #859900 !important; } /* Operator.Word */
#notebook .highlight .w { color: #93a1a1 !important; } /* Text.Whitespace */
#notebook .highlight .mf { color: #2aa198 !important; } /* Literal.Number.Float */
#notebook .highlight .mh { color: #2aa198 !important; } /* Literal.Number.Hex */
#notebook .highlight .mi { color: #2aa198 !important; } /* Literal.Number.Integer */
#notebook .highlight .mo { color: #2aa198 !important; } /* Literal.Number.Oct */
#notebook .highlight .sb { color: #586e75 !important; } /* Literal.String.Backtick */
#notebook .highlight .sc { color: #2aa198 !important; } /* Literal.String.Char */
#notebook .highlight .sd { color: #93a1a1 !important; } /* Literal.String.Doc */
#notebook .highlight .s2 { color: #2aa198 !important; } /* Literal.String.Double */
#notebook .highlight .se { color: #cb4b16 !important; } /* Literal.String.Escape */
#notebook .highlight .sh { color: #93a1a1 !important; } /* Literal.String.Heredoc */
#notebook .highlight .si { color: #2aa198 !important; } /* Literal.String.Interpol */
#notebook .highlight .sx { color: #2aa198 !important; } /* Literal.String.Other */
#notebook .highlight .sr { color: #dc322f !important; } /* Literal.String.Regex */
#notebook .highlight .s1 { color: #2aa198 !important; } /* Literal.String.Single */
#notebook .highlight .ss { color: #2aa198 !important; } /* Literal.String.Symbol */
#notebook .highlight .bp { color: #268bd2 !important; } /* Name.Builtin.Pseudo */
#notebook .highlight .vc { color: #268bd2 !important; } /* Name.Variable.Class */
#notebook .highlight .vg { color: #268bd2 !important; } /* Name.Variable.Global */
#notebook .highlight .vi { color: #268bd2 !important; } /* Name.Variable.Instance */
#notebook .highlight .il { color: #2aa198 !important; } /* Literal.Number.Integer.Long */

