/*! Solarized Dark */
/* Syntax Theme - Solarized Dark */

.highlight                  { background-color: #002b36 !important; color: #93a1a1 !important; }
.highlight .pl-c            { color: #586e75 !important; font-style: italic !important; } /* comment */
.highlight .pl-c1           { color: #dc322f !important; } /* constant */
.highlight .pl-cce          { color: #cb4b16 !important; } /* constant.character.escape */
.highlight .pl-cn           { color: #2aa198 !important; } /* constant.numeric */
.highlight .pl-coc          { color: #2aa198 !important; } /* constant.other.color */
.highlight .pl-cos          { color: #cb4b16 !important; } /* constant.other.symbol */
.highlight .pl-ef           { color: #268bd2 !important; } /* entity.function */
.highlight .pl-enc          { color: #268bd2 !important; } /* entity.name.class */
.highlight .pl-enf          { color: #268bd2 !important; } /* entity.name.function */
.highlight .pl-enm          { color: #268bd2 !important; } /* entity.name.method-name */
.highlight .pl-ens          { color: #cb4b16 !important; } /* entity.name.section */
.highlight .pl-ent          { color: #268BD2 !important; } /* entity.name.tag */
.highlight .pl-entc         { color: #268bd2 !important; } /* entity.name.type.class */
.highlight .pl-enti         { color: #268bd2 !important; } /* entity.name.type.instance */
.highlight .pl-entl         { color: #268BD2 !important; } /* entity.name.tag.label */
.highlight .pl-entm         { color: #268bd2 !important; } /* entity.name.type.module */
.highlight .pl-eoa          { color: #93a1a1 !important; } /* entity.other.attribute-name */
.highlight .pl-eoac         { color: #268bd2 !important; } /* entity.other.attribute-name.class */
.highlight .pl-eoai         { color: #268bd2 !important; } /* entity.other.attribute-name.id */
.highlight .pl-eoi          { color: #268bd2 !important; } /* entity.other.inherited-class */
.highlight .pl-ib           { color: #dc322f !important; background-color: #fdf6e3 !important; } /* invalid.broken */
.highlight .pl-id           { color: #dc322f !important; background-color: #fdf6e3 !important; } /* invalid.deprecated */
.highlight .pl-ii           { color: #dc322f !important; background-color: #fdf6e3 !important; } /* invalid.illegal */
.highlight .pl-iu           { color: #dc322f !important; background-color: #fdf6e3 !important; } /* invalid.unimplemented */
.highlight .pl-k            { color: #859900 !important; } /* keyword */
.highlight .pl-ko           { color: #859900 !important; } /* keyword.operator */
.highlight .pl-kolp         { color: #859900 !important; } /* keyword.operator.logical.python */
.highlight .pl-kos          { color: #859900 !important; } /* keyword.other.special-method */
.highlight .pl-kou          { color: #2aa198 !important; } /* keyword.other.unit */
.highlight .pl-mai .pl-sf   { color: #268bd2 !important; } /* meta.at-rule.include support.function */
.highlight .pl-mb           { color: #2AA198 !important; font-weight: bold !important; } /* markup.bold */
.highlight .pl-mc           { color: #2AA198 !important; } /* markup.changed */
.highlight .pl-md           { color: #cb4b16 !important; } /* markup.deleted */
.highlight .pl-mdh          { color: #859900 !important; } /* meta.diff.header */
.highlight .pl-mdhf         { color: #859900 !important; } /* meta.diff.header.from-file */
.highlight .pl-mdht         { color: #859900 !important; } /* meta.diff.header.to-file */
.highlight .pl-mdi          { color: #859900 !important; } /* meta.diff.index */
.highlight .pl-mdr          { color: #859900 !important; } /* meta.diff.range */
.highlight .pl-mh .pl-pdh   { color: #cb4b16 !important; } /* markup.heading punctuation.definition.heading */
.highlight .pl-mi           { color: #859900 !important; font-style: italic !important; } /* markup.italic */
.highlight .pl-mi1          { color: #859900 !important; } /* markup.inserted */
.highlight .pl-ml           { color: #859900 !important; } /* markup.list */
.highlight .pl-mm           { color: #859900 !important; } /* meta.module-reference */
.highlight .pl-mo           { color: #859900 !important; } /* meta.output */
.highlight .pl-mp           { color: #859900 !important; } /* meta.property-name */
.highlight .pl-mp1 .pl-sf   { color: #268bd2 !important; } /* meta.property-value support.function */
.highlight .pl-mq           { color: #586e75 !important; } /* markup.quote */
.highlight .pl-mr           { color: #859900 !important; } /* meta.require */
.highlight .pl-mri          { color: #586e75 !important; } /* markup.raw.inline */
.highlight .pl-ms           { color: #859900 !important; } /* meta.selector */
.highlight .pl-ms1          { color: #859900 !important; } /* meta.separator */
.highlight .pl-pdb          { color: #2AA198 !important; font-weight: bold !important; } /* punctuation.definition.bold */
.highlight .pl-pdc          { color: #586e75 !important; font-style: italic !important; } /* punctuation.definition.comment */
.highlight .pl-pdc1         { color: #2aa198 !important; } /* punctuation.definition.constant */
.highlight .pl-pde          { color: #268bd2 !important; } /* punctuation.definition.entity */
.highlight .pl-pdi          { color: #859900 !important; font-style: italic !important; } /* punctuation.definition.italic */
.highlight .pl-pds          { color: #2AA198 !important; } /* punctuation.definition.string */
.highlight .pl-pdv          { color: #268bd2 !important; } /* punctuation.definition.variable */
.highlight .pl-pse          { color: #cb4b16 !important; } /* punctuation.section.embedded */
.highlight .pl-pse .pl-s2   { color: #cb4b16 !important; } /* punctuation.section.embedded source */
.highlight .pl-s            { color: #268bd2 !important; } /* storage */
.highlight .pl-s1           { color: #2AA198 !important; } /* string */
.highlight .pl-s2           { color: #93a1a1 !important; } /* source */
.highlight .pl-sc           { color: #B58900 !important; } /* support.class */
.highlight .pl-scp          { color: #cb4b16 !important; } /* support.constant.property-value */
.highlight .pl-sf           { color: #93a1a1 !important; } /* support.function */
.highlight .pl-smc          { color: #93A1A1 !important; } /* storage.modifier.c */
.highlight .pl-sok          { color: #859900 !important; } /* support.other.keyword */
.highlight .pl-sol          { color: #2AA198 !important; } /* string.other.link */
.highlight .pl-som          { color: #93a1a1 !important; } /* support.other.module */
.highlight .pl-sr           { color: #D30102 !important; } /* string.regexp */
.highlight .pl-sr .pl-pds   { color: #dc322f !important; } /* punctuation inside of regexp */
.highlight .pl-st           { color: #dc322f !important; } /* support.type */
.highlight .pl-stp          { color: #859900 !important; } /* support.type.property-name */
.highlight .pl-v            { color: #268bd2 !important; } /* variable */
.highlight .pl-va           { color: #268bd2 !important; } /* variable.assignment */
.highlight .pl-vi           { color: #cb4b16 !important; } /* variable.interpolation */
.highlight .pl-vpf          { color: #93a1a1 !important; } /* variable.parameter.function */
.highlight .pl-vpu          { color: #268bd2 !important; } /* variable.parameter.url */
.highlight-cpp .pl-s        { color: #dc322f !important; } /* storage in C++ */
.highlight .pl-s2 .pl-s     { color: #859900 !important; } /* source + storage - python special */

/*! Pygments: Solarized Dark */
.highlight, .highlight pre,
.highlight table { background-color: #002b36 !important; color: #93a1a1 !important; }
.highlight .c { color: #586e75 !important; font-style: italic !important; } /* Comment */
.highlight .err { color: #dc322f !important; background-color: #fdf6e3 !important; } /* Error */
.highlight .g { color: #93a1a1 !important; } /* Generic */
.highlight .k { color: #859900 !important; } /* Keyword */
.highlight .l { color: #93a1a1 !important; } /* Literal */
.highlight .n, .highlight .h { color: #93a1a1 !important; } /* Name */
.highlight .o { color: #859900 !important; } /* Operator */
.highlight .x { color: #cb4b16 !important; } /* Other */
.highlight .p { color: #93a1a1 !important; } /* Punctuation */
.highlight .cm { color: #586e75 !important; font-style: italic !important; } /* Comment.Multiline */
.highlight .cp { color: #859900 !important; } /* Comment.Preproc */
.highlight .c1 { color: #586e75 !important; } /* Comment.Single */
.highlight .cs { color: #859900 !important; } /* Comment.Special */
.highlight .gd { color: #c31e16 !important; } /* Generic.Deleted */
.highlight .ge { color: #93a1a1 !important; font-style: italic !important; } /* Generic.Emph */
.highlight .gr { color: #dc322f !important; } /* Generic.Error */
.highlight .gh { color: #cb4b16 !important; } /* Generic.Heading */
.highlight .gi { color: #859900 !important; } /* Generic.Inserted */
.highlight .go { color: #93a1a1 !important; } /* Generic.Output */
.highlight .gp { color: #93a1a1 !important; } /* Generic.Prompt */
.highlight .gs { color: #93a1a1 !important; font-weight: bold !important; } /* Generic.Strong */
.highlight .gu { color: #93a1a1 !important; } /* Generic.Subheading */
.highlight .gt { color: #93a1a1 !important; } /* Generic.Traceback */
.highlight .kc { color: #cb4b16 !important; } /* Keyword.Constant */
.highlight .kd { color: #268bd2 !important; } /* Keyword.Declaration */
.highlight .kn { color: #859900 !important; } /* Keyword.Namespace */
.highlight .kp { color: #859900 !important; } /* Keyword.Pseudo */
.highlight .kr { color: #268bd2 !important; } /* Keyword.Reserved */
.highlight .kt { color: #dc322f !important; } /* Keyword.Type */
.highlight .ld { color: #93a1a1 !important; } /* Literal.Date */
.highlight .m { color: #2aa198 !important; } /* Literal.Number */
.highlight .s { color: #2aa198 !important; } /* Literal.String */
.highlight .na { color: #93a1a1 !important; } /* Name.Attribute */
.highlight .nb { color: #B58900 !important; } /* Name.Builtin */
.highlight .nc { color: #268bd2 !important; } /* Name.Class */
.highlight .no { color: #cb4b16 !important; } /* Name.Constant */
.highlight .nd { color: #268bd2 !important; } /* Name.Decorator */
.highlight .ni { color: #cb4b16 !important; } /* Name.Entity */
.highlight .ne { color: #cb4b16 !important; } /* Name.Exception */
.highlight .nf { color: #268bd2 !important; } /* Name.Function */
.highlight .nl { color: #93a1a1 !important; } /* Name.Label */
.highlight .nn { color: #93a1a1 !important; } /* Name.Namespace */
.highlight .nx { color: #93a1a1 !important; } /* Name.Other */
.highlight .py { color: #93a1a1 !important; } /* Name.Property */
.highlight .nt { color: #268bd2 !important; } /* Name.Tag */
.highlight .nv { color: #268bd2 !important; } /* Name.Variable */
.highlight .ow { color: #859900 !important; } /* Operator.Word */
.highlight .w { color: #93a1a1 !important; } /* Text.Whitespace */
.highlight .mf { color: #2aa198 !important; } /* Literal.Number.Float */
.highlight .mh { color: #2aa198 !important; } /* Literal.Number.Hex */
.highlight .mi { color: #2aa198 !important; } /* Literal.Number.Integer */
.highlight .mo { color: #2aa198 !important; } /* Literal.Number.Oct */
.highlight .sb { color: #586e75 !important; } /* Literal.String.Backtick */
.highlight .sc { color: #2aa198 !important; } /* Literal.String.Char */
.highlight .sd { color: #93a1a1 !important; } /* Literal.String.Doc */
.highlight .s2 { color: #2aa198 !important; } /* Literal.String.Double */
.highlight .se { color: #cb4b16 !important; } /* Literal.String.Escape */
.highlight .sh { color: #93a1a1 !important; } /* Literal.String.Heredoc */
.highlight .si { color: #2aa198 !important; } /* Literal.String.Interpol */
.highlight .sx { color: #2aa198 !important; } /* Literal.String.Other */
.highlight .sr { color: #dc322f !important; } /* Literal.String.Regex */
.highlight .s1 { color: #2aa198 !important; } /* Literal.String.Single */
.highlight .ss { color: #2aa198 !important; } /* Literal.String.Symbol */
.highlight .bp { color: #268bd2 !important; } /* Name.Builtin.Pseudo */
.highlight .vc { color: #268bd2 !important; } /* Name.Variable.Class */
.highlight .vg { color: #268bd2 !important; } /* Name.Variable.Global */
.highlight .vi { color: #268bd2 !important; } /* Name.Variable.Instance */
.highlight .il { color: #2aa198 !important; } /* Literal.Number.Integer.Long */

/*! solarized_dark */
.ace_editor .ace_gutter{background:#01313f!important;color:#d0edf7!important}
.ace_editor .ace_print-margin{width:1px!important;background:#33555E!important}
.ace_editor{background-color:#002B36!important;color:#93A1A1!important}
.ace_editor .ace_entity.ace_other.ace_attribute-name,.ace_editor .ace_storage{color:#93A1A1!important}
.ace_editor .ace_cursor,.ace_editor .ace_string.ace_regexp{color:#D30102!important}
.ace_editor .ace_marker-layer .ace_active-line,.ace_editor .ace_marker-layer .ace_selection{background:rgba(255,255,255,.1)!important}
.ace_editor.ace_multiselect .ace_selection.ace_start{box-shadow:0 0 3px 0 #002B36!important;border-radius:2px!important}
.ace_editor .ace_marker-layer .ace_step{background:#665200!important}
.ace_editor .ace_marker-layer .ace_bracket{margin:-1px 0 0 -1px!important;border:1px solid rgba(147,161,161,.5)!important}
.ace_editor .ace_gutter-active-line{background-color:#0d3440!important}
.ace_editor .ace_marker-layer .ace_selected-word{border:1px solid #073642!important}
.ace_editor .ace_invisible{color:rgba(147,161,161,.5)!important}
.ace_editor .ace_keyword,.ace_editor .ace_meta,.ace_editor .ace_support.ace_class,.ace_editor .ace_support.ace_type{color:#859900!important}
.ace_editor .ace_constant.ace_character,.ace_editor .ace_constant.ace_other{color:#CB4B16!important}
.ace_editor .ace_constant.ace_language{color:#B58900!important}
.ace_editor .ace_constant.ace_numeric{color:#D33682!important}
.ace_editor .ace_fold{background-color:#268BD2!important;border-color:#93A1A1!important}
.ace_editor .ace_entity.ace_name.ace_function,.ace_editor .ace_entity.ace_name.ace_tag,.ace_editor .ace_support.ace_function,
.ace_editor .ace_variable,.ace_editor .ace_variable.ace_language{color:#268BD2!important}
.ace_editor .ace_string{color:#2AA198!important}
.ace_editor .ace_comment{font-style:italic!important;color:#586e75!important}
.ace_editor .ace_indent-guide{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNg0Db1ZVCxc/sPAAd4AlUHlLenAAAAAElFTkSuQmCC) right repeat-y!important}
