/*! Solarized Dark */
.highlight, .ace_editor {
  background: #002b36 !important;
  color: #93a1a1 !important;
}

.pl-c                 { color: #586e75 !important; font-style: italic !important; } /* comment */
.pl-c1                { color: #2aa198 !important; } /* constant */
.pl-e                 { color: #268bd2 !important; } /* entity */
.pl-en                { color: #268bd2 !important; } /* entity.name */
.pl-ent               { color: #268bd2 !important; } /* entity.name.tag */
.pl-k                 { color: #859900 !important; } /* keyword */
.pl-mb                { color: #2aa198 !important; font-weight: bold !important; } /* markup.bold */
.pl-mdh               { color: #859900 !important; } /* meta.diff.header */
.pl-mdr               { color: #859900 !important; } /* meta.diff.range */
.pl-mh                { color: #cb4b16 !important; } /* markup.heading */
.pl-mh .pl-en         { color: #cb4b16 !important; font-weight: bold !important; } /* markup.heading entity.name */
.pl-mi                { color: #859900 !important; font-style: italic !important; } /* markup.italic */

.pl-ml                { color: #859900 !important; } /* markup.list */
.pl-mm                { color: #859900 !important; } /* meta.module-reference */
.pl-mo                { color: #859900 !important; } /* meta.output */
.pl-mp                { color: #859900 !important; } /* meta.property-name */
.pl-mq                { color: #586e75 !important; } /* markup.quote */
.pl-mr                { color: #859900 !important; } /* meta.require */
.pl-ms                { color: #859900 !important; } /* meta.selector */
.pl-pds               { color: #2aa198 !important; } /* punctuation.definition.string */
.pl-s                 { color: #268bd2 !important; } /* storage */
.pl-s1                { color: #2aa198 !important; } /* string */
.pl-s1 .pl-pse .pl-s2 { color: #2aa198 !important; } /* string punctuation.section.embedded source */
.pl-s1 .pl-s2         { color: #93a1a1 !important; } /* string source */
.pl-s1 .pl-v          { color: #859900 !important; } /* string variable */
.pl-s3                { color: #859900 !important; } /* support */
.pl-sc                { color: #cb4b16 !important; } /* support.class */
.pl-smi               { color: #93a1a1 !important; } /* storage.modifier.import */
.pl-smp               { color: #93a1a1 !important; } /* storage.modifier.package */
.pl-sr                { color: #d30102 !important; } /* string.regexp */
.pl-sr .pl-cce        { color: #cb4b16 !important; } /* constant.character.escape */
.pl-sr .pl-sra        { color: #d30102 !important; } /* string.regexp string.regexp.arbitrary-repitition */
.pl-sr .pl-sre        { color: #d30102 !important; } /* string.regexp source.ruby.embedded */
.pl-src               { color: #d30102 !important; } /* string.regexp.character-class */
.pl-st                { color: #dc322f !important; } /* support.type */
.pl-stj               { color: #93a1a1 !important; } /* storage.type.java */
.pl-sv                { color: #2aa198 !important; } /* support.variable */
.pl-v                 { color: #268bd2 !important; } /* variable */
.pl-vo                { color: #93a1a1 !important; } /* variable.other */
.pl-vpf               { color: #93a1a1 !important; } /* variable.parameter.function */

.pl-mi1               { color: #93a1a1 !important; background: rgba(0,64,0,.5) !important; } /* markup.inserted */
.pl-mdht              { color: #93a1a1 !important; background: rgba(0,64,0,.5) !important; } /* meta.diff.header.to-file */
.pl-md                { color: #93a1a1 !important; background: rgba(64,0,0,.5) !important; } /* markup.deleted */
.pl-mdhf              { color: #93a1a1 !important; background: rgba(64,0,0,.5) !important; } /* meta.diff.header.from-file */
.pl-id                { color: #93a1a1 !important; background: rgba(64,0,0,.5) !important; } /* invalid.deprecated */
.pl-ii                { color: #93a1a1 !important; background: rgba(64,0,0,.5) !important; } /* invalid.illegal */

.highlight-css .pl-k  { color: #586e75 !important; } /* keyword */
.highlight-cpp .pl-s  { color: #dc322f !important; } /* storage in c++ */

/* solarized_dark */
.ace_editor .ace_gutter{background:#01313f!important;color:#d0edf7!important}
.ace_editor .ace_print-margin{width:1px!important;background:#33555e!important}
.ace_editor{background-color:#002b36!important;color:#93a1a1!important}
.ace_editor .ace_entity.ace_other.ace_attribute-name,.ace_editor .ace_storage{color:#93a1a1!important}
.ace_editor .ace_cursor,.ace_editor .ace_string.ace_regexp{color:#d30102!important}
.ace_editor .ace_marker-layer .ace_active-line,.ace_editor .ace_marker-layer .ace_selection{background:rgba(255,255,255,.1)!important}
.ace_editor.ace_multiselect .ace_selection.ace_start{box-shadow:0 0 3px 0 #002b36!important;border-radius:2px!important}
.ace_editor .ace_marker-layer .ace_step{background:#665200!important}
.ace_editor .ace_marker-layer .ace_bracket{margin:-1px 0 0 -1px!important;border:1px solid rgba(147,161,161,.5)!important}
.ace_editor .ace_gutter-active-line{background-color:#0d3440!important}
.ace_editor .ace_marker-layer .ace_selected-word{border:1px solid #073642!important}
.ace_editor .ace_invisible{color:rgba(147,161,161,.5)!important}
.ace_editor .ace_keyword,.ace_editor .ace_meta,.ace_editor .ace_support.ace_class,.ace_editor .ace_support.ace_type{color:#859900!important}
.ace_editor .ace_constant.ace_character,.ace_editor .ace_constant.ace_other{color:#cb4b16!important}
.ace_editor .ace_constant.ace_language{color:#b58900!important}
.ace_editor .ace_constant.ace_numeric{color:#d33682!important}
.ace_editor .ace_fold{background-color:#268bd2!important;border-color:#93a1a1!important}
.ace_editor .ace_entity.ace_name.ace_function,.ace_editor .ace_entity.ace_name.ace_tag,.ace_editor .ace_support.ace_function,
.ace_editor .ace_variable,.ace_editor .ace_variable.ace_language{color:#268bd2!important}
.ace_editor .ace_string{color:#2aa198!important}
.ace_editor .ace_comment{font-style:italic!important;color:#586e75!important}
.ace_editor .ace_indent-guide{background:url(data:image/png;base64,ivborw0kggoaaaansuheugaaaaeaaaaccayaaaczgbynaaaaekleqvqimwng0db1zvcxc/spaad4aluhllenaaaaaelftksuqmcc) right repeat-y!important}

/* REMOVED SELECTORS FROM PREVIOUS VERSION
.pl-cn           { color: #2aa198 !important; } / * constant.numeric * /
.pl-coc          { color: #2aa198 !important; } / * constant.other.color * /
.pl-cos          { color: #cb4b16 !important; } / * constant.other.symbol * /
.pl-ef           { color: #268bd2 !important; } / * entity.function * /
.pl-enc          { color: #268bd2 !important; } / * entity.name.class * /
.pl-enf          { color: #268bd2 !important; } / * entity.name.function * /
.pl-enm          { color: #268bd2 !important; } / * entity.name.method-name * /
.pl-ens          { color: #cb4b16 !important; } / * entity.name.section * /
.pl-entc         { color: #268bd2 !important; } / * entity.name.type.class * /
.pl-enti         { color: #268bd2 !important; } / * entity.name.type.instance * /
.pl-entl         { color: #268bd2 !important; } / * entity.name.tag.label * /
.pl-entm         { color: #268bd2 !important; } / * entity.name.type.module * /
.pl-eoa          { color: #93a1a1 !important; } / * entity.other.attribute-name * /
.pl-eoac         { color: #268bd2 !important; } / * entity.other.attribute-name.class * /
.pl-eoai         { color: #268bd2 !important; } / * entity.other.attribute-name.id * /
.pl-eoi          { color: #268bd2 !important; } / * entity.other.inherited-class * /
.pl-ib           { color: #dc322f !important; background-color: #fdf6e3 !important; } / * invalid.broken * /
.pl-iu           { color: #dc322f !important; background-color: #fdf6e3 !important; } / * invalid.unimplemented * /
.pl-ko           { color: #859900 !important; } / * keyword.operator * /
.pl-kolp         { color: #859900 !important; } / * keyword.operator.logical.python * /
.pl-kos          { color: #859900 !important; } / * keyword.other.special-method * /
.pl-kou          { color: #2aa198 !important; } / * keyword.other.unit * /
.pl-mai .pl-sf   { color: #268bd2 !important; } / * meta.at-rule.include support.function * /
.pl-mc           { color: #2aa198 !important; } / * markup.changed * /
.pl-mdi          { color: #859900 !important; } / * meta.diff.index * /
.pl-mh .pl-pdh   { color: #cb4b16 !important; } / * markup.heading punctuation.definition.heading * /
.pl-mp1 .pl-sf   { color: #268bd2 !important; } / * meta.property-value support.function * /
.pl-mri          { color: #586e75 !important; } / * markup.raw.inline * /
.pl-ms1          { color: #859900 !important; } / * meta.separator * /
.pl-pdb          { color: #2aa198 !important; font-weight: bold !important; } / * punctuation.definition.bold * /
.pl-pdc          { color: #586e75 !important; font-style: italic !important; } / * punctuation.definition.comment * /
.pl-pdc1         { color: #2aa198 !important; } / * punctuation.definition.constant * /
.pl-pde          { color: #268bd2 !important; } / * punctuation.definition.entity * /
.pl-pdi          { color: #859900 !important; font-style: italic !important; } / * punctuation.definition.italic * /
.pl-pdv          { color: #268bd2 !important; } / * punctuation.definition.variable * /
.pl-pse          { color: #cb4b16 !important; } / * punctuation.section.embedded * /
.pl-pse .pl-s2   { color: #cb4b16 !important; } / * punctuation.section.embedded source * /
.pl-s2           { color: #93a1a1 !important; } / * source * /
.pl-s2 .pl-s     { color: #859900 !important; } / * source + storage - python special * /
.pl-scp          { color: #cb4b16 !important; } / * support.constant.property-value * /
.pl-sf           { color: #93a1a1 !important; } / * support.function * /
.pl-smc          { color: #93a1a1 !important; } / * storage.modifier.c * /
.pl-sok          { color: #859900 !important; } / * support.other.keyword * /
.pl-sol          { color: #2aa198 !important; } / * string.other.link * /
.pl-som          { color: #93a1a1 !important; } / * support.other.module * /
.pl-sr .pl-pds   { color: #dc322f !important; } / * punctuation inside of regexp * /
.pl-stp          { color: #859900 !important; } / * support.type.property-name * /
.pl-va           { color: #268bd2 !important; } / * variable.assignment * /
.pl-vi           { color: #cb4b16 !important; } / * variable.interpolation * /
.pl-vpu          { color: #268bd2 !important; } / * variable.parameter.url * /
*/
