/*! Terminal */
.highlight, .ace_editor {
  background-color: black !important;
  color: #DEDEDE !important;
}

.pl-c, .pl-c span     { color: orangered !important; font-style: italic !important; } /* comment */
.pl-c1                { color: #E78C45 !important; } /* constant */
.pl-e                 { color: #D54E53 !important; } /* entity */
.pl-en                { color: #DEDEDE !important; } /* entity.name */
.pl-ent               { color: tomato !important; } /* entity.name.tag */
.pl-k                 { color: tomato !important; } /* keyword */
.pl-mb                { color: #E78C45 !important; font-weight: bold !important; } /* markup.bold */
.pl-mdh               { color: tomato !important; } /* meta.diff.header */
.pl-mdr               { color: tomato !important; } /* meta.diff.range */
.pl-mh                { color: #B9CA4A !important; } /* markup.heading */
.pl-mh .pl-en         { color: #B9CA4A !important; font-weight: bold !important; } /* markup.heading entity.name */
.pl-mi                { color: tomato !important; font-style: italic !important; } /* markup.italic */
.pl-ml                { color: tomato !important; } /* markup.list */
.pl-mm                { color: tomato !important; } /* meta.module-reference */
.pl-mo                { color: tomato !important; } /* meta.output */
.pl-mp                { color: tomato !important; } /* meta.property-name */
.pl-mq                { color: orangered !important; } /* markup.quote */
.pl-mr                { color: tomato !important; } /* meta.require */
.pl-ms                { color: tomato !important; } /* meta.selector */
.pl-pds               { color: #B9CA4A !important; } /* punctuation.definition.string */
.pl-s                 { color: tomato !important; } /* storage */
.pl-s1                { color: #B9CA4A !important; } /* string */
.pl-s1 .pl-pse .pl-s2 { color: #E78C45 !important; } /* string punctuation.section.embedded source */
.pl-s1 .pl-s2         { color: #7AA6DA !important; } /* string source */
.pl-s1 .pl-v          { color: tomato !important; } /* string variable */
.pl-s3                { color: #D54E53 !important; } /* support */
.pl-sc                { color: #DEDEDE !important; } /* support.class */
.pl-smi               { color: #7AA6DA !important; } /* storage.modifier.import */
.pl-smp               { color: #7AA6DA !important; } /* storage.modifier.package */
.pl-sr                { color: #D54E53 !important; } /* string.regexp */
.pl-sr .pl-cce        { color: #B9CA4A !important; } /* constant.character.escape */
.pl-sr .pl-sra        { color: #D54E53 !important; } /* string.regexp string.regexp.arbitrary-repetition */
.pl-sr .pl-sre        { color: #D54E53 !important; } /* string.regexp source.ruby.embedded */
.pl-src               { color: #D54E53 !important; } /* string.regexp.character-class */
.pl-st                { color: tomato !important; } /* support.type */
.pl-stj               { color: #7AA6DA !important; } /* storage.type.java */
.pl-sv                { color: #E78C45 !important; } /* support.variable */
.pl-v                 { color: #D54E53 !important; } /* variable */
.pl-vo                { color: #7AA6DA !important; } /* variable.other */
.pl-vpf               { color: #E78C45 !important; } /* variable.parameter.function */

/* Diff - Example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
.pl-mi1               { color: #DEDEDE !important; background: rgba(0,64,0,.5) !important; } /* markup.inserted */
.pl-mdht              { color: #DEDEDE !important; background: rgba(0,64,0,.5) !important; } /* meta.diff.header.to-file */
.pl-md                { color: #DEDEDE !important; background: red !important; } /* markup.deleted */
.pl-mdhf              { color: #DEDEDE !important; background: red !important; } /* meta.diff.header.from-file */
.pl-id                { color: #CED2CF !important; background: #B798BF !important; } /* invalid.deprecated */
.pl-ii                { color: yellow !important; background: red !important; } /* invalid.illegal */

/* language tweaks */
.highlight-css .pl-k     { color: #DEDEDE !important; } /* keyword */
.highlight-css .pl-s3    { color: #E7C547 !important; } /* support */
.highlight-css .pl-sc    { color: #E7C547 !important; } /* support.class */
.highlight-css .pl-ent   { color: #DEDEDE !important; } /* entity.name.tag */
.highlight-html .pl-ent  { color: #D54E53 !important; } /* entity.name.tag */
.highlight-js .pl-k      { color: deeppink !important; } /* keyword */
.highlight-php .pl-s3    { color: #7AA6DA !important; } /* support */
.highlight-php .pl-vo    { color: #D54E53 !important; } /* variable.other */
.highlight-python .pl-s3 { color: #7AA6DA !important; } /* support */

/* terminal */
.ace_editor .ace_gutter {
  background: #1a0005 !important;
  color: steelblue !important;
}

.ace_editor .ace_print-margin {
  width: 1px !important;
  background: #1a1a1a !important;
}

.ace_editor .ace_cursor {
  color: #9F9F9F !important;
}

.ace_editor .ace_marker-layer .ace_selection {
  background: #424242 !important;
}

.ace_editor.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px black !important;
  border-radius: 2px !important;
}

.ace_editor .ace_marker-layer .ace_step {
  background: rgb(0, 0, 0) !important;
}

.ace_editor .ace_marker-layer .ace_bracket {
  background: #090 !important;
}

.ace_editor .ace_marker-layer .ace_bracket-start {
  background: #090 !important;
}

.ace_editor .ace_marker-layer .ace_bracket-unmatched {
  margin: -1px 0 0 -1px !important;
  border: 1px solid #900 !important;
}

.ace_editor .ace_marker-layer .ace_active-line {
  background: #2A2A2A !important;
}

.ace_editor .ace_gutter-active-line {
  background-color: #2A112A !important;
}

.ace_editor .ace_marker-layer .ace_selected-word {
  border: 1px solid #424242 !important;
}

.ace_editor .ace_invisible {
  color: #343434 !important;
}

.ace_editor .ace_keyword,
.ace_editor .ace_meta,
.ace_editor .ace_storage,
.ace_editor .ace_storage.ace_type,
.ace_editor .ace_support.ace_type {
  color: tomato !important;
}

.ace_editor .ace_keyword.ace_operator {
  color: deeppink !important;
}

.ace_editor .ace_constant.ace_character,
.ace_editor .ace_constant.ace_language,
.ace_editor .ace_constant.ace_numeric,
.ace_editor .ace_keyword.ace_other.ace_unit,
.ace_editor .ace_support.ace_constant,
.ace_editor .ace_variable.ace_parameter {
  color: #E78C45 !important;
}

.ace_editor .ace_constant.ace_other {
  color: gold !important;
}

.ace_editor .ace_invalid {
  color: yellow !important;
  background-color: red !important;
}

.ace_editor .ace_invalid.ace_deprecated {
  color: #CED2CF !important;
  background-color: #B798BF !important;
}

.ace_editor .ace_fold {
  background-color: #7AA6DA !important;
  border-color: #DEDEDE !important;
}

.ace_editor .ace_entity.ace_name.ace_function,
.ace_editor .ace_support.ace_function,
.ace_editor .ace_variable {
  color: #7AA6DA !important;
}

.ace_editor .ace_support.ace_class,
.ace_editor .ace_support.ace_type {
  color: #E7C547 !important;
}

.ace_editor .ace_heading,
.ace_editor .ace_string {
  color: #B9CA4A !important;
}

.ace_editor .ace_entity.ace_name.ace_tag,
.ace_editor .ace_entity.ace_other.ace_attribute-name,
.ace_editor .ace_meta.ace_tag,
.ace_editor .ace_string.ace_regexp,
.ace_editor .ace_variable {
  color: #D54E53 !important;
}

.ace_editor .ace_comment {
  color: orangered !important;
}

.ace_editor .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYLBWV/8PAAK4AYnhiq+xAAAAAElFTkSuQmCC) right repeat-y !important;
}
