/*! twilight */
.highlight       { background: #141414 !important; color: #ddd !important; }
.pl-c            { color: #5F5A60 !important; font-style: italic !important; } /* comment */
.pl-c1           { color: #CF6A4C !important; } /* constant */
.pl-cce          { color: #CF6A4C !important; } /* constant.character.escape */
.pl-cn           { color: #CF6A4C !important; } /* constant.numeric */
.pl-coc          { color: #CF6A4C !important; } /* constant.other.color */
.pl-cos          { color: #8F9D6A !important; } /* constant.other.symbol */
.pl-e            { color: #AC885B !important; } /* entity */
.pl-ef           { color: #AC885B !important; } /* entity.function */
.pl-en           { color: #AC885B !important; } /* entity.name */
.pl-enc          { color: #CF6A4C !important; } /* entity.name.class */
.pl-enf          { color: #AC885B !important; } /* entity.name.function */
.pl-enm          { color: #AC885B !important; } /* entity.name.method-name */
.pl-ens          { color: #CF6A4C !important; } /* entity.name.section */
.pl-ent          { color: #CDA869 !important; } /* entity.name.tag */
.pl-entc         { color: #AC885B !important; } /* entity.name.type.class */
.pl-enti         { color: #AC885B !important; font-weight: bold !important; } /* entity.name.type.instance */
.pl-entm         { color: #7587A6 !important; } /* entity.name.type.module */
.pl-eoa          { color: #CDA869 !important; } /* entity.other.attribute-name */
.pl-eoac         { color: #7587A6 !important; } /* entity.other.attribute-name.class */
.pl-eoac .pl-pde { color: #7587A6 !important; } /* punctuation.definition.entity */
.pl-eoai         { color: #CDA869 !important; } /* entity.other.attribute-name.id */
.pl-eoai .pl-pde { color: #CDA869 !important; } /* punctuation.definition.entity */
.pl-eoi          { color: #AC885B !important; } /* entity.other.inherited-class */
.pl-k            { color: #CDA869 !important; } /* keyword */
.pl-ko           { color: #CDA869 !important; } /* keyword.operator */
.pl-kolp         { color: #CDA869 !important; } /* keyword.operator.logical.python */
.pl-kos          { color: #CF6A4C !important; } /* keyword.other.special-method */
.pl-kou          { color: #CF6A4C !important; } /* keyword.other.unit */
.pl-mai .pl-sf   { color: #7587A6 !important; } /* support.function */
.pl-mb           { color: #8F9D6A !important; font-weight: bold !important; } /* markup.bold */
.pl-mc           { color: #CDA869 !important; } /* markup.changed */
.pl-mh .pl-pdh   { color: #CF6A4C !important; } /* markup.heading punctuation.definition.heading */
.pl-mi           { color: #CDA869 !important; font-style: italic !important; } /* markup.italic */
.pl-ml           { color: #8F9D6A !important; } /* markup.list */
.pl-mm           { color: #7587A6 !important; } /* meta.module-reference */
.pl-mp           { color: #C5AF75 !important; } /* meta.property-name */
.pl-mp1 .pl-sf   { color: #DAD085 !important; } /* meta.property-value support.function */
.pl-mq           { color: #CF6A4C !important; } /* markup.quote */
.pl-mr           { color: #CDA869 !important; } /* meta.require */
.pl-ms           { color: #CDA869 !important; } /* meta.selector */
.pl-pdb          { color: #8F9D6A !important; font-weight: bold !important; } /* punctuation.definition.bold */
.pl-pdc          { color: #5F5A60 !important; font-style: italic !important; } /* punctuation.definition.comment */
.pl-pdc1         { color: #CF6A4C !important; } /* punctuation.definition.constant */
.pl-pde          { color: #CF6A4C !important; } /* punctuation.definition.entity */
.pl-pdi          { color: #CDA869 !important; font-style: italic !important; } /* punctuation.definition.italic */
.pl-pds          { color: #8F9D6A !important; } /* punctuation.definition.string */
.pl-pdv          { color: #7587A6 !important; } /* punctuation.definition.variable */
.pl-pse          { color: #CF6A4C !important; } /* punctuation.section.embedded */
.pl-pse .pl-s2   { color: #CF6A4C !important; } /* punctuation.section.embedded source */
.pl-s            { color: #F9EE98 !important; } /* storage */
.pl-s1           { color: #8F9D6A !important; } /* string */
.pl-s2           { color: #ddd    !important; } /* source */
.pl-s3           { color: #CDA869 !important; } /* support */
.pl-sc           { color: #DAD085 !important; } /* support.class */
.pl-scp          { color: #CF6A4C !important; } /* support.constant.property-value */
.pl-sf           { color: #DAD085 !important; } /* support.function */
.pl-smc          { color: #AC885B !important; } /* storage.modifier.c */
.pl-smi          { } /* storage.modifier.import */
.pl-smp          { } /* storage.modifier.package */
.pl-sok          { color: #CDA869 !important; } /* support.other.keyword */
.pl-sol          { color: #8F9D6A !important; } /* string.other.link */
.pl-som          { color: #7587A6 !important; } /* support.other.module */
.pl-sr           { color: #7587A6 !important; } /* string.regexp */
.pl-sra          { } /* string.regexp string.regexp.arbitrary-repitition */
.pl-src          { } /* string.regexp.character-class */
.pl-sre          { } /* string.regexp source.ruby.embedded */
.pl-st           { color: #CDA869 !important; } /* support.type */
.pl-stj          { } /* storage.type.java */
.pl-stp          { color: #9B859D !important; } /* support.type.property-name */
.pl-sv           { } /* support.variable */
.pl-v            { color: #9B859D !important; } /* variable */
.pl-vi           { color: #CF6A4C !important; } /* variable.interpolation */
.pl-vo           { color: #AC885B !important; } /* */
.pl-vpf          { color: #7587A6 !important; } /* variable.parameter.function */
/* Diff - Example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
.pl-mi1          { color: #55A532 !important; background: #020 !important; } /* markup.inserted */
.pl-mdht         { color: #55A532 !important; background: #020 !important; } /* meta.diff.header.to-file */
.pl-md           { color: #BD2C00 !important; background: #200 !important; } /* markup.deleted */
.pl-mdhf         { color: #BD2C00 !important; background: #200 !important; } /* meta.diff.header.from-file */
.pl-mdr          { color: #CF6A4C !important; font-weight: normal !important;} /* meta.diff.range */
.pl-mdh          { color: #7587A6 !important; font-weight: normal !important;} /* meta.diff.header */
.pl-mdi          { color: #7587A6 !important; font-weight: normal !important;} /* meta.diff.index */
/* TODO: Fix unstyled classes below */
.pl-ib           { background-color: #f93 !important; } /* invalid.broken */
.pl-id           { background-color: #a31515 !important; color: #fff !important; } /* invalid.deprecated */
.pl-ii           { background-color: #df5000 !important; color: #fff !important; } /* invalid.illegal */
.pl-iu           { background-color: #b4b7b4 !important; } /* invalid.unimplemented */
.pl-mo           { color: #969896 !important; } /* meta.output */
.pl-mri          { color: #008080 !important; } /* markup.raw.inline */
.pl-ms1          { background-color: #f5f5f5 !important; } /* meta.separator */
.pl-va           { color: #008080 !important; } /* variable.assignment */
.pl-vpu          { color: #008080 !important; } /* variable.parameter.url */
.pl-entl         {  } /* entity.name.tag.label */

/*! Pygments: Twilight */
.highlight, .highlight pre,
.highlight table { background: #141414 !important; color: #ddd !important; }
.highlight .bp { color: #00aaaa !important; } /* Name.Builtin.Pseudo */
.highlight .c  { color: #5F5A60 !important; font-style: italic !important; } /* Comment */
.highlight .c1 { color: #5F5A60 !important; font-style: italic !important; } /* Comment.Single */
.highlight .cm { color: #5F5A60 !important; font-style: italic !important; } /* Comment.Multiline */
.highlight .cp { color: #CDA869 !important; } /* Comment.Preproc */
.highlight .cs { color: #5F5A60 !important; font-style: italic !important; } /* Comment.Special */
.highlight .err { border:#B22518 !important; } /* Error */
.highlight .gd { background: #420E09 !important; } /* Generic.Deleted */
.highlight .ge { font-style: italic !important; } /* Generic.Emph */
.highlight .gh { color: #000080 !important; } /* Generic.Heading */
.highlight .gi { background: #253B22 !important; } /* Generic.Inserted */
.highlight .go { } /* Generic.Output */
.highlight .gp { } /* Generic.Prompt */
.highlight .gr { background: #B22518 !important; } /* Generic.Error */
.highlight .gs { } /* Generic.Strong */
.highlight .gt { } /* Generic.Traceback */
.highlight .gu { color: #800080 !important; } /* Generic.Subheading */
.highlight .hll { background-color: #ffffcc !important; }
.highlight .il { color: #009999 !important; } /* Literal.Number.Integer.Long */
.highlight .k  { color: #CDA869 !important; } /* Keyword */
.highlight .kc { color: #CF6A4C !important; } /* Keyword.Constant */
.highlight .kd { color: #e9df8f !important; } /* Keyword.Declaration */
.highlight .kn { } /* Keyword.Namespace */
.highlight .kp { color: #9B703F !important; } /* Keyword.Pseudo */
.highlight .kr { } /* Keyword.Reserved */
.highlight .kt { } /* Keyword.Type */
.highlight .m  { color: #CF6A4C !important; } /* Literal.Number */
.highlight .mf { color: #CF6A4C !important; } /* Literal.Number.Float */
.highlight .mh { color: #CF6A4C !important; } /* Literal.Number.Hex */
.highlight .mi { color: #CF6A4C !important; } /* Literal.Number.Integer */
.highlight .mo { color: #CF6A4C !important; } /* Literal.Number.Oct */
.highlight .n  { color: #CF6A4C !important; } /* Unknown */
.highlight .na { color: #CDA869 !important; } /* Name.Attribute */
.highlight .nb { color: #CDA869 !important; } /* Name.Builtin */
.highlight .nc { color: #7587A6 !important; } /* Name.Class */
.highlight .nd { color: #CDA869 !important; } /* Name.Decorator */
.highlight .nf { color: #9B703F !important; } /* Name.Function */
.highlight .ni { color: #CF6A4C !important; } /* Name.Entity */
.highlight .nn { color: #9B859D !important; } /* Name.Namespace */
.highlight .no { color: #9B859D !important; } /* Name.Constant */
.highlight .nt { color: #AC885B !important; } /* Name.Tag */
.highlight .nv { color: #7587A6 !important; } /* Name.Variable */
.highlight .nx { } /* Unknown - js function, variable */
.highlight .o  { color: #CDA869 !important; } /* Unknown - Operator */
.highlight .ow { color: #AA22FF !important; } /* Operator.Word */
.highlight .s  { color: #8F9D6A !important; } /* Literal.String */
.highlight .s1 { color: #8F9D6A !important; } /* Literal.String.Single */
.highlight .s2 { color: #8F9D6A !important; } /* Literal.String.Double */
.highlight .sb { color: #8F9D6A !important; } /* Literal.String.Backtick */
.highlight .sc { color: #8F9D6A !important; } /* Literal.String.Char */
.highlight .sd { color: #8F9D6A !important; font-style: italic !important; } /* Literal.String.Doc */
.highlight .se { color: #F9EE98 !important; } /* Literal.String.Escape */
.highlight .sh { color: #8F9D6A !important; } /* Literal.String.Heredoc */
.highlight .si { color: #DAEFA3 !important; } /* Literal.String.Interpol */
.highlight .sr { color: #E9C062 !important; } /* Literal.String.Regex */
.highlight .ss { color: #CF6A4C !important; } /* Literal.String.Symbol */
.highlight .sx { color: #8F9D6A !important; } /* Literal.String.Other */
.highlight .vc { color: #7587A6 !important; } /* Name.Variable.Class */
.highlight .vg { color: #7587A6 !important; } /* Name.Variable.Global */
.highlight .vi { color: #7587A6 !important; } /* Name.Variable.Instance */
.highlight .w  { color: #141414 !important; } /* Text.Whitespace */

/*! twilight */
.ace_editor .ace_gutter{background:#232323!important;color:#E2E2E2!important}
.ace_editor .ace_print-margin{width:1px!important;background:#232323!important}
.ace_editor {background-color:#141414!important;color:#ddd!important}
.ace_editor .ace_cursor{color:#A7A7A7!important}
.ace_editor .ace_marker-layer .ace_selection{background:rgba(221,240,255,.2)!important}
.ace_editor.ace_multiselect .ace_selection.ace_start{box-shadow:0 0 3px 0 #141414!important;border-radius:2px!important}
.ace_editor .ace_marker-layer .ace_step{background:#665200!important}
.ace_editor .ace_marker-layer .ace_bracket{margin:-1px 0 0 -1px!important;border:1px solid rgba(255,255,255,.25)!important}
.ace_editor .ace_marker-layer .ace_active-line{background:rgba(255,255,255,.031)!important}
.ace_editor .ace_gutter-active-line{background-color:rgba(255,255,255,.031)!important}
.ace_editor .ace_identifier{color:#7587A6!important}
.ace_editor .ace_invisible{color:rgba(255,255,255,.25)!important}
.ace_editor .ace_keyword,.ace_editor .ace_meta{color:#CDA869!important}
.ace_editor .ace_constant,.ace_editor .ace_constant.ace_character,.ace_editor .ace_constant.ace_character.ace_escape,
.ace_editor .ace_constant.ace_other,.ace_editor .ace_heading,.ace_editor .ace_markup.ace_heading,
.ace_editor .ace_support.ace_constant{color:#CF6A4C!important}
.ace_editor .ace_invalid.ace_illegal{color:#F8F8F8!important;background-color:rgba(86,45,86,.75)!important}
.ace_editor .ace_invalid.ace_deprecated{text-decoration:underline!important;font-style:italic!important;color:#D2A8A1!important}
.ace_editor .ace_support{color:#9B859D!important}
.ace_editor .ace_fold{background-color:#AC885B!important;border-color:#F8F8F8!important}
.ace_editor .ace_support.ace_function{color:#DAD085!important}
.ace_editor .ace_support.ace_type{color:#CDA869!important}
.ace_editor .ace_list,.ace_editor .ace_markup.ace_list,.ace_editor .ace_storage{color:#F9EE98!important}
.ace_editor .ace_entity.ace_name.ace_function,.ace_editor .ace_meta.ace_tag{color:#CDA869!important}
.ace_editor .ace_entity.ace_other.ace_attribute-name{color:#AC885B!important;} /* html attribute name */
.ace_editor .ace_string{color:#8F9D6A!important}
.ace_editor .ace_string.ace_regexp{color:#E9C062!important}
.ace_editor .ace_comment{font-style:italic!important;color:#5F5A60!important}
.ace_editor .ace_variable{color:#7587A6!important}
.ace_editor .ace_variable.ace_language{color:#9B859D!important}
.ace_editor .ace_xml-pe{color:#494949!important}
.ace_editor .ace_indent-guide{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWMQERFpYLC1tf0PAAgOAnPnhxyiAAAAAElFTkSuQmCC) right repeat-y!important}
