/*! Vibrant Ink */
.highlight, .ace_editor {
  background-color: #0F0F0F !important;
  color: #FFFFFF !important;
}

.pl-c                 { color: #9933CC !important; font-style: italic !important; } /* comment */
.pl-c1                { color: #339999 !important; } /* constant */
.pl-e                 { color: #FF6600 !important; } /* entity */
.pl-en                { color: #FFFFFF !important; } /* entity.name */
.pl-ent               { color: #FFCC00 !important; } /* entity.name.tag */
.pl-k                 { color: #FF6600 !important; } /* keyword */
.pl-mb                { color: #66FF00 !important; font-weight: bold !important; } /* markup.bold */
.pl-mdh               { color: #FF6600 !important; } /* meta.diff.header */
.pl-mdr               { color: #FF6600 !important; } /* meta.diff.range */
.pl-mh                { color: #99CC99 !important; } /* markup.heading */
.pl-mh .pl-en         { color: #99CC99 !important; font-weight: bold !important; } /* markup.heading entity.name */
.pl-mi                { color: #FF6600 !important; font-style: italic !important; } /* markup.italic */
.pl-ml                { color: #FF6600 !important; } /* markup.list */
.pl-mm                { color: #FF6600 !important; } /* meta.module-reference */
.pl-mo                { color: #FF6600 !important; } /* meta.output */
.pl-mp                { color: #FF6600 !important; } /* meta.property-name */
.pl-mq                { color: #9933CC !important; } /* markup.quote */
.pl-mr                { color: #FF6600 !important; } /* meta.require */
.pl-ms                { color: #FF6600 !important; } /* meta.selector */
.pl-pds               { color: #66FF00 !important; } /* punctuation.definition.string */
.pl-s                 { color: #FFCC00 !important; } /* storage */
.pl-s1                { color: #66FF00 !important; } /* string */
.pl-s1 .pl-pse .pl-s2 { color: #66FF00 !important; } /* string punctuation.section.embedded source */
.pl-s1 .pl-s2         { color: #339999 !important; } /* string source */
.pl-s1 .pl-v          { color: #FF6600 !important; } /* string variable */
.pl-s3                { color: #FFCC00 !important; } /* support */
.pl-sc                { color: #FFFFFF !important; } /* support.class */
.pl-smi               { color: #339999 !important; } /* storage.modifier.import */
.pl-smp               { color: #339999 !important; } /* storage.modifier.package */
.pl-sr                { color: #44B4CC !important; } /* string.regexp */
.pl-sr .pl-cce        { color: #99CC99 !important; } /* constant.character.escape */
.pl-sr .pl-sra        { color: #44B4CC !important; } /* string.regexp string.regexp.arbitrary-repetition */
.pl-sr .pl-sre        { color: #44B4CC !important; } /* string.regexp source.ruby.embedded */
.pl-src               { color: #66FF00 !important; } /* string.regexp.character-class */
.pl-st                { color: #FF6600 !important; } /* support.type */
.pl-stj               { color: #339999 !important; } /* storage.type.java */
.pl-sv                { color: #66FF00 !important; } /* support.variable */
.pl-v                 { color: #FFCC00 !important; } /* variable */
.pl-vo                { color: #339999 !important; } /* variable.other */
.pl-vpf               { color: #FFFFFF !important; } /* variable.parameter.function */

/* Diff - Example: https://gist.github.com/silverwind/904159f1e71e2e626375 */
.pl-mi1               { color: #FFFFFF !important; background: rgba(0,64,0,.5) !important; } /* markup.inserted */
.pl-mdht              { color: #FFFFFF !important; background: rgba(0,64,0,.5) !important; } /* meta.diff.header.to-file */
.pl-md                { color: #FFFFFF !important; background: rgba(64,0,0,.5) !important; } /* markup.deleted */
.pl-mdhf              { color: #FFFFFF !important; background: rgba(64,0,0,.5) !important; } /* meta.diff.header.from-file */
.pl-id                { color: #CCFF33 !important; background: #000000 !important; } /* invalid.deprecated */
.pl-ii                { color: #CCFF33 !important; background: #000000 !important; } /* invalid.illegal */

/* language tweaks */
.highlight-css .pl-c1   { color: #99CC99 !important; } /* constant */
.highlight-css .pl-ent  { color: #339999 !important; } /* entity.name.tag */
.highlight-css .pl-s3   { color: #FFFFFF !important; } /* support */
.highlight-css .pl-sc   { color: #339999 !important; } /* support.class */
.highlight-html .pl-ent { color: #FF6600 !important; } /* entity.name.tag */
.highlight-html .pl-e   { color: #99CC99 !important; } /* entity */
.highlight-js .pl-vpf   { color: #FFCC00 !important; } /* variable.parameter.function */
.highlight-php .pl-s    { color: #FF6600 !important; } /* storage */
.highlight-php .pl-s3   { color: #FF6600 !important; } /* support */
.highlight-php .pl-vo   { color: #FFCC00 !important; } /* variable.other */
.highlight-cpp .pl-s3   { color: #FFFFFF !important; } /* support */

/* vibrant_ink */
.ace_editor .ace_gutter {
  background: #1a1a1a !important;
  color: #BEBEBE !important;
}

.ace_editor .ace_print-margin {
  width: 1px !important;
  background: #1a1a1a !important;
}

.ace_editor .ace_cursor {
  color: #FFFFFF !important;
}

.ace_editor .ace_marker-layer .ace_selection {
  background: #6699CC !important;
}

.ace_editor.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #0F0F0F !important;
  border-radius: 2px !important;
}

.ace_editor .ace_marker-layer .ace_step {
  background: rgb(102, 82, 0) !important;
}

.ace_editor .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px !important;
  border: 1px solid #404040 !important;
}

.ace_editor .ace_marker-layer .ace_active-line {
  background: #333333 !important;
}

.ace_editor .ace_gutter-active-line {
  background-color: #333333 !important;
}

.ace_editor .ace_marker-layer .ace_selected-word {
  border: 1px solid #6699CC !important;
}

.ace_editor .ace_invisible {
  color: #404040 !important;
}

.ace_editor .ace_keyword,
.ace_editor .ace_meta {
  color: #FF6600 !important;
}

.ace_editor .ace_constant,
.ace_editor .ace_constant.ace_character,
.ace_editor .ace_constant.ace_character.ace_escape,
.ace_editor .ace_constant.ace_other {
  color: #339999 !important;
}

.ace_editor .ace_constant.ace_numeric {
  color: #99CC99 !important;
}

.ace_editor .ace_invalid,
.ace_editor .ace_invalid.ace_deprecated {
  color: #CCFF33 !important;
  background-color: #000000 !important;
}

.ace_editor .ace_fold {
  background-color: #FFCC00 !important;
  border-color: #FFFFFF !important;
}

.ace_editor .ace_entity.ace_name.ace_function,
.ace_editor .ace_support.ace_function,
.ace_editor .ace_variable {
  color: #FFCC00 !important;
}

.ace_editor .ace_variable.ace_parameter {
  font-style: italic !important;
}

.ace_editor .ace_string {
  color: #66FF00 !important;
}

.ace_editor .ace_string.ace_regexp {
  color: #44B4CC !important;
}

.ace_editor .ace_comment {
  color: #9933CC !important;
}

.ace_editor .ace_entity.ace_other.ace_attribute-name {
  font-style: italic !important;
  color: #99CC99 !important;
}

.ace_editor .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYNDTc/oPAALPAZ7hxlbYAAAAAElFTkSuQmCC) right repeat-y !important;
}