/*! vibrant_ink */
.ace_editor .ace_gutter {
  background: #1a1a1a !important;
  color: #BEBEBE !important;
}

.ace_editor .ace_print-margin {
  width: 1px !important;
  background: #1a1a1a !important;
}

.ace_editor {
  background-color: #0F0F0F !important;
  color: #FFFFFF !important;
}

.ace_editor .ace_cursor {
  color: #FFFFFF !important;
}

.ace_editor .ace_marker-layer .ace_selection {
  background: #6699CC !important;
}

.ace_editor.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #0F0F0F !important;
  border-radius: 2px !important;
}

.ace_editor .ace_marker-layer .ace_step {
  background: rgb(102, 82, 0) !important;
}

.ace_editor .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px !important;
  border: 1px solid #404040 !important;
}

.ace_editor .ace_marker-layer .ace_active-line {
  background: #333333 !important;
}

.ace_editor .ace_gutter-active-line {
  background-color: #333333 !important;
}

.ace_editor .ace_marker-layer .ace_selected-word {
  border: 1px solid #6699CC !important;
}

.ace_editor .ace_invisible {
  color: #404040 !important;
}

.ace_editor .ace_keyword,
.ace_editor .ace_meta {
  color: #FF6600 !important;
}

.ace_editor .ace_constant,
.ace_editor .ace_constant.ace_character,
.ace_editor .ace_constant.ace_character.ace_escape,
.ace_editor .ace_constant.ace_other {
  color: #339999 !important;
}

.ace_editor .ace_constant.ace_numeric {
  color: #99CC99 !important;
}

.ace_editor .ace_invalid,
.ace_editor .ace_invalid.ace_deprecated {
  color: #CCFF33 !important;
  background-color: #000000 !important;
}

.ace_editor .ace_fold {
  background-color: #FFCC00 !important;
  border-color: #FFFFFF !important;
}

.ace_editor .ace_entity.ace_name.ace_function,
.ace_editor .ace_support.ace_function,
.ace_editor .ace_variable {
  color: #FFCC00 !important;
}

.ace_editor .ace_variable.ace_parameter {
  font-style: italic !important;
}

.ace_editor .ace_string {
  color: #66FF00 !important;
}

.ace_editor .ace_string.ace_regexp {
  color: #44B4CC !important;
}

.ace_editor .ace_comment {
  color: #9933CC !important;
}

.ace_editor .ace_entity.ace_other.ace_attribute-name {
  font-style: italic !important;
  color: #99CC99 !important;
}

.ace_editor .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYNDTc/oPAALPAZ7hxlbYAAAAAElFTkSuQmCC) right repeat-y !important;
}