/*! Base16 Kimbie Dark by Jan T. Sott; https://github.com/idleberg */
.highlight, .highlight pre, .highlight table { background: #221a0f; color: #fbebd4 }
.highlight .hll { background-color: #84613d }
.highlight .c { color: #a57a4c } /* Comment */
.highlight .err { color: #dc3958 } /* Error */
.highlight .k { color: #98676a } /* Keyword */
.highlight .l { color: #f79a32 } /* Literal */
.highlight .n, .highlight .h { color: #fbebd4 } /* Name */
.highlight .o { color: #088649 } /* Operator */
.highlight .p { color: #fbebd4 } /* Punctuation */
.highlight .cm { color: #a57a4c } /* Comment.Multiline */
.highlight .cp { color: #a57a4c } /* Comment.Preproc */
.highlight .c1 { color: #a57a4c } /* Comment.Single */
.highlight .cs { color: #a57a4c } /* Comment.Special */
.highlight .gd { color: #dc3958 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #fbebd4; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #889b4a } /* Generic.Inserted */
.highlight .gp { color: #a57a4c; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #088649; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #98676a } /* Keyword.Constant */
.highlight .kd { color: #98676a } /* Keyword.Declaration */
.highlight .kn { color: #088649 } /* Keyword.Namespace */
.highlight .kp { color: #98676a } /* Keyword.Pseudo */
.highlight .kr { color: #98676a } /* Keyword.Reserved */
.highlight .kt { color: #f06431 } /* Keyword.Type */
.highlight .ld { color: #889b4a } /* Literal.Date */
.highlight .m { color: #f79a32 } /* Literal.Number */
.highlight .s { color: #889b4a } /* Literal.String */
.highlight .na { color: #8ab1b0 } /* Name.Attribute */
.highlight .nb { color: #fbebd4 } /* Name.Builtin */
.highlight .nc { color: #f06431 } /* Name.Class */
.highlight .no { color: #dc3958 } /* Name.Constant */
.highlight .nd { color: #088649 } /* Name.Decorator */
.highlight .ni { color: #fbebd4 } /* Name.Entity */
.highlight .ne { color: #dc3958 } /* Name.Exception */
.highlight .nf { color: #8ab1b0 } /* Name.Function */
.highlight .nl { color: #fbebd4 } /* Name.Label */
.highlight .nn { color: #f06431 } /* Name.Namespace */
.highlight .nx { color: #8ab1b0 } /* Name.Other */
.highlight .py { color: #fbebd4 } /* Name.Property */
.highlight .nt { color: #088649 } /* Name.Tag */
.highlight .nv { color: #dc3958 } /* Name.Variable */
.highlight .ow { color: #088649 } /* Operator.Word */
.highlight .w { color: #fbebd4 } /* Text.Whitespace */
.highlight .mf { color: #f79a32 } /* Literal.Number.Float */
.highlight .mh { color: #f79a32 } /* Literal.Number.Hex */
.highlight .mi { color: #f79a32 } /* Literal.Number.Integer */
.highlight .mo { color: #f79a32 } /* Literal.Number.Oct */
.highlight .sb { color: #889b4a } /* Literal.String.Backtick */
.highlight .sc { color: #fbebd4 } /* Literal.String.Char */
.highlight .sd { color: #a57a4c } /* Literal.String.Doc */
.highlight .s2 { color: #889b4a } /* Literal.String.Double */
.highlight .se { color: #f79a32 } /* Literal.String.Escape */
.highlight .sh { color: #889b4a } /* Literal.String.Heredoc */
.highlight .si { color: #f79a32 } /* Literal.String.Interpol */
.highlight .sx { color: #889b4a } /* Literal.String.Other */
.highlight .sr { color: #889b4a } /* Literal.String.Regex */
.highlight .s1 { color: #889b4a } /* Literal.String.Single */
.highlight .ss { color: #889b4a } /* Literal.String.Symbol */
.highlight .bp { color: #fbebd4 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #dc3958 } /* Name.Variable.Class */
.highlight .vg { color: #dc3958 } /* Name.Variable.Global */
.highlight .vi { color: #dc3958 } /* Name.Variable.Instance */
.highlight .il { color: #f79a32 } /* Literal.Number.Integer.Long */
