@-moz-document regexp("^https?://((education|gist|graphql|guides|raw|resources|status|developer|support|vscode-auth)\\.)?github\\.com/((?!(generated_pages|codespaces)).)*$"), domain("githubusercontent.com"), domain("www.githubstatus.com") {
  /*[[syntax-theme]]*//*[[syntax-jupyter]]*/
  /* inline code - big blocks */
  .highlight {
    background-color: var(--ghd-code-background);
    color: var(--ghd-code-color);
  }
  .markdown-format pre, .markdown-body pre, .highlight pre, .markdown-body pre,
  #facebox pre, .blob-expanded, .terminal, .copyable-terminal,
  #notebook .input_area, .blob-code-context, .markdown-format code, .api pre,
  .api li:not(a) code, .hook-delivery-details pre, .hook-delivery-container pre,
  .code-list .file-box, .highlight.bg-gray, .markdown-body table.highlight tr,
  .markdown-body table.highlight td {
    background-color: var(--ghd-code-background) !important;
    color: var(--ghd-code-color) !important;
  }
  .flash p code {
    background-color: inherit !important;
  }
  .blob-code, .blob-code-inner {
    color: var(--ghd-code-color) !important;
  }
}
