@-moz-document regexp("^https?://((education|gist|graphql|guides|raw|resources|status|support|vscode-auth)\\.)?github\\.com((?!(/(sponsors|readme)$)).)*$"), domain("githubusercontent.com"), domain("www.githubstatus.com") {
  /*[[syntax-theme]]*//*[[syntax-jupyter]]*/
  /* inline code - big blocks */
  .highlight {
    background-color: var(--ghd-code-background) !important;
    color: var(--ghd-code-color);
  }
  .markdown-format pre, .markdown-body pre, .highlight pre, .markdown-body pre,
  #facebox pre, .blob-expanded, .terminal, .copyable-terminal,
  #notebook .input_area, .blob-code-context, .markdown-format code, .api pre,
  .api li:not(a) code, .hook-delivery-details pre, .hook-delivery-container pre,
  .code-list .file-box, .highlight.bg-gray, .markdown-body table.highlight tr,
  .markdown-body table.highlight td {
    background-color: var(--ghd-code-background) !important;
    color: var(--ghd-code-color) !important;
  }
  .markdown-body pre code, .markdown-body pre tt {
    border: none !important;
  }
  .flash p code {
    background-color: inherit !important;
  }
  .blob-code, .blob-code-inner {
    color: var(--ghd-code-color) !important;
  }
  /* inline code*/
  .markdown-body code, .markdown-body tt {
    border-radius: 4px;
  }
  .markdown-body code::before, .markdown-body code::after,
  .markdown-body tt::before, .markdown-body tt::after,
  .markdown-body pre code::before, .markdown-body pre code::after,
  .markdown-body pre tt::before, .markdown-body pre tt::after {
    display: none !important;
  }
  /* GitHub Bug: Center color preview in inline code tags  */
  .markdown-body code .v-align-middle {
    position: relative;
    top: -1px;
  }
  .markdown-body code, .markdown-body tt, .markdown-format p > code,
  .markdown-format pre, .markdown-body pre, .markdown-format .highlight pre,
  .markdown-body .highlight pre, #user-content-toc td, .copyable-terminal,
  .project-card .highlight pre, .project-card code, .rgh-parse-backticks,
  .protip code, .content dl code, .content ul code,
  .content .sectionbody .dlist dt, .content p > tt, .commit-sha,
  .commit-preview .message pre, .rendered_html pre, .rendered_html code, p code {
    border: 1px solid rgba(255, 255, 255, .1) !important;
  }
}
