@-moz-document domain("developer.github.com") {
  /* generated developer.github.com rules */
  table {
    background-color: transparent;
  }
  html[prefix] .deprecation-note, html[prefix] .deprecation-warning {
    text-shadow: none;
  }
  .sidebar-module .arrow-btn {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 6 16"><path fill="%23bebebe" fill-rule="evenodd" d="M0 14l6-6-6-6v12z"></path></svg>') no-repeat 8px 10px;
  }
  .arrow-btn.collapsed:hover {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 6 16"><path fill="rgb(/*[[base-color-rgb]]*/)" fill-rule="evenodd" d="M0 14l6-6-6-6v12z"></path></svg>') no-repeat 8px 10px;
  }
  .arrow-btn.expanded {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 12 16"><path fill="%23bebebe" fill-rule="evenodd" d="M0 5l6 6 6-6H0z"></path></svg>') no-repeat 8px 10px;
  }
  .arrow-btn.expanded:hover {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 12 16"><path fill="rgb(/*[[base-color-rgb]]*/)" fill-rule="evenodd" d="M0 5l6 6 6-6H0z"></path></svg>') no-repeat 8px 10px;
  }
  .btn-blue {
    color: #fff;
    background-color: /*[[base-color]]*/;
    background-image: linear-gradient(-180deg, /*[[base-color]]*/, /*[[base-color]]*/ 90%);
    border-color: #eee;
  }
  .btn-blue:hover {
    color: #fff;
    background-image: linear-gradient(-180deg, rgba(/*[[base-color-rgb]]*/, .9), rgba(/*[[base-color-rgb]]*/, .9) 90%);
    border-color: #eee;
  }
  .btn.btn-blue.btn-block {
    border-color: #eee;
  }
  [class*="btn-outline"] {
    color: /*[[base-color]]*/;
    background-color: transparent;
    background-image: none;
    border: 1px solid #343434;
  }
  [class*="btn-outline"].selected,
  [class*="btn-outline"].zeroclipboard-is-active,
  [class*="btn-outline"].zeroclipboard-is-hover, [class*="btn-outline"]:active,
  [class*="btn-outline"]:hover {
    color: #fff;
    background-color: /*[[base-color]]*/;
    background-image: none;
    border-color: /*[[base-color]]*/;
  }
  .sub-nav ul a.active {
    color: #c6c6c6;
  }
  .content .sectionbody .dlist dt, .content .verseblock-content,
  .content dl code, .content h2 code, .content h3 code, .content h4 code,
  .content ol code, .content p > tt, .content table code, .content ul code,
  p code, pre {
    border: 1px solid #343434;
  }
  .product {
    color: #b186ee;
  }
  .pagination .disabled, .pagination .disabled:hover, .pagination .gap,
  .pagination .gap:hover, .pagination [aria-disabled=true],
  .pagination [aria-disabled=true]:hover {
    color: #404040;
    background-color: #181818;
  }
  .pagination a:focus, .pagination a:hover, .pagination em:focus,
  .pagination em:hover, .pagination > span:focus, .pagination > span:hover {
    background-color: #1e1e1e;
    border-color: #343434;
    text-decoration: none;
  }
  a.card.bg-gray-light:hover {
    background-color: var(--ghd-bg-color) !important;
  }
}
