@-moz-document domain("developer.github.com") {
  /* begin developer.github.com rules */
  /* developer.github.com: "transparent" */
  a {
    background-color: transparent;
  }
  /* developer.github.com: "color: #000" */
  mark {
    color: #f0f0f0;
  }
  /* developer.github.com: "#ddd" */
  .rule, hr {
    border-bottom-color: #343434;
  }
  /* developer.github.com: "rgba(0,0,0,.15)" */
  .box-shadow-medium {
    box-shadow: 0 1px 5px #000 !important;
  }
  /* developer.github.com: "rgba(0,0,0,.15)" */
  .box-shadow-large {
    box-shadow: 0 1px 15px #000 !important;
  }
  /* developer.github.com: "box-shadow: none !important" */
  .box-shadow-none {
    box-shadow: none !important;
  }
  /* developer.github.com: "#f5f5f5" */
  .bg-gray {
    background-color: #222 !important;
  }
  /* developer.github.com: "transparent" */
  .bg-shade-gradient {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .065), transparent) !important;
  }
  /* developer.github.com: "color: #767676 !important" */
  .text-gray {
    color: #767676 !important;
  }
  /* developer.github.com: "color: #333 !important" */
  .text-gray-dark {
    color: #bebebe !important;
  }
  /* developer.github.com: "color: #767676 !important" */
  .link-gray {
    color: #767676 !important;
  }
  /* developer.github.com: "color: #333 !important" */
  .link-gray-dark {
    color: #bebebe !important;
  }
  /* developer.github.com: "color: #767676 !important" */
  .muted-link {
    color: #767676 !important;
  }
  /* developer.github.com: "#f5f5f5","#fff" */
  .shade-gradient {
    background-image: linear-gradient(180deg, #222, #181818);
  }
  /* developer.github.com: "color: #333" */
  .text-emphasized {
    color: #bebebe;
  }
  /* developer.github.com: "rgba(255,255,255,.5)" */
  .text-shadow-light {
    text-shadow: 0 1px 0 hsla(0, 0%, 0%, .5);
  }
  /* developer.github.com: "color: #fff", "rgba(0,0,0,.8)" */
  .tooltipped::after {
    color: #fff;
    background-color: #242424;
  }
  /* developer.github.com: "rgba(0,0,0,.8)" */
  .tooltipped-s::before, .tooltipped-se::before, .tooltipped-sw::before {
    border-bottom-color: #242424;
  }
  /* developer.github.com: "rgba(0,0,0,.8)" */
  .tooltipped-n::before, .tooltipped-ne::before, .tooltipped-nw::before {
    border-top-color: #242424;
  }
  /* developer.github.com: "rgba(0,0,0,.8)" */
  .tooltipped-w::before {
    border-left-color: #242424;
  }
  /* developer.github.com: "rgba(0,0,0,.8)" */
  .tooltipped-e::before {
    border-right-color: #242424;
  }
  /* developer.github.com: "#fff", "#ddd" */
  .Box {
    background-color: #181818;
  }
  /* developer.github.com: "#f5f5f5", "#ddd" */
  .Box, .Box-header {
    border-color: #343434;
  }
  .Box-header {
    background-color: #222;
  }
  /* developer.github.com: "#e5e5e5" */
  .Box-body {
    border-bottom-color: #343434;
  }
  /* developer.github.com: "#eee" */
  .Box-row {
    border-top-color: #343434;
  }
  /* developer.github.com: "#f5f5f5" */
  .Box-row--focus-gray.navigation-focus, .Box-row--hover-gray:hover,
  .Box-row.navigation-focus.sortable-ghost {
    background-color: #222;
  }
  /* developer.github.com: "color: #333" */
  @media (min-width: 768px) {
    .Box-row-link {
      color: #bebebe;
    }
  }
  /* developer.github.com: "#e5e5e5" */
  .Box-footer {
    border-top-color: #343434;
  }
  /* developer.github.com: "#f5f5f5" */
  .Box-row--gray {
    background-color: #222;
  }
  /* developer.github.com: "color: #666" */
  .btn .counter {
    color: #949494;
  }
  /* developer.github.com: "color: #fff" */
  .btn-primary {
    color: #fff;
  }
  /* developer.github.com: "#fff" */
  .btn-primary .counter {
    background-color: #181818;
  }
  /* developer.github.com: "none", "rgba(0,0,0,.15)" */
  .btn-primary.selected, .btn-primary.zeroclipboard-is-active,
  .btn-primary:active {
    background-image: none;
    box-shadow: inset 0 2px 4px #000;
  }
  /* developer.github.com: "color: #fff", "box-shadow: none" */
  .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary:disabled,
  .btn-primary:disabled:hover {
    color: #fff;
    box-shadow: none;
  }
  /* developer.github.com: "color: #fff" */
  .btn-danger:hover {
    color: #fff;
  }
  /* developer.github.com: "color: #fff", "none" */
  .btn-danger.selected, .btn-danger:active {
    color: #fff;
    background-image: none;
  }
  /* developer.github.com: "#efefef", "#efefef" */
  .btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger:disabled,
  .btn-danger:disabled:hover {
    background-color: #202020;
    background-image: linear-gradient(#fefefe, #202020);
  }
  /* developer.github.com: "color: #fff" */
  .btn-danger.selected .counter, .btn-danger:active .counter,
  .btn-danger:hover .counter {
    color: #fff;
  }
  /* developer.github.com: "#fff", "none", "#e5e5e5" */
  .btn-outline {
    background-color: #181818;
    background-image: none;
    border-color: #343434;
  }
  /* developer.github.com: "color: #fff", "none" */
  .btn-outline.selected, .btn-outline.zeroclipboard-is-active,
  .btn-outline.zeroclipboard-is-hover, .btn-outline:active, .btn-outline:hover {
    color: #fff;
    background-image: none;
  }
  /* developer.github.com: "#fff" */
  .btn-outline.selected .counter, .btn-outline.zeroclipboard-is-active .counter,
  .btn-outline.zeroclipboard-is-hover .counter, .btn-outline:active .counter,
  .btn-outline:hover .counter {
    background-color: #181818;
  }
  /* developer.github.com: "color: #767676", "#fff", "none", "#e5e5e5" */
  .btn-outline.disabled, .btn-outline.disabled:hover, .btn-outline:disabled,
  .btn-outline:disabled:hover {
    color: #767676;
    background-color: #181818;
    background-image: none;
    border-color: #343434;
  }
  /* developer.github.com: "color: #555", "#ddd" */
  .ellipsis-expander, .hidden-text-expander a {
    color: #afafaf;
    background-color: #383838;
  }
  /* developer.github.com: "#ccc" */
  .ellipsis-expander:hover, .hidden-text-expander a:hover {
    background-color: #484848;
  }
  /* developer.github.com: "color: #fff", "#4183c4" */
  .ellipsis-expander:active, .hidden-text-expander a:active {
    color: #fff;
    background-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* developer.github.com: "color: #333", "#fff", "#ddd" */
  .social-count {
    color: #bebebe;
    background-color: #181818;
    border-color: #343434;
  }
  /* developer.github.com: "transparent" */
  .btn-link {
    background-color: transparent;
  }
  /* developer.github.com: "color: #333", "#fff", "#ddd" */
  .form-control, .form-select {
    color: #bebebe;
    background-color: #181818;
    border-color: #343434;
  }
  /* developer.github.com: "#fff" */
  .input-contrast:focus {
    background-color: #181818;
  }
  /* developer.github.com: "color: #666" */
  .form-checkbox .note, .hfields .form-group dt label {
    color: #949494;
  }
  /* developer.github.com: "#fff" */
  .form-group .form-control:focus, .form-select {
    background-color: #181818;
  }
  /* developer.github.com: "color: #767676" */
  .note {
    color: #767676;
  }
  /* developer.github.com: "transparent" */
  .inline-form .btn-plain {
    background-color: transparent;
  }
  /* developer.github.com: "color: #767676" */
  .drag-and-drop, .drag-and-drop-error-info {
    color: #767676;
  }
  /* developer.github.com: "#ddd" */
  .upload-enabled textarea {
    border-bottom-color: #343434;
  }
  /* developer.github.com: "color: #666" */
  h2.account, p.explain {
    color: #949494;
  }
  /* developer.github.com: "color: #333" */
  p.explain strong {
    color: #bebebe;
  }
  /* developer.github.com: "color: #666", "#eee" */
  .counter {
    color: #949494;
    background-color: #242424;
  }
  /* developer.github.com: "color: #333", "#ccc" */
  .Counter--gray-light {
    color: #bebebe;
    background-color: #484848;
  }
  /* developer.github.com: "color: #fff" */
  .Counter--gray {
    color: #fff;
  }
  /* developer.github.com: "color: #333" */
  .menu-item .octicon {
    color: #bebebe;
  }
  /* developer.github.com: "color: #555", "#eee" */
  .menu-heading {
    color: #afafaf;
  }
  /* developer.github.com: "#ddd" */
  .menu-heading, .tabnav {
    border-bottom-color: #343434;
  }
  /* developer.github.com: "color: #666", "transparent" */
  .tabnav-tab {
    color: #949494;
    background-color: transparent;
  }
  /* developer.github.com: "color: #333", "#fff", "#ddd" */
  .tabnav-tab.selected {
    color: #bebebe;
    background-color: #181818;
    border-color: #343434;
  }
  /* developer.github.com: "color: #666" */
  .tabnav-extra {
    color: #949494;
  }
  /* developer.github.com: "color: #767676", "transparent" */
  .filter-list.pjax-active .filter-item {
    color: #767676;
    background-color: transparent;
  }
  /* developer.github.com: "color: #fff" */
  .filter-list.pjax-active .filter-item.pjax-active {
    color: #fff;
  }
  /* developer.github.com: "color: #767676" */
  .filter-item {
    color: #767676;
  }
  /* developer.github.com: "#eee" */
  .filter-item:hover {
    background-color: #242424;
  }
  /* developer.github.com: "color: #fff" */
  .filter-item.selected {
    color: #fff;
  }
  /* developer.github.com: "#eee" */
  .subnav-bordered {
    border-bottom-color: #343434;
  }
  /* developer.github.com: "color: #666", "#e5e5e5" */
  .subnav-item {
    color: #949494;
    border-color: #343434;
  }
  /* developer.github.com: "#f5f5f5" */
  .subnav-item:focus, .subnav-item:hover {
    background-color: #222;
  }
  /* developer.github.com: "color: #fff" */
  .subnav-item.selected, .subnav-item.selected:focus,
  .subnav-item.selected:hover {
    color: #fff;
  }
  /* developer.github.com: "color: #767676" */
  .subnav-search-input {
    color: #767676;
  }
  /* developer.github.com: "color: #555" */
  .subnav-search-context .btn {
    color: #afafaf;
  }
  /* developer.github.com: "#fff", "rgba(255,255,255,.8)" */
  .avatar-child {
    background-color: #181818;
    box-shadow: -2px -2px 0 hsla(0, 0%, 100%, .8);
  }
  /* developer.github.com: "#fff", "#fff" */
  .avatar-stack .avatar {
    background-color: #181818;
    border-right-color: #181818;
  }
  /* developer.github.com: "transparent" */
  .avatar-stack .avatar:only-child {
    background-color: transparent;
  }
  /* developer.github.com: "#e5e5e5" */
  .DashedConnection::before {
    border-bottom-color: #343434;
  }
  /* developer.github.com: "#fff", "#eee" */
  .blankslate, .blankslate code {
    border-color: #343434;
  }
  .blankslate code {
    background-color: #181818;
  }
  /* developer.github.com: "box-shadow: none" */
  .blankslate-clean-background {
    box-shadow: none;
  }
  /* developer.github.com: "#ddd" */
  .markdown-body blockquote {
    border-left-color: #343434;
  }
  /* developer.github.com: "color: #555", "#bbb" */
  .markdown-body kbd {
    color: #afafaf;
    border-bottom-color: #484848;
  }
  /* developer.github.com: "#eee" */
  .markdown-body h1, .markdown-body h2 {
    border-bottom-color: #343434;
  }
  /* developer.github.com: "color: #000" */
  .markdown-body h1 .octicon-link, .markdown-body h2 .octicon-link,
  .markdown-body h3 .octicon-link, .markdown-body h4 .octicon-link,
  .markdown-body h5 .octicon-link, .markdown-body h6 .octicon-link {
    color: #f0f0f0;
  }
  /* developer.github.com: "#ddd" */
  .markdown-body table td, .markdown-body table th {
    border-color: #343434;
  }
  /* developer.github.com: "#fff" */
  .markdown-body table tr {
    background-color: #181818;
  }
  /* developer.github.com: "#f8f8f8" */
  .markdown-body table tr:nth-child(2n) {
    background-color: #202020;
  }
  /* developer.github.com: "#fff" */
  .markdown-body img {
    background-color: #181818;
  }
  /* developer.github.com: "transparent" */
  .markdown-body .emoji {
    background-color: transparent;
  }
  /* developer.github.com: "#ddd" */
  .markdown-body span.frame > span {
    border-color: #343434;
  }
  /* developer.github.com: "color: #333" */
  .markdown-body span.frame span span {
    color: #bebebe;
  }
  /* developer.github.com: "transparent" */
  .markdown-body pre code, .markdown-body pre tt {
    background-color: transparent;
  }
  /* developer.github.com: "#fff" */
  .markdown-body .csv-data .blob-num {
    background-color: #181818;
  }
  /* developer.github.com: "#f8f8f8" */
  .markdown-body .csv-data th {
    background-color: #202020;
  }
  /* developer.github.com: "color: #fff" */
  .state {
    color: #fff;
  }
  /* developer.github.com: "color: #767676", "#e5e5e5" */
  .pullquote {
    color: #767676;
    border-left-color: #343434;
  }
  /* developer.github.com: "transparent", "transparent" */
  .jumbotron-shadow::after {
    background-color: transparent;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05));
  }
  /* developer.github.com: "#fff" */
  body {
    background-color: #181818;
  }
  /* developer.github.com: "#e5e5e5" */
  .data-table tbody td, .data-table tbody th, .data-table tbody tr:last-child td,
  .data-table tbody tr:last-child th, abbr[data-original-title], abbr[title] {
    border-bottom-color: #343434;
  }
  /* developer.github.com: "color: #767676" */
  body {
    color: #767676;
  }
  /* developer.github.com: "color: #3c4146" */
  .text-alpha, .text-beta, .text-delta, .text-gamma, h1, h2, h3, h4, h5 {
    color: #bebebe;
  }
  /* developer.github.com: "color: #767676" */
  .lead {
    color: #767676;
  }
  /* developer.github.com: "#e5e5e5" */
  hr {
    border-bottom-color: #343434;
  }
  /* developer.github.com: "#e5e5e5" */
  .border-top, .border-y {
    border-top-color: #343434 !important;
  }
  /* developer.github.com: "#e5e5e5" */
  .border-bottom, .border-y {
    border-bottom-color: #343434 !important;
  }
  /* developer.github.com: "#e5e5e5" */
  blockquote {
    border-left-color: #343434;
  }
  /* developer.github.com: "#e5e5e5" */
  .border {
    border-color: #343434 !important;
  }
  /* developer.github.com: "#e5e5e5" */
  .border-right {
    border-right-color: #343434 !important;
  }
  /* developer.github.com: "#e5e5e5" */
  .border-left {
    border-left-color: #343434 !important;
  }
  /* developer.github.com: "#ddd" */
  .border-gray-dark, .border-gray-light {
    border-color: #343434 !important;
  }
  /* developer.github.com: "color: #fff" */
  .link-white {
    color: #fff;
  }
  /* developer.github.com: "color: #767676" */
  .link-muted {
    color: #767676;
  }
  /* developer.github.com: "color: #3c4146" */
  .link-muted:hover {
    color: #bebebe;
  }
  /* developer.github.com: "#fff" */
  .bg-white {
    background-color: #181818 !important;
  }
  /* developer.github.com: "#f5f5f5" */
  .bg-gray-light {
    background-color: #222 !important;
  }
  /* developer.github.com: "color: #3c4146 !important" */
  .text-black {
    color: #bebebe !important;
  }
  /* developer.github.com: "color: #767676 !important" */
  .text-default {
    color: #767676 !important;
  }
  /* developer.github.com: "color: #fff !important" */
  .text-white, .text-white a {
    color: #fff !important;
  }
  /* developer.github.com: "color: #767676", "#eee" */
  .btn {
    color: #767676;
    background-color: #242424;
  }
  /* developer.github.com: "#ddd", "#eee","#ddd" */
  .btn.zeroclipboard-is-active, .btn.zeroclipboard-is-hover, .btn:active,
  .btn:hover {
    background-color: #383838;
    background-image: linear-gradient(#242424, #383838);
  }
  /* developer.github.com: "none", "rgba(0,0,0,.15)" */
  .btn.selected, .btn.zeroclipboard-is-active, .btn:active {
    background-image: none;
    box-shadow: inset 0 2px 4px #000;
  }
  /* developer.github.com: "none", "box-shadow: none" */
  .btn.disabled, .btn.disabled:hover, .btn:disabled, .btn:disabled:hover {
    background-image: none;
    box-shadow: none;
  }
  /* developer.github.com: "color: #fff" */
  .btn-purple, .btn-purple:hover {
    color: #fff;
  }
  /* developer.github.com: "none" */
  .btn-purple:active {
    background-image: none;
  }
  /* developer.github.com: "color: #fff" */
  .btn-blue, .btn-blue:hover {
    color: #fff;
  }
  /* developer.github.com: "none" */
  .btn-blue:active {
    background-image: none;
  }
  /* developer.github.com: "color: #fff" */
  .btn-orange, .btn-orange:hover {
    color: #fff;
  }
  /* developer.github.com: "none" */
  .btn-orange:active {
    background-image: none;
  }
  /* developer.github.com: "color: #fff" */
  .btn-themed, .btn-themed:hover {
    color: #fff;
  }
  /* developer.github.com: "transparent", "none", "#e5e5e5" */
  .btn-themed:active, [class*="btn-outline"] {
    background-image: none;
  }
  [class*="btn-outline"] {
    background-color: transparent;
    border-color: #343434;
  }
  /* developer.github.com: "color: #fff", "none" */
  [class*="btn-outline"].selected,
  [class*="btn-outline"].zeroclipboard-is-active,
  [class*="btn-outline"].zeroclipboard-is-hover, [class*="btn-outline"]:active,
  [class*="btn-outline"]:hover {
    color: #fff;
    background-image: none;
  }
  /* developer.github.com: "#fff", "none", "#e5e5e5" */
  [class*="btn-outline"].disabled, [class*="btn-outline"].disabled:hover,
  [class*="btn-outline"]:disabled, [class*="btn-outline"]:disabled:hover {
    background-color: #181818;
    background-image: none;
    border-color: #343434;
  }
  /* developer.github.com: "color: #fff" */
  .btn-outline-blue:active, .btn-outline-blue:hover, .btn-outline-orange:active,
  .btn-outline-orange:hover, .btn-outline-purple:active,
  .btn-outline-purple:hover {
    color: #fff;
  }
  /* developer.github.com: "color: #fff", "#fff" */
  .btn-outline-white {
    color: #fff;
    border-color: #181818;
  }
  /* developer.github.com: "#fff", "#fff" */
  .btn-outline-white:active, .btn-outline-white:hover {
    background-color: #181818;
    border-color: #181818;
  }
  /* developer.github.com: "color: #fff" */
  .btn-outline-themed:active, .btn-outline-themed:hover {
    color: #fff;
  }
  /* developer.github.com: "#fff", "#e5e5e5" */
  .card {
    background-color: #181818;
  }
  /* developer.github.com: "#f5f5f5", "#e5e5e5" */
  .card, .highlight {
    border-color: #343434;
  }
  .highlight {
    background-color: #222;
  }
  /* developer.github.com: "transparent" */
  .highlight pre code {
    background-color: transparent;
  }
  /* developer.github.com: "#e5e5e5" */
  .menu-item, .site-header {
    border-bottom-color: #343434;
  }
  /* developer.github.com: "#e5e5e5" */
  .example {
    border-color: #343434;
  }
  /* developer.github.com: "rgba(0,0,0,.2)" */
  .screenshot img {
    box-shadow: 0 4px 14px rgba(255, 255, 255, .7);
  }
  /* developer.github.com: "#e5e5e5" */
  .footer {
    border-top-color: #343434;
  }
  /* developer.github.com: "transparent", "transparent" */
  .jumbotron::after {
    background-color: transparent;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05));
  }
  /* developer.github.com: "color: #555" */
  .site-header-nav-item {
    color: #afafaf;
  }
  /* developer.github.com: "color: #333" */
  .site-header-nav-item.active, .site-header-nav-item:hover {
    color: #bebebe;
  }
  /* developer.github.com: "#fff", "#e5e5e5" */
  .menu {
    background-color: #181818;
    border-color: #343434;
  }
  /* developer.github.com: "#f5f5f5" */
  .menu-item:hover {
    background-color: #222;
  }
  /* developer.github.com: "color: #3c4146", "#fff" */
  .menu-item.selected {
    color: #bebebe;
    background-color: #181818;
  }
  /* developer.github.com: "#e5e5e5" */
  .data-table {
    border-color: #343434;
  }
  /* developer.github.com: "#e5e5e5", "#e5e5e5" */
  .data-table td, .data-table th {
    border-right-color: #343434;
    border-bottom-color: #343434;
  }
  /* developer.github.com: "color: #3c4146" */
  .header-enterprise-version {
    color: #bebebe;
  }
  /* developer.github.com: "color: #fff" */
  #searchfield {
    color: #fff;
  }
  /* developer.github.com: "color: #767676" */
  #searchfield::-webkit-input-placeholder {
    color: #767676;
  }
  /* developer.github.com: "color: #767676" */
  #searchfield::-moz-placeholder {
    color: #767676;
  }
  /* developer.github.com: "color: #767676" */
  #searchfield:-ms-input-placeholder {
    color: #767676;
  }
  /* developer.github.com: "color: #767676" */
  #searchfield:-moz-placeholder {
    color: #767676;
  }
  /* developer.github.com: "rgba(0,0,0,.4)" */
  #search-results {
    box-shadow: 0 1px 3px #000;
  }
  /* developer.github.com: "color: #fff !important" */
  .result.selected em, .result.selected small, .result:hover em,
  .result:hover small {
    color: #fff !important;
  }
  /* developer.github.com: "color: #fff" */
  .site-header-nav a {
    color: #fff;
  }
  /* developer.github.com: "rgba(255,255,255,.8)" */
  .flash-header {
    color: hsla(0, 0%, 100%, .8);
  }
  /* developer.github.com: "color: #fff !important" */
  .flash-header a {
    color: #fff !important;
  }
  /* developer.github.com: "Transparent", "color: #fff" */
  .site-header-nav .dropdown-button {
    background-color: transparent;
    color: #fff;
  }
  /* developer.github.com: "#fff" */
  .site-header-nav .dropdown-button .dropdown-caret {
    border-color: #181818 transparent transparent;
  }
  /* developer.github.com: "#fff" */
  .site-header-nav .dropdown-button .enterprise-mode .dropdown-caret {
    border-top-color: #181818;
  }
  /* developer.github.com: "#fff", "rgba(27,31,35,.15)", "rgba(27,31,35,.15)" */
  .site-header-nav .dropdown-menu {
    background-color: #181818;
    border-color: rgba(220, 220, 220, .15);
    box-shadow: 0 3px 12px #000;
  }
  /* developer.github.com: "rgba(27,31,35,.15)" */
  .site-header-nav .dropdown-menu::before {
    border-bottom-color: rgba(220, 220, 220, .15);
  }
  /* developer.github.com: "#fff" */
  .site-header-nav .dropdown-menu::after {
    border-bottom-color: #181818;
  }
  /* developer.github.com: "color: #4183c4" */
  .site-header-nav .dropdown-menu a {
    color: rgba(79, 140, 201, .9);
    color: rgba(/*[[base-color-rgb]]*/, .9);
  }
  /* developer.github.com: "color: #fff", "#4183C4" */
  .site-header-nav .dropdown-menu a:hover {
    color: #fff;
    background-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* developer.github.com: "color: #24292e" */
  .site-header-nav .dropdown-menu a.active {
    color: #cdcdcd;
  }
  /* developer.github.com: "color: #000" */
  .site-header-nav .dropdown-menu a .octicon-check {
    color: #f0f0f0;
  }
  /* developer.github.com: "color: #333" */
  .sub-nav h2 a {
    color: #bebebe;
  }
  /* developer.github.com: "#ddd" */
  .sub-nav ul {
    border-left-color: #343434;
  }
  /* developer.github.com: "color: #767676" */
  .sub-nav ul a {
    color: #767676;
  }
  /* developer.github.com: "color: #005b9e" */
  .sub-nav ul a:hover {
    color: rgba(79, 140, 201, 1);
    color: rgba(/*[[base-color-rgb]]*/, 1);
  }
  /* developer.github.com: "#ddd" */
  @media screen and (min-width: 469px) {
    .sub-nav {
      border-bottom-color: #343434;
    }
  }
  /* developer.github.com: "color: #333" */
  .highlight-module .mega-octicon {
    color: #bebebe;
  }
  /* developer.github.com: "#fff", "#ddd" */
  .homepage-jumbotron, .libraries-jumbotron {
    background-color: #181818;
  }
  .libraries-jumbotron {
    border-bottom-color: #343434;
  }
  /* developer.github.com: "color: #333" */
  .octokit-language span {
    color: #bebebe;
  }
  /* developer.github.com: "#fff", "#e5e5e5" */
  .sidebar-menu, .sidebar-module {
    border-color: #343434;
  }
  /* developer.github.com: "#fafafb" */
  .sidebar-menu, .sidebar-module.notice {
    background-color: #181818;
  }
  /* developer.github.com: "#eee" */
  .sidebar-module ul li:last-child ul li:first-child {
    border-top-color: #343434;
  }
  /* developer.github.com: "color: #666", "#eee" */
  .headlines > li, .sidebar-module ul h3 {
    color: #949494;
    border-bottom-color: #343434;
  }
  /* developer.github.com: "color: #333" */
  .headlines > li > a {
    color: #bebebe;
  }
  /* developer.github.com: "color: #327fc7" */
  .headlines > li > a:hover {
    color: /*[[base-color]]*/ #4f8cc9;
  }
  /* developer.github.com: "#fdfdfd" */
  .headlines li:hover {
    background-color: #181818;
  }
  /* developer.github.com: "color: #555" */
  .sidebar-module h3 a {
    color: #afafaf;
  }
  /* developer.github.com: "color: #327fc7", "#fdfdfd" */
  .sidebar-module h3 a:hover {
    color: /*[[base-color]]*/ #4f8cc9;
    background-color: #181818;
  }
  /* developer.github.com: "#eee", "color: #666", "#f9f9f9" */
  .sidebar-module ul ul li {
    border-bottom-color: #343434;
    color: #949494;
    background-color: #181818;
  }
  /* developer.github.com: "color: #333", "#f4f4f4" */
  .js-current .standalone a, .sidebar-module .disable > a {
    color: #bebebe;
    background-color: #242424;
  }
  /* developer.github.com: "color: #005b9e" */
  .sidebar-module ul ul li a:hover {
    color: rgba(79, 140, 201, 1);
    color: rgba(/*[[base-color-rgb]]*/, 1);
  }
  /* developer.github.com: "transparent" */
  .arrow-btn.collapsed:hover, .arrow-btn.expanded:hover,
  .sidebar-module .arrow-btn {
    background-color: transparent;
  }
  /* developer.github.com: "color: #264c72", "#97c1da", "#d8ebf8" */
  .alert {
    color: #9daccc;
    border-color: #246;
    background-color: #182030;
  }
  /* developer.github.com: "#613A00", "#dca874", "#ffe3c8" */
  .warning {
    color: #bba257;
    border-color: #cb4;
    background-color: #261d08;
  }
  /* developer.github.com: "#d8ebf8" */
  .alert table {
    background-color: #182030;
  }
  /* developer.github.com: "#ffe3c8" */
  .warning table {
    background-color: #261d08;
  }
  /* developer.github.com: "#6f42c1", "#f8f4ff", "#f8f4ff","#f6f1ff", "#6f42c1" */
  .product {
    color: #9378ba;
    background-color: #251533;
    background: -webkit-linear-gradient(#251533, #231233);
    border-color: #9378ba;
  }
  /* developer.github.com: "color: #327fc7" */
  .api-status a:hover {
    color: /*[[base-color]]*/ #4f8cc9;
  }
  /* developer.github.com: "color: #333" */
  .content .anchor {
    color: #bebebe;
  }
  /* developer.github.com: "color: #666" */
  h2 span.step {
    color: #949494;
  }
  /* developer.github.com: "color: #4183c4" */
  a {
    color: rgba(79, 140, 201, .9);
    color: rgba(/*[[base-color-rgb]]*/, .9);
  }
  /* developer.github.com: "color: #005b9e" */
  a:active, a:hover {
    color: rgba(79, 140, 201, 1);
    color: rgba(/*[[base-color-rgb]]*/, 1);
  }
  /* developer.github.com: "color: #fff" */
  .button, .button-secondary {
    color: #fff;
  }
  /* developer.github.com: "color: #444" */
  .rss-subscribe {
    color: #afafaf;
  }
  /* developer.github.com: "color: #393939" */
  .content {
    color: #bebebe;
  }
  /* developer.github.com: "color: #666" */
  .content dt {
    color: #949494;
  }
  /* developer.github.com: "#ddd" */
  .app-container img {
    border-color: #343434;
  }
  /* developer.github.com: "#ddd" */
  ol > li::before {
    border-right-color: #343434;
  }
  /* developer.github.com: "#ddd" */
  .content ol > li img {
    border-color: #343434;
  }
  /* developer.github.com: "rgba(0,0,0,.2)" */
  .content .full-image img {
    box-shadow: 0 0 3px rgba(255, 255, 255, .7);
  }
  /* developer.github.com: "color: #666" */
  .content .full-image:hover .octicon, .full-image:hover .mini-icon {
    color: #949494;
  }
  /* developer.github.com: "#f9f9f9" */
  .content .sectionbody .dlist dt, .content .verseblock-content,
  .content dl code, .content h2 code, .content h3 code, .content h4 code,
  .content ol code, .content p > tt, .content table code, .content ul code,
  p code {
    background-color: #181818;
  }
  /* developer.github.com: "color: #fff" */
  .tooltip-text {
    color: #fff;
  }
  /* developer.github.com: "color: #333" */
  #markdown-toc li a {
    color: #bebebe;
  }
  /* developer.github.com: "color: #327fc7" */
  #markdown-toc li a:hover {
    color: /*[[base-color]]*/ #4f8cc9;
  }
  /* developer.github.com: "#ddd" */
  .content table th {
    border-color: #343434;
  }
  /* developer.github.com: "#fff" */
  .content table tr {
    background-color: #181818;
  }
  /* developer.github.com: "#ddd" */
  .content table td {
    border-color: #343434;
  }
  /* developer.github.com: "#fafafb", "color: #393939" */
  pre {
    background-color: #181818;
    color: #bebebe;
  }
  /* developer.github.com: "#f4f4f4" */
  .highlight-headers {
    background-color: #242424;
  }
  /* developer.github.com: "color: #fff" */
  .command-line {
    color: #fff;
  }
  /* developer.github.com: "transparent" */
  .highlight-graphql .err {
    background-color: transparent;
  }
  /* developer.github.com: "rgba(255,255,255,.5)" */
  #staging-header {
    color: hsla(0, 0%, 0%, .5);
  }
  /* developer.github.com: "color: #fff" */
  #staging-header p {
    color: #fff;
  }
  /* developer.github.com: "#97c1da", "#d8ebf8", "color: #264c72" */
  .preview-notice {
    border-left-color: #246;
    background-color: #182030;
    color: #9daccc;
  }
  /* developer.github.com: "#613A00", "#dca874", "#ffe3c8", "#ffe3c8", "rgba(255,255,255,.8)" */
  .deprecation-warning {
    color: #bba257;
    border-color: #cb4;
    background-color: #261d08;
    background: -webkit-linear-gradient(#261d08, #f5dac0);
  }
  /* developer.github.com: "rgba(255,255,255,.8)" */
  .deprecation-note, .deprecation-warning {
    text-shadow: 0 1px 0 hsla(0, 0%, 100%, .8);
  }
  /* developer.github.com: "#fff", "#e5e5e5" */
  .pagination > span, .pagination a, .pagination em {
    background-color: #181818;
    border-color: #343434;
  }
  /* developer.github.com: "#e5e5e5" */
  .pagination > span:focus, .pagination > span:hover, .pagination a:focus,
  .pagination a:hover, .pagination em:focus, .pagination em:hover {
    border-color: #343434;
  }
  /* developer.github.com: "color: #fff" */
  .pagination .current, .pagination .current:hover {
    color: #fff;
  }
  /* developer.github.com: "color: #000" */
  code .gd, code .gd .x, code .gi, code .gi .x {
    color: #f0f0f0;
  }
  /* developer.github.com: "color: #555" */
  code .gp, code .nn {
    color: #afafaf;
  }
  /* developer.github.com: "color: #fff" */
  .criticality-badge--breaking {
    color: #fff;
  }
  /* developer.github.com: "#ddd" */
  iframe#graphiql {
    border-color: #343434;
  }
  /* developer.github.com: "color: #fff" */
  .text-blue-light {
    color: #fff;
  }
  /* developer.github.com: "none" */
  .btn, .btn:hover {
    background-image: none;
  }
  /* developer.github.com: "box-shadow: 0 1px 0 0 #0058a2" */
  .link-mono:hover {
    box-shadow: 0 1px 0 0 /*[[base-color]]*/ #4f8cc9;
  }
  /* developer.github.com: "color: #767676" */
  a.card.bg-gray-light {
    color: #767676;
  }
  /* developer.github.com: "#f5f5f5" */
  .bg-custom-gradient {
    background-image: linear-gradient(180deg, #222, rgba(245, 245, 245, 0));
  }
  /* end developer.github.com rules */
  table {
    background-color: transparent;
  }
  html[prefix] .deprecation-note, html[prefix] .deprecation-warning {
    text-shadow: none;
  }
  .sidebar-module .arrow-btn {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 6 16"><path fill="%23bebebe" fill-rule="evenodd" d="M0 14l6-6-6-6v12z"></path></svg>') no-repeat 8px 10px;
  }
  .arrow-btn.collapsed:hover {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 6 16"><path fill="rgb(/*[[base-color-rgb]]*/)" fill-rule="evenodd" d="M0 14l6-6-6-6v12z"></path></svg>') no-repeat 8px 10px;
  }
  .arrow-btn.expanded {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 12 16"><path fill="%23bebebe" fill-rule="evenodd" d="M0 5l6 6 6-6H0z"></path></svg>') no-repeat 8px 10px;
  }
  .arrow-btn.expanded:hover {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 12 16"><path fill="rgb(/*[[base-color-rgb]]*/)" fill-rule="evenodd" d="M0 5l6 6 6-6H0z"></path></svg>') no-repeat 8px 10px;
  }
}
