@-moz-document domain("developer.github.com") {
  /* generated developer.github.com rules */
  table {
    background-color: transparent;
  }
  html[prefix] .deprecation-note, html[prefix] .deprecation-warning {
    text-shadow: none;
  }
  .sidebar-module .arrow-btn {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 6 16"><path fill="%23bebebe" fill-rule="evenodd" d="M0 14l6-6-6-6v12z"></path></svg>') no-repeat 8px 10px;
  }
  .arrow-btn.collapsed:hover {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 6 16"><path fill="rgb(/*[[base-color-rgb]]*/)" fill-rule="evenodd" d="M0 14l6-6-6-6v12z"></path></svg>') no-repeat 8px 10px;
  }
  .arrow-btn.expanded {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 12 16"><path fill="%23bebebe" fill-rule="evenodd" d="M0 5l6 6 6-6H0z"></path></svg>') no-repeat 8px 10px;
  }
  .arrow-btn.expanded:hover {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 12 16"><path fill="rgb(/*[[base-color-rgb]]*/)" fill-rule="evenodd" d="M0 5l6 6 6-6H0z"></path></svg>') no-repeat 8px 10px;
  }
  .btn-blue {
    color: #fff;
    background-color: /*[[base-color]]*/;
    background-image: linear-gradient(-180deg, /*[[base-color]]*/, /*[[base-color]]*/ 90%);
    border-color: #eee;
  }
  .btn-blue:hover {
    color: #fff;
    background-image: linear-gradient(-180deg, rgba(/*[[base-color-rgb]]*/, .9), rgba(/*[[base-color-rgb]]*/, .9) 90%);
    border-color: #eee;
  }
  .btn.btn-blue.btn-block {
    border-color: #eee;
  }
  [class*="btn-outline"] {
    color: /*[[base-color]]*/;
    background-color: transparent;
    background-image: none;
    border: 1px solid #343434;
  }
  [class*="btn-outline"].selected,
  [class*="btn-outline"].zeroclipboard-is-active,
  [class*="btn-outline"].zeroclipboard-is-hover, [class*="btn-outline"]:active,
  [class*="btn-outline"]:hover {
    color: #fff;
    background-color: /*[[base-color]]*/;
    background-image: none;
    border-color: /*[[base-color]]*/;
  }
  .sub-nav ul a.active {
    color: #c6c6c6;
  }
}
