@-moz-document domain("docs.github.com") {
  /* begin docs.github.com rules */
  /* docs.github.com: "transparent" */
  a {
    background-color: transparent;
  }
  /* docs.github.com: "color: #1b1f23" */
  mark {
    color: #dcdcdc;
  }
  /* docs.github.com: "color: #24292e", "#fff" */
  body {
    color: #cdcdcd;
    background-color: #181818;
  }
  /* docs.github.com: "#0366d6" */
  a {
    color: /*[[base-color]]*/ #4f8cc9;
  }
  /* docs.github.com: "transparent", "#dfe2e5" */
  .rule, hr {
    background-color: transparent;
    border-bottom-color: #343434;
  }
  /* docs.github.com: "color: #444d56", "#fafbfc", "#d1d5da", "#d1d5da", "#d1d5da" */
  kbd {
    color: #afafaf;
    box-shadow: inset 0 -1px 0 #404040;
  }
  /* docs.github.com: "#fff", "#d1d5da" */
  .Box, kbd {
    background-color: #181818;
    border-color: #404040;
  }
  /* docs.github.com: "#f6f8fa", "#d1d5da" */
  .Box-header {
    background-color: #222;
    border-color: #404040;
  }
  /* docs.github.com: "#e1e4e8" */
  .Box-body {
    border-bottom-color: #343434;
  }
  /* docs.github.com: "#e1e4e8" */
  .Box-row {
    border-top-color: #343434;
  }
  /* docs.github.com: "#0366d6" */
  .Box-row.Box-row--unread, .Box-row.unread {
    box-shadow: 2px 0 0 /*[[base-color]]*/ #4f8cc9 inset;
  }
  /* docs.github.com: "#0366d6" */
  .Box-row.navigation-focus .Box-row--drag-button {
    color: /*[[base-color]]*/ #4f8cc9;
  }
  /* docs.github.com: "#fafbfc" */
  .Box-row.navigation-focus.sortable-chosen {
    background-color: #181818;
  }
  /* docs.github.com: "#f6f8fa" */
  .Box-row--focus-gray.navigation-focus,
  .Box-row.navigation-focus.sortable-ghost {
    background-color: #222;
  }
  /* docs.github.com: "#f1f8ff" */
  .Box-row--focus-blue.navigation-focus {
    background-color: #182030;
  }
  /* docs.github.com: "#f6f8fa" */
  .Box-row--hover-gray:hover {
    background-color: #222;
  }
  /* docs.github.com: "#f1f8ff" */
  .Box-row--hover-blue:hover {
    background-color: #182030;
  }
  /* docs.github.com: "color: #24292e", "#0366d6" */
  @media (min-width: 768px) {
    .Box-row-link {
      color: #cdcdcd;
    }
    .Box-row-link:hover {
      color: /*[[base-color]]*/ #4f8cc9;
    }
  }
  /* docs.github.com: "#e1e4e8" */
  .Box-footer {
    border-top-color: #343434;
  }
  /* docs.github.com: "#c8e1ff" */
  .Box--blue {
    border-color: #246;
  }
  /* docs.github.com: "#f1f8ff", "#c8e1ff" */
  .Box--blue .Box-header {
    background-color: #182030;
    border-color: #246;
  }
  /* docs.github.com: "#c8e1ff" */
  .Box--blue .Box-body, .Box--blue .Box-footer, .Box--blue .Box-row {
    border-color: #246;
  }
  /* docs.github.com: "#d73a49" */
  .Box--danger, .Box--danger .Box-body:last-of-type,
  .Box--danger .Box-row:first-of-type {
    border-color: #d82828;
  }
  /* docs.github.com: "#f1f8ff", "#c8e1ff" */
  .Box-header--blue {
    background-color: #182030;
    border-color: #246;
  }
  /* docs.github.com: "#fffbdd" */
  .Box-row--yellow {
    background-color: #261d08;
  }
  /* docs.github.com: "#f1f8ff" */
  .Box-row--blue {
    background-color: #182030;
  }
  /* docs.github.com: "#f6f8fa" */
  .Box-row--gray {
    background-color: #222;
  }
  /* docs.github.com: "rgba(27,31,35,.2)" */
  .btn {
    border-color: rgba(220, 220, 220, .2);
  }
  /* docs.github.com: "color: #586069", "rgba(27,31,35,.1)" */
  .btn .Counter {
    color: #afafaf;
    background-color: rgba(220, 220, 220, .17);
  }
  /* docs.github.com: "none" */
  .btn.selected, .btn:active, .btn[aria-selected="true"] {
    background-image: none;
  }
  /* docs.github.com: "color: #24292e", "#eff3f6", "linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%)" */
  .btn {
    color: #cdcdcd;
    background-color: #242424;
    background-image: linear-gradient(-180deg, #202020 0%, #181818 90%);
  }
  /* docs.github.com: "box-shadow: 0 0 0 .2em rgba(3,102,214,.3)" */
  .btn.focus, .btn:focus {
    box-shadow: 0 0 0 .2em rgba(79, 140, 201, .5);
    box-shadow: 0 0 0 .2em rgba(/*[[base-color-rgb]]*/, .5);
  }
  /* docs.github.com: "#e6ebf1", "#e6ebf1", "rgba(27,31,35,.35)" */
  .btn.hover, .btn:hover {
    background-color: #444;
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #444 90%);
    border-color: rgba(220, 220, 220, .35);
  }
  /* docs.github.com: "#e9ecef", "none", "rgba(27,31,35,.35)", "rgba(27,31,35,.15)" */
  .btn.selected, .btn:active, .btn[aria-selected="true"], [open] > .btn {
    background-color: #404040;
    background-image: none;
    border-color: rgba(220, 220, 220, .35);
    box-shadow: inset 0 .15em .3em #000;
  }
  /* docs.github.com: "color: rgba(36,41,46,.4)", "#eff3f6", "none", "rgba(27,31,35,.2)", "box-shadow: none" */
  .btn.disabled, .btn:disabled, .btn[aria-disabled="true"] {
    color: rgba(210, 210, 210, .4);
    background-color: #242424;
    background-image: none;
    border-color: rgba(220, 220, 220, .2);
    box-shadow: none;
  }
  /* docs.github.com: "color: #fff", "#28a745", "#34d058","#28a745" */
  .btn-primary {
    color: #fff;
    background-color: #484;
    background-image: linear-gradient(-180deg, #373 0%, #484 90%);
  }
  /* docs.github.com: "rgba(52,208,88,.4)" */
  .btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 .2em #3737;
  }
  /* docs.github.com: "#269f42", "#2fcb53","#269f42", "rgba(27,31,35,.5)" */
  .btn-primary.hover, .btn-primary:hover {
    background-color: #595;
    background-image: linear-gradient(-180deg, #373 0%, #595 90%);
    border-color: rgba(220, 220, 220, .5);
  }
  /* docs.github.com: "#279f43", "none", "rgba(27,31,35,.5)", "rgba(27,31,35,.15)" */
  .btn-primary.selected, .btn-primary:active, .btn-primary[aria-selected="true"],
  [open] > .btn-primary {
    background-color: #595;
    background-image: none;
    border-color: rgba(220, 220, 220, .5);
    box-shadow: inset 0 .15em .3em #000;
  }
  /* docs.github.com: "#94d3a2", "none", "rgba(27,31,35,.2)", "box-shadow: none" */
  .btn-primary.disabled, .btn-primary:disabled,
  .btn-primary[aria-disabled="true"] {
    background-color: #040;
    background-image: none;
    border-color: rgba(220, 220, 220, .2);
    box-shadow: none;
  }
  /* docs.github.com: "#fff" */
  .btn-primary .Counter {
    background-color: #181818;
  }
  /* docs.github.com: "color: #fff", "#0361cc", "#0679fc","#0361cc" */
  .btn-blue {
    color: #fff;
    background-color: /*[[base-color]]*/ #4f8cc9;
    background-image: linear-gradient(-180deg, /*[[base-color]]*/ #4f8cc9 0%, /*[[base-color]]*/ #4f8cc9 90%);
  }
  /* docs.github.com: "rgba(27,31,35,.5)" */
  .btn-blue.hover, .btn-blue:hover {
    border-color: rgba(220, 220, 220, .5);
  }
  /* docs.github.com: "none", "rgba(27,31,35,.5)", "rgba(27,31,35,.15)" */
  .btn-blue.selected, .btn-blue:active, .btn-blue[aria-selected="true"],
  [open] > .btn-blue {
    background-image: none;
    border-color: rgba(220, 220, 220, .5);
    box-shadow: inset 0 .15em .3em #000;
  }
  /* docs.github.com: "none", "rgba(27,31,35,.2)", "box-shadow: none" */
  .btn-blue.disabled, .btn-blue:disabled, .btn-blue[aria-disabled="true"] {
    background-image: none;
    border-color: rgba(220, 220, 220, .2);
    box-shadow: none;
  }
  /* docs.github.com: "#0366d6", "#fff" */
  .btn-blue .Counter {
    color: /*[[base-color]]*/ #4f8cc9;
    background-color: #181818;
  }
  /* docs.github.com: "#cb2431", "#fafbfc", "linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%)" */
  .btn-danger {
    color: #d82828;
    background-color: #181818;
    background-image: linear-gradient(-180deg, #202020 0%, #181818 90%);
  }
  /* docs.github.com: "rgba(203,36,49,.4)" */
  .btn-danger:focus {
    box-shadow: 0 0 0 .2em rgba(255, 68, 68, .4);
  }
  /* docs.github.com: "color: #fff", "#cb2431", "#cb2431", "rgba(27,31,35,.5)" */
  .btn-danger:hover {
    color: #fff;
    background-color: #d82828;
    background-image: linear-gradient(-180deg, #de4450 0%, #d82828 90%);
    border-color: rgba(220, 220, 220, .5);
  }
  /* docs.github.com: "color: #fff" */
  .btn-danger:hover .Counter {
    color: #fff;
  }
  /* docs.github.com: "color: #fff", "none", "rgba(27,31,35,.5)", "rgba(27,31,35,.15)" */
  .btn-danger.selected, .btn-danger:active, .btn-danger[aria-selected="true"],
  [open] > .btn-danger {
    color: #fff;
    background-image: none;
    border-color: rgba(220, 220, 220, .5);
    box-shadow: inset 0 .15em .3em #000;
  }
  /* docs.github.com: "rgba(203,36,49,.4)", "#eff3f6", "none", "rgba(27,31,35,.2)", "box-shadow: none" */
  .btn-danger.disabled, .btn-danger:disabled, .btn-danger[aria-disabled="true"] {
    color: rgba(255, 68, 68, .4);
    background-color: #242424;
    background-image: none;
    border-color: rgba(220, 220, 220, .2);
    box-shadow: none;
  }
  /* docs.github.com: "#0366d6", "#fff", "none" */
  .btn-outline {
    color: /*[[base-color]]*/ #4f8cc9;
    background-color: #181818;
    background-image: none;
  }
  /* docs.github.com: "color: #fff", "#0366d6", "none", "#0366d6" */
  .btn-outline.selected, .btn-outline:active, .btn-outline:hover,
  .btn-outline[aria-selected="true"], [open] > .btn-outline {
    color: #fff;
    background-color: /*[[base-color]]*/ #4f8cc9;
    background-image: none;
    border-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* docs.github.com: "#0366d6", "#fff" */
  .btn-outline.selected .Counter, .btn-outline:active .Counter,
  .btn-outline:hover .Counter, .btn-outline[aria-selected="true"] .Counter,
  [open] > .btn-outline .Counter {
    color: /*[[base-color]]*/ #4f8cc9;
    background-color: #181818;
  }
  /* docs.github.com: "#0366d6" */
  .btn-outline:focus {
    border-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* docs.github.com: "color: rgba(27,31,35,.3)", "#fff", "rgba(27,31,35,.15)", "box-shadow: none" */
  .btn-outline.disabled, .btn-outline:disabled,
  .btn-outline[aria-disabled="true"] {
    color: rgba(230, 230, 230, .3);
    background-color: #181818;
    border-color: rgba(220, 220, 220, .15);
    box-shadow: none;
  }
  /* docs.github.com: "#0366d6", "transparent" */
  .btn-link {
    color: /*[[base-color]]*/ #4f8cc9;
    background-color: transparent;
  }
  /* docs.github.com: "color: rgba(88,96,105,.5)" */
  .btn-link:disabled, .btn-link:disabled:hover, .btn-link[aria-disabled="true"],
  .btn-link[aria-disabled="true"]:hover {
    color: rgba(148, 148, 148, .5);
  }
  /* docs.github.com: "#0366d6", "#fff", "none" */
  .btn-invisible {
    color: /*[[base-color]]*/ #4f8cc9;
    background-color: #181818;
    background-image: none;
  }
  /* docs.github.com: "#0366d6", "none", "box-shadow: none" */
  .btn-invisible.selected, .btn-invisible.zeroclipboard-is-active,
  .btn-invisible.zeroclipboard-is-hover, .btn-invisible:active,
  .btn-invisible:focus, .btn-invisible:hover,
  .btn-invisible[aria-selected="true"] {
    color: /*[[base-color]]*/ #4f8cc9;
    background: none;
    box-shadow: none;
  }
  /* docs.github.com: "color: #586069", "transparent" */
  .btn-octicon {
    color: #afafaf;
    background-color: transparent;
  }
  /* docs.github.com: "#0366d6" */
  .btn-octicon:hover {
    color: /*[[base-color]]*/ #4f8cc9;
  }
  /* docs.github.com: "color: #959da5" */
  .btn-octicon.disabled, .btn-octicon.disabled:hover,
  .btn-octicon[aria-disabled="true"], .btn-octicon[aria-disabled="true"]:hover {
    color: #767676;
  }
  /* docs.github.com: "#cb2431" */
  .btn-octicon-danger:hover {
    color: #d82828;
  }
  /* docs.github.com: "transparent" */
  .close-button {
    background-color: transparent;
  }
  /* docs.github.com: "color: #444d56", "#dfe2e5" */
  .ellipsis-expander, .hidden-text-expander a {
    color: #afafaf;
    background-color: #343434;
  }
  /* docs.github.com: "#c6cbd1" */
  .ellipsis-expander:hover, .hidden-text-expander a:hover {
    background-color: #5a5a5a;
  }
  /* docs.github.com: "color: #fff" */
  .ellipsis-expander:active, .hidden-text-expander a:active {
    color: #fff;
  }
  /* docs.github.com: "color: #24292e", "#fff", "rgba(27,31,35,.2)" */
  .social-count {
    color: #cdcdcd;
    background-color: #181818;
    border-color: rgba(220, 220, 220, .2);
  }
  /* docs.github.com: "#0366d6" */
  .social-count:hover {
    color: /*[[base-color]]*/ #4f8cc9;
  }
  /* docs.github.com: "#0366d6", "#fff", "#e1e4e8" */
  .pagination a, .pagination em, .pagination span {
    color: /*[[base-color]]*/ #4f8cc9;
    background-color: #181818;
    border-color: #343434;
  }
  /* docs.github.com: "#eff3f6", "#e1e4e8" */
  .pagination a:focus, .pagination a:hover, .pagination em:focus,
  .pagination em:hover, .pagination span:focus, .pagination span:hover {
    background-color: #242424;
    border-color: #343434;
  }
  /* docs.github.com: "color: #fff", "#0366d6", "#0366d6" */
  .pagination .current, .pagination .current:hover, .pagination [aria-current],
  .pagination [aria-current]:hover {
    color: #fff;
    background-color: /*[[base-color]]*/ #4f8cc9;
    border-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* docs.github.com: "#d1d5da", "#fafbfc" */
  .pagination .disabled, .pagination .disabled:hover, .pagination .gap,
  .pagination .gap:hover, .pagination [aria-disabled="true"],
  .pagination [aria-disabled="true"]:hover {
    color: #404040;
    background-color: #181818;
  }
  /* docs.github.com: "color: #fff" */
  .tooltipped::after {
    color: #fff;
  }
  /* docs.github.com: "color: #1b1f23" */
  .tooltipped::before {
    color: #dcdcdc;
  }
  /* docs.github.com: "#e1e4e8", "#e1e4e8" */
  .border-x {
    border-right-color: #343434 !important;
    border-left-color: #343434 !important;
  }
  /* docs.github.com: "#e1e4e8", "#e1e4e8" */
  .border-y {
    border-top-color: #343434 !important;
    border-bottom-color: #343434 !important;
  }
  /* docs.github.com: "#e1e4e8" */
  .border {
    border-color: #343434 !important;
  }
  /* docs.github.com: "#e1e4e8" */
  .border-top {
    border-top-color: #343434 !important;
  }
  /* docs.github.com: "#e1e4e8" */
  .border-right {
    border-right-color: #343434 !important;
  }
  /* docs.github.com: "#e1e4e8" */
  .border-bottom {
    border-bottom-color: #343434 !important;
  }
  /* docs.github.com: "#e1e4e8" */
  .border-left {
    border-left-color: #343434 !important;
  }
  /* docs.github.com: "#e1e4e8", "#e1e4e8" */
  @media (min-width: 544px) {
    .border-sm {
      border-color: #343434 !important;
    }
    .border-sm-top {
      border-top-color: #343434 !important;
    }
    .border-sm-right {
      border-right-color: #343434 !important;
    }
    .border-sm-bottom {
      border-bottom-color: #343434 !important;
    }
    .border-sm-left {
      border-left-color: #343434 !important;
    }
  }
  /* docs.github.com: "#e1e4e8", "#e1e4e8" */
  @media (min-width: 768px) {
    .border-md {
      border-color: #343434 !important;
    }
    .border-md-top {
      border-top-color: #343434 !important;
    }
    .border-md-right {
      border-right-color: #343434 !important;
    }
    .border-md-bottom {
      border-bottom-color: #343434 !important;
    }
    .border-md-left {
      border-left-color: #343434 !important;
    }
  }
  /* docs.github.com: "#e1e4e8", "#e1e4e8" */
  @media (min-width: 1012px) {
    .border-lg {
      border-color: #343434 !important;
    }
    .border-lg-top {
      border-top-color: #343434 !important;
    }
    .border-lg-right {
      border-right-color: #343434 !important;
    }
    .border-lg-bottom {
      border-bottom-color: #343434 !important;
    }
    .border-lg-left {
      border-left-color: #343434 !important;
    }
  }
  /* docs.github.com: "#e1e4e8", "#e1e4e8" */
  @media (min-width: 1280px) {
    .border-xl {
      border-color: #343434 !important;
    }
    .border-xl-top {
      border-top-color: #343434 !important;
    }
    .border-xl-right {
      border-right-color: #343434 !important;
    }
    .border-xl-bottom {
      border-bottom-color: #343434 !important;
    }
    .border-xl-left {
      border-left-color: #343434 !important;
    }
  }
  /* docs.github.com: "#0366d6" */
  .border-blue {
    border-color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* docs.github.com: "#c8e1ff" */
  .border-blue-light {
    border-color: #246 !important;
  }
  /* docs.github.com: "#34d058" */
  .border-green {
    border-color: #373 !important;
  }
  /* docs.github.com: "#a2cbac" */
  .border-green-light {
    border-color: #040 !important;
  }
  /* docs.github.com: "#cea0a5" */
  .border-red, .border-red-light {
    border-color: #d82828 !important;
  }
  /* docs.github.com: "#6f42c1" */
  .border-purple {
    border-color: #9378ba !important;
  }
  /* docs.github.com: "#d9d0a5" */
  .border-yellow {
    border-color: #542 !important;
  }
  /* docs.github.com: "#eaecef" */
  .border-gray-light {
    border-color: #343434 !important;
  }
  /* docs.github.com: "#d1d5da" */
  .border-gray-dark {
    border-color: #404040 !important;
  }
  /* docs.github.com: "rgba(27,31,35,.15)" */
  .border-black-fade {
    border-color: rgba(220, 220, 220, .15) !important;
  }
  /* docs.github.com: "rgba(255,255,255,.5)" */
  .border-white-fade-50 {
    border-color: hsla(0, 0%, 0%, .5) !important;
  }
  /* docs.github.com: "rgba(27,31,35,.1)" */
  .box-shadow {
    box-shadow: 0 1px 1px #000 !important;
  }
  /* docs.github.com: "rgba(27,31,35,.15)" */
  .box-shadow-medium {
    box-shadow: 0 1px 5px #000 !important;
  }
  /* docs.github.com: "rgba(27,31,35,.15)" */
  .box-shadow-large {
    box-shadow: 0 1px 15px #000 !important;
  }
  /* docs.github.com: "box-shadow: none !important" */
  .box-shadow-none {
    box-shadow: none !important;
  }
  /* docs.github.com: "#fff" */
  .bg-white {
    background-color: #181818 !important;
  }
  /* docs.github.com: "#0366d6" */
  .bg-blue {
    background-color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* docs.github.com: "#f1f8ff" */
  .bg-blue-light {
    background-color: #182030 !important;
  }
  /* docs.github.com: "#24292e" */
  .bg-gray-dark {
    background-color: #181818 !important;
  }
  /* docs.github.com: "#f6f8fa" */
  .bg-gray {
    background-color: #222 !important;
  }
  /* docs.github.com: "#fafbfc" */
  .bg-gray-light {
    background-color: #181818 !important;
  }
  /* docs.github.com: "#28a745" */
  .bg-green {
    background-color: #484 !important;
  }
  /* docs.github.com: "#dcffe4" */
  .bg-green-light {
    background-color: #002800 !important;
  }
  /* docs.github.com: "#d73a49" */
  .bg-red {
    background-color: #d82828 !important;
  }
  /* docs.github.com: "#ffdce0" */
  .bg-red-light {
    background-color: #300 !important;
  }
  /* docs.github.com: "#ffd33d" */
  .bg-yellow {
    background-color: #cb4 !important;
  }
  /* docs.github.com: "#fff5b1" */
  .bg-yellow-light {
    background-color: #651 !important;
  }
  /* docs.github.com: "#dbab09" */
  .bg-yellow-dark {
    background-color: #cb4 !important;
  }
  /* docs.github.com: "#6f42c1" */
  .bg-purple {
    background-color: #9378ba !important;
  }
  /* docs.github.com: "#f5f0ff" */
  .bg-purple-light {
    background-color: #213 !important;
  }
  /* docs.github.com: "#fafbfc" */
  .bg-gray-0 {
    background-color: #181818 !important;
  }
  /* docs.github.com: "#f6f8fa" */
  .bg-gray-1 {
    background-color: #222 !important;
  }
  /* docs.github.com: "#e1e4e8" */
  .color-gray-2 {
    color: #343434 !important;
  }
  /* docs.github.com: "#e1e4e8" */
  .bg-gray-2 {
    background-color: #343434 !important;
  }
  /* docs.github.com: "#d1d5da" */
  .color-gray-3 {
    color: #404040 !important;
  }
  /* docs.github.com: "#d1d5da" */
  .bg-gray-3 {
    background-color: #404040 !important;
  }
  /* docs.github.com: "color: #959da5 !important" */
  .color-gray-4 {
    color: #767676 !important;
  }
  /* docs.github.com: "color: #6a737d !important" */
  .color-gray-5 {
    color: #949494 !important;
  }
  /* docs.github.com: "#6a737d" */
  .bg-gray-5 {
    background-color: #444 !important;
  }
  /* docs.github.com: "color: #586069 !important" */
  .color-gray-6 {
    color: #afafaf !important;
  }
  /* docs.github.com: "#586069" */
  .bg-gray-6 {
    background-color: #343434 !important;
  }
  /* docs.github.com: "color: #444d56 !important" */
  .color-gray-7 {
    color: #afafaf !important;
  }
  /* docs.github.com: "color: #2f363d !important" */
  .color-gray-8 {
    color: #bebebe !important;
  }
  /* docs.github.com: "#2f363d" */
  .bg-gray-8 {
    background-color: #282828 !important;
  }
  /* docs.github.com: "color: #24292e !important" */
  .color-gray-9 {
    color: #cdcdcd !important;
  }
  /* docs.github.com: "#24292e" */
  .bg-gray-9 {
    background-color: #181818 !important;
  }
  /* docs.github.com: "#dbedff" */
  .bg-blue-0, .bg-blue-1 {
    background-color: #182030 !important;
  }
  /* docs.github.com: "#c8e1ff" */
  .bg-blue-2 {
    background-color: #246 !important;
  }
  /* docs.github.com: "#79b8ff" */
  .color-blue-3 {
    color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* docs.github.com: "#79b8ff" */
  .bg-blue-3 {
    background-color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* docs.github.com: "#0366d6" */
  .color-blue-5 {
    color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* docs.github.com: "#0366d6" */
  .bg-blue-5 {
    background-color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* docs.github.com: "#005cc5" */
  .color-blue-6 {
    color: #4f8cc9 !important;
  }
  /* docs.github.com: "#005cc5" */
  .bg-blue-6 {
    background-color: #4f8cc9 !important;
  }
  /* docs.github.com: "color: #032f62 !important" */
  .color-blue-8 {
    color: #9daccc !important;
  }
  /* docs.github.com: "#032f62" */
  .bg-blue-8 {
    background-color: #182030 !important;
  }
  /* docs.github.com: "color: #05264c !important" */
  .color-blue-9 {
    color: #bebebe !important;
  }
  /* docs.github.com: "#05264c" */
  .bg-blue-9 {
    background-color: #182030 !important;
  }
  /* docs.github.com: "#f0fff4" */
  .color-green-0 {
    color: #002800 !important;
  }
  /* docs.github.com: "#f0fff4" */
  .bg-green-0 {
    background-color: #002800 !important;
  }
  /* docs.github.com: "#dcffe4" */
  .color-green-1 {
    color: #002800 !important;
  }
  /* docs.github.com: "#dcffe4" */
  .bg-green-1 {
    background-color: #002800 !important;
  }
  /* docs.github.com: "#34d058" */
  .color-green-4 {
    color: #373 !important;
  }
  /* docs.github.com: "#34d058" */
  .bg-green-4 {
    background-color: #373 !important;
  }
  /* docs.github.com: "#28a745" */
  .color-green-5 {
    color: #484 !important;
  }
  /* docs.github.com: "#28a745" */
  .bg-green-5 {
    background-color: #484 !important;
  }
  /* docs.github.com: "#22863a" */
  .color-green-6 {
    color: #6cc644 !important;
  }
  /* docs.github.com: "#22863a" */
  .bg-green-6 {
    background-color: #6cc644 !important;
  }
  /* docs.github.com: "#165c26" */
  .color-green-8 {
    color: #6cc644 !important;
  }
  /* docs.github.com: "#165c26" */
  .bg-green-8 {
    background-color: #6cc644 !important;
  }
  /* docs.github.com: "#144620" */
  .color-green-9 {
    color: #6cc644 !important;
  }
  /* docs.github.com: "#144620" */
  .bg-green-9 {
    background-color: #6cc644 !important;
  }
  /* docs.github.com: "#fffdef" */
  .color-yellow-0 {
    color: #261d08 !important;
  }
  /* docs.github.com: "#fffdef" */
  .bg-yellow-0 {
    background-color: #261d08 !important;
  }
  /* docs.github.com: "#fffbdd" */
  .color-yellow-1 {
    color: #261d08 !important;
  }
  /* docs.github.com: "#fffbdd" */
  .bg-yellow-1 {
    background-color: #261d08 !important;
  }
  /* docs.github.com: "#fff5b1" */
  .color-yellow-2 {
    color: #651 !important;
  }
  /* docs.github.com: "#fff5b1" */
  .bg-yellow-2 {
    background-color: #651 !important;
  }
  /* docs.github.com: "#ffea7f" */
  .color-yellow-3 {
    color: #542 !important;
  }
  /* docs.github.com: "#ffea7f" */
  .bg-yellow-3 {
    background-color: #542 !important;
  }
  /* docs.github.com: "#ffd33d" */
  .color-yellow-5 {
    color: #cb4 !important;
  }
  /* docs.github.com: "#ffd33d" */
  .bg-yellow-5 {
    background-color: #cb4 !important;
  }
  /* docs.github.com: "#f9c513" */
  .color-yellow-6 {
    color: #cb4 !important;
  }
  /* docs.github.com: "#f9c513" */
  .bg-yellow-6 {
    background-color: #cb4 !important;
  }
  /* docs.github.com: "#dbab09" */
  .color-yellow-7 {
    color: #cb4 !important;
  }
  /* docs.github.com: "#dbab09" */
  .bg-yellow-7 {
    background-color: #cb4 !important;
  }
  /* docs.github.com: "#b08800" */
  .color-yellow-8 {
    color: #cb4 !important;
  }
  /* docs.github.com: "#b08800" */
  .bg-yellow-8 {
    background-color: #cb4 !important;
  }
  /* docs.github.com: "#735c0f" */
  .color-yellow-9 {
    color: #bba257 !important;
  }
  /* docs.github.com: "#735c0f" */
  .bg-yellow-9 {
    background-color: #bba257 !important;
  }
  /* docs.github.com: "#fb8532" */
  .color-orange-4 {
    color: #fb8532 !important;
  }
  /* docs.github.com: "#fb8532" */
  .bg-orange-4 {
    background-color: #fb8532 !important;
  }
  /* docs.github.com: "#e36209" */
  .color-orange-6 {
    color: #fb8532 !important;
  }
  /* docs.github.com: "#e36209" */
  .bg-orange-6 {
    background-color: #fb8532 !important;
  }
  /* docs.github.com: "#d15704" */
  .color-orange-7 {
    color: #f3582c !important;
  }
  /* docs.github.com: "#d15704" */
  .bg-orange-7 {
    background-color: #f3582c !important;
  }
  /* docs.github.com: "#a04100" */
  .color-orange-9 {
    color: #f3582c !important;
  }
  /* docs.github.com: "#a04100" */
  .bg-orange-9 {
    background-color: #f3582c !important;
  }
  /* docs.github.com: "#ffeef0" */
  .color-red-0 {
    color: #300 !important;
  }
  /* docs.github.com: "#ffeef0" */
  .bg-red-0 {
    background-color: #300 !important;
  }
  /* docs.github.com: "#ffdce0" */
  .color-red-1 {
    color: #300 !important;
  }
  /* docs.github.com: "#ffdce0" */
  .bg-red-1 {
    background-color: #300 !important;
  }
  /* docs.github.com: "#f97583" */
  .color-red-3 {
    color: #f88 !important;
  }
  /* docs.github.com: "#f97583" */
  .bg-red-3 {
    background-color: #f88 !important;
  }
  /* docs.github.com: "#d73a49" */
  .color-red-5 {
    color: #d82828 !important;
  }
  /* docs.github.com: "#d73a49" */
  .bg-red-5 {
    background-color: #d82828 !important;
  }
  /* docs.github.com: "#cb2431" */
  .color-red-6 {
    color: #d82828 !important;
  }
  /* docs.github.com: "#cb2431" */
  .bg-red-6 {
    background-color: #d82828 !important;
  }
  /* docs.github.com: "#86181d" */
  .color-red-9 {
    color: #d82828 !important;
  }
  /* docs.github.com: "#86181d" */
  .bg-red-9 {
    background-color: #d82828 !important;
  }
  /* docs.github.com: "#f5f0ff" */
  .color-purple-0 {
    color: #213 !important;
  }
  /* docs.github.com: "#f5f0ff" */
  .bg-purple-0 {
    background-color: #213 !important;
  }
  /* docs.github.com: "#8a63d2" */
  .color-purple-4 {
    color: #53387a !important;
  }
  /* docs.github.com: "#8a63d2" */
  .bg-purple-4 {
    background-color: #53387a !important;
  }
  /* docs.github.com: "#6f42c1" */
  .color-purple-5 {
    color: #9378ba !important;
  }
  /* docs.github.com: "#6f42c1" */
  .bg-purple-5 {
    background-color: #9378ba !important;
  }
  /* docs.github.com: "#ffeef8" */
  .color-pink-0 {
    color: #170711 !important;
  }
  /* docs.github.com: "#ffeef8" */
  .bg-pink-0 {
    background-color: #170711 !important;
  }
  /* docs.github.com: "#ec6cb9" */
  .color-pink-4 {
    color: #c49 !important;
  }
  /* docs.github.com: "#ec6cb9" */
  .bg-pink-4 {
    background-color: #c49 !important;
  }
  /* docs.github.com: "#99306f" */
  .color-pink-8 {
    color: #e6b !important;
  }
  /* docs.github.com: "#99306f" */
  .bg-pink-8 {
    background-color: #e6b !important;
  }
  /* docs.github.com: "#0366d6" */
  .text-blue {
    color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* docs.github.com: "#cb2431" */
  .text-red {
    color: #d82828 !important;
  }
  /* docs.github.com: "color: #6a737d !important" */
  .text-gray-light {
    color: #949494 !important;
  }
  /* docs.github.com: "color: #586069 !important" */
  .text-gray {
    color: #afafaf !important;
  }
  /* docs.github.com: "color: #24292e !important" */
  .text-gray-dark {
    color: #cdcdcd !important;
  }
  /* docs.github.com: "#28a745" */
  .text-green {
    color: #484 !important;
  }
  /* docs.github.com: "#b08800" */
  .text-yellow {
    color: #cb4 !important;
  }
  /* docs.github.com: "#a04100" */
  .text-orange {
    color: #f3582c !important;
  }
  /* docs.github.com: "#e36209" */
  .text-orange-light {
    color: #fb8532 !important;
  }
  /* docs.github.com: "#6f42c1" */
  .text-purple {
    color: #9378ba !important;
  }
  /* docs.github.com: "color: #fff !important" */
  .text-white {
    color: #fff !important;
  }
  /* docs.github.com: "color: #586069 !important" */
  .link-gray {
    color: #afafaf !important;
  }
  /* docs.github.com: "#0366d6" */
  .link-gray:hover {
    color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* docs.github.com: "color: #24292e !important" */
  .link-gray-dark {
    color: #cdcdcd !important;
  }
  /* docs.github.com: "#0366d6" */
  .link-gray-dark:hover, .link-hover-blue:hover {
    color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* docs.github.com: "color: #586069 !important" */
  .muted-link {
    color: #afafaf !important;
  }
  /* docs.github.com: "#0366d6" */
  .muted-link:hover {
    color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* docs.github.com: "transparent" */
  .details-overlay[open] > summary::before {
    background-color: transparent;
  }
  /* docs.github.com: "color: #586069" */
  .lead {
    color: #afafaf;
  }
  /* docs.github.com: "color: #24292e" */
  .text-emphasized {
    color: #cdcdcd;
  }
  /* docs.github.com: "rgba(255,255,255,.5)" */
  .text-shadow-light {
    text-shadow: 0 1px 0 hsla(0, 0%, 0%, .5);
  }
  /* docs.github.com: "color: #444d56", "#fafbfc", "#d1d5da", "#d1d5da", "#d1d5da" */
  .markdown-body kbd {
    color: #afafaf;
    background-color: #181818;
    border-color: #404040;
    box-shadow: inset 0 -1px 0 #404040;
  }
  /* docs.github.com: "#cb2431" */
  .markdown-body .absent {
    color: #d82828;
  }
  /* docs.github.com: "#e1e4e8" */
  .markdown-body hr {
    background-color: #343434;
  }
  /* docs.github.com: "color: #6a737d", "#dfe2e5" */
  .markdown-body blockquote {
    color: #949494;
    border-left-color: #343434;
  }
  /* docs.github.com: "color: #1b1f23" */
  .markdown-body h1 .octicon-link, .markdown-body h2 .octicon-link,
  .markdown-body h3 .octicon-link, .markdown-body h4 .octicon-link,
  .markdown-body h5 .octicon-link, .markdown-body h6 .octicon-link {
    color: #dcdcdc;
  }
  /* docs.github.com: "#eaecef" */
  .markdown-body h1, .markdown-body h2 {
    border-bottom-color: #343434;
  }
  /* docs.github.com: "color: #6a737d" */
  .markdown-body h6 {
    color: #949494;
  }
  /* docs.github.com: "#dfe2e5" */
  .markdown-body table td, .markdown-body table th {
    border-color: #343434;
  }
  /* docs.github.com: "#fff", "#c6cbd1" */
  .markdown-body table tr {
    background-color: #181818;
    border-top-color: #5a5a5a;
  }
  /* docs.github.com: "#f6f8fa" */
  .markdown-body table tr:nth-child(2n) {
    background-color: #222;
  }
  /* docs.github.com: "transparent" */
  .markdown-body table img {
    background-color: transparent;
  }
  /* docs.github.com: "#fff" */
  .markdown-body img {
    background-color: #181818;
  }
  /* docs.github.com: "transparent" */
  .markdown-body .emoji {
    background-color: transparent;
  }
  /* docs.github.com: "#dfe2e5" */
  .markdown-body span.frame > span {
    border-color: #343434;
  }
  /* docs.github.com: "color: #24292e" */
  .markdown-body span.frame span span {
    color: #cdcdcd;
  }
  /* docs.github.com: "transparent" */
  .markdown-body pre > code, .markdown-body pre code, .markdown-body pre tt {
    background-color: transparent;
  }
  /* docs.github.com: "#fff" */
  .markdown-body .csv-data .blob-num {
    background-color: #181818;
  }
  /* docs.github.com: "#f6f8fa" */
  .markdown-body .csv-data th {
    background-color: #222;
  }
  /* docs.github.com: "color: #24292e", "#fff", "#d1d5da" */
  .ais-SearchBox-input, .form-control, .form-select {
    color: #cdcdcd;
    background-color: #181818;
    border-color: #404040;
  }
  /* docs.github.com: "#2188ff", "box-shadow: inset 0 1px 2px rgba(27,31,35,.075),0 0 0 .2em rgba(3,102,214,.3)" */
  .ais-SearchBox-input:focus, .focus.ais-SearchBox-input, .form-control.focus,
  .form-control:focus, .form-select.focus, .form-select:focus {
    border-color: /*[[base-color]]*/ #4f8cc9;
    box-shadow: 0 0 0 2px rgba(79, 140, 201, .3);
    box-shadow: 0 0 0 2px rgba(/*[[base-color-rgb]]*/, .3);
  }
  /* docs.github.com: "#fff" */
  .input-contrast, .input-contrast:focus {
    background-color: #181818;
  }
  /* docs.github.com: "color: #fff" */
  .input-dark {
    color: #fff;
  }
  /* docs.github.com: "rgba(27,31,35,.3)" */
  .input-dark.focus, .input-dark:focus {
    border-color: rgba(220, 220, 220, .4);
  }
  /* docs.github.com: "color: #6a737d" */
  ::placeholder {
    color: #949494;
  }
  /* docs.github.com: "#fffbdd" */
  .form-checkbox label em.highlight {
    background-color: #261d08;
  }
  /* docs.github.com: "color: #586069" */
  .form-checkbox .note, .hfields .form-group dt label {
    color: #afafaf;
  }
  /* docs.github.com: "#735c0f", "#fffbdd", "#d9d0a5" */
  .form-warning {
    color: #bba257;
    background-color: #261d08;
    border-color: #542;
  }
  /* docs.github.com: "#fff" */
  .form-group .ais-SearchBox-input, .form-group .ais-SearchBox-input:focus,
  .form-group .form-control, .form-group .form-control:focus, .form-select {
    background-color: #181818;
  }
  /* docs.github.com: "#cb2431" */
  .form-group dd h4.is-error {
    color: #d82828;
  }
  /* docs.github.com: "#28a745" */
  .form-group dd h4.is-success {
    color: #484;
  }
  /* docs.github.com: "#cb2431" */
  .form-group.required dt label::after {
    color: #d82828;
  }
  /* docs.github.com: "#28a745" */
  .form-group.successful .success {
    color: #484;
  }
  /* docs.github.com: "#735c0f", "#fffbdd", "#d9d0a5" */
  .form-group.warn .warning {
    color: #bba257;
    background-color: #261d08;
    border-color: #542;
  }
  /* docs.github.com: "#fffbdd" */
  .form-group.warn .warning::after {
    border-bottom-color: #261d08;
  }
  /* docs.github.com: "#d9d0a5" */
  .form-group.warn .warning::before {
    border-bottom-color: #542;
  }
  /* docs.github.com: "#cb2431" */
  .form-group.errored label {
    color: #d82828;
  }
  /* docs.github.com: "#86181d", "#ffdce0", "#cea0a5" */
  .form-group.errored .error {
    color: #d82828;
    background-color: #300;
    border-color: #d82828;
  }
  /* docs.github.com: "#ffdce0" */
  .form-group.errored .error::after {
    border-bottom-color: #300;
  }
  /* docs.github.com: "#cea0a5" */
  .form-group.errored .error::before {
    border-bottom-color: #d82828;
  }
  /* docs.github.com: "color: #586069" */
  .note {
    color: #afafaf;
  }
  /* docs.github.com: "#28a745", "#28a745" */
  .status-indicator-success .octicon-check {
    color: #484;
    fill: #484;
  }
  /* docs.github.com: "#cb2431", "#d73a49" */
  .status-indicator-failed .octicon-x {
    color: #d82828;
    fill: #d82828;
  }
  /* docs.github.com: "transparent" */
  .inline-form .btn-plain {
    background-color: transparent;
  }
  /* docs.github.com: "color: #586069", "#fafbfc", "#c3c8cf" */
  .drag-and-drop {
    color: #afafaf;
    background-color: #181818;
    border-color: #484848;
  }
  /* docs.github.com: "#cb2431" */
  .drag-and-drop .error {
    color: #d82828;
  }
  /* docs.github.com: "color: #586069" */
  .drag-and-drop-error-info {
    color: #afafaf;
  }
  /* docs.github.com: "#0366d6" */
  .drag-and-drop-error-info a {
    color: /*[[base-color]]*/ #4f8cc9;
  }
  /* docs.github.com: "#dfe2e5" */
  .upload-enabled textarea {
    border-bottom-color: #343434;
  }
  /* docs.github.com: "box-shadow: inset 0 1px 2px rgba(27,31,35,.075),0 0 0 .2em rgba(3,102,214,.3)" */
  .upload-enabled.focused {
    box-shadow: 0 0 0 2px rgba(79, 140, 201, .3);
    box-shadow: 0 0 0 2px rgba(/*[[base-color-rgb]]*/, .3);
  }
  /* docs.github.com: "box-shadow: none" */
  .upload-enabled.focused .ais-SearchBox-input,
  .upload-enabled.focused .form-control {
    box-shadow: none;
  }
  /* docs.github.com: "#c3c8cf" */
  .previewable-comment-form .comment {
    border-color: #484848;
  }
  /* docs.github.com: "color: #586069" */
  h2.account, p.explain {
    color: #afafaf;
  }
  /* docs.github.com: "color: #24292e" */
  p.explain strong {
    color: #cdcdcd;
  }
  /* docs.github.com: "color: #959da5" */
  p.explain .octicon {
    color: #767676;
  }
  /* docs.github.com: "color: #24292e", "#d1d5da" */
  .radio-label {
    color: #cdcdcd;
    border-color: #404040;
  }
  /* docs.github.com: "#0366d6" */
  :checked + .radio-label {
    border-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* docs.github.com: "#fff", "#d1d5da" */
  .menu {
    background-color: #181818;
    border-color: #404040;
  }
  /* docs.github.com: "#e1e4e8" */
  .menu-item {
    border-bottom-color: #343434;
  }
  /* docs.github.com: "#f6f8fa" */
  .menu-item:hover {
    background-color: #222;
  }
  /* docs.github.com: "color: #24292e", "#fff" */
  .menu-item.selected, .menu-item[aria-current],
  .menu-item[aria-selected="true"] {
    color: #cdcdcd;
    background-color: #181818;
  }
  /* docs.github.com: "#e36209" */
  .menu-item.selected::before, .menu-item[aria-current]::before,
  .menu-item[aria-selected="true"]::before {
    background-color: #fb8532;
  }
  /* docs.github.com: "color: #24292e" */
  .menu-item .octicon {
    color: #cdcdcd;
  }
  /* docs.github.com: "#cb2431" */
  .menu-item.alert .Counter, .menu-item .menu-warning {
    color: #d82828;
  }
  /* docs.github.com: "color: #586069", "#e1e4e8" */
  .menu-heading {
    color: #afafaf;
    border-bottom-color: #343434;
  }
  /* docs.github.com: "#d1d5da" */
  .tabnav {
    border-bottom-color: #404040;
  }
  /* docs.github.com: "color: #586069", "transparent" */
  .tabnav-tab {
    color: #afafaf;
    background-color: transparent;
  }
  /* docs.github.com: "color: #24292e", "#fff", "#d1d5da" */
  .tabnav-tab.selected, .tabnav-tab[aria-current],
  .tabnav-tab[aria-selected="true"] {
    color: #cdcdcd;
    background-color: #181818;
    border-color: #404040;
  }
  /* docs.github.com: "color: #24292e" */
  .tabnav-tab:focus, .tabnav-tab:hover {
    color: #cdcdcd;
  }
  /* docs.github.com: "color: #586069" */
  .tabnav-extra {
    color: #afafaf;
  }
  /* docs.github.com: "#0366d6" */
  a.tabnav-extra:hover {
    color: /*[[base-color]]*/ #4f8cc9;
  }
  /* docs.github.com: "color: #586069", "transparent" */
  .filter-list.pjax-active .filter-item {
    color: #afafaf;
    background-color: transparent;
  }
  /* docs.github.com: "color: #fff", "#0366d6" */
  .filter-list.pjax-active .filter-item.pjax-active {
    color: #fff;
    background-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* docs.github.com: "color: #586069" */
  .filter-item {
    color: #afafaf;
  }
  /* docs.github.com: "#eaecef" */
  .filter-item:hover {
    background-color: #343434;
  }
  /* docs.github.com: "color: #fff", "#0366d6" */
  .filter-item.selected, .filter-item[aria-current],
  .filter-item[aria-selected="true"] {
    color: #fff;
    background-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* docs.github.com: "#eff3f6" */
  .filter-item .bar {
    background-color: #242424;
  }
  /* docs.github.com: "#fafbfc" */
  .SideNav {
    background-color: #181818;
  }
  /* docs.github.com: "color: #586069", "transparent", "#e1e4e8" */
  .SideNav-item {
    color: #afafaf;
    background-color: transparent;
    border-top-color: #343434;
  }
  /* docs.github.com: "#e1e4e8" */
  .SideNav-item:last-child {
    box-shadow: 0 1px 0 #343434;
  }
  /* docs.github.com: "color: #24292e", "#f6f8fa" */
  .SideNav-item:focus, .SideNav-item:hover {
    color: #cdcdcd;
    background-color: #222;
  }
  /* docs.github.com: "#d1d5da" */
  .SideNav-item:focus::before, .SideNav-item:hover::before {
    background-color: #404040;
  }
  /* docs.github.com: "#fff" */
  .SideNav-item:active {
    background-color: #181818;
  }
  /* docs.github.com: "color: #24292e", "#fff" */
  .SideNav-item[aria-current="page"], .SideNav-item[aria-selected="true"] {
    color: #cdcdcd;
    background-color: #181818;
  }
  /* docs.github.com: "#e36209" */
  .SideNav-item[aria-current="page"]::before,
  .SideNav-item[aria-selected="true"]::before {
    background-color: #fb8532;
  }
  /* docs.github.com: "color: #6a737d" */
  .SideNav-icon {
    color: #949494;
  }
  /* docs.github.com: "#0366d6", "transparent" */
  .SideNav-subItem {
    color: /*[[base-color]]*/ #4f8cc9;
    background-color: transparent;
  }
  /* docs.github.com: "color: #24292e" */
  .SideNav-subItem:focus, .SideNav-subItem:hover,
  .SideNav-subItem[aria-current="page"], .SideNav-subItem[aria-selected="true"] {
    color: #cdcdcd;
  }
  /* docs.github.com: "#eaecef" */
  .subnav-bordered {
    border-bottom-color: #343434;
  }
  /* docs.github.com: "color: #586069", "#e1e4e8" */
  .subnav-item {
    color: #afafaf;
    border-color: #343434;
  }
  /* docs.github.com: "#f6f8fa" */
  .subnav-item:focus, .subnav-item:hover {
    background-color: #222;
  }
  /* docs.github.com: "color: #fff", "#0366d6", "#0366d6" */
  .subnav-item.selected, .subnav-item[aria-current],
  .subnav-item[aria-selected="true"] {
    color: #fff;
    background-color: /*[[base-color]]*/ #4f8cc9;
    border-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* docs.github.com: "color: #586069" */
  .subnav-search-input {
    color: #afafaf;
  }
  /* docs.github.com: "#c6cbd1" */
  .subnav-search-icon {
    color: #5a5a5a;
  }
  /* docs.github.com: "color: #444d56" */
  .subnav-search-context .btn {
    color: #afafaf;
  }
  /* docs.github.com: "#e1e4e8" */
  .UnderlineNav {
    border-bottom-color: #343434;
  }
  /* docs.github.com: "color: #586069" */
  .UnderlineNav-item {
    color: #afafaf;
  }
  /* docs.github.com: "color: #24292e", "#d1d5da" */
  .UnderlineNav-item:focus, .UnderlineNav-item:hover {
    color: #cdcdcd;
    border-bottom-color: #404040;
  }
  /* docs.github.com: "color: #6a737d" */
  .UnderlineNav-item:focus .UnderlineNav-octicon,
  .UnderlineNav-item:hover .UnderlineNav-octicon {
    color: #949494;
  }
  /* docs.github.com: "color: #24292e", "#e36209" */
  .UnderlineNav-item.selected, .UnderlineNav-item[aria-current],
  .UnderlineNav-item[role="tab"][aria-selected="true"] {
    color: #cdcdcd;
    border-bottom-color: #fb8532;
  }
  /* docs.github.com: "color: #6a737d" */
  .UnderlineNav-item.selected .UnderlineNav-octicon,
  .UnderlineNav-item[aria-current] .UnderlineNav-octicon,
  .UnderlineNav-item[role="tab"][aria-selected="true"] .UnderlineNav-octicon {
    color: #949494;
  }
  /* docs.github.com: "color: #959da5" */
  .UnderlineNav-octicon {
    color: #767676;
  }
  /* docs.github.com: "color: #586069", "#e1e4e8" */
  .pullquote {
    color: #afafaf;
    border-left-color: #343434;
  }
  /* docs.github.com: "color: #fff", "#1074e7" */
  .btn-mktg {
    color: #fff;
    border-color: #4f8cc9;
  }
  /* docs.github.com: "#0366d6", "#0366d6" */
  .btn-mktg:hover {
    background-color: /*[[base-color]]*/ #4f8cc9;
    border-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* docs.github.com: "box-shadow: 0 0 0 .2em rgba(3,102,214,.3)" */
  .btn-mktg:focus {
    box-shadow: 0 0 0 .2em rgba(79, 140, 201, .5);
    box-shadow: 0 0 0 .2em rgba(/*[[base-color-rgb]]*/, .5);
  }
  /* docs.github.com: "#28a745", "#28a745" */
  .btn-primary-mktg:hover {
    background-color: #484;
    border-color: #484;
  }
  /* docs.github.com: "#0366d6", "rgba(255,255,255,0)", "#1074e7" */
  .btn-outline-mktg, .btn-outline-mktg:hover {
    color: /*[[base-color]]*/ #4f8cc9;
    background-color: transparent;
  }
  .btn-outline-mktg:hover {
    border-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* docs.github.com: "color: #fff", "transparent", "none", "rgba(255,255,255,.5)" */
  .btn-transparent {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: hsla(0, 0%, 0%, .5);
  }
  /* docs.github.com: "color: #2f363d", "#fff", "none", "#fff" */
  .btn-transparent:active, .btn-transparent:hover {
    color: #bebebe;
    background-color: #181818;
    background-image: none;
    border-color: #181818;
  }
  /* docs.github.com: "#0366d6" */
  .text-blue-mktg {
    color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* docs.github.com: "#d1d5da","rgba(255, 255, 255, 0)" */
  .underline-dashed {
    background-image: linear-gradient(to right, #404040 50%, transparent 0%);
  }
  /* docs.github.com: "#032f62" */
  .bg-blue-dark {
    background-color: #182030 !important;
  }
  /* docs.github.com: "color: #24292e" */
  .directory-toc h3 a {
    color: #cdcdcd;
  }
  /* docs.github.com: "#005cc5" */
  .header-notifications a {
    color: #4f8cc9;
  }
  /* docs.github.com: "#fafbfc", "rgba(27,31,35,.15)" */
  @media (max-width: 767px) {
    .nav-mobile-dropdown.js-open {
      background-color: #181818;
      box-shadow: 0 1px 15px #000;
    }
  }
  /* docs.github.com: "#fff", "rgba(27,31,35,.15)" */
  @media (min-width: 768px) {
    .nav-desktop-langDropdown, .nav-desktop-productDropdown {
      background-color: #181818;
      box-shadow: 0 1px 15px #000;
    }
  }
  /* docs.github.com: "transparent" */
  @media (min-width: 768px) {
    details.close-when-clicked-outside[open] > summary::before {
      background-color: transparent;
    }
  }
  /* docs.github.com: "#0366d6" */
  .directory-link-box.Box:hover, .directory-link-box:hover .Box {
    border-color: #4f8cc9;
  }
  /* docs.github.com: "color: #959da5" */
  .breadcrumbs a:not(:last-child)::after {
    color: #767676;
  }
  /* docs.github.com: "#eee" */
  .markdown-body ol > li {
    border-top-color: #343434;
  }
  /* docs.github.com: "#eee" */
  .procedural-image-wrapper img {
    border-color: #343434;
  }
  /* docs.github.com: "#fff" */
  .ais-SearchBox-input {
    background-color: #181818;
  }
  /* docs.github.com: "none" */
  .ais-SearchBox-reset {
    background: none;
  }
  /* docs.github.com: "#f1f8ff" */
  .ais-Hits-item.active, .ais-Hits-item:hover {
    background-color: #182030;
  }
  /* docs.github.com: "none" */
  .ais-Highlight-highlighted, mark {
    background: none;
  }
  /* docs.github.com: "#0366d6" */
  .search-result-title .ais-Highlight-highlighted, .search-result-title mark {
    color: /*[[base-color]]*/ #4f8cc9;
  }
  /* docs.github.com: "#0366d6" */
  .search-result-intro .ais-Highlight-highlighted, .search-result-intro mark {
    border-bottom-color: #4f8cc9;
  }
  /* docs.github.com: "#fff", "rgba(27,31,35,.15)", "rgba(27,31,35,.15)" */
  @media (min-width: 768px) {
    header #search-results-container {
      background-color: #181818;
      box-shadow: 0 1px 15px #000;
    }
    header .search-overlay-desktop.js-open {
      background-color: rgba(220, 220, 220, .22);
    }
  }
  /* docs.github.com: "color: #24292e" */
  .extended-markdown.note pre code, .markdown-body .lead-mktg p, div.light-bg a,
  div.light-bg a h4 {
    color: #cdcdcd;
  }
  /* docs.github.com: "color: #586069" */
  div.light-bg a p {
    color: #afafaf;
  }
  /* docs.github.com: "color: #fff" */
  div.dark-bg a, div.dark-bg a h4 {
    color: #fff;
  }
  /* docs.github.com: "#05264c" */
  .sidebar {
    background-color: #182030;
  }
  /* docs.github.com: "color: #fff" */
  .sidebar-products .arrow, .sidebar-products a {
    color: #fff;
  }
  /* docs.github.com: "#79b8ff" */
  .sidebar-article.is-current-page > a, .sidebar-guide.is-current-page > a,
  .sidebar-product.is-current-page > a, .sidebar-products .arrow:hover,
  .sidebar-products a:hover, .sidebar-topic.is-current-page > a {
    color: /*[[base-color]]*/ #4f8cc9;
  }
  /* docs.github.com: "#032f62" */
  .sidebar-guide.active {
    background-color: #182030;
  }
  /* docs.github.com: "#ddd" */
  iframe#graphiql {
    border-color: #343434;
  }
  /* docs.github.com: "color: #333", "#f8f8f8" */
  .hljs {
    background-color: #202020;
  }
  /* docs.github.com: "color: #333" */
  .hljs, .hljs-keyword, .hljs-selector-tag, .hljs-subst {
    color: #bebebe;
  }
  /* docs.github.com: "none" */
  .markdown-body table code {
    background: none;
  }
  /* docs.github.com: "#fff" */
  .markdown-body table th {
    background-color: #181818;
  }
  /* docs.github.com: "none" */
  .markdown-body table tr:nth-child(2n) {
    background: none;
  }
  /* end docs.github.com rules */
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h4 a > strong code {
    color: #bebebe;
  }
  h3 a {
    color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  .directory-toc h3 a {
    color: #bebebe !important;
  }
  .nav-mobile-burgerIcon {
    filter: invert(100%) hue-rotate(180deg) !important;
  }
  /* Using #fff over currentColor because GH relies on browser default #000 */
  .hljs {
    color: var(--ghd-code-color, #ccc);
  }
  .extended-markdown p code {
    background-color: #1e293c !important;
  }
  .extended-markdown.warning p code {
    background-color: #500 !important;
  }
  .markdown-body #article-contents table tr:nth-child(2n),
  .markdown-body #article-contents table tr,
  .markdown-body #article-contents table th {
    background: #202020 !important;
  }
  .markdown-body #article-contents table th {
    box-shadow: 0 3px 0 0 #343434 !important;
  }
  .octicon-mark-github {
    color: currentcolor;
  }
  .sidebar {
    background-color: #1c1c1c;
    border-right: 1px solid #343434;
  }
  .sidebar-guide.active {
    background: #242424;
  }
  .sidebar-topic .sidebar-article::before,
  .sidebar-topic .sidebar-article.active::before {
    border-left-color: /*[[base-color]]*/;
  }
  .sidebar-products svg:not([fill]) {
    fill: #eee;
  }
  .sidebar-products a, .sidebar-products .arrow {
    color: #eee;
  }
  .sidebar-guide > a, .sidebar-guide summary a, .sidebar-product > a,
  .sidebar-product summary a {
    color: #ccc;
  }
  body.d-lg-flex .sidebar-products a:hover {
    opacity: 1;
  }
  .sidebar-topic a:hover {
    opacity: .9 !important;
  }
  .btn-blue.hover, .btn.btn-blue:hover {
    background-image: linear-gradient(-180deg, rgba(/*[[base-color-rgb]]*/, .9), rgba(/*[[base-color-rgb]]*/, .8) 90%) !important;
    border-color: rgba(/*[[base-color-rgb]]*/, .3) !important;
  }
  [style*="background-color: #fafbfc"] {
    background: none !important;
  }
}
