@-moz-document regexp("^https?://((education|graphql|guides|raw|resources|status|developer|support|vscode-auth)\\.)?github\\.com/((?!(generated_pages)).)*$"), domain("gist.github.com") {
  /* generated refined-github rules */
  /* generated zenhub rules */
  /* generated github-hovercard rules */
  /* generated gitako rules */
  /* generated npmhub rules */
  /* generated notifications-preview rules */
  /* Refined GitHub - https://github.com/sindresorhus/refined-github
   * See #540
   * See #881 */
  .refined-github-diff-signs .blob-code-addition::before,
  .refined-github-diff-signs .blob-code-deletion::before {
    color: #7b7b7b !important;
  }
  .refined-github .dashboard .border-gray.flex-items-baseline.py-3,
  .refined-github .dashboard .js-all-activity-header + div {
    background: #181818 !important;
  }
  .refined-github .dashboard .js-all-activity-header + div {
    border-color: #343434 !important;
  }
  /* https://github.com/StylishThemes/GitHub-Dark/issues/1035 */
  .refined-github .reaction-summary-item.user-has-reacted {
    --background: transparent !important;
  }
  .refined-github .reaction-summary-item a {
    box-shadow: none;
  }
  /* https://github.com/StylishThemes/GitHub-Dark/issues/1271 */
  .refined-github [data-rgh-whitespace="tab"] {
    background-image: url('data:image/svg+xml,%3Csvg preserveAspectRatio="xMinYMid meet" viewBox="0 0 12 24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M9.5 10.44L6.62 8.12L7.32 7.26L12.04 11V11.44L7.28 14.9L6.62 13.9L9.48 11.78H0V10.44H9.5Z" fill="rgba(95,90,96,60%)"/%3E%3C/svg%3E');
  }
  .refined-github [data-rgh-whitespace="space"] {
    background-image: url('data:image/svg+xml,%3Csvg preserveAspectRatio="xMinYMid meet" viewBox="0 0 12 24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M4.5 11C4.5 10.1716 5.17157 9.5 6 9.5C6.82843 9.5 7.5 10.1716 7.5 11C7.5 11.8284 6.82843 12.5 6 12.5C5.17157 12.5 4.5 11.8284 4.5 11Z" fill="rgba(95,90,96,60%)"/%3E%3C/svg%3E');
  }
  /* https://github.com/musically-ut/lovely-forks */
  .lovely-forks-addon {
    color: #808080 !important;
  }
  /* https://github.com/npmhub/npmhub */
  .npmhub-deps > li {
    border-color: #343434 !important;
  }
  /* ZenHub */
  body.zh_logged_in .zh-login-status {
    background: #181818 !important;
    border-color: #484848 !important;
    color: #bebebe !important;
  }
  body.zh_logged_in [style*="background-color: rgb(244, 244, 244)"] {
    background: #222 !important;
  }
  /* zenhub gradients */
  body.zh_logged_in .zhc-sidebar__navigation {
    background: none !important;
  }
  body.zh_logged_in .zhc-workspace-switcher__header {
    box-shadow: none !important;
  }
  body.zh_logged_in .zhc-btn--minimal {
    background: none !important;
    border: none !important;
  }
  body.zh_logged_in .zh-icon-circled-bolt, body.zh_logged_in .zh-icon-bolt,
  body.zh_logged_in .zh-octicon-x {
    filter: invert(40%) brightness(120%) !important;
  }
  body.zh_logged_in a.zh-topbar-item.selected .zh-icon-zenhub {
    filter: invert(40%) brightness(169%) !important;
  }
  body.zh_logged_in a.zh-topbar-item .zh-icon-zenhub {
    filter: brightness(64%) !important;
  }
  body.zh_logged_in .zhc-icon:not([class$="-red"]):not([class$="-white"]):not([class$="-light"]):not([class$="-purple"]),
  body.zh_logged_in [class*="zh-octicon"],
  body.zh_logged_in .zh-epic-creator-tab-icon,
  body.zh_logged_in .zhc-burndown-chart__placeholder,
  body.zh_logged_in .zhc-selection-button__container::after,
  body.zh_logged_in .zhc-icon--grey-light {
    filter: invert(100%) hue-rotate(180deg) !important;
  }
  body.zh_logged_in .zhc-selection-item:hover .zhc-icon:not([class$="-red"]):not([class$="-white"]):not([class$="-light"]):not([class$="-purple"]),
  body.zh_logged_in [class*="zhc-image--placeholder"] {
    filter: invert(100%) brightness(1.4) !important;
  }
  body.zh_logged_in .zhc-info-alert img {
    filter: invert(96%) hue-rotate(180deg);
  }
  /* move expanded zenhub board toolbar when octotree exists
   * see https://github.com/buunguyen/octotree/issues/242 */
  html.octotree:not(.octotree-show) .zhc-board--is-fullscreen .zhc-menu-bar {
    margin-left: 30px;
    margin-top: -8px;
  }
  /* octotree */
  .octotree-sidebar {
    background: #181818 !important;
    border-color: #343434 !important;
  }
  .octotree-views, .octotree-sidebar .octotree-bottom {
    background: #181818 !important;
    border-color: #484848 !important;
  }
  .octotree-toggle:hover {
    background: linear-gradient(#303030, #282828) !important;
    border-color: #484848 !important;
  }
  .octotree-view-header, .octotree-toggle {
    background: linear-gradient(#202020, #181818) !important;
    border-color: #383838 !important;
  }
  .octotree-github-sidebar a.octotree-toggle,
  a.octotree-toggle:not(.octotree-loading):hover > span::after {
    color: #dcdcdc !important;
  }
  .octotree-github-sidebar a.octotree-opts .settings::before,
  .octotree-help > span::before, .octotree-patch-files {
    color: #bebebe !important;
  }
  .octotree-views .octotree-treeview .jstree-anchor .jstree-icon.tree::before,
  .octotree-github-sidebar a.octotree-toggle:hover,
  .octotree-github-sidebar a.octotree-opts:hover .settings::before,
  .octotree-github-sidebar a.octotree-opts.selected:hover .settings::before,
  .octotree-sidebar.octotree-github-sidebar .octotree-views .octotree-tree-view .jstree .jstree-anchor,
  .octotree-github-sidebar a.octotree-toggle:not(.octotree-loading):hover,
  .octotree-sidebar.octotree-github-sidebar .octotree-views .octotree-view,
  .octotree-sidebar.octotree-github-sidebar .octotree-toggle > span,
  .octotree-sidebar.octotree-github-sidebar .octotree-toggle > .octotree-toggle-icon::before {
    color: /*[[base-color]]*/ !important;
  }
  .octotree-sidebar.octotree-github-sidebar .octotree-toggle .popup {
    background-color: #181818 !important;
    border-color: #404040 !important;
    box-shadow: 0 1px 15px #000 !important;
  }
  .octotree-sidebar.octotree-github-sidebar .octotree-toggle .popup > .arrow,
  .octotree-sidebar.octotree-github-sidebar .octotree-toggle .popup > .arrow::after {
    border-bottom-color: #404040 !important;
  }
  /* Github User Info userscript - see #481 */
  .GithubUserInfo, .GithubUserInfo > div {
    background: #202020 !important;
    border-color: #343434 !important;
  }
  /* GitHub Notifications Dropdown userscript - see #478 */
  .notifications-dropdown {
    background: #202020 !important;
    border: 1px solid #343434 !important;
  }
  a.notifications-dropdown-see-all {
    background: #242424 !important;
    color: /*[[base-color]]*/ !important;
  }
  a.notifications-dropdown-see-all:hover, .top-nav .dropdown-menu a:hover {
    background: /*[[base-color]]*/ !important;
    color: #e2e2e2 !important;
  }
  .notifications-dropdown-arrow {
    border-bottom-color: #333 !important;
  }
  /* https://github.com/StylishThemes/GitHub-Dark/issues/1198 */
  .overall-summary {
    background: #181818;
  }
  /* Sourcegraph - CodeLine Hover Color In Blob */
  table > tbody > tr > td[style="background-color: khaki;"] {
    background-color: #ffcc0050 !important;
  }
  html.refined-github .rgh-recently-pushed-branches [data-url$="recently_touched_branches_list"] .Box {
    border-color: #343434 !important;
  }
}
