@-moz-document domain("gist.github.com") {
  /* generated gist.github.com rules */
  body {
    background-color: var(--ghd-bg-color) !important;
    background-image: var(--ghd-bg-img) !important;
    background-clip: border-box !important;
    background-origin: padding-box !important;
    background-attachment: /*[[bg-attachment]]*/ !important;
    /*[[bg-options]]*/
  }
  .Header, .Header-old {
    border-bottom: 1px solid #343434 !important;
    background: #181818 !important;
  }
  .Header-link {
    color: #c6c6c6;
  }
  .Header-link[data-ga-click]:focus, .Header-link[data-ga-click]:hover,
  .btn-link .octicon-kebab-horizontal:hover {
    color: /*[[base-color]]*/;
  }
  .page-responsive .repohead, .page-responsive .pagehead,
  .repohead.bg-gray-light, .pagehead.bg-gray-light, main > .bg-gray-light {
    background: rgba(20, 20, 20, .4) !important;
  }
  .discussion-timeline-actions {
    background: none !important;
  }
  .notification-indicator .mail-status {
    border-color: #181818;
  }
  .social-count {
    box-shadow: none;
  }
  .gist-content .file-box {
    background: #181818;
  }
  .gist-quicksearch-result-group {
    background: #282828 !important;
    border-color: rgba(68, 68, 68, .5) !important;
    color: #555 !important;
  }
  img[src$="favicons.githubusercontent.com/gist.github.com"] {
    filter: invert(100%) hue-rotate(180deg) !important;
  }
  .gist-secret-label {
    background: rgba(51, 34, 17, .4) !important;
    border: 1px solid #542 !important;
    color: #ddd !important;
  }
  .gist-owner-tag .tag {
    background: #070 !important;
    color: #ddd !important;
  }
  .btn {
    box-shadow: none !important;
  }
  .gist-banner {
    background: linear-gradient(to bottom, #181818, transparent) !important;
  }
}
