@-moz-document domain("graphql.github.com") {
  /* generated graphql.github.com rules */
  /* manual overrides */
  .btn.hover, .btn:hover {
    background-color: #282828;
    background-image: none;
    border-color: rgba(220, 220, 220, .2);
  }
  .graphiql-container .show-btn {
    border: solid 1px #343434;
    background: #222;
    color: #c6c6c6;
  }
  .graphiql-container .doc-deprecation {
    box-shadow: inset 0 0 1px #cb4;
    background: #261d08;
    color: #ddd;
  }
  .graphiql-container .doc-deprecation::before {
    color: #cb4;
  }
  .graphiql-container .docExplorerShow, .graphiql-container .historyShow,
  .graphiql-container .topBar {
    background: #222;
  }
  .graphiql-container .docExplorerShow {
    border-left: 1px solid #444;
  }
  .graphiql-container .toolbar-button, .graphiql-container .execute-button {
    box-shadow: none;
  }
  .graphiql-container .toolbar-button:hover,
  .graphiql-container .execute-button:hover {
    background: #343434;
  }
  .graphiql-explorer-root input[style*="color: rgb(210, 5, 78)"] {
    border-color: currentcolor currentcolor #999 !important;
    background-color: #181818;
  }
  .graphiql-container .search-box input {
    background-color: #181818;
  }
  .graphiql-explorer-node span[style*="color: rgb(31, 97, 160)"] {
    color: /*[[base-color]]*/ !important;
  }
  .graphiql-explorer-node span[style*="color: rgb(139, 43, 185)"] {
    color: #9a6cdf !important;
  }
  #graphiql svg path[d*="2V16H2V2H16ZM16"][fill="#CCC"] {
    fill: #444;
  }
  #graphiql svg path[d*="0H2C0.9"][fill="#666"] {
    fill: #777;
  }
  .graphiql-ide.signed-out::after {
    background: #333;
  }
  .graphiql-container .CodeMirror-foldmarker {
    background: /*[[base-color]]*/ !important;
  }
  .graphiql-container .execute-button svg {
    fill: currentColor !important;
  }
  .graphiql-container div[style*="color: rgb(177, 26, 4)"] {
    color: rgb(215, 38, 13) !important;
  }
  .graphiql-explorer-root input[style*="border-color: currentcolor currentcolor rgb(136, 136, 136)"] {
    border-color: currentcolor currentcolor #999 !important;
    background-color: #000 !important;
  }
  .graphiql-container select[style*="background-color: white;"] {
    background-color: #181818 !important;
    border-color: #444;
  }
}
