@-moz-document domain("raw.githubusercontent.com") {
  body {
    color: var(--ghd-code-color);
    background-color: var(--ghd-bg-color) !important;
    background-image: var(--ghd-bg-img) !important;
    background-clip: border-box !important;
    background-origin: padding-box !important;
    background-attachment: /*[[bg-attachment]]*/ !important;
    /*[[bg-options]]*/
  }
}
