@-moz-document domain("render.githubusercontent.com") {
  /* begin render.githubusercontent.com rules */
  /* render.githubusercontent.com: "#ddd", "#ddd" */
  .pdf-page {
    border-top-color: #343434;
    border-bottom-color: #343434;
  }
  /* render.githubusercontent.com: "#fff", "#ddd" */
  .click-for-more {
    background-color: #181818;
    border-top-color: #343434;
  }
  /* render.githubusercontent.com: "color: #333", "#eee", "#eee" */
  .click-for-more .button {
    color: #bebebe;
    background-color: #242424;
    background-image: linear-gradient(#fcfcfc, #242424);
  }
  /* render.githubusercontent.com: "#ddd", "#eee","#ddd" */
  .click-for-more .button:hover {
    background-color: #383838;
    background-image: linear-gradient(#242424, #383838);
  }
  /* render.githubusercontent.com: "#fff" */
  body {
    background-color: #181818;
  }
  /* render.githubusercontent.com: "#ddd" */
  .is-embedded .render-shell {
    border-color: #343434;
  }
  /* render.githubusercontent.com: "rgba(0,0,0,0.8)", "#eee" */
  .render-info .message {
    background-color: #242424;
    border-color: #343434;
  }
  /* render.githubusercontent.com: "color: #4183c4" */
  .render-info .message a {
    color: rgba(79, 140, 201, .9);
    color: rgba(/*[[base-color-rgb]]*/, .9);
  }
  /* render.githubusercontent.com: "color: #000" */
  .render-attribution:hover .symbol, .render-health:hover .symbol {
    color: #f0f0f0;
  }
  /* render.githubusercontent.com: "#ddd" */
  .render-bar {
    border-top-color: #343434;
  }
  /* render.githubusercontent.com: "color: #666" */
  .render-message a {
    color: #949494;
  }
  /* render.githubusercontent.com: "none" */
  .render-view-modes {
    background: none;
  }
  /* render.githubusercontent.com: "none", "color: #666" */
  .render-view-modes li {
    background: none;
    color: #949494;
  }
  /* render.githubusercontent.com: "#fff" */
  .slider .slider-track {
    border-top-color: #181818;
  }
  /* render.githubusercontent.com: "#fff", "#eee" */
  .render-shell img, img.asset {
    border-color: #181818;
    background-color: #242424;
  }
  /* render.githubusercontent.com: "#fff" */
  div.border-wrap {
    background-color: #181818;
  }
  /* render.githubusercontent.com: "#eee" */
  .render-shell {
    background-color: #242424;
  }
  /* render.githubusercontent.com: "transparent" */
  .onion-skin .controls .slider {
    background-color: transparent;
  }
  /* end render.githubusercontent.com rules */
}
