@-moz-document domain("render.githubusercontent.com") {
  /* generated render.githubusercontent.com rules */
  body, .render-shell {
    background: transparent !important;
  }
  .render-shell img.math {
    filter: invert(100%) hue-rotate(180deg) !important;
  }
  .render-shell .output_area .output_png img {
    filter: invert(90.5%) hue-rotate(180deg) saturate(200%) brightness(85%) !important;
  }
  .render-shell .output_area .output_png:hover img {
    filter: none !important;
  }
  .render-shell .added-frame, .render-shell .deleted-frame {
    box-sizing: border-box !important;
  }
  .render-shell img, .render-shell canvas {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
    background-image: url("data:image/gif;base64,R0lGODlhCgAKAIAAABoaGgAAACwAAAAACgAKAAACEYQdmYcaDNxjEspKndVZbc8UADs=") !important;
  }
  .render-shell img:hover, .render-shell canvas:hover {
    background-image: url("data:image/gif;base64,R0lGODlhCgAKAIAAAOXl5f///yH5BAAAAAAALAAAAAAKAAoAAAIRhB2ZhxoM3GMSykqd1VltzxQAOw==") !important;
  }
}
