@-moz-document domain("githubstatus.com") {
  /* begin githubstatus.com rules */
  /* githubstatus.com: "#bbb", "white" */
  ._2NFgh0Z6tkGorUToiId47k [class^="Content__ChildWrapper"] > [class^="Content"],
  ._3c5eahGieigDTmRHO-d7l3 [class^="Content__ChildWrapper"] > [class^="Content"] {
    border-color: #484848;
    background-color: #181818;
  }
  /* githubstatus.com: "white" */
  ._2NFgh0Z6tkGorUToiId47k .status-dropdown__option::before,
  ._3c5eahGieigDTmRHO-d7l3 .status-dropdown__option::before {
    background-color: #181818;
  }
  /* githubstatus.com: "transparent" */
  .ak-editor-wrapper pre code, .markdown-display pre code {
    background-color: transparent;
  }
  /* githubstatus.com: "#ddd" */
  .ak-editor-wrapper table, .markdown-display table {
    border-color: #343434;
  }
  /* githubstatus.com: "#ddd" */
  .ak-editor-wrapper table td, .markdown-display table td {
    border-top-color: #343434;
  }
  /* githubstatus.com: "#ddd" */
  .ak-editor-wrapper table td + td, .ak-editor-wrapper table th + th,
  .markdown-display table td + td, .markdown-display table th + th {
    border-left-color: #343434;
  }
  /* githubstatus.com: "color: #fff" */
  ._3DswDMo3rPhwmGGm-RnGoI td[aria-selected="true"] div {
    color: #fff;
  }
  /* githubstatus.com: "#d0d0d0" */
  ._2-I6T1F9kpUp2j9G31LMYN {
    border-color: #343434;
  }
  /* githubstatus.com: "#bbb" */
  ._1JN3aEKlPD7X5jqB1dXYzx input {
    border-color: #484848;
  }
  /* githubstatus.com: "white" */
  ._2dv0LNfUzjAAPh-wPACjXb {
    background-color: #181818;
  }
  /* githubstatus.com: "color: #fff" */
  .wPHh9nW_2p42Vk16HDf2n {
    color: #fff;
  }
  /* githubstatus.com: "transparent" */
  abbr, address, article, aside, audio, b, blockquote, body, canvas, caption,
  cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption,
  figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe,
  img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp,
  section, small, span, strong, sub, summary, sup, time, ul, var, video {
    background-color: transparent;
  }
  /* githubstatus.com: "#ffffff", "color: #333", "#fff" */
  body {
    color: #bebebe;
  }
  /* githubstatus.com: "#e0e0e0" */
  .well {
    border-color: #343434;
  }
  /* githubstatus.com: "#e5e5e5" */
  hr {
    border-top-color: #343434;
  }
  /* githubstatus.com: "#ddd" */
  abbr {
    border-bottom-color: #343434;
  }
  /* githubstatus.com: "#f5f5f5" */
  pre.code-display {
    background-color: #222;
  }
  /* githubstatus.com: "transparent" */
  pre.code-display code {
    background-color: transparent;
  }
  /* githubstatus.com: "#bbb" */
  .chzn-container-single .chzn-single, input[type="email"], input[type="number"],
  input[type="password"], input[type="text"], select, textarea {
    border-color: #484848;
  }
  /* githubstatus.com: "color: #666" */
  .chzn-container-single .chzn-single, input[type="email"],
  input[type="password"], input[type="text"], textarea {
    color: #949494;
  }
  /* githubstatus.com: "#f5f5f5", "#ddd" */
  input[disabled], select[disabled], select[readonly], textarea[disabled] {
    background-color: #222;
    border-color: #343434;
  }
  /* githubstatus.com: "#ddd" */
  input[disabled]:hover, select[disabled]:hover, select[readonly]:hover,
  textarea[disabled]:hover {
    border-color: #343434;
  }
  /* githubstatus.com: "white", "#f4f4f4", "color: #666" */
  .controls.append label, .controls.prepend label {
    box-shadow: 0 1px 0 #181818 inset;
    background-color: #242424;
    color: #949494;
  }
  /* githubstatus.com: "#e0e0e0" */
  .form-bordered .control-group {
    border-bottom-color: #343434;
  }
  /* githubstatus.com: "#e0e0e0" */
  .form-bordered .control-group.first-border {
    border-top-color: #343434;
  }
  /* githubstatus.com: "#eee" */
  .fa-border {
    border-color: #343434;
  }
  /* githubstatus.com: "color: #fff" */
  .cpt-admin-callout.uptime-edit .label.set, .fa-inverse,
  .tooltipster-sidetip .tooltipster-content {
    color: #fff;
  }
  /* githubstatus.com: "#BBB" */
  .cpt-admin-simple-search-form button {
    border-color: #484848;
  }
  /* githubstatus.com: "color: #fff", "#ffffff" */
  .carousel-control {
    color: #fff;
    border-color: #181818;
  }
  /* githubstatus.com: "color: #fff" */
  .carousel-caption h4, .carousel-caption p, .carousel-control:hover {
    color: #fff;
  }
  /* githubstatus.com: "#f8f8f8" */
  .component-statuses .component-status-container .component-dropdown-selector.dropdown-open .component-status-display {
    background-color: #202020;
  }
  /* githubstatus.com: "#d0d0d0", "#fff" */
  .component-statuses .component-status-container .component-dropdown-selector .status-dropdown {
    border-color: #343434;
    background-color: #181818;
  }
  /* githubstatus.com: "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "#fff" */
  .component-statuses .component-status-container .component-dropdown-selector .status-dropdown .status-option:hover,
  .datepicker {
    background-color: #181818;
  }
  .datepicker {
            box-shadow: 0 5px 10px rgba(255, 255, 255, .7);
       -moz-box-shadow: 0 5px 10px rgba(255, 255, 255, .7);
    -webkit-box-shadow: 0 5px 10px rgba(255, 255, 255, .7);
         -o-box-shadow: 0 5px 10px rgba(255, 255, 255, .7);
        -ms-box-shadow: 0 5px 10px rgba(255, 255, 255, .7);
    border-color: rgba(255, 255, 255, .7);
  }
  /* githubstatus.com: "rgba(0,0,0,0.2)" */
  .datepicker::before {
    border-bottom-color: rgba(255, 255, 255, .7);
  }
  /* githubstatus.com: "#fff" */
  .datepicker::after {
    border-bottom-color: #181818;
  }
  /* githubstatus.com: "#eee" */
  .datepicker td.day:hover {
    background-color: #242424;
  }
  /* githubstatus.com: "color: #fff" */
  .datepicker td.active, .datepicker td.active:hover {
    color: #fff;
  }
  /* githubstatus.com: "#eee" */
  .datepicker td span:hover {
    background-color: #242424;
  }
  /* githubstatus.com: "color: #fff" */
  .datepicker td span.active {
    color: #fff;
  }
  /* githubstatus.com: "#eee" */
  .datepicker thead tr:first-child th:hover {
    background-color: #242424;
  }
  /* githubstatus.com: "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "#ffffff", "rgba(0,0,0,0.2)" */
  .dropdown .dropdown-menu {
            box-shadow: 0 5px 10px rgba(255, 255, 255, .7);
       -moz-box-shadow: 0 5px 10px rgba(255, 255, 255, .7);
    -webkit-box-shadow: 0 5px 10px rgba(255, 255, 255, .7);
         -o-box-shadow: 0 5px 10px rgba(255, 255, 255, .7);
        -ms-box-shadow: 0 5px 10px rgba(255, 255, 255, .7);
    background-color: #181818;
    border-color: rgba(255, 255, 255, .7);
  }
  /* githubstatus.com: "#f8f8f8" */
  .dropdown .dropdown-menu li:hover {
    background-color: #202020;
  }
  /* githubstatus.com: "color: #333" */
  .dropdown .dropdown-menu li a {
    color: #bebebe;
  }
  /* githubstatus.com: "white" */
  .es-menu {
    background-color: #181818;
  }
  /* githubstatus.com: "color: #333" */
  .es-menu .item div .fa, .es-menu .item div i.component-status {
    color: #bebebe;
  }
  /* githubstatus.com: "color: #666" */
  .es-highlight {
    color: #949494;
  }
  /* githubstatus.com: "box-shadow: none !important" */
  #es-search-field {
    box-shadow: none !important;
  }
  /* githubstatus.com: "#bbb" */
  .grouped-items-selector {
    border-color: #484848;
  }
  /* githubstatus.com: "box-shadow: none" */
  .grouped-items-selector.inline {
    box-shadow: none;
  }
  /* githubstatus.com: "#ddd" */
  .grouped-items-selector.inline .border-color {
    border-color: #343434;
  }
  /* githubstatus.com: "color: #333" */
  .grouped-items-selector.inline .grouped-item.active {
    color: #bebebe;
  }
  /* githubstatus.com: "#ddd" */
  .grouped-items-selector .body .grouped-items .grouped-item,
  .grouped-items-selector .body .grouped-items .grouped-item.open {
    border-color: #343434;
  }
  /* githubstatus.com: "rgba(255,255,255,0.8)" */
  .loader-overlay {
    background-color: hsla(0, 0%, 100%, .8);
  }
  /* githubstatus.com: "#ffffff" */
  .modal {
    background-color: #181818;
  }
  /* githubstatus.com: "color: #000" */
  .modal .headless-close, .modal .headless-close:hover {
    color: #f0f0f0;
  }
  /* githubstatus.com: "#e0e0e0" */
  .modal .modal-header {
    border-bottom-color: #343434;
  }
  /* githubstatus.com: "color: #000" */
  .modal .modal-header .close, .modal .modal-header .close:hover {
    color: #f0f0f0;
  }
  /* githubstatus.com: "#f5f5f5", "#ddd" */
  .modal .modal-footer {
    background-color: #222;
    border-top-color: #343434;
  }
  /* githubstatus.com: "color: #fff" */
  .cpt-notification {
    color: #fff;
  }
  /* githubstatus.com: "rgba(255,255,255,0.8)" */
  .cpt-notification .close {
    color: hsla(0, 0%, 100%, .8);
  }
  /* githubstatus.com: "color: #fff" */
  .cpt-notification .close:hover, .cpt-notification a:not(.close),
  .cpt-notification a:not(.close):hover {
    color: #fff;
  }
  /* githubstatus.com: "#fff" */
  .panel {
    background-color: #181818;
  }
  /* githubstatus.com: "#ddd" */
  .panel.panel-default {
    border-color: #343434;
  }
  /* githubstatus.com: "color: #333", "#f5f5f5", "#ddd" */
  .panel.panel-default .panel-heading {
    color: #bebebe;
    background-color: #222;
    border-color: #343434;
  }
  /* githubstatus.com: "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "#ffffff", "rgba(0,0,0,0.2)" */
  .popover {
            box-shadow: 0 5px 10px rgba(255, 255, 255, .7);
       -moz-box-shadow: 0 5px 10px rgba(255, 255, 255, .7);
    -webkit-box-shadow: 0 5px 10px rgba(255, 255, 255, .7);
         -o-box-shadow: 0 5px 10px rgba(255, 255, 255, .7);
        -ms-box-shadow: 0 5px 10px rgba(255, 255, 255, .7);
    background-color: #181818;
    border-color: rgba(255, 255, 255, .7);
  }
  /* githubstatus.com: "#ffffff" */
  .popover.top .arrow::after {
    border-top-color: #181818;
  }
  /* githubstatus.com: "#ffffff" */
  .popover.right .arrow::after {
    border-right-color: #181818;
  }
  /* githubstatus.com: "#ffffff" */
  .popover.bottom .arrow::after {
    border-bottom-color: #181818;
  }
  /* githubstatus.com: "#ffffff" */
  .popover.left .arrow::after {
    border-left-color: #181818;
  }
  /* githubstatus.com: "#f5f5f5", "#eee" */
  .popover .popover-title {
    background-color: #222;
    border-bottom-color: #343434;
  }
  /* githubstatus.com: "rgba(0,0,0,0.15)", "color: #fff" */
  .cpt-progress .bar {
    box-shadow: inset 0 -1px 0 #000;
    color: #fff;
  }
  /* githubstatus.com: "#fff" */
  .cpt-table .content {
    background-color: #181818;
  }
  /* githubstatus.com: "#e0e0e0" */
  .cpt-table .content .table-row.blank-state {
    border-color: #343434 !important;
  }
  /* githubstatus.com: "#ddd" */
  .cpt-tabular-table {
    border-color: #343434;
  }
  /* githubstatus.com: "#ddd" */
  .cpt-tabular-table td {
    border-top-color: #343434;
  }
  /* githubstatus.com: "#ddd" */
  .cpt-tabular-table td + td, .cpt-tabular-table th + th {
    border-left-color: #343434;
  }
  /* githubstatus.com: "#f9f9f9" */
  .cpt-tabular-table.striped tbody tr:nth-child(odd) td,
  .cpt-tabular-table .table-striped tbody tr:nth-child(odd) th {
    background-color: #181818;
  }
  /* githubstatus.com: "#ddd" */
  .cpt-tabs:not(.unstyled) {
    border-bottom-color: #343434;
  }
  /* githubstatus.com: "#eee", "color: #666" */
  .cpt-tabs:not(.unstyled) li:not(.active) a:hover {
    background-color: #242424;
    color: #949494;
  }
  /* githubstatus.com: "transparent" */
  .cpt-tabs:not(.unstyled) li:not(.active) a:hover.disabled {
    background-color: transparent;
  }
  /* githubstatus.com: "color: #333", "#ffffff", "#ddd" */
  .cpt-tabs:not(.unstyled) li.active a {
    color: #bebebe;
    background-color: #181818;
    border-color: #343434;
  }
  /* githubstatus.com: "#e0e0e0" */
  .cpt-tabs:not(.unstyled).mobile {
    border-color: #343434;
  }
  /* githubstatus.com: "#e0e0e0" */
  .cpt-tabs:not(.unstyled).mobile.open li:last-of-type {
    border-bottom-color: #343434;
  }
  /* githubstatus.com: "#e0e0e0", "#e0e0e0" */
  .cpt-tabs:not(.unstyled).mobile.open li a {
    border-left-color: #343434;
    border-right-color: #343434;
  }
  /* githubstatus.com: "#fff" */
  .cpt-tabs:not(.unstyled).mobile li.active a,
  .cpt-tabs:not(.unstyled).mobile li:not(.active) a:hover,
  .cpt-tabs:not(.unstyled).mobile li a {
    background-color: #181818;
  }
  /* githubstatus.com: "box-shadow: none", "none" */
  .cpt-toggle {
    box-shadow: none;
    background: none;
  }
  /* githubstatus.com: "white" */
  .cpt-toggle .bubble {
    background-color: #181818;
  }
  /* githubstatus.com: "color: #fff" */
  .cpt-toggle.on .text {
    color: #fff;
  }
  /* githubstatus.com: "color: #666", "#e0e0e0" */
  .tooltip-base {
    border-color: #343434;
  }
  /* githubstatus.com: "color: #666" */
  .tooltip-base, .tooltip-base:hover {
    color: #949494;
  }
  /* githubstatus.com: "color: #fff" */
  .tooltip .tooltip-inner {
    color: #fff;
  }
  /* githubstatus.com: "color: #fff", "color: #fff !important" */
  .cpt-button {
    color: #fff;
    color: #fff !important;
  }
  /* githubstatus.com: "color: #fff" */
  .cpt-button:hover {
    color: #fff;
  }
  /* githubstatus.com: "#ffffff" */
  .cpt-button .caret {
    border-top-color: #181818;
  }
  /* githubstatus.com: "box-shadow: none", "transparent", "rgba(255,255,255,0.8)" */
  .cpt-button.style-outline {
    box-shadow: none;
    background-color: transparent;
    border-color: hsla(0, 0%, 100%, .8);
  }
  /* githubstatus.com: "white" */
  .cpt-button.style-outline:hover {
    border-color: #181818;
  }
  /* githubstatus.com: "#bbb" */
  .cpt-button.style-outline.color-grey {
    border-color: #484848;
  }
  /* githubstatus.com: "box-shadow: none" */
  .cpt-button.disabled {
    box-shadow: none;
  }
  /* githubstatus.com: "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)" */
  .cpt-button.pressed, .cpt-button:active {
            box-shadow: inset 0 0 5px rgba(255, 255, 255, .7);
       -moz-box-shadow: inset 0 0 5px rgba(255, 255, 255, .7);
    -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, .7);
         -o-box-shadow: inset 0 0 5px rgba(255, 255, 255, .7);
        -ms-box-shadow: inset 0 0 5px rgba(255, 255, 255, .7);
  }
  /* githubstatus.com: "#CCCCCC" */
  .domain-helper .domain-header.domain-unset {
    background-color: #484848;
  }
  /* githubstatus.com: "color: #fff" */
  .domain-helper .domain-header.domain-deprecated,
  .domain-helper .domain-header.domain-invalid,
  .domain-helper .domain-header.domain-valid {
    color: #fff;
  }
  /* githubstatus.com: "#EEEEEE" */
  .domain-helper .dns-records {
    border-bottom-color: #343434;
  }
  /* githubstatus.com: "#EEEEEE" */
  .domain-helper .dns-records .dns-records-header {
    background-color: #242424;
  }
  /* githubstatus.com: "#EEEEEE" */
  .domain-helper .dns-records .dns-records-row {
    border-color: #343434;
  }
  /* githubstatus.com: "#fff" */
  .cpt-pill-group button.pill {
    background-color: #181818;
  }
  /* githubstatus.com: "#E0E0E0", "color: #333" */
  .cpt-pill-group button.pill.active {
    border-color: #343434;
    color: #bebebe;
  }
  /* githubstatus.com: "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)" */
  .updates-dropdown-container .updates-dropdown {
            box-shadow: 0 0 10px rgba(255, 255, 255, .7);
       -moz-box-shadow: 0 0 10px rgba(255, 255, 255, .7);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 255, .7);
         -o-box-shadow: 0 0 10px rgba(255, 255, 255, .7);
        -ms-box-shadow: 0 0 10px rgba(255, 255, 255, .7);
  }
  /* githubstatus.com: "rgba(0,0,0,0.2)" */
  .updates-dropdown-container .updates-dropdown .updates-dropdown-nav {
    border-color: rgba(255, 255, 255, .7);
  }
  /* githubstatus.com: "#f8f8f8", "#e0e0e0", "#e0e0e0" */
  .updates-dropdown-container .updates-dropdown .updates-dropdown-nav a {
    background-color: #202020;
    border-right-color: #343434;
    border-bottom-color: #343434;
  }
  /* githubstatus.com: "color: #666 !important" */
  .updates-dropdown-container .updates-dropdown .updates-dropdown-nav a:last-of-type {
    color: #949494 !important;
  }
  /* githubstatus.com: "rgba(0,0,0,0.2)", "#fff" */
  .updates-dropdown-container .updates-dropdown .updates-dropdown-section {
    border-color: rgba(255, 255, 255, .7);
    background-color: #181818;
  }
  /* githubstatus.com: "color: #fff" */
  .activate-page-prompt, .activate-page-prompt a, .pau-preview {
    color: #fff;
  }
  /* githubstatus.com: "rgba(0,0,0,0.15)", "color: #fff" */
  .flat-button,
  .layout-content.status .masthead-container .updates-dropdown-container .show-updates-dropdown {
    box-shadow: 0 -2px 0 #000 inset;
    color: #fff;
  }
  /* githubstatus.com: "color: #fff" */
  .flat-button:hover,
  .layout-content.status .masthead-container .updates-dropdown-container .show-updates-dropdown:hover {
    color: #fff;
  }
  /* githubstatus.com: "rgba(0,0,0,0.8)" */
  .layout-content.status .masthead-container.premium .masthead .text-container {
    background-color: #242424;
  }
  /* githubstatus.com: "color: #fff" */
  .layout-content.status .masthead-container.premium .masthead .text-container .page-name,
  .layout-content.status .masthead-container.premium .masthead .text-container .page-name a {
    color: #fff;
  }
  /* githubstatus.com: "rgba(0,0,0,0.2)" */
  .layout-content.status.status-index .unresolved-incidents .unresolved-incident .incident-title {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
  }
  /* githubstatus.com: "color: #fff" */
  .layout-content.status.status-index .page-status .status,
  .layout-content.status.status-index .unresolved-incidents .unresolved-incident .incident-title a,
  .layout-content.status.status-index .unresolved-incidents .unresolved-incident .incident-title a:hover {
    color: #fff;
  }
  /* githubstatus.com: "rgba(255,255,255,0.8)" */
  .layout-content.status.status-index .page-status .last-updated-stamp {
    color: hsla(0, 0%, 100%, .8);
  }
  /* githubstatus.com: "color: #fff" */
  .layout-content.status.status-full-history .show-filter.open {
    color: #fff;
  }
  /* githubstatus.com: "white", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)" */
  .layout-content.status.status-full-history .uptime-calendar #uptime-tooltip {
    background-color: #181818;
    border-color: rgba(255, 255, 255, .7);
    box-shadow: 0 0 10px rgba(255, 255, 255, .7);
  }
  /* githubstatus.com: "white", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)" */
  .layout-content.status.status-full-history .uptime-calendar #uptime-tooltip #box-arrow {
    background-color: #181818;
    border-left-color: rgba(255, 255, 255, .7);
    border-top-color: rgba(255, 255, 255, .7);
    box-shadow: 0 0 10px rgba(255, 255, 255, .7);
  }
  /* githubstatus.com: "box-shadow: none" */
  .layout-content.status.status-full-history .uptime-calendar #uptime-tooltip .tooltip-box {
    box-shadow: none;
  }
  /* githubstatus.com: "#e0e0e0", "color: #333" */
  .layout-content.status-internal {
    border-color: #343434;
    color: #bebebe;
  }
  /* githubstatus.com: "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "rgba(0,0,0,0.2)", "#fff" */
  .layout-content.status-internal .message-container {
            box-shadow: 0 0 25px rgba(255, 255, 255, .7);
       -moz-box-shadow: 0 0 25px rgba(255, 255, 255, .7);
    -webkit-box-shadow: 0 0 25px rgba(255, 255, 255, .7);
         -o-box-shadow: 0 0 25px rgba(255, 255, 255, .7);
        -ms-box-shadow: 0 0 25px rgba(255, 255, 255, .7);
    background-color: #181818;
  }
  /* githubstatus.com: "color: #fff" */
  .layout-content.status-internal .powered-by-container,
  .layout-content.status-internal .powered-by-container a,
  .layout-content.status-internal .powered-by-container a:hover {
    color: #fff;
  }
  /* githubstatus.com: "white" */
  #uptime-tooltip .pointer-smaller {
    border-bottom-color: #181818;
  }
  /* githubstatus.com: "rgba(0,0,0,0.15)", "rgba(0,0,0,0.2)", "white" */
  #uptime-tooltip .tooltip-box {
    box-shadow: 0 3px 6px #000;
    border-color: rgba(255, 255, 255, .7);
    background-color: #181818;
  }
  /* githubstatus.com: "rgba(255,255,255,0)" */
  #uptime-tooltip .outage-field {
    border-color: transparent;
  }
  /* githubstatus.com: "color: #333" */
  #uptime-tooltip .related-events .related-event .related-event-link {
    color: #bebebe;
  }
  /* githubstatus.com: "transparent", "#0366d6" */
  a {
    background-color: transparent;
    color: /*[[base-color]]*/ #4f8cc9;
  }
  /* githubstatus.com: "color: #000" */
  mark {
    color: #f0f0f0;
  }
  /* githubstatus.com: "color: #24292e", "#fff" */
  body {
    color: #cdcdcd;
    background-color: #181818;
  }
  /* githubstatus.com: "#dfe2e5" */
  .rule, hr {
    border-bottom-color: #343434;
  }
  /* githubstatus.com: "#e1e4e8" */
  .border {
    border-color: #343434 !important;
  }
  /* githubstatus.com: "#e1e4e8", "#e1e4e8" */
  .border-y {
    border-top-color: #343434 !important;
    border-bottom-color: #343434 !important;
  }
  /* githubstatus.com: "#0366d6" */
  .border-blue {
    border-color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* githubstatus.com: "#c8e1ff" */
  .border-blue-light {
    border-color: #246 !important;
  }
  /* githubstatus.com: "#34d058" */
  .border-green {
    border-color: #373 !important;
  }
  /* githubstatus.com: "#a2cbac" */
  .border-green-light {
    border-color: #040 !important;
  }
  /* githubstatus.com: "#cea0a5" */
  .border-red, .border-red-light {
    border-color: #d82828 !important;
  }
  /* githubstatus.com: "#6f42c1" */
  .border-purple {
    border-color: #9378ba !important;
  }
  /* githubstatus.com: "#d9d0a5" */
  .border-yellow {
    border-color: #542 !important;
  }
  /* githubstatus.com: "#eaecef" */
  .border-gray-light {
    border-color: #343434 !important;
  }
  /* githubstatus.com: "#d1d5da" */
  .border-gray-dark {
    border-color: #404040 !important;
  }
  /* githubstatus.com: "rgba(27, 31, 35, 0.15)" */
  .border-black-fade {
    border-color: rgba(220, 220, 220, .15) !important;
  }
  /* githubstatus.com: "#e1e4e8" */
  .border-top {
    border-top-color: #343434 !important;
  }
  /* githubstatus.com: "#e1e4e8" */
  .border-right {
    border-right-color: #343434 !important;
  }
  /* githubstatus.com: "#e1e4e8" */
  .border-bottom {
    border-bottom-color: #343434 !important;
  }
  /* githubstatus.com: "#e1e4e8" */
  .border-left {
    border-left-color: #343434 !important;
  }
  /* githubstatus.com: "rgba(27, 31, 35, 0.1)" */
  .box-shadow {
    box-shadow: 0 1px 1px #000 !important;
  }
  /* githubstatus.com: "rgba(27, 31, 35, 0.15)" */
  .box-shadow-medium {
    box-shadow: 0 1px 5px #000 !important;
  }
  /* githubstatus.com: "rgba(27, 31, 35, 0.15)" */
  .box-shadow-large {
    box-shadow: 0 1px 15px #000 !important;
  }
  /* githubstatus.com: "box-shadow: none !important" */
  .box-shadow-none {
    box-shadow: none !important;
  }
  /* githubstatus.com: "#fff" */
  .bg-white {
    background-color: #181818 !important;
  }
  /* githubstatus.com: "#0366d6" */
  .bg-blue {
    background-color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* githubstatus.com: "#f1f8ff" */
  .bg-blue-light {
    background-color: #182030 !important;
  }
  /* githubstatus.com: "#24292e" */
  .bg-gray-dark {
    background-color: #181818 !important;
  }
  /* githubstatus.com: "#f6f8fa" */
  .bg-gray {
    background-color: #222 !important;
  }
  /* githubstatus.com: "#fafbfc" */
  .bg-gray-light {
    background-color: #181818 !important;
  }
  /* githubstatus.com: "#28a745" */
  .bg-green {
    background-color: #484 !important;
  }
  /* githubstatus.com: "#dcffe4" */
  .bg-green-light {
    background-color: #002800 !important;
  }
  /* githubstatus.com: "#d73a49" */
  .bg-red {
    background-color: #d82828 !important;
  }
  /* githubstatus.com: "#ffdce0" */
  .bg-red-light {
    background-color: #300 !important;
  }
  /* githubstatus.com: "#ffd33d" */
  .bg-yellow {
    background-color: #cb4 !important;
  }
  /* githubstatus.com: "#fff5b1" */
  .bg-yellow-light {
    background-color: #651 !important;
  }
  /* githubstatus.com: "#6f42c1" */
  .bg-purple {
    background-color: #9378ba !important;
  }
  /* githubstatus.com: "#f5f0ff" */
  .bg-purple-light {
    background-color: #213 !important;
  }
  /* githubstatus.com: "#0366d6" */
  .text-blue {
    color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* githubstatus.com: "#cb2431" */
  .text-red {
    color: #d82828 !important;
  }
  /* githubstatus.com: "color: #6a737d !important" */
  .text-gray-light {
    color: #949494 !important;
  }
  /* githubstatus.com: "color: #586069 !important" */
  .text-gray {
    color: #afafaf !important;
  }
  /* githubstatus.com: "color: #24292e !important" */
  .text-gray-dark {
    color: #cdcdcd !important;
  }
  /* githubstatus.com: "#28a745" */
  .text-green {
    color: #484 !important;
  }
  /* githubstatus.com: "#a04100" */
  .text-orange {
    color: #f3582c !important;
  }
  /* githubstatus.com: "#e36209" */
  .text-orange-light {
    color: #fb8532 !important;
  }
  /* githubstatus.com: "#6f42c1" */
  .text-purple {
    color: #9378ba !important;
  }
  /* githubstatus.com: "color: #fff !important" */
  .text-white {
    color: #fff !important;
  }
  /* githubstatus.com: "#dbab09" */
  .bg-pending, .text-pending {
    color: #cb4 !important;
  }
  /* githubstatus.com: "color: #586069 !important" */
  .link-gray {
    color: #afafaf !important;
  }
  /* githubstatus.com: "#0366d6" */
  .link-gray:hover {
    color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* githubstatus.com: "color: #24292e !important" */
  .link-gray-dark {
    color: #cdcdcd !important;
  }
  /* githubstatus.com: "#0366d6" */
  .link-gray-dark:hover, .link-hover-blue:hover {
    color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* githubstatus.com: "color: #586069 !important" */
  .muted-link {
    color: #afafaf !important;
  }
  /* githubstatus.com: "#0366d6" */
  .muted-link:hover {
    color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* githubstatus.com: "color: #586069" */
  .lead {
    color: #afafaf;
  }
  /* githubstatus.com: "color: #24292e" */
  .text-emphasized {
    color: #cdcdcd;
  }
  /* githubstatus.com: "rgba(255, 255, 255, 0.5)" */
  .text-shadow-light {
    text-shadow: 0 1px 0 hsla(0, 0%, 0%, .5);
  }
  /* githubstatus.com: "#f6f8fa" */
  body {
    background-color: #222;
  }
  /* githubstatus.com: "rgba(0, 0, 0, 0.125)" */
  .layout-content.status.status-index .unresolved-incidents .unresolved-incident.impact-none .updates,
  .markdown-display table, .tooltip-base,
  body.status .layout-content.status .border-color, hr {
    border-color: rgba(220, 220, 220, .125);
  }
  /* githubstatus.com: "rgba(0, 0, 0, 0.125)" */
  .header {
    border-bottom-color: rgba(220, 220, 220, .125);
  }
  /* githubstatus.com: "#fff" */
  .component-container, .incident-title + .updates {
    background-color: #181818;
  }
  /* githubstatus.com: "#e6ebf1" */
  .page-footer {
    border-top-color: #343434 !important;
  }
  /* githubstatus.com: "#f6f8fa" */
  .component-items-selector .grouped-item:hover {
    background-color: #222;
  }
  /* githubstatus.com: "color: #fff", "#0366d6" */
  .component-items-selector .active, .component-items-selector .active:hover {
    color: #fff;
    background-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* githubstatus.com: "#e6ebf1" */
  .incident-list::before, .status-day::before {
    background-color: #444;
  }
  /* githubstatus.com: "#24292e" */
  .status-day > .date::before {
    background-color: #181818;
  }
  /* githubstatus.com: "#e6ebf1" */
  .month-title {
    border-bottom-color: #343434 !important;
  }
  /* githubstatus.com: "#e6ebf1" */
  .incident-container::before {
    background-color: #444;
  }
  /* githubstatus.com: "#e6ebf1", "#f6f8fa" */
  .incident-container .incident-title::before {
    background-color: #444;
    border-color: #202020;
  }
  /* githubstatus.com: "#dbab09" */
  .update.investigating > strong {
    color: #cb4;
  }
  /* githubstatus.com: "#28a745" */
  .update.resolved > strong {
    color: #484;
  }
  /* githubstatus.com: "#eff3f6", "linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%)", "rgba(27, 31, 35, 0.2)", "color: #24292e !important", "rgba(0, 0, 0, 0.15)" */
  .flat-button, .history-header .show-filter {
    background-color: #242424 !important;
    background-image: linear-gradient(-180deg, #202020 0%, #181818 90%) !important;
    border-color: rgba(220, 220, 220, .2) !important;
    color: #cdcdcd !important;
    box-shadow: #000 0 0 0 inset !important;
  }
  /* githubstatus.com: "#fff" */
  .updates-dropdown-container .updates-dropdown {
    background-color: #181818;
  }
  /* githubstatus.com: "color: #24292e", "rgba(0, 0, 0, 0.125)" */
  .updates-dropdown-container .updates-dropdown-nav::before {
    color: #cdcdcd;
    border-bottom-color: rgba(220, 220, 220, .125);
  }
  /* githubstatus.com: "transparent" */
  .updates-dropdown-container #updates-dropdown-close-btn {
    background-color: transparent;
  }
  /* githubstatus.com: "#ffffff" */
  #uptime-tooltip .tooltip-box, .grouped-items-selector,
  .layout-content.status.status-api .section .example-container .example-opener .color-secondary,
  .layout-content.status.status-full-history .history-nav a.current, body,
  div[id^="subscribe-modal"], div[id^="subscribe-modal"] .modal-footer {
    background-color: #181818;
  }
  /* githubstatus.com: "#ffffff" */
  #uptime-tooltip .pointer-container .pointer-smaller {
    border-bottom-color: #181818;
  }
  /* githubstatus.com: "color: #24292e" */
  #uptime-tooltip .tooltip-box .tooltip-content .related-events .related-event a.related-event-link,
  .color-primary, .color-primary:hover, .incident-history .impact-none,
  .layout-content.status-full-history .month .incident-container .impact-none,
  .layout-content.status-index .status-day .update-title.impact-none a,
  .layout-content.status-index .status-day .update-title.impact-none a:hover,
  .layout-content.status-index .timeframes-container .timeframe.active,
  .layout-content.status .grouped-items-selector.inline .grouped-item.active,
  .layout-content.status.status-full-history .history-nav a.current,
  .layout-content.status.status-full-history .history-nav a:not(.current):hover,
  .layout-content.status.status-index .components-statuses .component-container .name,
  .layout-content.status.status-index .incidents-list .incident-title.impact-none a,
  body.status, div[id^="subscribe-modal"] .modal-header .close {
    color: #cdcdcd;
  }
  /* githubstatus.com: "color: #6a737d" */
  #uptime-tooltip .tooltip-box .tooltip-content .related-events #related-event-header,
  .color-secondary,
  .layout-content.status .grouped-items-selector.inline .grouped-item,
  .layout-content.status.status-full-history .history-footer .pagination a.disabled,
  .layout-content.status.status-full-history .history-nav a,
  .layout-content.status .table-row .date, small {
    color: #949494;
  }
  /* githubstatus.com: "#e1e4e8" */
  #uptime-tooltip .tooltip-box, .markdown-display table, .tooltip-base,
  body.status .layout-content.status .border-color, div[id^="subscribe-modal"],
  hr {
    border-color: #343434;
  }
  /* githubstatus.com: "#e1e4e8" */
  .markdown-display table td, div[id^="subscribe-modal"] .modal-footer {
    border-top-color: #343434;
  }
  /* githubstatus.com: "#e1e4e8" */
  div[id^="subscribe-modal"] .modal-header .close:hover {
    color: #343434;
  }
  /* githubstatus.com: "#e1e4e8" */
  .markdown-display table td + td, .markdown-display table th + th {
    border-left-color: #343434;
  }
  /* githubstatus.com: "#e1e4e8" */
  #uptime-tooltip .pointer-container .pointer-larger,
  div[id^="subscribe-modal"] .modal-header {
    border-bottom-color: #343434;
  }
  /* githubstatus.com: "rgba(225,228,232,0.31)" */
  #uptime-tooltip .tooltip-box .outage-field {
    background-color: #282828;
  }
  /* githubstatus.com: "#e36209" */
  .layout-content.status.status-index .page-status.status-major,
  .layout-content.status.status-index .status-day .update-title.impact-major a,
  .layout-content.status.status-index .status-day .update-title.impact-major a:hover,
  .layout-content.status.status-index .unresolved-incident.impact-major .incident-title {
    background-color: #fb8532;
  }
  /* githubstatus.com: "#e36209" */
  .components-container .component-inner-container.status-orange .component-status,
  .components-container .component-inner-container.status-orange .icon-indicator,
  .incident-history .impact-major,
  .layout-content.status-full-history .month .incident-container .impact-major,
  .layout-content.status-incident .incident-name.impact-major,
  .layout-content.status-index .components-statuses .component-container.status-orange::after,
  .layout-content.status.status-index .incidents-list .incident-title.impact-major a,
  .status-orange .icon-indicator {
    color: #fb8532;
  }
  /* githubstatus.com: "#e36209" */
  .layout-content.status.status-index .unresolved-incident.impact-major .updates {
    border-color: #fb8532;
  }
  /* githubstatus.com: "#dbab09" */
  .layout-content.status.status-index .page-status.status-minor,
  .layout-content.status.status-index .scheduled-incidents-container .tab,
  .layout-content.status.status-index .status-day .update-title.impact-minor a,
  .layout-content.status.status-index .status-day .update-title.impact-minor a:hover,
  .layout-content.status.status-index .unresolved-incident.impact-minor .incident-title {
    background-color: #cb4;
  }
  /* githubstatus.com: "#dbab09" */
  .components-container .component-inner-container.status-yellow .component-status,
  .components-container .component-inner-container.status-yellow .icon-indicator,
  .incident-history .impact-minor,
  .layout-content.status-full-history .month .incident-container .impact-minor,
  .layout-content.status-incident .incident-name.impact-minor,
  .layout-content.status-index .components-statuses .component-container.status-yellow::after,
  .layout-content.status.manage-subscriptions .confirmation-infobox .fa,
  .layout-content.status.status-index .incidents-list .incident-title.impact-minor a,
  .status-yellow .icon-indicator {
    color: #cb4;
  }
  /* githubstatus.com: "#dbab09" */
  .layout-content.status.status-index .scheduled-incidents-container,
  .layout-content.status.status-index .unresolved-incident.impact-minor .updates {
    border-color: #cb4;
  }
  /* githubstatus.com: "#0366d6" */
  .layout-content.status.status-index .page-status.status-maintenance,
  .layout-content.status.status-index .scheduled-incidents-container .tab,
  .layout-content.status.status-index .status-day .update-title.impact-maintenance a,
  .layout-content.status.status-index .status-day .update-title.impact-maintenance a:hover,
  .layout-content.status.status-index .unresolved-incident.impact-maintenance .incident-title {
    background-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* githubstatus.com: "#0366d6" */
  .components-container .component-inner-container.status-blue .component-status,
  .components-container .component-inner-container.status-blue .icon-indicator,
  .incident-history .impact-maintenance,
  .layout-content.status-full-history .month .incident-container .impact-maintenance,
  .layout-content.status-incident .incident-name.impact-maintenance,
  .layout-content.status-index .components-statuses .component-container.status-blue::after,
  .layout-content.status.status-index .incidents-list .incident-title.impact-maintenance a,
  .status-blue .icon-indicator {
    color: /*[[base-color]]*/ #4f8cc9;
  }
  /* githubstatus.com: "#0366d6" */
  .layout-content.status.status-index .scheduled-incidents-container,
  .layout-content.status.status-index .unresolved-incident.impact-maintenance .updates {
    border-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* githubstatus.com: "#28a745" */
  .layout-content.status.status-index .page-status.status-none {
    background-color: #484;
  }
  /* githubstatus.com: "#28a745" */
  .components-container .component-inner-container.status-green .component-status,
  .components-container .component-inner-container.status-green .icon-indicator,
  .layout-content.status-index .components-statuses .component-container.status-green::after,
  .status-green .icon-indicator {
    color: #484;
  }
  /* githubstatus.com: "#0366d6" */
  .layout-content.status-incident .subheader a:hover,
  .layout-content.status-index .page-footer span a:hover,
  .layout-content.status-index .timeframes-container .timeframe:not(.active):hover,
  a, a:hover {
    color: /*[[base-color]]*/ #4f8cc9;
  }
  /* githubstatus.com: "#0366d6" */
  .flat-button, .layout-content.status-full-history .show-filter.open,
  .masthead .updates-dropdown-container .show-updates-dropdown {
    background-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* githubstatus.com: "color: #6a737d" */
  .components-section .components-uptime-link,
  .layout-content.status .shared-partial.uptime-90-days-wrapper .legend .legend-item,
  .layout-content.status .shared-partial.uptime-90-days-wrapper .legend .legend-item.light {
    color: #949494;
  }
  /* githubstatus.com: "#6a737d" */
  .layout-content.status .shared-partial.uptime-90-days-wrapper .legend .spacer {
    background-color: #444;
  }
  /* end githubstatus.com rules */
  .illo-desktop-header {
    filter: invert(90%) hue-rotate(-180deg) !important;
  }
  .status-day > .date::before {
    background-color: #444 !important;
  }
  .layout-content.status .shared-partial.uptime-90-days-wrapper .legend .legend-item.light {
    opacity: .7;
  }
  .page-title .impact-minor::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.89307 1.50072C8.70961 1.19027 8.37325 1 8.00632 1C7.63938 1 7.30302 1.19027 7.11956 1.50072L0.137601 13.4979C-0.0458669 13.8083 -0.0458669 14.1888 0.137601 14.4993C0.331261 14.8097 0.667618 15 1.02436 15H14.9883C15.3552 15 15.6916 14.8097 15.8648 14.4993C16.0381 14.1888 16.0483 13.8083 15.875 13.4979L8.89307 1.50072ZM9.02558 12.9971H6.98705V10.9943H9.02558V12.9971ZM9.02558 9.99285H6.98705V5.98712H9.02558V9.99285Z' fill='%23cb4'/%3E%3C/svg%3e");
  }
  .page-title .impact-major::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.89307 1.50072C8.70961 1.19027 8.37325 1 8.00632 1C7.63938 1 7.30302 1.19027 7.11956 1.50072L0.137601 13.4979C-0.0458669 13.8083 -0.0458669 14.1888 0.137601 14.4993C0.331261 14.8097 0.667618 15 1.02436 15H14.9883C15.3552 15 15.6916 14.8097 15.8648 14.4993C16.0381 14.1888 16.0483 13.8083 15.875 13.4979L8.89307 1.50072ZM9.02558 12.9971H6.98705V10.9943H9.02558V12.9971ZM9.02558 9.99285H6.98705V5.98712H9.02558V9.99285Z' fill='%23f3582c'/%3E%3C/svg%3e");
  }
  .page-title .impact-critical::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.89307 1.50072C8.70961 1.19027 8.37325 1 8.00632 1C7.63938 1 7.30302 1.19027 7.11956 1.50072L0.137601 13.4979C-0.0458669 13.8083 -0.0458669 14.1888 0.137601 14.4993C0.331261 14.8097 0.667618 15 1.02436 15H14.9883C15.3552 15 15.6916 14.8097 15.8648 14.4993C16.0381 14.1888 16.0483 13.8083 15.875 13.4979L8.89307 1.50072ZM9.02558 12.9971H6.98705V10.9943H9.02558V12.9971ZM9.02558 9.99285H6.98705V5.98712H9.02558V9.99285Z' fill='%23f44'/%3E%3C/svg%3e");
  }
  .page-title .impact-maintenance::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.48 7.27001C4.74 7.53001 5.76 8.60001 5.76 8.60001L6.32 8.02001L5.44 7.11001L7.13 5.31001C7.13 5.31001 6.37 4.57001 6.7 4.86001C7.02 3.67001 6.73 2.35001 5.83 1.42001C4.93 0.500006 3.66 0.200006 2.52 0.510006L4.45 2.51001L3.94 4.47001L2.05 4.99001L0.12 2.99001C-0.19 4.17001 0.1 5.48001 1 6.40001C1.94 7.38001 3.29 7.66001 4.48 7.27001ZM10.92 9.21001L8.59 11.51L12.43 15.49C12.74 15.82 13.16 15.98 13.57 15.98C13.98 15.98 14.39 15.82 14.71 15.49C15.34 14.84 15.34 13.79 14.71 13.14L10.92 9.21001ZM16 2.53L13.55 0L6.33 7.46L7.21 8.37L2.9 12.83L1.91 13.36L0.519998 15.63L0.869998 16L3.07 14.56L3.58 13.54L7.9 9.08L8.78 9.99L16 2.53Z' fill='rgb(/*[[base-color-rgb]]*/)'/%3E%3C/svg%3e");
  }
  .page-footer > a:first-child::before {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.5 3L7 4.5L3.25 8L7 11.5L5.5 13L0.5 8L5.5 3Z' fill='rgb(/*[[base-color-rgb]]*/)'/%3E%3C/svg%3e") no-repeat center center !important;
  }
  .incident-container .incident-title::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.99999 2.3C10.14 2.3 12.7 4.86 12.7 8C12.7 11.14 10.14 13.7 6.99999 13.7C3.85999 13.7 1.29999 11.14 1.29999 8C1.29999 4.86 3.85999 2.3 6.99999 2.3ZM7 1C3.14 1 0 4.14 0 8C0 11.86 3.14 15 7 15C10.86 15 14 11.86 14 8C14 4.14 10.86 1 7 1ZM8 4H6V9H8V4ZM8 10H6V12H8V10Z' fill='%23bebebe'/%3E%3C/svg%3e");
  }
  .select-input__control[class*="css-"] {
    background-color: #181818;
    border-color: #333;
  }
  .select-input__single-value[class*="css-"] {
    color: #bebebe;
  }
  body.status div[class*="css-"] {
    background-color: #181818;
  }
  .layout-content.status.status-full-history .history-nav a.current.border-color {
    margin-top: 1px;
    border-bottom: 1px solid transparent !important;
  }
  .layout-content.status.status-full-history .history-nav a.button.border-color:not(.current) {
    border-bottom: 1px solid #333 !important;
    margin-top: 1px;
  }
  .select-input__option:not(.select-input__option--is-selected):hover {
    background-color: #282828;
    color: #eee;
  }
  .select-input__option--is-selected[class*="css-"] {
    background-color: #182030 !important;
  }
  svg [fill="#EAEAEA"] {
    fill: #555;
  }
}
