@-moz-document regexp("^https?://((education|graphql|gist|guides|raw|resources|status|developer|support|vscode-auth)\\.)?github\\.com/((?!(generated_pages)).)*$"), regexp("^https?://www\.zuora\.com.*github\.com.*"), domain("githubusercontent.com"), domain("www.githubstatus.com"), domain("stylishthemes.github.io") {
  :root {
  /* github dark vars */
    --ghd-bg-custom: /*[[bg-custom]]*/;
    --ghd-bg-img: /*[[bg-choice]]*/;
    --ghd-bg-color: /*[[bg-color]]*/;
    --ghd-code-background: #141414;
    --ghd-main-background: #181818;
    --ghd-border-color: #343434;
    --ghd-code-color: #ccc;
    --ghd-body-color: #ccc;
  /* github vars */
    --color-ansi-black-bright: #282828;
    --color-ansi-black: #181818;
    --color-ansi-blue-bright: #c8e1ff;
    --color-ansi-blue: #79b8ff;
    --color-ansi-cyan-bright: #b3f0ff;
    --color-ansi-cyan: #76e3ea;
    --color-ansi-gray: #959da5;
    --color-ansi-green-bright: #bef5cb;
    --color-ansi-green: #85e89d;
    --color-ansi-magenta-bright: #d1bcf9;
    --color-ansi-magenta: #b392f0;
    --color-ansi-red-bright: #fdaeb7;
    --color-ansi-red: #f97583;
    --color-ansi-white-bright: #e1e4e8;
    --color-ansi-white: #e1e4e8;
    --color-ansi-yellow-bright: #fff5b1;
    --color-ansi-yellow: #ffea7f;
    --color-auto-white: #181818;
    --color-autocomplete-bg: #181818;
    --color-autocomplete-border: #343434;
    --color-autocomplete-row-border: #181818;
    --color-avatar-bg: none;
    --color-avatar-border: none;
    --color-bg-canvas-inset: #181818;
    --color-bg-canvas-inverse: #181818;
    --color-bg-canvas-mobile: var(--ghd-bg-color);
    --color-bg-canvas: var(--ghd-bg-color);
    --color-bg-overlay: #181818;
    --color-bg-primary: #181818;
    --color-bg-secondary: #1c1c1c;
    --color-bg-tertiary: #212121;
    --color-border-inverse: #343434;
    --color-border-overlay: #343434;
    --color-border-primary: #343434;
    --color-border-secondary: #343434;
    --color-border-tertiary: #484848;
    --color-box-bg-info: #182030;
    --color-box-border-info: #246;
    --color-btn-bg-hover: #222;
    --color-btn-bg: #181818;
    --color-btn-border: #343434;
    --color-btn-danger-hover-text: #fff;
    --color-btn-danger-selected-text: #fff;
    --color-btn-danger-shadow: none;
    --color-btn-inverse-on-hover-shadow-inset: none;
    --color-btn-outline-hover-text: #fff;
    --color-btn-outline-shadow-focus: none;
    --color-btn-outline-shadow: none;
    --color-btn-primary-disabled-shadow: none;
    --color-btn-primary-shadow-highlight: none;
    --color-btn-primary-shadow-selected: none;
    --color-btn-primary-text: #fff;
    --color-btn-shadow-input-focus: none;
    --color-calendar-graph-day-bg: #282828;
    --color-calendar-graph-day-L1-bg: rgba(/*[[base-color-rgb]]*/, .25);
    --color-calendar-graph-day-L2-bg: rgba(/*[[base-color-rgb]]*/, .5);
    --color-calendar-graph-day-L3-bg: rgba(/*[[base-color-rgb]]*/, .75);
    --color-calendar-graph-day-L4-bg: /*[[base-color]]*/;
    --color-diff-blob-comment-button-icon: #fff;
    --color-diff-blob-expander-hover-icon: #fff;
    --color-global-nav-icon: none;
    --color-global-nav-logo: none;
    --color-global-nav-text: none;
    --color-header-search-bg: #202020;
    --color-header-search-border: #343434;
    --color-header-text: #c6c6c6;
    --color-input-bg: #181818;
    --color-input-shadow-focus: none;
    --color-input-shadow: none;
    --color-merge-box-error-icon-text: #fff;
    --color-merge-box-merged-icon-text: #fff;
    --color-merge-box-neutral-icon-border: transparent;
    --color-merge-box-neutral-icon-text: #fff;
    --color-merge-box-neutral-indicator-bg: #484848;
    --color-merge-box-warning-icon-text: #fff;
    --color-pr-state-closed-text: #fff;
    --color-pr-state-draft-text: #fff;
    --color-pr-state-merged-text: #fff;
    --color-pr-state-open-text: #fff;
    --color-scale-white: #181818;
    --color-select-menu-shadow: none;
    --color-shadow-highlight: none;
    --color-shadow-inset: none;
    --color-shadow-medium: none;
    --color-shadow-small: none;
    --color-social-count-bg: #181818;
    --color-state-hover-primary-icon: #fff;
    --color-state-hover-primary-text: #fff;
    --color-state-selected-primary-icon: #fff;
    --color-state-selected-primary-text: #fff;
    --color-text-inverse: #fff;
    --color-text-white: #fff;
    --color-tooltip-text: #c6c6c6;
    --color-workflow-card-bg: #303030;
  }
}
