@-moz-document regexp("^https?://((education|gist|graphql|guides|docs|raw|resources|status|developer|support|vscode-auth)\\.)?github\\.com/((?!generated_pages/preview).)*$"), domain("githubusercontent.com"), domain("www.githubstatus.com"), domain("stylishthemes.github.io") {
  :root {
    --ghd-bg-custom: /*[[bg-custom]]*/;
    --ghd-bg-img: /*[[bg-choice]]*/;
    --ghd-code-background: #141414;
    --ghd-code-color: #ccc;
    --ghd-body-bg-color: #1c1c1c;
  }
}
