@-moz-document regexp("^https?://((education|graphql|gist|guides|raw|resources|status|developer|support|vscode-auth)\\.)?github\\.com/((?!(generated_pages)).)*$"), regexp("^https?://www\.zuora\.com.*github\.com.*"), domain("githubusercontent.com"), domain("www.githubstatus.com"), domain("stylishthemes.github.io") {
  :root {
  /* github dark vars */
    --ghd-bg-custom: /*[[bg-custom]]*/;
    --ghd-bg-img: /*[[bg-choice]]*/;
    --ghd-bg-color: /*[[bg-color]]*/;
    --ghd-code-background: #141414;
    --ghd-code-color: #ccc;
    --ghd-body-color: #ccc;
  /* github vars */
    --color-auto-white: #181818 !important;
    --color-autocomplete-bg: #181818 !important;
    --color-autocomplete-border: #343434 !important;
    --color-autocomplete-row-border: #181818 !important;
    --color-bg-canvas-inverse: #181818 !important;
    --color-bg-canvas-mobile: var(--ghd-bg-color) !important;
    --color-bg-canvas: var(--ghd-bg-color) !important;
    --color-bg-overlay: #181818 !important;
    --color-bg-primary: #181818 !important;
    --color-bg-secondary: #1a1a1a !important;
    --color-bg-tertiary: #1c1c1c !important;
    --color-border-inverse: #343434 !important;
    --color-border-primary: #343434 !important;
    --color-btn-bg-hover: #222 !important;
    --color-btn-bg: #181818 !important;
    --color-btn-border: #343434 !important;
    --color-btn-danger-hover-text: #fff !important;
    --color-btn-danger-shadow: none !important;
    --color-btn-inverse-on-hover-shadow-inset: none !important;
    --color-btn-outline-shadow-focus: none !important;
    --color-btn-outline-shadow: none !important;
    --color-btn-primary-disabled-shadow: none !important;
    --color-btn-primary-shadow-highlight: none !important;
    --color-btn-primary-shadow-selected: none !important;
    --color-btn-primary-text: #fff !important;
    --color-btn-shadow-input-focus: none !important;
    --color-calendar-graph-day-bg: #282828 !important;
    --color-calendar-graph-day-L1-bg: rgba(/*[[base-color-rgb]]*/, .25) !important;
    --color-calendar-graph-day-L2-bg: rgba(/*[[base-color-rgb]]*/, .5) !important;
    --color-calendar-graph-day-L3-bg: rgba(/*[[base-color-rgb]]*/, .75) !important;
    --color-calendar-graph-day-L4-bg: /*[[base-color]]*/ !important;
    --color-diff-blob-comment-button-icon: #fff !important;
    --color-global-nav-icon: none !important;
    --color-global-nav-logo: none !important;
    --color-global-nav-text: none !important;
    --color-header-search-bg: #202020 !important;
    --color-header-search-border: #343434 !important;
    --color-header-text: #c6c6c6 !important;
    --color-input-bg: #181818 !important;
    --color-input-shadow-focus: none !important;
    --color-input-shadow: none !important;
    --color-merge-box-neutral-icon-text: #fff !important;
    --color-pr-state-closed-text: #fff !important;
    --color-pr-state-draft-text: #fff !important;
    --color-pr-state-merged-text: #fff !important;
    --color-pr-state-open-text: #fff !important;
    --color-scale-white: #181818 !important;
    --color-select-menu-shadow: none !important;
    --color-shadow-highlight: none !important;
    --color-shadow-inset: none !important;
    --color-shadow-medium: none !important;
    --color-shadow-small: none !important;
    --color-social-count-bg: #181818 !important;
    --color-state-hover-primary-icon: #fff !important;
    --color-state-hover-primary-text: #fff !important;
    --color-state-selected-primary-icon: #fff !important;
    --color-state-selected-primary-text: #fff !important;
    --color-text-inverse: #fff !important;
    --color-text-white: #fff !important;
  }
}
