@-moz-document regexp("^https?://((education|gist|graphql|guides|docs|raw|resources|status|developer|support|vscode-auth)\\.)?github\\.com/((?!generated_pages/preview).)*$"), regexp("^https?://www\.zuora\.com.*github\.com.*"), domain("githubusercontent.com"), domain("www.githubstatus.com"), domain("stylishthemes.github.io") {
  :root {
    --ghd-bg-custom: /*[[bg-custom]]*/;
    --ghd-bg-img: /*[[bg-choice]]*/;
    --ghd-bg-color: /*[[bg-color]]*/;
    --ghd-code-font-size: /*[[code-font-size]]*/;
    --ghd-code-background: #141414;
    --ghd-code-color: #ccc;
  }
}
