@-moz-document regexp("^https?://((education|graphql|gist|guides|raw|resources|status|developer|support|vscode-auth)\\.)?github\\.com/((?!(sponsors)).)*$"), regexp("^https?://www\.zuora\.com.*github\.com.*"), domain("githubusercontent.com"), domain("www.githubstatus.com"), domain("stylishthemes.github.io") {
  :root:root {
  /* github dark vars */
    --ghd-bg-custom: /*[[bg-custom]]*/;
    --ghd-bg-img: /*[[bg-choice]]*/;
    --ghd-bg-color: /*[[bg-color]]*/;
    --ghd-code-background: #141414;
    --ghd-main-background: #181818;
    --ghd-border-color: #343434;
    --ghd-code-color: #ccc;
    --ghd-body-color: #ccc;
  /* github vars */
    --color-alert-error-bg: #341414;
    --color-alert-info-bg: #182030;
    --color-alert-info-border: #246;
    --color-alert-info-icon: #9daccc;
    --color-alert-info-text: #9daccc;
    --color-alert-warn-bg: #241c10;
    --color-ansi-black-bright: #282828;
    --color-ansi-black: #181818;
    --color-ansi-blue-bright: #c8e1ff;
    --color-ansi-blue: #79b8ff;
    --color-ansi-cyan-bright: #b3f0ff;
    --color-ansi-cyan: #76e3ea;
    --color-ansi-gray: #959da5;
    --color-ansi-green-bright: #bef5cb;
    --color-ansi-green: #85e89d;
    --color-ansi-magenta-bright: #d1bcf9;
    --color-ansi-magenta: #b392f0;
    --color-ansi-red-bright: #fdaeb7;
    --color-ansi-red: #f97583;
    --color-ansi-white-bright: #e1e4e8;
    --color-ansi-white: #e1e4e8;
    --color-ansi-yellow-bright: #fff5b1;
    --color-ansi-yellow: #ffea7f;
    --color-auto-blue-2: rgba(/*[[base-color-rgb]]*/, .25);
    --color-auto-blue-3: rgba(/*[[base-color-rgb]]*/, .5);
    --color-auto-blue-4: /*[[base-color]]*/;
    --color-auto-blue-5: /*[[base-color]]*/;
    --color-auto-gray-1: #212121;
    --color-auto-gray-2: #282828;
    --color-auto-gray-3: #343434;
    --color-auto-gray-4: #606060;
    --color-auto-gray-5: #767676;
    --color-auto-gray-6: #9b9b9b;
    --color-auto-gray-7: #afafaf;
    --color-auto-white: #181818;
    --color-autocomplete-bg: #181818;
    --color-autocomplete-border: #343434;
    --color-autocomplete-row-border: #181818;
    --color-avatar-bg: none;
    --color-avatar-border: none;
    --color-bg-canvas-inset: #181818;
    --color-bg-canvas-inverse: #c6c6c6;
    --color-bg-canvas-mobile: var(--ghd-bg-color);
    --color-bg-canvas: var(--ghd-bg-color);
    --color-bg-info-inverse: /*[[base-color]]*/;
    --color-bg-info: #182030;
    --color-bg-overlay: #181818;
    --color-bg-primary: #181818;
    --color-bg-secondary: #1c1c1c;
    --color-bg-tertiary: #212121;
    --color-blankslate-icon: #afafaf;
    --color-border-inverse: #343434;
    --color-border-overlay: #343434;
    --color-border-primary: #343434;
    --color-border-secondary: #343434;
    --color-border-tertiary: #484848;
    --color-box-bg-info: #182030;
    --color-box-blue-border: #246;
    --color-box-border-info: #246;
    --color-btn-bg-hover: #222;
    --color-btn-bg: #181818;
    --color-btn-border: #343434;
    --color-btn-danger-hover-text: #fff;
    --color-btn-danger-selected-text: #fff;
    --color-btn-danger-shadow: none;
    --color-btn-focus-border: #484848;
    --color-btn-focus-shadow: none;
    --color-btn-hover-bg: #222;
    --color-btn-hover-border: #484848;
    --color-btn-inverse-on-hover-shadow-inset: none;
    --color-btn-outline-disabled-bg: #242424;
    --color-btn-outline-focus-border: /*[[base-color]]*/;
    --color-btn-outline-focus-shadow: none;
    --color-btn-outline-hover-bg: #222;
    --color-btn-outline-hover-border: /*[[base-color]]*/;
    --color-btn-outline-hover-inset-shadow: none;
    --color-btn-outline-hover-shadow: none;
    --color-btn-outline-hover-text: /*[[base-color]]*/;
    --color-btn-outline-selected-bg: /*[[base-color]]*/;
    --color-btn-outline-selected-border: /*[[base-color]]*/;
    --color-btn-outline-selected-text: #fff;
    --color-btn-outline-shadow-focus: none;
    --color-btn-outline-shadow: none;
    --color-btn-outline-text: /*[[base-color]]*/;
    --color-btn-primary-disabled-shadow: none;
    --color-btn-primary-shadow-highlight: none;
    --color-btn-primary-shadow-selected: none;
    --color-btn-primary-text: #fff;
    --color-btn-selected-bg: #282828;
    --color-btn-shadow-input-focus: none;
    --color-btn-text: #c6c6c6;
    --color-calendar-graph-day-bg: #282828;
    --color-calendar-graph-day-L1-bg: rgba(/*[[base-color-rgb]]*/, .25);
    --color-calendar-graph-day-L2-bg: rgba(/*[[base-color-rgb]]*/, .5);
    --color-calendar-graph-day-L3-bg: rgba(/*[[base-color-rgb]]*/, .75);
    --color-calendar-graph-day-L4-bg: /*[[base-color]]*/;
    --color-checks-bg: #181818;
    --color-checks-btn-hover-bg: #343434;
    --color-checks-btn-hover-icon: #afafaf;
    --color-checks-btn-icon: #606060;
    --color-checks-dropdown-bg: #343434;
    --color-checks-dropdown-border: #484848;
    --color-checks-dropdown-btn-hover-bg: #282828;
    --color-checks-dropdown-btn-hover-text: #c6c6c6;
    --color-checks-dropdown-hover-bg: /*[[base-color]]*/;
    --color-checks-dropdown-hover-text: #fff;
    --color-checks-dropdown-text: #afafaf;
    --color-checks-gate-text: #767676;
    --color-checks-header-border: #343434;
    --color-checks-header-icon: #606060;
    --color-checks-header-label-open-text: #afafaf;
    --color-checks-header-label-text: #afafaf;
    --color-checks-input-bg: #282828;
    --color-checks-input-focus-text: #afafaf;
    --color-checks-input-placeholder-text: #565656;
    --color-checks-input-shadow: none;
    --color-checks-input-text: #767676;
    --color-checks-line-dt-fm-text: #222;
    --color-checks-line-hover-bg: #242424;
    --color-checks-line-num-text: #606060;
    --color-checks-line-selected-bg: #242424;
    --color-checks-line-text: #9b9b9b;
    --color-checks-line-timestamp-text: #767676;
    --color-checks-logline-error-num-text: #767676;
    --color-checks-logline-error-text: #767676;
    --color-checks-logline-num-text: #767676;
    --color-checks-logline-text: #606060;
    --color-checks-logline-warning-text: #767676;
    --color-checks-scrollbar-thumb-bg: #484848;
    --color-checks-step-header-open-bg: #282828;
    --color-checks-text-link: /*[[base-color]]*/;
    --color-checks-text-primary: #afafaf;
    --color-checks-text-secondary: #767676;
    --color-counter-bg: #343434;
    --color-counter-primary-bg: #484848;
    --color-counter-primary-text: #bfbfbf;
    --color-counter-secondary-text: #9b9b9b;
    --color-counter-text: #afafaf;
    --color-diff-blob-addition-line-bg: #002800;
    --color-diff-blob-addition-num-bg: #0a320a;
    --color-diff-blob-addition-word-bg: #252;
    --color-diff-blob-comment-button-icon: #fff;
    --color-diff-blob-deletion-line-bg: #380000;
    --color-diff-blob-deletion-num-bg: #420a0a;
    --color-diff-blob-deletion-word-bg: #622;
    --color-diff-blob-expander-hover-bg: /*[[base-color]]*/;
    --color-diff-blob-expander-hover-icon: #fff;
    --color-diff-blob-expander-icon: #9b9b9b;
    --color-diff-blob-hunk-line-bg: #202020;
    --color-diff-blob-hunk-num-bg: #2b2b2b;
    --color-diff-blob-hunk-text: #9b9b9b;
    --color-diff-blob-num-hover-text: #c6c6c6;
    --color-diff-blob-num-text: #767676;
    --color-diffstat-addition-bg: #6cc644;
    --color-diffstat-addition-border: #6cc644;
    --color-diffstat-deletion-bg: #d82828;
    --color-diffstat-deletion-border: #d82828;
    --color-diffstat-neutral-bg: #484848;
    --color-diffstat-neutral-border: #484848;
    --color-files-explorer-icon: /*[[base-color]]*/;
    --color-footer-invertocat-octicon: #484848;
    --color-global-nav-icon: none;
    --color-global-nav-logo: none;
    --color-global-nav-text: none;
    --color-header-search-bg: #202020;
    --color-header-search-border: #343434;
    --color-header-text: #c6c6c6;
    --color-hidden-text-expander-bg-hover: #484848;
    --color-hidden-text-expander-bg: #343434;
    --color-icon-primary: #c6c6c6;
    --color-icon-secondary: #afafaf;
    --color-icon-tertiary: #767676;
    --color-input-bg: #181818;
    --color-input-border: #343434;
    --color-input-contrast-bg: #181818;
    --color-input-disabled-bg: #343434;
    --color-input-disabled-border: #484848;
    --color-input-shadow-focus: none;
    --color-input-shadow: none;
    --color-label-primary-border: #484848;
    --color-label-primary-text: #9b9b9b;
    --color-label-secondary-border: #343434;
    --color-label-secondary-text: #767676;
    --color-markdown-blockquote-border: #343434;
    --color-markdown-code-bg: #222;
    --color-markdown-table-border: #343434;
    --color-menu-bg-active: #242424;
    --color-menu-heading-text: #767676;
    --color-mktg-btn-text: #fff;
    --color-merge-box-error-icon-text: #fff;
    --color-merge-box-merged-icon-text: #fff;
    --color-merge-box-neutral-icon-border: transparent;
    --color-merge-box-neutral-icon-text: #fff;
    --color-merge-box-neutral-indicator-bg: #484848;
    --color-merge-box-success-icon-text: #fff;
    --color-merge-box-warning-icon-text: #fff;
    --color-pr-state-closed-bg: #d82828;
    --color-pr-state-closed-border: transparent;
    --color-pr-state-closed-text: #fff;
    --color-pr-state-draft-bg: #484848;
    --color-pr-state-draft-border: transparent;
    --color-pr-state-draft-text: #fff;
    --color-pr-state-merged-bg: #73589a;
    --color-pr-state-merged-border: transparent;
    --color-pr-state-merged-text: #fff;
    --color-pr-state-open-bg: #484;
    --color-pr-state-open-border: transparent;
    --color-pr-state-open-text: #fff;
    --color-project-card-bg: #202020;
    --color-project-sidebar-bg: #202020;
    --color-scale-gray-0: #181818;
    --color-scale-gray-1: #202020;
    --color-scale-gray-2: #343434;
    --color-scale-gray-3: #606060;
    --color-scale-gray-4: #767676;
    --color-scale-gray-5: #9b9b9b;
    --color-scale-gray-6: #afafaf;
    --color-scale-gray-7: #bfbfbf;
    --color-scale-gray-8: #c6c6c6;
    --color-scale-gray-9: #dfdfdf;
    --color-scale-white: #181818;
    --color-search-hover-hl: #242424;
    --color-select-menu-backdrop-border: #343434;
    --color-select-menu-border-secondary: #343434;
    --color-select-menu-shadow: none;
    --color-shadow-highlight: none;
    --color-shadow-inset: none;
    --color-shadow-large: none;
    --color-shadow-medium: none;
    --color-shadow-small: none;
    --color-sidenav-selected-bg: #343434;
    --color-social-count-bg: #181818;
    --color-state-focus-border: /*[[base-color]]*/;
    --color-state-focus-shadow: 0 0 0 3px rgba(/*[[base-color-rgb]]*/, .3);
    --color-state-hover-primary-bg: /*[[base-color]]*/;
    --color-state-hover-primary-icon: #fff;
    --color-state-hover-primary-text: #fff;
    --color-state-hover-secondary-bg: #242424;
    --color-state-selected-primary-bg: /*[[base-color]]*/;
    --color-state-selected-primary-icon: #fff;
    --color-state-selected-primary-text: #fff;
    --color-text-disabled: #707070;
    --color-text-inverse: #000;
    --color-text-link: /*[[base-color]]*/;
    --color-text-primary: #c6c6c6;
    --color-text-secondary: #afafaf;
    --color-text-tertiary: #9b9b9b;
    --color-text-white: #fff;
    --color-timeline-badge-bg: #383838;
    --color-timeline-text: #c6c6c6;
    --color-tooltip-text: #c6c6c6;
    --color-underlinenav-counter-text: #c6c6c6;
    --color-underlinenav-icon: #afafaf;
    --color-underlinenav-text-active: #c6c6c6;
    --color-underlinenav-text-hover: #c6c6c6;
    --color-underlinenav-text: #afafaf;
    --color-upload-enabled-border: #343434;
    --color-verified-badge-bg: #181818;
    --color-verified-badge-border: #343434;
    --color-verified-badge-text: #6cc644;
    --color-workflow-card-bg: #303030;
  }
}
