@-moz-document regexp("^https?://((education|graphql|gist|guides|raw|resources|status|developer|support|vscode-auth)\\.)?github\\.com/((?!(generated_pages)).)*$"), regexp("^https?://www\.zuora\.com.*github\.com.*"), domain("githubusercontent.com"), domain("www.githubstatus.com"), domain("stylishthemes.github.io") {
  :root {
  /* github dark vars */
    --ghd-bg-custom: /*[[bg-custom]]*/;
    --ghd-bg-img: /*[[bg-choice]]*/;
    --ghd-bg-color: /*[[bg-color]]*/;
    --ghd-code-background: #141414;
    --ghd-main-background: #181818;
    --ghd-border-color: #343434;
    --ghd-code-color: #ccc;
    --ghd-body-color: #ccc;
  /* github vars */
    --color-ansi-black-bright: #282828 !important;
    --color-ansi-black: #181818 !important;
    --color-ansi-blue-bright: #c8e1ff !important;
    --color-ansi-blue: #79b8ff !important;
    --color-ansi-cyan-bright: #b3f0ff !important;
    --color-ansi-cyan: #76e3ea !important;
    --color-ansi-gray: #959da5 !important;
    --color-ansi-green-bright: #bef5cb !important;
    --color-ansi-green: #85e89d !important;
    --color-ansi-magenta-bright: #d1bcf9 !important;
    --color-ansi-magenta: #b392f0 !important;
    --color-ansi-red-bright: #fdaeb7 !important;
    --color-ansi-red: #f97583 !important;
    --color-ansi-white-bright: #e1e4e8 !important;
    --color-ansi-white: #e1e4e8 !important;
    --color-ansi-yellow-bright: #fff5b1 !important;
    --color-ansi-yellow: #ffea7f !important;
    --color-auto-white: #181818 !important;
    --color-autocomplete-bg: #181818 !important;
    --color-autocomplete-border: #343434 !important;
    --color-autocomplete-row-border: #181818 !important;
    --color-bg-canvas-inverse: #181818 !important;
    --color-bg-canvas-mobile: var(--ghd-bg-color) !important;
    --color-bg-canvas: var(--ghd-bg-color) !important;
    --color-bg-overlay: #181818 !important;
    --color-bg-primary: #181818 !important;
    --color-bg-secondary: #1a1a1a !important;
    --color-bg-tertiary: #1c1c1c !important;
    --color-border-inverse: #343434 !important;
    --color-border-primary: #343434 !important;
    --color-box-bg-info: #182030 !important;
    --color-box-border-info: #246 !important;
    --color-btn-bg-hover: #222 !important;
    --color-btn-bg: #181818 !important;
    --color-btn-border: #343434 !important;
    --color-btn-danger-hover-text: #fff !important;
    --color-btn-danger-shadow: none !important;
    --color-btn-inverse-on-hover-shadow-inset: none !important;
    --color-btn-outline-hover-text: #fff !important;
    --color-btn-outline-shadow-focus: none !important;
    --color-btn-outline-shadow: none !important;
    --color-btn-primary-disabled-shadow: none !important;
    --color-btn-primary-shadow-highlight: none !important;
    --color-btn-primary-shadow-selected: none !important;
    --color-btn-primary-text: #fff !important;
    --color-btn-shadow-input-focus: none !important;
    --color-calendar-graph-day-bg: #282828 !important;
    --color-calendar-graph-day-L1-bg: rgba(/*[[base-color-rgb]]*/, .25) !important;
    --color-calendar-graph-day-L2-bg: rgba(/*[[base-color-rgb]]*/, .5) !important;
    --color-calendar-graph-day-L3-bg: rgba(/*[[base-color-rgb]]*/, .75) !important;
    --color-calendar-graph-day-L4-bg: /*[[base-color]]*/ !important;
    --color-diff-blob-comment-button-icon: #fff !important;
    --color-diff-blob-expander-hover-icon: #fff !important;
    --color-global-nav-icon: none !important;
    --color-global-nav-logo: none !important;
    --color-global-nav-text: none !important;
    --color-header-search-bg: #202020 !important;
    --color-header-search-border: #343434 !important;
    --color-header-text: #c6c6c6 !important;
    --color-input-bg: #181818 !important;
    --color-input-shadow-focus: none !important;
    --color-input-shadow: none !important;
    --color-merge-box-error-icon-text: #fff !important;
    --color-merge-box-merged-icon-text: #fff !important;
    --color-merge-box-neutral-icon-text: #fff !important;
    --color-merge-box-neutral-indicator-bg: #484848 !important;
    --color-merge-box-warning-icon-text: #fff !important;
    --color-pr-state-closed-text: #fff !important;
    --color-pr-state-draft-text: #fff !important;
    --color-pr-state-merged-text: #fff !important;
    --color-pr-state-open-text: #fff !important;
    --color-scale-white: #181818 !important;
    --color-select-menu-shadow: none !important;
    --color-shadow-highlight: none !important;
    --color-shadow-inset: none !important;
    --color-shadow-medium: none !important;
    --color-shadow-small: none !important;
    --color-social-count-bg: #181818 !important;
    --color-state-hover-primary-icon: #fff !important;
    --color-state-hover-primary-text: #fff !important;
    --color-state-selected-primary-icon: #fff !important;
    --color-state-selected-primary-text: #fff !important;
    --color-text-inverse: #fff !important;
    --color-text-white: #fff !important;
    --color-tooltip-text: #c6c6c6 !important;
  }
}
