@-moz-document domain("vscode-auth.github.com") {
  /* begin vscode-auth.github.com rules */
  /* vscode-auth.github.com: "transparent" */
  a {
    background-color: transparent;
  }
  /* vscode-auth.github.com: "color: #000" */
  mark {
    color: #f0f0f0;
  }
  /* vscode-auth.github.com: "color: #24292e", "#fff" */
  body {
    color: #cdcdcd;
    background-color: #181818;
  }
  /* vscode-auth.github.com: "#0366d6" */
  a {
    color: /*[[base-color]]*/ #4f8cc9;
  }
  /* vscode-auth.github.com: "transparent", "#dfe2e5" */
  .rule, hr {
    background-color: transparent;
    border-bottom-color: #343434;
  }
  /* vscode-auth.github.com: "#fff", "#d1d5da" */
  .Box {
    background-color: #181818;
  }
  /* vscode-auth.github.com: "#f6f8fa", "#d1d5da" */
  .Box, .Box-header {
    border-color: #404040;
  }
  .Box-header {
    background-color: #222;
  }
  /* vscode-auth.github.com: "#e1e4e8" */
  .Box-body {
    border-bottom-color: #343434;
  }
  /* vscode-auth.github.com: "#e1e4e8" */
  .Box-row {
    border-top-color: #343434;
  }
  /* vscode-auth.github.com: "#0366d6" */
  .Box-row.Box-row--unread, .Box-row.unread {
    box-shadow: 2px 0 0 /*[[base-color]]*/ #4f8cc9 inset;
  }
  /* vscode-auth.github.com: "#0366d6" */
  .Box-row.navigation-focus .Box-row--drag-button {
    color: /*[[base-color]]*/ #4f8cc9;
  }
  /* vscode-auth.github.com: "#fafbfc" */
  .Box-row.navigation-focus.sortable-chosen {
    background-color: #181818;
  }
  /* vscode-auth.github.com: "#f6f8fa" */
  .Box-row--focus-gray.navigation-focus,
  .Box-row.navigation-focus.sortable-ghost {
    background-color: #222;
  }
  /* vscode-auth.github.com: "#f1f8ff" */
  .Box-row--focus-blue.navigation-focus {
    background-color: #182030;
  }
  /* vscode-auth.github.com: "#f6f8fa" */
  .Box-row--hover-gray:hover {
    background-color: #222;
  }
  /* vscode-auth.github.com: "#f1f8ff" */
  .Box-row--hover-blue:hover {
    background-color: #182030;
  }
  /* vscode-auth.github.com: "color: #24292e", "#0366d6" */
  @media (min-width: 768px) {
    .Box-row-link {
      color: #cdcdcd;
    }
    .Box-row-link:hover {
      color: /*[[base-color]]*/ #4f8cc9;
    }
  }
  /* vscode-auth.github.com: "#e1e4e8" */
  .Box-footer {
    border-top-color: #343434;
  }
  /* vscode-auth.github.com: "#c8e1ff" */
  .Box--blue {
    border-color: #246;
  }
  /* vscode-auth.github.com: "#f1f8ff", "#c8e1ff" */
  .Box--blue .Box-header {
    background-color: #182030;
    border-color: #246;
  }
  /* vscode-auth.github.com: "#c8e1ff" */
  .Box--blue .Box-body, .Box--blue .Box-footer, .Box--blue .Box-row {
    border-color: #246;
  }
  /* vscode-auth.github.com: "#d73a49" */
  .Box--danger, .Box--danger .Box-body:last-of-type,
  .Box--danger .Box-row:first-of-type {
    border-color: #d82828;
  }
  /* vscode-auth.github.com: "#f1f8ff", "#c8e1ff" */
  .Box-header--blue {
    background-color: #182030;
    border-color: #246;
  }
  /* vscode-auth.github.com: "#fffbdd" */
  .Box-row--yellow {
    background-color: #261d08;
  }
  /* vscode-auth.github.com: "#f1f8ff" */
  .Box-row--blue {
    background-color: #182030;
  }
  /* vscode-auth.github.com: "#f6f8fa" */
  .Box-row--gray {
    background-color: #222;
  }
  /* vscode-auth.github.com: "#e1e4e8" */
  .breadcrumb-item::after {
    color: #343434;
  }
  /* vscode-auth.github.com: "rgba(27,31,35,0.2)" */
  .btn {
    border-color: rgba(220, 220, 220, .2);
  }
  /* vscode-auth.github.com: "color: #586069", "rgba(27,31,35,0.1)" */
  .btn .Counter {
    color: #afafaf;
    background-color: rgba(220, 220, 220, .17);
  }
  /* vscode-auth.github.com: "none" */
  .btn.selected, .btn:active {
    background-image: none;
  }
  /* vscode-auth.github.com: "color: #24292e", "#eff3f6", "linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%)" */
  .btn {
    color: #cdcdcd;
    background-color: #242424;
    background-image: linear-gradient(-180deg, #202020 0%, #181818 90%);
  }
  /* vscode-auth.github.com: "box-shadow: 0 0 0 .2em rgba(3,102,214,.3)" */
  .btn.focus, .btn:focus {
    box-shadow: 0 0 0 .2em rgba(79, 140, 201, .5);
    box-shadow: 0 0 0 .2em rgba(/*[[base-color-rgb]]*/, .5);
  }
  /* vscode-auth.github.com: "#e6ebf1", "#e6ebf1", "rgba(27,31,35,0.35)" */
  .btn.hover, .btn:hover {
    background-color: #444;
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #444 90%);
    border-color: rgba(220, 220, 220, .35);
  }
  /* vscode-auth.github.com: "#e9ecef", "none", "rgba(27,31,35,0.35)", "rgba(27,31,35,0.15)" */
  .btn.selected, .btn:active, [open] > .btn {
    background-color: #404040;
    background-image: none;
    border-color: rgba(220, 220, 220, .35);
    box-shadow: inset 0 .15em .3em #000;
  }
  /* vscode-auth.github.com: "color: rgba(36,41,46,.4)", "#eff3f6", "none", "rgba(27,31,35,0.2)", "box-shadow: none" */
  .btn.disabled, .btn:disabled {
    color: rgba(210, 210, 210, .4);
    background-color: #242424;
    background-image: none;
    border-color: rgba(220, 220, 220, .2);
    box-shadow: none;
  }
  /* vscode-auth.github.com: "color: #fff", "#28a745", "#34d058","#28a745" */
  .btn-primary {
    color: #fff;
    background-color: #484;
    background-image: linear-gradient(-180deg, #373 0%, #484 90%);
  }
  /* vscode-auth.github.com: "rgba(52,208,88,0.4)" */
  .btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 .2em #3737;
  }
  /* vscode-auth.github.com: "#269f42", "#2fcb53","#269f42", "rgba(27,31,35,0.5)" */
  .btn-primary.hover, .btn-primary:hover {
    background-color: #595;
    background-image: linear-gradient(-180deg, #373 0%, #595 90%);
    border-color: rgba(220, 220, 220, .5);
  }
  /* vscode-auth.github.com: "#279f43", "none", "rgba(27,31,35,0.5)", "rgba(27,31,35,0.15)" */
  .btn-primary.selected, .btn-primary:active, [open] > .btn-primary {
    background-color: #595;
    background-image: none;
    border-color: rgba(220, 220, 220, .5);
    box-shadow: inset 0 .15em .3em #000;
  }
  /* vscode-auth.github.com: "#94d3a2", "none", "rgba(27,31,35,0.2)", "box-shadow: none" */
  .btn-primary.disabled, .btn-primary:disabled {
    background-color: #040;
    background-image: none;
    border-color: rgba(220, 220, 220, .2);
    box-shadow: none;
  }
  /* vscode-auth.github.com: "#fff" */
  .btn-primary .Counter {
    background-color: #181818;
  }
  /* vscode-auth.github.com: "color: #fff" */
  .btn-purple {
    color: #fff;
  }
  /* vscode-auth.github.com: "rgba(27,31,35,0.5)" */
  .btn-purple.hover, .btn-purple:hover {
    border-color: rgba(220, 220, 220, .5);
  }
  /* vscode-auth.github.com: "none", "rgba(27,31,35,0.5)", "rgba(27,31,35,0.15)" */
  .btn-purple.selected, .btn-purple:active, [open] > .btn-purple {
    background-image: none;
    border-color: rgba(220, 220, 220, .5);
    box-shadow: inset 0 .15em .3em #000;
  }
  /* vscode-auth.github.com: "none", "rgba(27,31,35,0.2)", "box-shadow: none" */
  .btn-purple.disabled, .btn-purple:disabled {
    background-image: none;
    border-color: rgba(220, 220, 220, .2);
    box-shadow: none;
  }
  /* vscode-auth.github.com: "#fff" */
  .btn-purple .Counter {
    background-color: #181818;
  }
  /* vscode-auth.github.com: "color: #fff", "#0361cc", "#0679fc","#0361cc" */
  .btn-blue {
    color: #fff;
    background-color: /*[[base-color]]*/ #4f8cc9;
    background-image: linear-gradient(-180deg, /*[[base-color]]*/ #4f8cc9 0%, /*[[base-color]]*/ #4f8cc9 90%);
  }
  /* vscode-auth.github.com: "rgba(27,31,35,0.5)" */
  .btn-blue.hover, .btn-blue:hover {
    border-color: rgba(220, 220, 220, .5);
  }
  /* vscode-auth.github.com: "none", "rgba(27,31,35,0.5)", "rgba(27,31,35,0.15)" */
  .btn-blue.selected, .btn-blue:active, [open] > .btn-blue {
    background-image: none;
    border-color: rgba(220, 220, 220, .5);
    box-shadow: inset 0 .15em .3em #000;
  }
  /* vscode-auth.github.com: "none", "rgba(27,31,35,0.2)", "box-shadow: none" */
  .btn-blue.disabled, .btn-blue:disabled {
    background-image: none;
    border-color: rgba(220, 220, 220, .2);
    box-shadow: none;
  }
  /* vscode-auth.github.com: "#0366d6", "#fff" */
  .btn-blue .Counter {
    color: /*[[base-color]]*/ #4f8cc9;
    background-color: #181818;
  }
  /* vscode-auth.github.com: "#cb2431", "#fafbfc", "linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%)" */
  .btn-danger {
    color: #d82828;
    background-color: #181818;
    background-image: linear-gradient(-180deg, #202020 0%, #181818 90%);
  }
  /* vscode-auth.github.com: "rgba(203,36,49,0.4)" */
  .btn-danger:focus {
    box-shadow: 0 0 0 .2em rgba(255, 68, 68, .4);
  }
  /* vscode-auth.github.com: "color: #fff", "#cb2431", "#cb2431", "rgba(27,31,35,0.5)" */
  .btn-danger:hover {
    color: #fff;
    background-color: #d82828;
    background-image: linear-gradient(-180deg, #de4450 0%, #d82828 90%);
    border-color: rgba(220, 220, 220, .5);
  }
  /* vscode-auth.github.com: "color: #fff" */
  .btn-danger:hover .Counter {
    color: #fff;
  }
  /* vscode-auth.github.com: "color: #fff", "none", "rgba(27,31,35,0.5)", "rgba(27,31,35,0.15)" */
  .btn-danger.selected, .btn-danger:active, [open] > .btn-danger {
    color: #fff;
    background-image: none;
    border-color: rgba(220, 220, 220, .5);
    box-shadow: inset 0 .15em .3em #000;
  }
  /* vscode-auth.github.com: "rgba(203,36,49,0.4)", "#eff3f6", "none", "rgba(27,31,35,0.2)", "box-shadow: none" */
  .btn-danger.disabled, .btn-danger:disabled {
    color: rgba(255, 68, 68, .4);
    background-color: #242424;
    background-image: none;
    border-color: rgba(220, 220, 220, .2);
    box-shadow: none;
  }
  /* vscode-auth.github.com: "#0366d6", "#fff", "none" */
  .btn-outline {
    color: /*[[base-color]]*/ #4f8cc9;
    background-color: #181818;
    background-image: none;
  }
  /* vscode-auth.github.com: "color: #fff", "#0366d6", "none", "#0366d6" */
  .btn-outline.selected, .btn-outline:active, .btn-outline:hover,
  [open] > .btn-outline {
    color: #fff;
    background-color: /*[[base-color]]*/ #4f8cc9;
    background-image: none;
    border-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* vscode-auth.github.com: "#0366d6", "#fff" */
  .btn-outline.selected .Counter, .btn-outline:active .Counter,
  .btn-outline:hover .Counter, [open] > .btn-outline .Counter {
    color: /*[[base-color]]*/ #4f8cc9;
    background-color: #181818;
  }
  /* vscode-auth.github.com: "#0366d6" */
  .btn-outline:focus {
    border-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* vscode-auth.github.com: "color: rgba(27,31,35,.3)", "#fff", "rgba(27,31,35,0.15)", "box-shadow: none" */
  .btn-outline.disabled, .btn-outline:disabled {
    color: rgba(230, 230, 230, .3);
    background-color: #181818;
    border-color: rgba(220, 220, 220, .15);
    box-shadow: none;
  }
  /* vscode-auth.github.com: "color: #444d56", "#dfe2e5" */
  .ellipsis-expander, .hidden-text-expander a {
    color: #afafaf;
    background-color: #343434;
  }
  /* vscode-auth.github.com: "#c6cbd1" */
  .ellipsis-expander:hover, .hidden-text-expander a:hover {
    background-color: #5a5a5a;
  }
  /* vscode-auth.github.com: "color: #fff" */
  .ellipsis-expander:active, .hidden-text-expander a:active {
    color: #fff;
  }
  /* vscode-auth.github.com: "color: #24292e", "#fff", "rgba(27,31,35,0.2)" */
  .social-count {
    color: #cdcdcd;
    background-color: #181818;
    border-color: rgba(220, 220, 220, .2);
  }
  /* vscode-auth.github.com: "#0366d6", "transparent" */
  .btn-link, .social-count:hover {
    color: /*[[base-color]]*/ #4f8cc9;
  }
  .btn-link {
    background-color: transparent;
  }
  /* vscode-auth.github.com: "color: rgba(88,96,105,.5)" */
  .btn-link:disabled, .btn-link:disabled:hover {
    color: rgba(148, 148, 148, .5);
  }
  /* vscode-auth.github.com: "color: #24292e", "#fff", "#d1d5da" */
  .form-control, .form-select {
    color: #cdcdcd;
    background-color: #181818;
    border-color: #404040;
  }
  /* vscode-auth.github.com: "#2188ff", "box-shadow: inset 0 1px 2px rgba(27,31,35,.075),0 0 0 .2em rgba(3,102,214,.3)" */
  .form-control.focus, .form-control:focus, .form-select.focus,
  .form-select:focus {
    border-color: /*[[base-color]]*/ #4f8cc9;
    box-shadow: 0 0 0 2px rgba(79, 140, 201, .3);
    box-shadow: 0 0 0 2px rgba(/*[[base-color-rgb]]*/, .3);
  }
  /* vscode-auth.github.com: "#fff" */
  .input-contrast, .input-contrast:focus {
    background-color: #181818;
  }
  /* vscode-auth.github.com: "color: #6a737d" */
  :-ms-input-placeholder {
    color: #949494;
  }
  /* vscode-auth.github.com: "color: #6a737d" */
  ::placeholder {
    color: #949494;
  }
  /* vscode-auth.github.com: "#fffbdd" */
  .form-checkbox label em.highlight {
    background-color: #261d08;
  }
  /* vscode-auth.github.com: "color: #586069" */
  .form-checkbox .note, .hfields .form-group dt label {
    color: #afafaf;
  }
  /* vscode-auth.github.com: "#735c0f", "#fffbdd", "#d9d0a5" */
  .form-warning {
    color: #bba257;
    background-color: #261d08;
    border-color: #542;
  }
  /* vscode-auth.github.com: "#fff", "none" */
  .form-select {
    background-image: none \9;
  }
  /* vscode-auth.github.com: "#fff" */
  .form-group .form-control, .form-group .form-control:focus, .form-select {
    background-color: #181818;
  }
  /* vscode-auth.github.com: "#cb2431" */
  .form-group dd h4.is-error {
    color: #d82828;
  }
  /* vscode-auth.github.com: "#28a745" */
  .form-group dd h4.is-success {
    color: #484;
  }
  /* vscode-auth.github.com: "#cb2431" */
  .form-group.required dt label::after {
    color: #d82828;
  }
  /* vscode-auth.github.com: "#28a745" */
  .form-group.successful .success {
    color: #484;
  }
  /* vscode-auth.github.com: "#735c0f", "#fffbdd", "#d9d0a5" */
  .form-group.warn .warning {
    color: #bba257;
    background-color: #261d08;
    border-color: #542;
  }
  /* vscode-auth.github.com: "#fffbdd" */
  .form-group.warn .warning::after {
    border-bottom-color: #261d08;
  }
  /* vscode-auth.github.com: "#d9d0a5" */
  .form-group.warn .warning::before {
    border-bottom-color: #542;
  }
  /* vscode-auth.github.com: "#cb2431" */
  .form-group.errored label {
    color: #d82828;
  }
  /* vscode-auth.github.com: "#86181d", "#ffdce0", "#cea0a5" */
  .form-group.errored .error {
    color: #d82828;
    background-color: #300;
    border-color: #d82828;
  }
  /* vscode-auth.github.com: "#ffdce0" */
  .form-group.errored .error::after {
    border-bottom-color: #300;
  }
  /* vscode-auth.github.com: "#cea0a5" */
  .form-group.errored .error::before {
    border-bottom-color: #d82828;
  }
  /* vscode-auth.github.com: "color: #586069" */
  .note {
    color: #afafaf;
  }
  /* vscode-auth.github.com: "#28a745", "#28a745" */
  .status-indicator-success .octicon-check {
    color: #484;
    fill: #484;
  }
  /* vscode-auth.github.com: "#cb2431", "#d73a49" */
  .status-indicator-failed .octicon-x {
    color: #d82828;
    fill: #d82828;
  }
  /* vscode-auth.github.com: "transparent" */
  .inline-form .btn-plain {
    background-color: transparent;
  }
  /* vscode-auth.github.com: "color: #586069", "#fafbfc", "#c3c8cf" */
  .drag-and-drop {
    color: #afafaf;
    background-color: #181818;
    border-color: #484848;
  }
  /* vscode-auth.github.com: "#cb2431" */
  .drag-and-drop .error {
    color: #d82828;
  }
  /* vscode-auth.github.com: "color: #586069" */
  .drag-and-drop-error-info {
    color: #afafaf;
  }
  /* vscode-auth.github.com: "#0366d6" */
  .drag-and-drop-error-info a {
    color: /*[[base-color]]*/ #4f8cc9;
  }
  /* vscode-auth.github.com: "#dfe2e5" */
  .upload-enabled textarea {
    border-bottom-color: #343434;
  }
  /* vscode-auth.github.com: "box-shadow: inset 0 1px 2px rgba(27,31,35,.075),0 0 0 .2em rgba(3,102,214,.3)" */
  .upload-enabled.focused {
    box-shadow: 0 0 0 2px rgba(79, 140, 201, .3);
    box-shadow: 0 0 0 2px rgba(/*[[base-color-rgb]]*/, .3);
  }
  /* vscode-auth.github.com: "box-shadow: none" */
  .upload-enabled.focused .form-control {
    box-shadow: none;
  }
  /* vscode-auth.github.com: "#c3c8cf" */
  .previewable-comment-form .comment {
    border-color: #484848;
  }
  /* vscode-auth.github.com: "color: #586069" */
  h2.account, p.explain {
    color: #afafaf;
  }
  /* vscode-auth.github.com: "color: #24292e" */
  p.explain strong {
    color: #cdcdcd;
  }
  /* vscode-auth.github.com: "color: #959da5" */
  p.explain .octicon {
    color: #767676;
  }
  /* vscode-auth.github.com: "#fff", "#d1d5da" */
  .menu {
    background-color: #181818;
    border-color: #404040;
  }
  /* vscode-auth.github.com: "#e1e4e8" */
  .menu-item {
    border-bottom-color: #343434;
  }
  /* vscode-auth.github.com: "#f6f8fa" */
  .menu-item:hover {
    background-color: #222;
  }
  /* vscode-auth.github.com: "color: #24292e", "#fff" */
  .menu-item.selected {
    color: #cdcdcd;
    background-color: #181818;
  }
  /* vscode-auth.github.com: "#e36209" */
  .menu-item.selected::before {
    background-color: #fb8532;
  }
  /* vscode-auth.github.com: "color: #24292e" */
  .menu-item .octicon {
    color: #cdcdcd;
  }
  /* vscode-auth.github.com: "#cb2431" */
  .menu-item.alert .Counter, .menu-item .menu-warning {
    color: #d82828;
  }
  /* vscode-auth.github.com: "color: #586069", "#e1e4e8" */
  .menu-heading {
    color: #afafaf;
    border-bottom-color: #343434;
  }
  /* vscode-auth.github.com: "#d1d5da" */
  .tabnav {
    border-bottom-color: #404040;
  }
  /* vscode-auth.github.com: "color: #586069", "transparent" */
  .tabnav-tab {
    color: #afafaf;
    background-color: transparent;
  }
  /* vscode-auth.github.com: "color: #24292e", "#fff", "#d1d5da" */
  .tabnav-tab.selected {
    color: #cdcdcd;
    background-color: #181818;
    border-color: #404040;
  }
  /* vscode-auth.github.com: "color: #24292e" */
  .tabnav-tab:focus, .tabnav-tab:hover {
    color: #cdcdcd;
  }
  /* vscode-auth.github.com: "color: #586069" */
  .tabnav-extra {
    color: #afafaf;
  }
  /* vscode-auth.github.com: "#0366d6" */
  a.tabnav-extra:hover {
    color: /*[[base-color]]*/ #4f8cc9;
  }
  /* vscode-auth.github.com: "color: #586069", "transparent" */
  .filter-list.pjax-active .filter-item {
    color: #afafaf;
    background-color: transparent;
  }
  /* vscode-auth.github.com: "color: #fff", "#0366d6" */
  .filter-list.pjax-active .filter-item.pjax-active {
    color: #fff;
    background-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* vscode-auth.github.com: "color: #586069" */
  .filter-item {
    color: #afafaf;
  }
  /* vscode-auth.github.com: "#eaecef" */
  .filter-item:hover {
    background-color: #343434;
  }
  /* vscode-auth.github.com: "color: #fff", "#0366d6" */
  .filter-item.selected {
    color: #fff;
    background-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* vscode-auth.github.com: "#eff3f6" */
  .filter-item .bar {
    background-color: #242424;
  }
  /* vscode-auth.github.com: "#eaecef" */
  .subnav-bordered {
    border-bottom-color: #343434;
  }
  /* vscode-auth.github.com: "color: #586069", "#e1e4e8" */
  .subnav-item {
    color: #afafaf;
    border-color: #343434;
  }
  /* vscode-auth.github.com: "#f6f8fa" */
  .subnav-item:focus, .subnav-item:hover {
    background-color: #222;
  }
  /* vscode-auth.github.com: "color: #fff", "#0366d6", "#0366d6" */
  .subnav-item.selected, .subnav-item.selected:focus,
  .subnav-item.selected:hover {
    color: #fff;
    background-color: /*[[base-color]]*/ #4f8cc9;
    border-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* vscode-auth.github.com: "color: #586069" */
  .subnav-search-input {
    color: #afafaf;
  }
  /* vscode-auth.github.com: "#c6cbd1" */
  .subnav-search-icon {
    color: #5a5a5a;
  }
  /* vscode-auth.github.com: "color: #444d56" */
  .subnav-search-context .btn {
    color: #afafaf;
  }
  /* vscode-auth.github.com: "#e1e4e8" */
  .UnderlineNav {
    border-bottom-color: #343434;
  }
  /* vscode-auth.github.com: "color: #586069" */
  .UnderlineNav-item {
    color: #afafaf;
  }
  /* vscode-auth.github.com: "color: #24292e", "#d1d5da" */
  .UnderlineNav-item:focus, .UnderlineNav-item:hover {
    color: #cdcdcd;
    border-bottom-color: #404040;
  }
  /* vscode-auth.github.com: "color: #6a737d" */
  .UnderlineNav-item:focus .UnderlineNav-octicon,
  .UnderlineNav-item:hover .UnderlineNav-octicon {
    color: #949494;
  }
  /* vscode-auth.github.com: "color: #24292e", "#e36209" */
  .UnderlineNav-item.selected {
    color: #cdcdcd;
    border-bottom-color: #fb8532;
  }
  /* vscode-auth.github.com: "color: #6a737d" */
  .UnderlineNav-item.selected .UnderlineNav-octicon {
    color: #949494;
  }
  /* vscode-auth.github.com: "color: #959da5" */
  .UnderlineNav-octicon {
    color: #767676;
  }
  /* vscode-auth.github.com: "#0366d6", "#fff", "#e1e4e8" */
  .pagination a, .pagination em, .pagination span {
    color: /*[[base-color]]*/ #4f8cc9;
    background-color: #181818;
    border-color: #343434;
  }
  /* vscode-auth.github.com: "#eff3f6", "#e1e4e8" */
  .pagination a:focus, .pagination a:hover, .pagination em:focus,
  .pagination em:hover, .pagination span:focus, .pagination span:hover {
    background-color: #242424;
    border-color: #343434;
  }
  /* vscode-auth.github.com: "color: #fff", "#0366d6", "#0366d6" */
  .pagination .current, .pagination .current:hover {
    color: #fff;
    background-color: /*[[base-color]]*/ #4f8cc9;
    border-color: /*[[base-color]]*/ #4f8cc9;
  }
  /* vscode-auth.github.com: "#d1d5da", "#fafbfc" */
  .pagination .disabled, .pagination .disabled:hover, .pagination .gap,
  .pagination .gap:hover {
    color: #404040;
    background-color: #181818;
  }
  /* vscode-auth.github.com: "color: #fff" */
  .tooltipped::after {
    color: #fff;
  }
  /* vscode-auth.github.com: "color: #1b1f23" */
  .tooltipped::before {
    color: #dcdcdc;
  }
  /* vscode-auth.github.com: "#e1e4e8" */
  .border {
    border-color: #343434 !important;
  }
  /* vscode-auth.github.com: "#e1e4e8", "#e1e4e8" */
  .border-y {
    border-top-color: #343434 !important;
    border-bottom-color: #343434 !important;
  }
  /* vscode-auth.github.com: "#0366d6" */
  .border-blue {
    border-color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* vscode-auth.github.com: "#c8e1ff" */
  .border-blue-light {
    border-color: #246 !important;
  }
  /* vscode-auth.github.com: "#34d058" */
  .border-green {
    border-color: #373 !important;
  }
  /* vscode-auth.github.com: "#a2cbac" */
  .border-green-light {
    border-color: #040 !important;
  }
  /* vscode-auth.github.com: "#cea0a5" */
  .border-red, .border-red-light {
    border-color: #d82828 !important;
  }
  /* vscode-auth.github.com: "#6f42c1" */
  .border-purple {
    border-color: #9378ba !important;
  }
  /* vscode-auth.github.com: "#d9d0a5" */
  .border-yellow {
    border-color: #542 !important;
  }
  /* vscode-auth.github.com: "#eaecef" */
  .border-gray-light {
    border-color: #343434 !important;
  }
  /* vscode-auth.github.com: "#d1d5da" */
  .border-gray-dark {
    border-color: #404040 !important;
  }
  /* vscode-auth.github.com: "rgba(27,31,35,0.15)" */
  .border-black-fade {
    border-color: rgba(220, 220, 220, .15) !important;
  }
  /* vscode-auth.github.com: "#e1e4e8" */
  .border-top {
    border-top-color: #343434 !important;
  }
  /* vscode-auth.github.com: "#e1e4e8" */
  .border-right {
    border-right-color: #343434 !important;
  }
  /* vscode-auth.github.com: "#e1e4e8" */
  .border-bottom {
    border-bottom-color: #343434 !important;
  }
  /* vscode-auth.github.com: "#e1e4e8" */
  .border-left {
    border-left-color: #343434 !important;
  }
  /* vscode-auth.github.com: "#e1e4e8", "#e1e4e8" */
  @media (min-width: 544px) {
    .border-sm-top {
      border-top-color: #343434 !important;
    }
    .border-sm-right {
      border-right-color: #343434 !important;
    }
    .border-sm-bottom {
      border-bottom-color: #343434 !important;
    }
    .border-sm-left {
      border-left-color: #343434 !important;
    }
  }
  /* vscode-auth.github.com: "#e1e4e8", "#e1e4e8" */
  @media (min-width: 768px) {
    .border-md-top {
      border-top-color: #343434 !important;
    }
    .border-md-right {
      border-right-color: #343434 !important;
    }
    .border-md-bottom {
      border-bottom-color: #343434 !important;
    }
    .border-md-left {
      border-left-color: #343434 !important;
    }
  }
  /* vscode-auth.github.com: "#e1e4e8", "#e1e4e8" */
  @media (min-width: 1012px) {
    .border-lg-top {
      border-top-color: #343434 !important;
    }
    .border-lg-right {
      border-right-color: #343434 !important;
    }
    .border-lg-bottom {
      border-bottom-color: #343434 !important;
    }
    .border-lg-left {
      border-left-color: #343434 !important;
    }
  }
  /* vscode-auth.github.com: "#e1e4e8", "#e1e4e8" */
  @media (min-width: 1280px) {
    .border-xl-top {
      border-top-color: #343434 !important;
    }
    .border-xl-right {
      border-right-color: #343434 !important;
    }
    .border-xl-bottom {
      border-bottom-color: #343434 !important;
    }
    .border-xl-left {
      border-left-color: #343434 !important;
    }
  }
  /* vscode-auth.github.com: "rgba(27,31,35,0.1)" */
  .box-shadow {
    box-shadow: 0 1px 1px #000 !important;
  }
  /* vscode-auth.github.com: "rgba(27,31,35,0.15)" */
  .box-shadow-medium {
    box-shadow: 0 1px 5px #000 !important;
  }
  /* vscode-auth.github.com: "rgba(27,31,35,0.15)" */
  .box-shadow-large {
    box-shadow: 0 1px 15px #000 !important;
  }
  /* vscode-auth.github.com: "box-shadow: none !important" */
  .box-shadow-none {
    box-shadow: none !important;
  }
  /* vscode-auth.github.com: "#fff" */
  .bg-white {
    background-color: #181818 !important;
  }
  /* vscode-auth.github.com: "#0366d6" */
  .bg-blue {
    background-color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* vscode-auth.github.com: "#f1f8ff" */
  .bg-blue-light {
    background-color: #182030 !important;
  }
  /* vscode-auth.github.com: "#24292e" */
  .bg-gray-dark {
    background-color: #181818 !important;
  }
  /* vscode-auth.github.com: "#f6f8fa" */
  .bg-gray {
    background-color: #222 !important;
  }
  /* vscode-auth.github.com: "#fafbfc" */
  .bg-gray-light {
    background-color: #181818 !important;
  }
  /* vscode-auth.github.com: "#28a745" */
  .bg-green {
    background-color: #484 !important;
  }
  /* vscode-auth.github.com: "#dcffe4" */
  .bg-green-light {
    background-color: #002800 !important;
  }
  /* vscode-auth.github.com: "#d73a49" */
  .bg-red {
    background-color: #d82828 !important;
  }
  /* vscode-auth.github.com: "#ffdce0" */
  .bg-red-light {
    background-color: #300 !important;
  }
  /* vscode-auth.github.com: "#ffd33d" */
  .bg-yellow {
    background-color: #cb4 !important;
  }
  /* vscode-auth.github.com: "#fff5b1" */
  .bg-yellow-light {
    background-color: #651 !important;
  }
  /* vscode-auth.github.com: "#6f42c1" */
  .bg-purple {
    background-color: #9378ba !important;
  }
  /* vscode-auth.github.com: "#f5f0ff" */
  .bg-purple-light {
    background-color: #213 !important;
  }
  /* vscode-auth.github.com: "#0366d6" */
  .text-blue {
    color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* vscode-auth.github.com: "#cb2431" */
  .text-red {
    color: #d82828 !important;
  }
  /* vscode-auth.github.com: "color: #6a737d !important" */
  .text-gray-light {
    color: #949494 !important;
  }
  /* vscode-auth.github.com: "color: #586069 !important" */
  .text-gray {
    color: #afafaf !important;
  }
  /* vscode-auth.github.com: "color: #24292e !important" */
  .text-gray-dark {
    color: #cdcdcd !important;
  }
  /* vscode-auth.github.com: "#28a745" */
  .text-green {
    color: #484 !important;
  }
  /* vscode-auth.github.com: "#a04100" */
  .text-orange {
    color: #f3582c !important;
  }
  /* vscode-auth.github.com: "#e36209" */
  .text-orange-light {
    color: #fb8532 !important;
  }
  /* vscode-auth.github.com: "#6f42c1" */
  .text-purple {
    color: #9378ba !important;
  }
  /* vscode-auth.github.com: "color: #fff !important" */
  .text-white {
    color: #fff !important;
  }
  /* vscode-auth.github.com: "#dbab09" */
  .bg-pending, .text-pending {
    color: #cb4 !important;
  }
  /* vscode-auth.github.com: "color: #586069 !important" */
  .link-gray {
    color: #afafaf !important;
  }
  /* vscode-auth.github.com: "#0366d6" */
  .link-gray:hover {
    color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* vscode-auth.github.com: "color: #24292e !important" */
  .link-gray-dark {
    color: #cdcdcd !important;
  }
  /* vscode-auth.github.com: "#0366d6" */
  .link-gray-dark:hover, .link-hover-blue:hover {
    color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* vscode-auth.github.com: "color: #586069 !important" */
  .muted-link {
    color: #afafaf !important;
  }
  /* vscode-auth.github.com: "#0366d6" */
  .muted-link:hover {
    color: /*[[base-color]]*/ #4f8cc9 !important;
  }
  /* vscode-auth.github.com: "transparent" */
  .details-overlay[open] > summary::before {
    background-color: transparent;
  }
  /* vscode-auth.github.com: "color: #586069" */
  .lead {
    color: #afafaf;
  }
  /* vscode-auth.github.com: "color: #24292e" */
  .text-emphasized {
    color: #cdcdcd;
  }
  /* vscode-auth.github.com: "rgba(255,255,255,0.5)" */
  .text-shadow-light {
    text-shadow: 0 1px 0 hsla(0, 0%, 0%, .5);
  }
  /* vscode-auth.github.com: "color: #032f62", "#dbedff", "rgba(27,31,35,0.15)" */
  .flash {
    color: #9daccc;
    background-color: #182030;
    border-color: rgba(220, 220, 220, .15);
  }
  /* vscode-auth.github.com: "none" */
  .flash-close {
    background: none;
  }
  /* vscode-auth.github.com: "#735c0f", "#fffbdd", "rgba(27,31,35,0.15)" */
  .flash-warn {
    color: #bba257;
    background-color: #261d08;
  }
  /* vscode-auth.github.com: "#86181d", "#ffdce0", "rgba(27,31,35,0.15)" */
  .flash-error, .flash-warn {
    border-color: rgba(220, 220, 220, .15);
  }
  .flash-error {
    color: #d82828;
    background-color: #300;
  }
  /* vscode-auth.github.com: "#165c26", "#dcffe4", "rgba(27,31,35,0.15)" */
  .flash-success {
    color: #6cc644;
    background-color: #002800;
    border-color: rgba(220, 220, 220, .15);
  }
  /* vscode-auth.github.com: "#fffbdd" */
  .warning {
    background-color: #261d08;
  }
  /* vscode-auth.github.com: "#fff", "rgba(255,255,255,0.8)" */
  .avatar-child {
    background-color: #181818;
    box-shadow: -2px -2px 0 hsla(0, 0%, 100%, .8);
  }
  /* vscode-auth.github.com: "#fff", "#fff" */
  .avatar-stack .avatar {
    background-color: #181818;
    border-right-color: #181818;
  }
  /* vscode-auth.github.com: "transparent" */
  .avatar-stack .avatar:only-child {
    background-color: transparent;
  }
  /* vscode-auth.github.com: "#fff" */
  .AvatarStack-body {
    background-color: #181818;
  }
  /* vscode-auth.github.com: "#fff", "#fff" */
  .AvatarStack-body .avatar {
    background-color: #181818;
    border-right-color: #181818;
  }
  /* vscode-auth.github.com: "#f6f8fa" */
  .avatar.avatar-more {
    background-color: #222;
  }
  /* vscode-auth.github.com: "#e1e4e8" */
  .avatar.avatar-more::before {
    background-color: #343434;
  }
  /* vscode-auth.github.com: "#d1d5da" */
  .avatar.avatar-more::after, .AvatarStack--right .avatar.avatar-more {
    background-color: #404040;
  }
  /* vscode-auth.github.com: "#f6f8fa" */
  .AvatarStack--right .avatar.avatar-more::after {
    background-color: #222;
  }
  /* vscode-auth.github.com: "#fff" */
  .AvatarStack--right .avatar {
    border-left-color: #181818;
  }
  /* vscode-auth.github.com: "#e1e4e8" */
  .DashedConnection::before {
    border-bottom-color: #343434;
  }
  /* vscode-auth.github.com: "#fff", "#eaecef" */
  .blankslate, .blankslate code {
    background-color: #181818;
    border-color: #343434;
  }
  /* vscode-auth.github.com: "color: #a3aab1" */
  .blankslate-icon {
    color: #767676;
  }
  /* vscode-auth.github.com: "none", "box-shadow: none" */
  .blankslate-clean-background {
    background: none;
    box-shadow: none;
  }
  /* vscode-auth.github.com: "color: rgba(27,31,35,.6)", "#eaf5ff" */
  .branch-name {
    color: rgba(230, 230, 230, .6);
    background-color: #182030;
  }
  /* vscode-auth.github.com: "#0366d6" */
  a.branch-name {
    color: /*[[base-color]]*/ #4f8cc9;
  }
  /* vscode-auth.github.com: "color: #fff" */
  .label, .Label {
    color: #fff;
  }
  /* vscode-auth.github.com: "color: #586069", "#eaecef" */
  .Label--gray {
    color: #afafaf;
    background-color: #343434;
  }
  /* vscode-auth.github.com: "color: #586069", "transparent", "rgba(27,31,35,0.15)", "box-shadow: none" */
  .Label--outline {
    color: #afafaf;
    background-color: transparent;
    border-color: rgba(220, 220, 220, .15);
    box-shadow: none;
  }
  /* vscode-auth.github.com: "#28a745", "#34d058" */
  .Label--outline-green {
    color: #484;
    border-color: #373;
  }
  /* vscode-auth.github.com: "#6a737d" */
  .Label--gray-darker {
    background-color: #444;
  }
  /* vscode-auth.github.com: "#d15704" */
  .Label--orange {
    background-color: #f3582c;
  }
  /* vscode-auth.github.com: "color: #fff", "#6a737d" */
  .state, .State {
    color: #fff;
    background-color: #444;
  }
  /* vscode-auth.github.com: "#2cbe4e" */
  .State--green {
    background-color: #373;
  }
  /* vscode-auth.github.com: "#6f42c1" */
  .State--purple {
    background-color: #9378ba;
  }
  /* vscode-auth.github.com: "#cb2431" */
  .State--red {
    background-color: #d82828;
  }
  /* vscode-auth.github.com: "color: #586069", "rgba(27,31,35,0.08)" */
  .Counter {
    color: #afafaf;
    background-color: rgba(220, 220, 220, .15);
  }
  /* vscode-auth.github.com: "color: #24292e", "rgba(27,31,35,0.15)" */
  .Counter--gray-light {
    color: #cdcdcd;
    background-color: rgba(220, 220, 220, .22);
  }
  /* vscode-auth.github.com: "color: #fff", "#6a737d" */
  .Counter--gray {
    color: #fff;
    background-color: #444;
  }
  /* vscode-auth.github.com: "#cb2431" */
  .markdown-body .absent {
    color: #d82828;
  }
  /* vscode-auth.github.com: "#e1e4e8" */
  .markdown-body hr {
    background-color: #343434;
  }
  /* vscode-auth.github.com: "color: #6a737d", "#dfe2e5" */
  .markdown-body blockquote {
    color: #949494;
    border-left-color: #343434;
  }
  /* vscode-auth.github.com: "color: #444d56", "#fafbfc", "#c6cbd1", "#959da5", "box-shadow: inset 0 -1px 0 #959da5" */
  .markdown-body kbd {
    color: #afafaf;
    background-color: #181818;
    border-color: #5a5a5a #5a5a5a #484848;
    box-shadow: inset 0 -2px 0 #383838;
  }
  /* vscode-auth.github.com: "color: #1b1f23" */
  .markdown-body h1 .octicon-link, .markdown-body h2 .octicon-link,
  .markdown-body h3 .octicon-link, .markdown-body h4 .octicon-link,
  .markdown-body h5 .octicon-link, .markdown-body h6 .octicon-link {
    color: #dcdcdc;
  }
  /* vscode-auth.github.com: "#eaecef" */
  .markdown-body h1, .markdown-body h2 {
    border-bottom-color: #343434;
  }
  /* vscode-auth.github.com: "color: #6a737d" */
  .markdown-body h6 {
    color: #949494;
  }
  /* vscode-auth.github.com: "#dfe2e5" */
  .markdown-body table td, .markdown-body table th {
    border-color: #343434;
  }
  /* vscode-auth.github.com: "#fff", "#c6cbd1" */
  .markdown-body table tr {
    background-color: #181818;
    border-top-color: #5a5a5a;
  }
  /* vscode-auth.github.com: "#f6f8fa" */
  .markdown-body table tr:nth-child(2n) {
    background-color: #222;
  }
  /* vscode-auth.github.com: "transparent" */
  .markdown-body table img {
    background-color: transparent;
  }
  /* vscode-auth.github.com: "#fff" */
  .markdown-body img {
    background-color: #181818;
  }
  /* vscode-auth.github.com: "transparent" */
  .markdown-body .emoji {
    background-color: transparent;
  }
  /* vscode-auth.github.com: "#dfe2e5" */
  .markdown-body span.frame > span {
    border-color: #343434;
  }
  /* vscode-auth.github.com: "color: #24292e" */
  .markdown-body span.frame span span {
    color: #cdcdcd;
  }
  /* vscode-auth.github.com: "transparent" */
  .markdown-body pre > code, .markdown-body pre code, .markdown-body pre tt {
    background-color: transparent;
  }
  /* vscode-auth.github.com: "#fff" */
  .markdown-body .csv-data .blob-num {
    background-color: #181818;
  }
  /* vscode-auth.github.com: "#f6f8fa" */
  .markdown-body .csv-data th {
    background-color: #222;
  }
  /* vscode-auth.github.com: "rgba(27,31,35,0.15)" */
  .Popover-message::before {
    border-bottom-color: rgba(220, 220, 220, .15);
  }
  /* vscode-auth.github.com: "#fff" */
  .Popover-message::after {
    border-bottom-color: #181818;
  }
  /* vscode-auth.github.com: "rgba(27,31,35,0.15)" */
  .Popover-message--bottom-left::before, .Popover-message--bottom-right::before,
  .Popover-message--bottom::before {
    border-top-color: rgba(220, 220, 220, .15);
  }
  /* vscode-auth.github.com: "#fff" */
  .Popover-message--bottom-left::after, .Popover-message--bottom-right::after,
  .Popover-message--bottom::after {
    border-top-color: #181818;
  }
  /* vscode-auth.github.com: "rgba(27,31,35,0.15)" */
  .Popover-message--right-bottom::before, .Popover-message--right-top::before,
  .Popover-message--right::before {
    border-left-color: rgba(220, 220, 220, .15);
  }
  /* vscode-auth.github.com: "#fff" */
  .Popover-message--right-bottom::after, .Popover-message--right-top::after,
  .Popover-message--right::after {
    border-left-color: #181818;
  }
  /* vscode-auth.github.com: "rgba(27,31,35,0.15)" */
  .Popover-message--left-bottom::before, .Popover-message--left-top::before,
  .Popover-message--left::before {
    border-right-color: rgba(220, 220, 220, .15);
  }
  /* vscode-auth.github.com: "#fff" */
  .Popover-message--left-bottom::after, .Popover-message--left-top::after,
  .Popover-message--left::after {
    border-right-color: #181818;
  }
  /* vscode-auth.github.com: "#e1e4e8" */
  .Progress {
    background-color: #343434;
  }
  /* vscode-auth.github.com: "#e1e4e8" */
  .Subhead {
    border-bottom-color: #343434;
  }
  /* vscode-auth.github.com: "#cb2431" */
  .Subhead-heading--danger {
    color: #d82828;
  }
  /* vscode-auth.github.com: "color: #586069", "#e1e4e8" */
  .pullquote, .Subhead-description {
    color: #afafaf;
  }
  .pullquote {
    border-left-color: #343434;
  }
  /* vscode-auth.github.com: "color: #fff" */
  .btn-orange {
    color: #fff;
  }
  /* vscode-auth.github.com: "rgba(27,31,35,0.5)" */
  .btn-orange.hover, .btn-orange:hover {
    border-color: rgba(220, 220, 220, .5);
  }
  /* vscode-auth.github.com: "none", "rgba(27,31,35,0.5)", "rgba(27,31,35,0.15)" */
  .btn-orange.selected, .btn-orange:active, [open] > .btn-orange {
    background-image: none;
    border-color: rgba(220, 220, 220, .5);
    box-shadow: inset 0 .15em .3em #000;
  }
  /* vscode-auth.github.com: "none", "rgba(27,31,35,0.2)", "box-shadow: none" */
  .btn-orange.disabled, .btn-orange:disabled {
    background-image: none;
    border-color: rgba(220, 220, 220, .2);
    box-shadow: none;
  }
  /* vscode-auth.github.com: "#6f42c1", "#fff", "none" */
  .btn-orange .Counter, .btn-outline-purple {
    background-color: #181818;
  }
  .btn-outline-purple {
    color: #9378ba;
    background-image: none;
  }
  /* vscode-auth.github.com: "color: #fff", "#6f42c1", "none", "#6f42c1" */
  .btn-outline-purple.selected, .btn-outline-purple:active,
  .btn-outline-purple:hover, [open] > .btn-outline-purple {
    color: #fff;
    background-color: #9378ba;
    background-image: none;
    border-color: #9378ba;
  }
  /* vscode-auth.github.com: "#6f42c1", "#fff" */
  .btn-outline-purple.selected .Counter, .btn-outline-purple:active .Counter,
  .btn-outline-purple:hover .Counter, [open] > .btn-outline-purple .Counter {
    color: #9378ba;
    background-color: #181818;
  }
  /* vscode-auth.github.com: "#6f42c1" */
  .btn-outline-purple:focus {
    border-color: #9378ba;
  }
  /* vscode-auth.github.com: "color: rgba(27,31,35,.3)", "#fff", "rgba(27,31,35,0.15)", "box-shadow: none" */
  .btn-outline-purple.disabled, .btn-outline-purple:disabled {
    color: rgba(230, 230, 230, .3);
    background-color: #181818;
    border-color: rgba(220, 220, 220, .15);
    box-shadow: none;
  }
  /* vscode-auth.github.com: "#fff", "none" */
  .btn-outline-orange {
    background-color: #181818;
    background-image: none;
  }
  /* vscode-auth.github.com: "color: #fff", "none" */
  .btn-outline-orange.selected, .btn-outline-orange:active,
  .btn-outline-orange:hover, [open] > .btn-outline-orange {
    color: #fff;
    background-image: none;
  }
  /* vscode-auth.github.com: "#fff" */
  .btn-outline-orange.selected .Counter, .btn-outline-orange:active .Counter,
  .btn-outline-orange:hover .Counter, [open] > .btn-outline-orange .Counter {
    background-color: #181818;
  }
  /* vscode-auth.github.com: "color: rgba(27,31,35,.3)", "#fff", "rgba(27,31,35,0.15)", "box-shadow: none" */
  .btn-outline-orange.disabled, .btn-outline-orange:disabled {
    color: rgba(230, 230, 230, .3);
    background-color: #181818;
    border-color: rgba(220, 220, 220, .15);
    box-shadow: none;
  }
  /* vscode-auth.github.com: "#28a745", "#fff", "none" */
  .btn-outline-green {
    color: #484;
    background-color: #181818;
    background-image: none;
  }
  /* vscode-auth.github.com: "color: #fff", "#28a745", "none", "#28a745" */
  .btn-outline-green.selected, .btn-outline-green:active,
  .btn-outline-green:hover, [open] > .btn-outline-green {
    color: #fff;
    background-color: #484;
    background-image: none;
    border-color: #484;
  }
  /* vscode-auth.github.com: "#28a745", "#fff" */
  .btn-outline-green.selected .Counter, .btn-outline-green:active .Counter,
  .btn-outline-green:hover .Counter, [open] > .btn-outline-green .Counter {
    color: #484;
    background-color: #181818;
  }
  /* vscode-auth.github.com: "#28a745" */
  .btn-outline-green:focus {
    border-color: #484;
  }
  /* vscode-auth.github.com: "color: rgba(27,31,35,.3)", "#fff", "rgba(27,31,35,0.15)", "box-shadow: none" */
  .btn-outline-green.disabled, .btn-outline-green:disabled {
    color: rgba(230, 230, 230, .3);
    background-color: #181818;
    border-color: rgba(220, 220, 220, .15);
    box-shadow: none;
  }
  /* vscode-auth.github.com: "color: #fff", "transparent", "none", "rgba(255,255,255,0.5)" */
  .btn-transparent {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: hsla(0, 0%, 0%, .5);
  }
  /* vscode-auth.github.com: "color: #2f363d", "#fff", "none", "#fff" */
  .btn-transparent:active, .btn-transparent:hover {
    color: #bebebe;
    background-color: #181818;
    background-image: none;
    border-color: #181818;
  }
  /* vscode-auth.github.com: "transparent", "rgba(0,0,0,0)" */
  .jumbotron-shadow::after {
    background-color: transparent;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, .05));
  }
  /* vscode-auth.github.com: "#24292e" */
  .jumbotron-photo {
    background-color: #181818;
  }
  /* vscode-auth.github.com: "#e1e4e8" */
  .data-table {
    border-color: #343434;
  }
  /* vscode-auth.github.com: "#e1e4e8", "#e1e4e8" */
  .data-table td, .data-table th {
    border-right-color: #343434;
    border-bottom-color: #343434;
  }
  /* vscode-auth.github.com: "#e1e4e8" */
  .data-table tbody td, .data-table tbody th, .data-table tbody tr:last-child td,
  .data-table tbody tr:last-child th {
    border-bottom-color: #343434;
  }
  /* vscode-auth.github.com: "#f5f5f5" */
  .footer {
    background-color: #222;
  }
  /* vscode-auth.github.com: "color: #fff" */
  #token {
    color: #fff;
  }
  /* vscode-auth.github.com: "white" */
  .token-did-copy {
    background-color: #181818;
  }
  /* end vscode-auth.github.com rules */
  .footer {
    background: #202020;
  }
  #token {
    background: #182030;
    border-color: #343434;
  }
  .token-did-copy {
    background: #181818;
  }
  .failed {
    border-color: #343434;
  }
}
