@-moz-document domain("vscode-auth.github.com") {
  /* generated vscode-auth.github.com rules */
  .footer {
    background: #202020;
  }
  #token {
    background: #182030;
    border-color: #343434;
  }
  .token-did-copy {
    background: #181818;
  }
  .failed {
    border-color: #343434;
  }
}
