name: ci
on: [push, pull_request]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, ubuntu-latest, windows-latest]
        node: ['12', '13']

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Setup Stylelint problem matcher
        uses: xt0rted/stylelint-problem-matcher@v1

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test
